.emphasis {
    font-weight: bold;
    font-style: italic;
}

.title {
  background-color: black;
  color: white;
  //text-align: center;
  //justify-content: center;
  max-width:40vw;
  //height:36px;
}
.mat-card-header {
  text-align: center;
  justify-content: center;
  //max-width: 40vw;
  height:40px;
  .mat-card-title {
    font-size: 16px;
  }
}
.main-div{
  font-family: Roboto;
  background-color: white;
  //height: 100%;
  max-width:40vw;
  padding: 24px 16px;
}


