
.main {
  max-width: 40vw;
  font-family: Roboto;

  .main-div {
    font-size: 14px !important;
  }
}
.congrats-text {
  font-weight: 500;
  font-size: 1rem;
}
  .emphasis {
    //font-weight: bold;
    //font-style: italic;
  }

  .title {
    background-color:  #343434;
    color: white;
    text-align: center;
    justify-content: center;
    height: 40px;
      .mat-card-title {
        font-size: 16px ;
    }
  }

a {
  color: #de981f;
  &:hover {
    color: #de9820;
  }
}
.text-para {
  //opacity: 0.6;
  color: rgba(0,0,0,0.6);
}
.completed-btn {
  font-size: 14px;
  width: 132px;
  color: white;
  background-color: #2a3b3d;
  text-align: center;
  justify-content: center;
  margin: 16px 0;
}
@media screen and (max-width: 767px) {

  .main {
    max-width: 100vw;
  }
    .title {
      background-color: white;
      color: black;
      text-align: left;
      justify-content: left;

      .mat-card-title {
        font-size: 24px;
      }

  }
      .main-div {
        font-size: 14px !important;
      }
}


