
  <div class = "row " >
    <div class="col col-margin">
      <!--<mat-card class = "card">-->
        <div *ngIf = "!isLoaded">
          <div class="col-sm-9 col-lg-12">
            <img src="assets/shared/dna-loader.svg" alt="dna" >
          </div>
        </div>
        <div  class ="footer-margin-adjust" *ngIf = "isLoaded">
          <div class="video-container">

          <iframe class = "video-specs" [src]="video.url | safeUrl"></iframe><br/>
          </div>


          <mat-card-footer class= "footer-text" [innerHTML]="video.title"></mat-card-footer>
        </div>








     <!-- </mat-card>-->
    </div>
  </div>

  <ng-template #loading>
    <div class="col-sm-9 col-lg-12">
      <img src="assets/shared/dna-loader.svg" alt="dna" >
    </div>
  </ng-template>


