<div class="m-3">
    <h1>How to play?</h1>
    <img class="game-play-image" src="../../../../../../../assets/games/learning-helplessness/assets/Group 10102.png">


    <br>
    <div class="instructionsDiv smallest-font m-1 ">
      <p>
        You'll be shown a set of puzzles. Each puzzle will have instructions on how to play. Solve the puzzles that you can, and give up on the ones that you can't. All the best!
      </p>
    </div>


    <div class="ml-auto p-1">
      <button mat-raised-button [color]="'new'" (click)="onStart()" type="button" #startBtn>Start</button>
    </div>
    <div class="ml-auto p-1 mt-2" *ngIf="viewSummary">
        <button mat-raised-button [color]="'white'" (click)="onShowSummary()" id="summaryBtn" type="button" #showSummaryBtn>View summary</button>
      </div>
  </div>
