@import 'styles.scss';
.title-style {
  text-align: center;
  align-content: center;
  font-weight: bold;
  font-size: 24px;
}
.back-arrow-style {
  cursor: pointer;
}

.forward-arrow-style {
  cursor: pointer;

}

.option-btn-style {
  //background: #F1F9FF 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 4px #1c525829;
  border: 1px solid #c7d7e3;
  border-radius: 8px;
  opacity: 1;
  text-align: center;
  justify-content: center;
  display: block;
  width: 244px;
  margin-bottom: 10px;
  text-align: center;
  white-space: normal !important;
  word-wrap: break-word;
  min-height: 82px;
}
.progress-bar-style {
  height: 10px;
  border-radius: 4px 4px 0px 4px;
}
.progress-text-style {
  font-size: 12px;
  color: #707070;
  text-align: right;
}

.instruction-style {
  text-align: center;
}

.btn-style {
  font-size: 14px;
  font-family: Roboto;
  width: auto;
  color: white;
  background-color: #2a3b3d;
  text-align: center;
  justify-content: center;
  margin: 16px 0;
}

.ques-style {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.radio-option-style {
}
.radio-group-style {
  display: flex;
  flex-direction: column;
}
.submit-style {
  text-align: center;
}
.highlight {
  background-color: #2a3b3d;
}
.mat-radio-inner-circle {
  display: none !important;
}
.mat-radio-checked .mat-radio-inner-circle {
  display: none !important;
}
.mat-radio-container {
  display: none;
}

@media screen and (max-width: 500px) {
  .back-arrow-style {
    font-size: 16px;
    margin-top: 20px;
  }

  .forward-arrow-style {
    font-size: 16px;
    margin-top: 20px;

  }

  .progress-bar-style {
    margin-top: 10px;
    height: 6px;
    border-radius: 5px;
  }

  .arrow-div{
    right: 5px;
    position: absolute;
  }
}
.container-div{
  background-color: #faf4ea;
  //height: 100vh;
  height: 100vh;
}
