<div class="container" (click)="onAnyWhereClick()" >
<div class="row mt-1 mb-2">
  <div class="col-6 scoreLocation text-left mt-1 ml-0">
      <!-- <p class="scoreLocation text-left"> -->
          SCORE: {{ this.user.currentPoints()}}
        <!-- </p> -->
  </div>
  <!-- <div class="col-6 pb-0"> -->
    <!-- <div class="row barsDiv"> -->

    <div class="col-2 barsDiv  w-75 justify-content-start mt-1">
      <div class="float-left">  
        <img src="../../../../../../assets/games/mental-imagery-game/Gold badge symbol.svg">
      </div>
      <div class="float-right">
        {{goldValue}}
      </div>
       <mat-progress-bar 
        class="goldBar"
        mode="determinate" 
        [value]="goldValue"></mat-progress-bar>
    </div>
      
      <div class="col-2 barsDiv w-75 justify-content-start mt-1">
          <div class="float-left"> 
             <img src="../../../../../../assets/games/mental-imagery-game/Silver badge symbol.svg"> 
            </div>
            <div class="float-right">
                {{silverValue}}
              </div>
          <mat-progress-bar 
          class="silverBar"
          mode="determinate" 
          [value]="silverValue"></mat-progress-bar>
      </div>

      
      <div class="col-2 barsDiv w-75 justify-content-start mt-1">
          <div class="float-left"> 
              <img src="../../../../../../assets/games/mental-imagery-game/Bronze badge symbol.svg">
          </div>
          <div class="float-right">
              {{bronzeValue}}
            </div>
          <mat-progress-bar 
          class="bronzeBar"
          mode="determinate" 
          [value]="bronzeValue"
          [color]="'new'"></mat-progress-bar>
      </div>
    </div>
 
  <!-- </div> -->
<!-- </div> -->

  
<!-- <div class="container" (click)="onAnyWhereClick()"> -->
  <h1>{{currentLevel.title}}</h1>
  <mat-progress-bar class="gameProgressBar" [color]="'new'"></mat-progress-bar>
  <div class="row" *ngIf="previousText">
    <div class="col-12 smallest-font" [innerHTML]="previousText"></div>
  </div>
  <div class="row">
    <div class="col-12 problem-space mt-2 smallest-font" *ngIf="currentScenario">
      {{ this.currentScenario.problemBeforeDash }} <strong>{{ blank.trim() || '-----------' }}</strong> {{ this.currentScenario.problemAfterDash }}
    </div>
  </div>
  <div class="row">
    <div class="col-12 smallest-font" [innerHTML]="extraContent"></div>
  </div>
  <div class="row">
    <div class="col-6 offset-3 text-center" *ngIf="notificationHeader && notificationHeader.length > 0">
        <p><b>{{notificationHeader}}</b></p>
        <p>{{notificationBody}}</p>
    </div>
  </div>
  <form (ngSubmit)="onSubmit()" autocomplete="off">
    <div class="form-row align-items-center">
      <!-- <div class="input-group mb-2"> 
      <div class="input-group-prepend"> -->
          <div>>></div>
        <!-- </div> -->
        <mat-form-field class="example-full-width">
           <input matInput name="blank" [(ngModel)]="blank" [disabled]="disabled" (input)="storeTypedLetters()" #inputEl >
          </mat-form-field>
        
        <!-- <input type="text" name="blank" class="form-control" [(ngModel)]="blank" [disabled]="disabled" #inputEl autocomplete="off" (input)="storeTypedLetters()"> -->
        <button mat-raised-button [color]="'new'" (click) = "onSubmit()" type="button" #submitBtn>Submit!</button>
       </div>
      <small class="text-muted" *ngIf="invalidInput">Oops! you seem to have typed something that we currently don't understand</small>
    <!-- </div> -->
  </form>
</div>

<!-- <div *ngIf="openNavBar"class="navBar">
    <div class="icons">
      <input (click)="onNavBarHome()" type="image" src="assets/home.png"/>
      <input (click)="onNavBarHelp()" type="image" src="assets/help.png"/>
      <input (click)="onNavBarPlay()" type="image" src="assets/play.svg"/>
      <input (click)="onNavBarReplay()" type="image" src="assets/replay.png"/>
      <input type="image" src="assets/sound.png"/>
    </div>
</div>

<div class="buttonLocation" *ngIf="!openNavBar">
  <input (click)="onPause()" type="image" src="assets/pause.png"/>
</div> -->





