<div class="container " id="containerDiv">
  <div class="topBar mt-1 ">
    <div class="scoreBar col-12 row mt-1 mx-0 px-0">

      <div class="col-6 scoreLocation text-left mt-1 ml-0 small-font font-roboto-bold">
        Points: {{ currentPoints}}
      </div>


      <div class="col-2 barsDiv  w-75 justify-content-start mt-1 pr-0 pl-4">
        <div class="float-left">
          <img src="../../../../../../assets/games/mental-imagery-game/Gold badge symbol.svg">
        </div>
        <div class="float-right">
          {{goldNumber}}
        </div>
        <mat-progress-bar class="goldBar" mode="determinate" [value]="goldValue"></mat-progress-bar>
      </div>

      <div class="col-2 barsDiv w-75 justify-content-start mt-1 pr-0 pl-4">
        <div class="float-left">
          <img src="../../../../../../assets/games/mental-imagery-game/Silver badge symbol.svg">
        </div>
        <div class="float-right">
          {{silverNumber}}
        </div>
        <mat-progress-bar class="silverBar" mode="determinate" [value]="silverValue"></mat-progress-bar>
      </div>


      <div class="col-2 barsDiv w-75 justify-content-start mt-1 pr-0 pl-4">
        <div class="float-left">
          <img src="../../../../../../assets/games/mental-imagery-game/Bronze badge symbol.svg">
        </div>
        <div class="float-right">
          {{bronzeNumber}}
        </div>
        <mat-progress-bar class="bronzeBar" mode="determinate" [value]="bronzeValue"></mat-progress-bar>
      </div>
    </div>



    <h1 class="mt-3 medium-font font-roboto-normal" *ngIf="currentLevel">{{currentLevel.title}}</h1>

    <mat-progress-bar class="gameProgressBar ml-3" [value]="gameValue" mode="determinate"></mat-progress-bar>
  </div>
  <div class="main" id="mainDiv" (click)="onAnyWhereClick()">
    <div class="row" *ngIf="previousText">
      <div class="col-12 small-font font-roboto-thin " [innerHTML]="previousText"></div>
    </div>
    <div class="row">
      <div class="col-12 problem-space mt-2 small-font font-roboto-thin " *ngIf="currentScenario">
        {{ currentScenario.problemBeforeDash }} <strong>{{ blank.trim() || '-----------' }}</strong>
        {{ currentScenario.problemAfterDash }}
      </div>
    </div>
    <div class="row">
      <div class="col-12 small-font font-roboto-thin " [innerHTML]="extraContent"></div>
    </div>
    <div class="row">
      <div class="col-10 offset-1 text-center" *ngIf="notificationHeader && notificationHeader.length > 0 &&  !retry ">
        <div class="mt-3" *ngIf="levelChanged" #doneBtn>
          <button mat-raised-button [color]="'new'" (click)="onClickDone()">DONE</button>
        </div>

      </div>
    </div>
    <form (ngSubmit)="onSubmit()" autocomplete="off" id="inputForm">
      <div class="form-row align-items-center" *ngIf="!notificationHeader && !notificationHeader.length && !retry">
        <div class="ml-1">>></div>
        <mat-form-field>
          <input [ngStyle]="{'color': '#C75252'}" matInput name="blank" [(ngModel)]="blank" [readonly]="disabled"
            (input)="storeTypedLetters()" #inputEl>
        </mat-form-field>


        <div class="ml-auto p-1">
          <button mat-raised-button [color]="'new'" (click)="onSubmit(target)" type="button" #submitBtn>Submit</button>
        </div>

      </div>

      <div class="row mt-3" *ngIf="retry">
        <div class="col-8 ml-0 ">
          <p><b>{{notificationHeader}}</b></p>
        </div>
        <div class="col-4 mr-0 float-right p-1">
          <button mat-raised-button [color]="'new'" (click)="onTryAgain()" type="button">Try Again</button>
        </div>
      </div>

      <small class="text-muted" *ngIf="invalidInput">Sorry! We couldn't understand that word 😕. Please enter another
        word.</small>
    </form>
    <div #target id="dummyDiv"></div>
  </div>
</div>
