@import "color.palette.scss";
@import "styles.scss";

.category-card {
    display: inline-block;
    width: 30%;
    border-top: 3px solid $treadwill-black;
    top: 20px;
    position: relative;
    img {
        background-color: white;
        position: absolute;
        top: -35px;
        left: -10px;
        height: 60px;
        width: 60px;
    }
}
.category-card.last {
    width: 0px;
}
.category-card.first {
    margin-left: 20px;
}
.category-card.active {
    border-top: 3px solid $treadwill-disabled;
}
.category-card.locked {
    border-top: 3px solid $treadwill-disabled;
}

@media only screen and (max-width: 991px) {
    .category-card {
        img {
            background-color: white;
            position: absolute;
            top: -17px;
            left: -20px;
            width: 50px;
            height: 50px;
        }
    }
}

@media only screen and (max-width: 767px) {
    .category-card {
        width: 30%;
        border-top: 3px solid $treadwill-black;
        top: 10px;
        img {
            background-color: white;
            position: absolute;
            top: -25px;
            left: -20px;
            width: 50px;
            height: 50px;
        }
    }
}


@media only screen and (max-width: 767px) {
    .category-card {
        top: -3px;
        img {
            top: -15px;
            left: -20px;
            width: 30px;
            height: 30px;
        }
    }
}