<div class="row">
  <div class="col-12">
    <div class="card">
      <h5 class="card-header">Science behind the game.</h5>
      <div class="card-body">
        <p class="card-text">Research shows that someone undergoing an episode of depression often thinks very negatively about their future. They can't think of anything positive happening to them in the future. This game has been designed to train your mind to think positively about your future.
          <br>
          For this game to work, you have to play this game repeatedly. You can't just do it once or twice and leave it. Play this game every week so that you earn at least one gold badge every week.
        </p>

      </div>
    </div>
  </div>
</div>
<button (click)= "onClose()"> close </button>
