<mat-card class="mat-card" (click)="onGameClick(game)">
  <div class="cover-img" [style.background-color]="getBackgroundColor(game.slug)">
    <img class="mx-auto" [src]="game.thumbnail" (load)="removeLoading()" [ngStyle]="{display: showLoading ? 'none' : 'inline'}" [alt]="game.name" style="height:130px">
   <p *ngIf="showLoading"> Loading... </p>
  </div>

  <mat-card-footer class = "footer-style">
<!--    [style.background-color]="getFooterColor(game.slug)" style="height:57px;"-->
    <p class="name-style" >{{game.name}}<img src = "assets/games/green_tick.svg" alt = "tick" style="padding-left: 200px;" *ngIf = "solveItStatus"><img src = "assets/games/green_tick.svg" alt = "tick" style="padding-left: 150px;" *ngIf = "balloonBurstStatus"> </p>
    <div class = "d-flex justify-content-center progress-bar-div" *ngIf = "showPb === true && this.started === true; else noPbGame" >
     <p class = "this-week-text">{{this.gameBar.week_start | date : 'd MMM'}} - {{this.gameBar.week_end | date : 'd MMM'}}</p>

    <mat-progress-bar

      border border-dark rounded
      class = "progress-bar-style"
      mode = "determinate"
      value = {{progressInGame}}
      [class.ib-progress-bar-style] = "game.slug === 'GAME-INTERPRETATION-BIAS'"
      [class.ec-progress-bar-style] = "game.slug === 'GAME-EXECUTIVE-CONTROL'"

      [class.icd-progress-bar-style] = "game.slug === 'GAME-IDENTIFY-COGNITIVE-DISTORTION'"

      [class.ff-progress-bar-style] = "game.slug === 'GAME-FRIENDLY-FACE'"
      [class.mi-progress-bar-style] = "game.slug ===  'GAME-MENTAL-IMAGERY'" >
    </mat-progress-bar>
    <img *ngIf = "this.goldCoinShow" src = "assets/games/Gold%20badge%20symbol.svg" alt = "gold" class = "gold-coin" [style.left.%] =  this.goldRatio  matTooltip="Gold Badge"  >
    <img *ngIf = "this.silverCoinShow" src = "assets/games/Silver%20badge%20symbol.svg" alt = "silver" class = "silver-coin" [style.left.%] = this.silverRatio matTooltip="Silver Badge">
    <img *ngIf = "this.bronzeCoinShow" src = "assets/games/Bronze%20badge%20symbol.svg" alt = "bronze" class = "bronze-coin" [style.left.%] = this.bronzeRatio matTooltip="Bronze Badge">
    <span class = "dot" *ngIf = !this.goldCoinShow [style.left.%] =  this.goldRatio [style.background-color] = "this.coinColor" matTooltip="Gold Badge"></span>
    <span class = "dot" *ngIf = !this.silverCoinShow [style.left.%] = this.silverRatio [style.background-color] = "this.coinColor" matTooltip="Silver Badge"></span>
    <span class = "dot" *ngIf = !this.bronzeCoinShow [style.left.%] = this.bronzeRatio [style.background-color] = "this.coinColor" matTooltip="Bronze Badge"></span>
    </div>
  </mat-card-footer>
</mat-card>


<ng-template #noPbGame>
  <div class = "d-flex no-pb-game-div" *ngIf = isASGame()>
  <p *ngIf = balloonBurstStatus>{{completedMsg}}</p>
  <p *ngIf = !balloonBurstStatus>{{incompleteMsg}}</p>
  </div>
  <div class = "d-flex no-pb-game-div" *ngIf = isLHGame()>
    <p *ngIf = solveItStatus>{{completedMsg}}</p>
    <p *ngIf = !solveItStatus>{{incompleteMsg}}</p>
  </div>
  <div class = "d-flex not-started-msg" *ngIf ="this.started === false">
    <p>{{gameNotStartedMsg}}</p>
  </div>

</ng-template>



