@import '../forms.component.scss';

.red-circle {
  margin-left: 0.25rem;
  position: absolute;
  right: 16px;
  top: 13px;
}
@media screen and (max-width: 576px) {
  .mat-card {
    box-shadow: none;
  }
}
