<app-procon-item
  *ngFor="let procon of prosCons"
  [procon]="procon"
  (proconDelete)="onProconDelete($event)"
  [solution_id]="solution.id"
>
</app-procon-item>
<div>
  <div
    [ngStyle]="{ display: 'flex' }"
    *ngIf="showForm || prosCons.length === 0"
  >
    <form class="full-width" (ngSubmit)="onSubmit()" #proconForm="ngForm">
      <mat-form-field class="full-width">
        <textarea
          class="py-0"
          name="procon"
          rows="1"
          placeholder="Enter  {{ pro ? 'pro' : 'con' }}"
          matInput
          required
          [autofocus]
          ngModel
          cdkTextareaAutosize
          cdkAutosizeMinRows="1"
          maxlength="500"
          (focusout)="onTextAreaFocusOut($event)"
        ></textarea>
      </mat-form-field>
    </form>
    <div></div>
  </div>
</div>
<div (click)="showForm = !showForm">
  <div
    class="float-left add-statement"
    [ngStyle]="{
      paddingLeft: !(showForm || prosCons.length === 0) ? '2.5rem' : '0'
    }"
  >
    <mat-icon [ngStyle]="{ fontSize: '16px', paddingTop: '2px' }">add</mat-icon>
    <div>Add {{ pro ? 'Pro' : 'Con' }}</div>
  </div>
</div>
