@import "styles.scss";
@import "../../../shared/user-profile/user-profile.component.scss";
@import "../../support-groups.component.scss";

a.toggler {
  text-decoration: underline;
  color: #1a77e2;
  cursor: pointer;
}

a.toggler:hover {
  text-decoration: underline;
  color: #1a77e2;
  cursor: pointer;
}

.hide-content {
  white-space: pre-wrap;
  height: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post-item {
  // @include box-shadow-1-1-10-d6();
  box-shadow: 0px 2px 4px #c5c5c5;
  background-color: #ffffff;
  border-radius: 8px;
  border: 1px solid #dddddd;
  padding: 20px 20px 20px 30px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 100%;

  .main-header {
    // padding-left: 10px;
  }

  .main-content {
    // margin: 0 4%;
  }

  .support-profile-card {
    z-index: 300;
    position: absolute;
  }

  h2 {
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 0px;
    max-width: 100%;
    word-break: break-word;
  }

  .context-button {
    height: 100%;
    text-align: right;
  }

  .post-time {
    font-size: 12px;
    margin-left: 12px;
  }

  .tags {
    margin-bottom: 20px;

    span>a {
      text-decoration: none;
      padding: 4px 10px;
      font-size: 12px;
      color: #7a7a7a;
      border: #919191 solid 1px;
      border-radius: 20px;
    }
  }

  button.btn {
    cursor: pointer;
    box-shadow: none;
  }

  .comment-btn {
    width: 100px;
    color: white;
    background-color: #2A3B3D;
  }

  .comments-row {
    margin-top: 15px;
  }
}

.post-user-avatar {
  border-radius: 50%;
  width: 52px;
  height: 52px;
}

.user-avatar-username {
  padding-top: 5px;
}

.user-stats {
  margin-left: 14px;
}

.profile-card {
  max-width: 200px;
  margin-left: 25px;
  margin-top: 5px;

  .value {
    margin-left: 10px;
    font-size: 14px;
    color: #00000099;
  }

  .circle {
    bottom: 5px;
    height: 7px;
    width: 7px;
  }

  .box-blue {
    bottom: 5px;
    height: 6px;
    width: 6px;
  }

  .scores {
    flex-grow: 0 !important;
    padding: 0px;
  }

  .medal {
    display: inherit;
  }
}


@media screen and (min-width: 1200px) {
  .post-item {
    .support-profile-card {
      margin-left: 110px;
      max-height: 340px;
      max-width: 600px;
      min-width: 590px;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .post-item {
    .support-profile-card {
      max-height: 280px;
      left: 30px;
      width: 75%;
      max-width: 650px;
      margin-left: 85px;
    }
  }
}

@media screen and (max-width: 767px) {
  .post-user-avatar {
    border-radius: 50%;
    width: 60px;
    height: 60px;
  }

  .post-item {
    .support-profile-card {
      max-width: 450px;
      left: 100px;
      max-height: 261px;
    }
  }
}

@media screen and (max-width: 566px) {
  .post-user-avatar {
    border-radius: 50%;
    width: 45px;
    height: 45px;
  }

  .post-item {
    padding: 10px;
    border-radius: 8px;
    font-size: 14px;
    margin-bottom: 10px;

    .post-time {
      font-size: 10px;
      margin-left: 10px;
    }

    h2 {
      font-size: 16px;
      font-weight: 500;

    }

    .support-profile-card {
      width: 100%;
      margin-left: 0;
      left: 10px;
    }

    .user-stats {
      margin-left: 10px;
      width: 250px;
    }
  }

  .profile-card {
    margin-left: 12px;
    margin-top: 5px;
    max-width: 70%;

    .value {
      margin-left: 10px;
      font-size: 12px;
    }
  }
}
