<div class="row no-gutters">
  <div class="col-1">
    <img [src]="supportGroupItem.user.avatar" alt="User avatar" width="80" height="80">
  </div>
  <div class="col-11">
    <div class="row no-gutters">
      <div class="col-9">
        <h2>{{supportGroupItem.title}}</h2>
      </div>
      <div class="col-2">
        <span *ngFor="let tag of supportGroupItem.tags">
          <a [routerLink]="['/support-groups']" [queryParams]="{'tags': tag.name}">#{{tag.name}}</a>
          &nbsp;         
        </span>
      </div>
      <div class="col-1">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_horiz</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="onEdit()" *ngIf="ownPost() || user.is_admin">
            <mat-icon>edit</mat-icon>
            <span>Edit</span>
          </button>
          <button mat-menu-item (click)="onDelete()" *ngIf="ownPost()|| user.is_admin">
            <mat-icon>delete</mat-icon>
            <span>Delete</span>
          </button>
          <button mat-menu-item *ngIf="!ownPost() || user.is_admin">
            <mat-icon>report_problem</mat-icon>
            <span>Report Problem</span>
          </button>
          <button mat-menu-item *ngIf="!ownPost() || user.is_admin">
            <mat-icon>error</mat-icon>
            <span>Report Sucide</span>
          </button>
        </mat-menu>
      </div>
    </div>
    <p><span>{{supportGroupItem.created_at | date: 'medium' | timeAgo }}</span></p>
    <div [innerHTML]="body | safeHtml"></div>
    
    <p *ngIf="plainBodyLength() > 250">
        <a (click)="toggleShow()" *ngIf="!showFullContent" class="toggler">Show More</a>
        <a (click)="toggleShow()" *ngIf="showFullContent" class="toggler">Show Less</a>
    </p>
    <p>
      <button class="btn btn-sm" [ngClass]="{'btn-info': supportGroupItem.is_voted === 1}" (click)="onThumbsUp()">👍 {{supportGroupItem.up_votes}}</button>
      <button class="btn btn-danger btn-sm" (click)="onThumbsDown()" [ngClass]="{'btn-danger': supportGroupItem.is_voted === 0}">👎</button>
    </p>
    <form (ngSubmit)="onSubmit()" #mainComment="ngForm">
      <fieldset [disabled]="disabledValue">
        <angular-editor name="name" ngModel required (focus)="onFocus()" (focusout)="onFocusOut($event)" [config]="editorConfig"></angular-editor>
        <button type="submit" class="btn btn-primary btn-sm" *ngIf="editorConfig.showToolbar">Comment</button>
      </fieldset>
    </form>
  </div>
</div>
<div class="row no-gutters">
  <ng-container *ngIf="initial">
    <app-comment
      class="col-12"
      *ngFor="let userComment of comments.slice(0, 1)"
      (deleteEmitter)="onCommentDelete($event)"
      [comment]="userComment">
    </app-comment>
  </ng-container>
  <ng-container *ngIf="!initial">
    <app-comment
      class="col-12"
      *ngFor="let userComment of comments"
      (deleteEmitter)="onCommentDelete($event)"
      [comment]="userComment">
    </app-comment>
  </ng-container>
  <button class="btn btn-info btn-sm" type="button" *ngIf="showLoadMore()" (click)="fetchOrShowComments()">More comments ({{supportGroupItem.comments_count}})</button>
  <button class="btn btn-info btn-sm" type="button" *ngIf="showLessComments()" (click)="makeInitial()">Less comments ({{supportGroupItem.comments_count}})</button>
</div>