.app-navbar {
  // height: 100px;
  height: 12vh;
  //width: 100%;
  margin-right:4.4vw;
  margin-left:4.4vw;

  h1 {

  }

  .back-button{
    background-color: inherit;
    outline: none;
    position: absolute;
    left: 0;
}

  .navbar-title {
    //padding-left: 50px;
    color: #343434;
    font-size: 24px;
    font-family: roboto;
    opacity: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
  }

  //.conv-title {
  //  color: #343434;
  //  opacity: 0.56;
  //  font-size: 20px;
  //}

  .all-icons-mobile {
    display: none;
  }

  .all-icons {
    display: flex;
    //flex-direction: row-reverse;
    align-items: center;
    height: 100px;
    //padding-right: 10%;

    .icon-items {
      margin-left: 20px;
      background: transparent;

      &:hover,
      &:active {
        cursor: pointer;
      }
    }
  }
  .unread-count {
    position: absolute;
    height: 25px;
    width: 25px;
    left: 15px;
    //bottom: 8px;
    top: 15px;
    background-color: #fa3e3e;
    border-radius: 50%;
    color: #ffffff;
    font-size: 12px;
    line-height: 25px;
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .app-navbar {
    .all-icons {
      padding-right: 0px;
    }
  }
}

// @media screen and (max-width: 992px) {
// .app-navbar {
//     height: 20px;
//     .all-icons {
//         position: absolute;
//         top: -80px;
//         right: 10px;
//         .icon-items {
//             margin: 10px 20px;
//         }
//         .unread-count {
//             left: 64px;
//         }
//     }
// }
// }
@media screen and (max-width: 767px) {
  .app-navbar {
    height: 0px;

    h1 {
      font-size: 1.2rem;
    }
  }

}

@media screen and (max-width: 960px) {

  // putting this 960 as otherwise no nav bar is shown
  .app-navbar {
    .navbar-title {
      padding-left: 0px;
      top: 3px;
      color: white;
      font-size: 20px;
    }
    .back-button{
      background-color: inherit;
      outline: none;
      line-height: 0;
      min-width:24px;
      padding-right: 0;
      position: relative;
    }

    .all-icons-mobile {
      display: block;
      position: absolute;
      //top: -40px;
      top: 15px;
      right: 15px;
      width:100%;

      .icon-items {
        margin-left: 12px;
      }
      .hamburger-button{
        background-color: inherit;
        padding: 0;
        line-height: 0;
        min-width: 24px;
      }

      #showFullConversation {
        color: white !important;
        line-height: 0;
        height: 24px;
        width:24px;
        padding-right: 0;
      }
    }
    .unread-count {
      left: 12px;
      line-height: 20px;
      height: 20px;
      width: 20px;
      top: 12px;
    }

    // height: 20px;
    .all-icons {
      display: none
    }
  }
}
