<ng-template appNavbarFlow></ng-template>
<div class="app-navbar d-flex flex-row">
  <div class="d-flex w-100 flex-row mx-0">
    <div class="all-icons-mobile">
      <div class="d-flex h-100 flex-row justify-content-between ml-0"  [style.marginRight]="convMode ? '0' : '3%'">
        <div class="d-inline-flex">
        <div *ngIf="!isDashboard">
          <button mat-icon-button class="icon-items back-button" (click)="backClick()">
            <img
              src="assets/shared/Back%20mobile.svg"
              width="24px"
              height="24px"
              alt="back"
            />
          </button>
        </div>
        <div class="icon-items" *ngIf="isDashboard && isHandset$">
          <button
            id="hamburger"
            class="hamburger-button icon-items"
            type="button"
            aria-label="Toggle sidenav"
            mat-icon-button
            (click)="hamburgerClicked()"
          >
            <img
              width="24px"
              height="24px"
              src="assets/shared/Hamburger mobile.svg"
            />
          </button>
        </div>
        <div class="icon-items">
          <div
            class="navbar-title flex-grow-1"
            [style.width]="'100%'"
            [matTooltip]="navbarTitle"
            matTooltipPosition="above"
          >
            {{ navbarTitle }}
          </div>
        </div>
        </div>
<!--      </div>-->
<!--    </div>-->
    <!--    </div>-->
    <!--    <div class="all-icons-mobile">-->
<!--    <div class="d-flex flex-row">-->
        <div class="d-inline-flex flex-row-reverse">
        <div class="icon-items">
        <button
          mat-icon-button
          id="showFullConversation"
          [matMenuTriggerFor]="showFullConversation"
          *ngIf="convMode"
        >
          <mat-icon>more_vert</mat-icon>
        </button>
      </div>

      <div
        [ngClass]="{
              'd-none': hideCards
            }"
        class="icon-items"
        (click)="flowClick()"
      >
        <img
          src="assets/shared/Go to mobile.svg"
          height=" 32px"
          alt="GoTO"
          id="goto_mobile"
        />
      </div>
      <div *ngIf="user.is_exp">
        <button
          class="icon-items mr-2"
          (menuClosed)="notificationClick()"
          (menuOpened)="notificationClick()"
          [matMenuTriggerFor]="appNavBarNotify"
          [ngStyle]="{
              position: 'relative'
            }"
          mat-icon-button
        >
          <img
            [src]="unreadCount > 0 ? notificationIndicatorMobile : 'assets/shared/notification_mobile.svg' "
            height=" 24px"
            width="24px"
            alt="Flow"
            [ngClass]="{
                'd-none': hideCards
              }"
          />
        </button>
      </div>
      <button
        class="icon-items"
        *ngIf="!isDashboard"
        (click)="homeClick()"
        mat-icon-button
      >
        <img
          src="assets/shared/Home mobile.svg"
          height=" 24px"
          alt="Home"
        />
      </button>
    </div>
  </div>
    </div>
  </div>

  <div
      class="col-7 px-0"
    >
      <div class="all-icons" style="position:relative;">
        <button
          mat-icon-button
          class="back-button"
          *ngIf="!isDashboard"
          (click)="backClick()"
        >
          <img
            src="assets/shared/back web.svg"
            width="32px"
            height="32px"
            alt="back"
          />
        </button>

        <div
          class="navbar-title"
          [matTooltip]="navbarTitle"
          matTooltipPosition="above"
          style="position:absolute;left:4.4vw;"
        >
          {{ navbarTitle }}
        </div>
      </div>

  </div>

  <div
    class="col-5 px-0"
    >
      <div
        class="all-icons ml-auto"
        style="float: right;"
        [ngClass]="{
          'd-none': hideCards
        }"
      >
        <button
          class="icon-items"
          *ngIf="!isDashboard"
          mat-icon-button
          (click)="homeClick()"
        >
          <img src="assets/shared/home web.svg" height=" 32px" alt="Home" />
        </button>
        <div *ngIf="user.is_exp">
          <button
            class="icon-items"
            (menuClosed)="notificationClick()"
            (menuOpened)="notificationClick()"
            [matMenuTriggerFor]="appNavBarNotify"
            [ngStyle]="{
              marginLeft: '20px',
              position: 'relative'
            }"
            mat-icon-button
          >
            <img
              [src]="unreadCount > 0 ? notificationIndicatorWeb : 'assets/shared/notification_web.svg' "
              height=" 32px"
              width="32px"
              alt="Flow"
            />
          </button>
        </div>
        <div id="goto_desktop" (click)="flowClick()" style="margin-left: 20px;">
          <img src="assets/shared/go to web.svg" height=" 36px" alt="GoTo" />
        </div>
      </div>


    <mat-menu #showFullConversation="matMenu" xPosition="before">
      <button mat-menu-item (click)="onshowFullConversation()" class="">
        <span>Show full conversation</span>
      </button>
    </mat-menu>

    <!--  <mat-menu #appNavBarFlow="matMenu" xPosition="before" yPosition="below" class="navBarPanelClass">-->
    <!--    <div class="row w-100 h-100 px-0 mx-0 " (click)="$event.stopPropagation()">-->
    <!--      <div appNavbarFlow></div>-->
    <!--    </div>-->
    <!--  </mat-menu>-->

    <mat-menu
      #appNavBarNotify="matMenu"
      class="navBarPanelClass"
      xPosition="before"
      yPosition="below"
    >
      <div
        class="row w-100 h-100 px-0 mx-0 py-0"
        (click)="$event.stopPropagation()"
      >
        <div appNavbarNotification></div>
      </div>
    </mat-menu>
    <!-- <div appNavbarFlow></div> -->
    <!-- <div appNavbarNotifications></div> -->
  </div>
</div>

