.app-navbar {
    height: 100px;
    width: 100%;
    .all-icons {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        height: 100px;
        padding-right: 10%;
        .icon-items {
            margin: 10px 30px;
            background: transparent;
            &:hover, &:active {
                cursor: pointer;
            }
        }
        .unread-count {
            position: relative;
            height: 23px;
            width: 23px;
            left: 74px;
            background-color: #fa3e3e;
            padding: 1px;
            border-radius: 50%;
            color: #ffffff;
            font-size: 14px;
            bottom: 8px;
            text-align: center;
        }
    }
}

@media screen and (max-width: 992px) {
    .app-navbar {
        height: 20px;
        .all-icons {
            position: absolute;
            top: -80px;
            right: 10px;
            .icon-items {
                margin: 10px 20px;
            }
            .unread-count {
                left: 64px;
            }
        }   
    }
}
