<div class="app-navbar">
    <div class="row">
        <div class="col-6">

        </div>
        <div class="col-6">
            <div class="all-icons">
                <div class='icon-items' (click)="notificationClick()">
                    <img src="assets/shared/notification.svg" alt="Flow">
                </div>
                <div class='icon-items' (click)="flowClick()">
                    <img src="assets/shared/flow.svg" alt="Flow">
                </div>
            </div>
        </div>
    </div>
    <div appNavbarFlow></div>
</div>