<div class="container-fluid" *ngIf="showContent else desktopMessage">

  <app-trial-pages-header [stepNumber]=""></app-trial-pages-header>

  <div class="row mt-0" *ngIf="showQuestionnaire && !quizSubmitted">
    <app-questionnaire class="w-100" [fromFlow]="false" [stepId]="null" [fromTrialRegistration]="true"></app-questionnaire>
  </div>
  <div class="row mt-4 mx-0 justify-content-center align-self-center" *ngIf="!showQuestionnaire">
  <div class="row  mx-0"  *ngIf="userExists">
    <p>You have already signed up for TreadWill. Your username is: {{username}}. <a routerLink="/landing">Log
      in</a></p>
  </div>
  <div class="row  mx-0"  *ngIf="already_submitted || date_over">
    <p>You have already submitted the questionnaire.</p>
    <p>Please click <a href="{{sign_up_link}}">here</a> to go to the sign up page.
    </p>
  </div>
    <div class="row  mx-0" *ngIf="quizSubmitted">
      <div class="m-medium row mx-2  ">
        Thanks for your interest in TreadWill.
      </div>
      <div class="row my-3 thank-you-text mx-2 " >
      We will send you further instructions to sign up within a day.
      </div>
    </div>
  </div>
</div>
<ng-template #desktopMessage>
  <div>
    Open this link on your mobile.
  </div>
</ng-template>
