<ng-template [ngIf]="dataLoaded && !locked">
  <!-- Add IMAGES here -->
  <h4 class="mt-3">Dummy Introduction Title</h4>
  <div>
    In other words, when someone is depressed, they:
    <ul>
      <li>
        stop doing things that they used to enjoy
      </li>
      <li>
        stop doing things that used to give them a sense of control or purpose in their lives
      </li>
      <li>
        keep doing things that makes them feel miserable. Example - skipping work or college and lying in bed all day
      </li>
    </ul>
  </div>
  <div>
    <br><br>
    What have you stopped doing that you used to <span class="emphasis">enjoy</span>?
    <mat-form-field style="width:100% !important">
      <input type="text" matInput placeholder="Example- I used to enjoy catching up with old friends. I have stopped doing that." [(ngModel)]="enjoyable">
    </mat-form-field>
  </div>
  <br><br>
  <div>
      What have you stopped doing that used to give you a <span class="emphasis">control or purpose</span> in your life?
    <mat-form-field style="width:100% !important">
      <input type="text" matInput placeholder="Example- I have stopped attending lectures." [(ngModel)]="mastery">
    </mat-form-field>
    <br><br>
  </div>
  <div>
    What do you keep doing that makes you <span class="emphasis">feel miserable</span>?
    <mat-form-field style="width:100% !important">
      <input type="text" matInput placeholder="Example- I lie in my bed watching the same YouTube videos again and again and again and again and ......" [(ngModel)]="miserable">
    </mat-form-field>
    <br><br>
  </div>
  <div>
    Remember that your behavior affects your feelings. It is possible to improve your mood by changing your behavior. In this module, you’ll learn how to modify your behavior to improve how you feel.
    <br><br>
    No matter what the reason for your depression is, the first step to getting better is by getting back to a normal routine.    
  </div>
  <div>
    <button class="completed-btn float-right" type="button" mat-raised-button color="primary" (click)="saveData()">
      Save data
    </button>
  </div>
</ng-template>
<ng-template [ngIf]="dataLoaded && locked">
  <div class="row">
    <div class="col">
      <div class="text-center loader">
        This content is not yet unlocked for you.
      </div>
    </div>
  </div>
</ng-template>
<ng-template [ngIf]="!dataLoaded">
  <div class="col">
    <div class="text-center loader">
      <img src="assets/shared/dna-loader.svg" alt="loader" width="200">
    </div>
  </div>
</ng-template>