<mat-drawer-container class="">
  <!--  from hamburger menu-->
  <mat-drawer #drawer class="pre-login-side-nav-drawer">
    <mat-nav-list role="navigation">
      <a
        mat-list-item
        class="pre-login-side-nav-anchor"
        (click)="questionnaireClicked()"
      >Questionnaires</a>
      <a mat-list-item class="pre-login-side-nav-anchor" (click)="onTermsConditions()">Terms and conditions</a>
      <a mat-list-item class="pre-login-side-nav-anchor" (click)="onPrivacyPolicyClick()">Privacy policy</a>
    </mat-nav-list>
  </mat-drawer>
  <!--  desktop menu-->
  <mat-drawer-content>
    <mat-toolbar class="mat-pre-login-toolbar-color d-flex-wrap">
      <div class="d-block d-sm-none">
        <mat-icon (click)="drawer.toggle()" class="pre-login-toolbar-burger"
        style="vertical-align: middle;">menu</mat-icon
        >
      </div>

      <div class="col px-0" >
        <img src="../../../assets/shared/logo_full.svg"
             class="w-100 log-img">

      </div>
      <div class="d-none d-sm-block links">
        <a
          mat-button
          class="anchorify-pre-login-toolbar-button float-right login-btn"
          (click)="onLoginClicked()"
        >
          Login
        </a>
        <a
          mat-button
          class="anchorify-pre-login-toolbar-button float-right"
          (click)="questionnaireClicked()"
        >Questionnaires</a
        >
      </div>
      <div class="d-block d-sm-none">
        <a
          [ngStyle]="{ right: '0', position: 'absolute', top: '15px', fontSize:'20px' }"
          mat-button
          class="anchorify-pre-login-toolbar-button float-right login-btn"
          (click)="onLoginClicked()"
        >
          Login
        </a>
      </div>
    </mat-toolbar>
  </mat-drawer-content>

  <!--Registration content for mobile-->
  <mat-drawer-content>
    <app-trial-open-registration *ngIf="urlLink=='open'"></app-trial-open-registration>
    <app-trial-learn-page-registration  *ngIf="urlLink=='learn'"></app-trial-learn-page-registration>
    <app-trial-life-page-registration *ngIf="urlLink=='life'"></app-trial-life-page-registration>
    <app-trial-work-page-registration *ngIf="urlLink=='work'"></app-trial-work-page-registration>
    <app-trial-student-page-registration *ngIf="urlLink=='student'"></app-trial-student-page-registration>

  </mat-drawer-content>
</mat-drawer-container>


<ng-template #desktopMessage>
  <div>
    <!--        Open this link on your mobile.-->
    <app-qr-code ></app-qr-code>
  </div>
</ng-template>

