<div class="row" >
  
  <div class="col">
    <h5 class="gad-heading"> GAD-7 score at the starting of each module </h5>
    <div class="chartDiv">
      <br>
      <canvas #gadLineChart>{{ chart }}</canvas>
    </div>
  </div>
  <div class="col">
    <h5> How to interpret the graph? </h5>
    <div class="intructions">
      <b>x axis: </b>  Module Number <br> <br>
      <b>y axis: </b>  GAD-7 score at the beginning of that module. GAD-7 score
      indicates the severity of your depressive symptoms. In the general population,
      the average score is typically around 3 although it tends to vary person to
      person. A score of 20 or more usually indicates severe depression. <br> <br>

      A decreasing trend in the graph means that you are doing an excellent job in 
      dealing with your depressive symptoms. <br>
      An increasing trend in the graph means that there is room for improvement in dealing
      with your depressive symptoms.
    </div>
  </div>
</div>  