@import "styles.scss";

.games-section {
    padding-left: 80px;
    min-height: 80vh;
}
.loader {
    padding-top: 12%;
    width: 100%;
}
@media screen and (max-width: 991px) {
    .games-section {
        padding-left: 0px;
    }
}

@media screen and (max-width: 767px) {
    .games-section {
        padding-left: 0px;
    }
}