<div class="row mx-0">
  <div class="col-12">
  </div>
</div>
<div class="games-section">
  <div class="row d-flex flex-wrap justify-content-around justify-content-md-between align-content-xl-stretch">

    <ng-container *ngIf="progressData && games$ | async as games else loader">
      <div class="flex px-1" *ngFor="let game of games" >
        <app-game-item [gamesBarData]="gamesBarData" [game]="game">
        </app-game-item>
      </div>
    </ng-container>
  </div>
</div>
<router-outlet></router-outlet>
<ng-template #loader>
  <div class="text-center loader">
    <img src="assets/shared/loading-gif.gif" alt="loader" width="80">
  </div>
</ng-template>
