<div class="row">
  <div class="col-12">
    <h1 class="main-heading-h1">Games</h1>
  </div>
</div>
<div class="games-section" >
  <div class="row d-flex justify-content-around justify-content-sm-between justify-content-md-between">
    <ng-container *ngIf="games$ | async as games else loader">
      <div class="flex-fill" *ngFor="let game of games">
        <app-game-item
          [game]="game">
        </app-game-item>
      </div>
      
    </ng-container>
  </div>
</div>
<router-outlet></router-outlet>
<ng-template #loader>
  <div class="text-center loader">
    <img src="assets/shared/dna-loader.svg" alt="loader" width="200" >
  </div>
</ng-template>
