<a 
    class="list-group-item clearfix"
    [ngClass]="{'disabled': module.status == 'locked', 
                'active': module.status == 'active',
                'last': last}">
    <span
        class="status-image"
        [ngClass]="{'locked': module.status == 'locked', 
                    'active': module.status == 'active',
                    'done': module.status == 'done'}"></span>
    <span
        class="pull-right module-name cursor-hand align-middle"
        (click)="onModuleItemClicked()">
        {{module.name}}
    </span>
</a>