<mat-expansion-panel class="step-group" [expanded]='isExpanded'>
  <mat-expansion-panel-header class="row">
    <mat-panel-title>
      <div class="col-3 px-0">
        <svg viewport="0 0 50 50" height="50" width="50" xmlns="http://www.w3.org/2000/svg">
          <circle cx="25" cy="25" r="20" stroke="#ccc" stroke-width="3" fill="transparent"/>
          <circle
            cx="25"
            cy="25"
            r="20"
            stroke="#666"
            stroke-width="3"
            fill="transparent"
            [attr.stroke-dashoffset]="dashOffset()"
            stroke-dasharray="126"
            stroke-linecap="round"
            transform="rotate(270 25 25)"/>
          <text stroke="#666" x="21" y="30">
            {{stepGroup.sequence + 1}}
          </text>
        </svg>
      </div>
      <div class="col-9 step-group-name px-0 align-self-center">
        {{stepGroup.name}}
      </div>
    </mat-panel-title>
          <!-- <mat-panel-description>
              icon
          </mat-panel-description> -->
        <!-- </div> -->
  </mat-expansion-panel-header>
  <ng-template matExpansionPanelContent>
    <div class="row">
      <div class="col-3 px-0">
        <app-steps-indicator [stepGroup]="stepGroup"></app-steps-indicator>
      </div>
      <div class="col px-0">
        <app-step *ngFor="let step of stepGroup.steps" [step]="step" [stepGroup]="stepGroup"></app-step>
        
      </div>
    </div>
  </ng-template>
    <!-- </mat-action-row> -->
      <!-- </div> -->
  
</mat-expansion-panel>

