.step-group {
  // margin: 30px;
  .step-group-name {
    // padding: 15px 20px;
    font-size: 1.2rem;
  }
}
hr { 
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  // border-color: #B8B8B8;
} 