.step-group {
  // margin: 30px;
  .step-group-name {
    // padding: 15px 20px;
    font-size: 1.2rem;
  }
}
.collapse-text{
  color: #B8B8B8;
  font-size: 11px;
  cursor: pointer;
}
.arrow-icon{
  color: #B8B8B8;
  font-size: 16px;
}
hr { 
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border-style: inset;
  color: #B8B8B8;
} 