<mat-expansion-panel class="step-group py-2 mat-elevation-z0" 
            [expanded]='isExpanded'
            (opened)="panelOpened()"
            (closed)="isExpanded = false; showLessSteps = true;">
  <mat-expansion-panel-header class="row">
    <mat-panel-title>
      <div class="col-3 px-0">
        <svg viewport="0 0 50 50" height="50" width="50" xmlns="http://www.w3.org/2000/svg">
          <circle cx="25" cy="25" r="20" stroke="#ccc" stroke-width="3" fill="transparent"/>
          <circle
            cx="25"
            cy="25"
            r="20"
            stroke="#666"
            stroke-width="3"
            fill="transparent"
            [attr.stroke-dashoffset]="dashOffset()"
            stroke-dasharray="126"
            stroke-linecap="round"
            transform="rotate(270 25 25)"/>
          <text stroke="#666" x="21" y="30">
            {{stepGroup.sequence + 1}}
          </text>
        </svg>
      </div>
      <div class="col-9 step-group-name px-1 align-self-center">
        {{stepGroup.name}}
      </div>
    </mat-panel-title>
          <!-- <mat-panel-description>
              icon
          </mat-panel-description> -->
        <!-- </div> -->
  </mat-expansion-panel-header>
  <ng-template matExpansionPanelContent>
    <div class="row px-1 ">
      <div class="col-2 px-0" >
        <app-steps-indicator 
          *ngIf = "showLessSteps; else showAllIndicators"
          [showLessSteps] = showLessSteps 
          [lastStepOfModule] = lastStepOfModule
          [firstStepOfModule] = firstStepOfModule
          [stepGroupSteps]="defaultSteps.steps"></app-steps-indicator>
        <ng-template #showAllIndicators>
          <app-steps-indicator 
            [showLessSteps] = showLessSteps 
            [lastStepOfModule] = lastStepOfModule
            [firstStepOfModule] = firstStepOfModule
            [stepGroupSteps]="stepGroup.steps"></app-steps-indicator>
        </ng-template>
      </div>

      <div class="col px-0">
        <div class="" *ngIf = "showLessSteps; else showAllSteps">
          <app-step 
            *ngFor="let stepInitial of defaultSteps.steps" 
            [step]="stepInitial" [stepGroup]="defaultSteps"></app-step>
        </div>
        <ng-template #showAllSteps >
          <app-step
            *ngFor="let step of stepGroup.steps" 
            [step]="step" [stepGroup]="stepGroup"></app-step>
        </ng-template>
        
        
        <div class="row justify-content-center" *ngIf = "isShowAllBtn">
          <div class="col">
            <div class="row w-100 justify-content-center" *ngIf = "!showLessSteps">
              <i class="material-icons arrow-icon" 
                (click)="collapseClick()">
                keyboard_arrow_up
              </i>
            </div>
            <div class="row w-100">
              <div class="col px-0">
                <hr>
              </div>
              <div class="col px-0 text-center collapse-text" 
                  *ngIf = "!showLessSteps"
                  (click)="collapseClick()">
                collapse
              </div>
              <div class="col px-0 text-center collapse-text" 
                  *ngIf = "showLessSteps"
                  (click)="showAllClick()">
                show all
              </div>
              <div class="col px-0">
                <hr>
              </div>
            </div>
            <div class="row w-100 justify-content-center" *ngIf = "showLessSteps">
              <i class="material-icons arrow-icon" 
                (click)="showAllClick()">
                keyboard_arrow_down
              </i>
            </div>
          </div>
        </div>

      </div>
    </div>
  </ng-template>
    <!-- </mat-action-row> -->
      <!-- </div> -->
  
</mat-expansion-panel>

