<div class="px-3 py-3 main-div">
  <h5 class="text-center">Science behind game</h5>
  <p>This game is designed to help you experience temporary Learned Helplessness. We expect that experiencing Learned Helplessness in this controlled environment will help you realize instances of real-life Learned Helplessness and avoid it. Play the game, there is a more detailed explanation at the end of the game.</p>
  <div  class="text-center">
    <button mat-raised-button (click)= "onClose()" [color]="'btn-color'"> close </button>
  </div>

</div>

