<div class="">
  <div class="">
    {{ about }}
  </div>
  <div class="card-body">
    <div
      class="technique-div"
      *ngFor="let technique of techniques; let i = index"
    >
      <div class="technique-heading">
        <div
          *ngIf="technique.color; else indexDiv"
          class="rect"
          [ngStyle]="{ 'background-color': technique.color }"
        ></div>
        <ng-template #indexDiv>
          <div  class="indexDiv">{{ i + 1 }}.</div>
        </ng-template>
        <div class="technique-name">
          {{ technique.name }}
        </div>
      </div>
      <div class="technique-description">
        {{ technique.description }}
      </div>
    </div>
  </div>

  <button mat-raised-button class="btn back-btn" (click)="closeInfoModal()">
    Back To Form
  </button>
</div>
