<div class="container-fluid w-100 small-font">
    <app-trial-pages-header [stepNumber]="stepNo"></app-trial-pages-header>

    <div class="row mt-4">
        <div class="col">
            <p class="largest-font">  Consent </p>
            <div class="medium-font">  Please see if these terms are acceptable to you. </div>
        </div>
    </div>

    <form [formGroup]="consentForm">
        <div class="row">
            <div class="col-12 my-1">
                <label class="my-3 lesser-opacity">I have read the information provided in the site about
                    the study. If I had any concerns, I had contacted the research team and
                    received satisfactory response to my concerns.
                </label>
                <br>
                <mat-radio-group (change)="activateSubmitButton()" formControlName="readInfo" color="primary" required>
                    <mat-radio-button [value]="1" class="mr-5"
                        #btn1 [ngClass]="{ 'checkedBtn': btn1.checked , 'unChecked': !btn1.checked}">
                        Accept</mat-radio-button>
                    <mat-radio-button [value]="0" class="ml-4"
                        #btn2 [ngClass]="{ 'checkedBtn': btn2.checked , 'unChecked': !btn2.checked}">
                        Decline</mat-radio-button>
                </mat-radio-group>
            </div>

            <div class="col-12 my-1">
                <label class="my-3 lesser-opacity"> I understand that my participation is voluntary and that
                    I am free to withdraw at any time, without giving any reason, and without
                    any current or future medical care or legal rights being affected.
                </label>
                <br>
                <mat-radio-group (change)="activateSubmitButton()" formControlName="voluntaryInfo" color="primary" required>
                    <mat-radio-button [value]="1" class="mr-5"
                        #btn3 [ngClass]="{ 'checkedBtn': btn3.checked , 'unChecked': !btn3.checked}">
                        Accept</mat-radio-button>
                    <mat-radio-button [value]="0" class="ml-4"
                        #btn4 [ngClass]="{ 'checkedBtn': btn4.checked , 'unChecked': !btn4.checked}">
                        Decline</mat-radio-button>
                </mat-radio-group>
            </div>

            <div class="col-12 my-1">
                <label class="my-3 lesser-opacity">I understand that any information I provide while taking part
                    in the study will be kept confidential. However, if I pose harm to myself,
                    to another person, or to the community, TreadWill reserves the right to take
                    steps permitted by law to help prevent the potential harm from happening.
                    However, TreadWill or its members are not to be held responsible for any harm
                    that might occur during the course of my participation in the study.
                </label>
                <br>
                <mat-radio-group (change)="activateSubmitButton()" formControlName="confidentialInfo" color="primary" required>
                    <mat-radio-button [value]="1" class="mr-5"
                        #btn5 [ngClass]="{ 'checkedBtn': btn5.checked , 'unChecked': !btn5.checked}">
                        Accept</mat-radio-button>
                    <mat-radio-button [value]="0" class="ml-4"
                        #btn6 [ngClass]="{ 'checkedBtn': btn6.checked , 'unChecked': !btn6.checked}">
                        Decline</mat-radio-button>
                </mat-radio-group>
            </div>

            <div class="col-12 my-1">
                <label class="my-3 lesser-opacity">I understand that relevant sections of my data collected
                    during the study may be used by the TreadWill team for research purposes.
                    The results of the study may be published so that its findings are available
                    to the scientific community and the public; however, any personal identifiers
                    will be removed from the data.
                </label>
                <br>
                <mat-radio-group (change)="activateSubmitButton()" formControlName="dataPublicationInfo" color="primary" required>
                    <mat-radio-button [value]="1" class="mr-5"
                        #btn7 [ngClass]="{ 'checkedBtn': btn7.checked , 'unChecked': !btn7.checked}">
                        Accept</mat-radio-button>
                    <mat-radio-button [value]="0" class="ml-4"
                        #btn8 [ngClass]="{ 'checkedBtn': btn8.checked , 'unChecked': !btn8.checked}">
                        Decline</mat-radio-button>
                </mat-radio-group>
            </div>

            <div class="col-12 my-1">
                <label class="my-3 lesser-opacity">I understand that the latest security measures will be
                    employed, but there is still a risk of information leakage
                    in case of a security breach. I understand that the TreadWill team is not to
                    be held responsible for any breach.
                </label>
                <br>
                <mat-radio-group (change)="activateSubmitButton()" formControlName="informationLeakage" color="primary" required>
                    <mat-radio-button [value]="1" class="mr-5"
                        #btn9 [ngClass]="{ 'checkedBtn': btn9.checked , 'unChecked': !btn9.checked}">
                        Accept</mat-radio-button>
                    <mat-radio-button [value]="0" class="ml-4"
                        #btn10 [ngClass]="{ 'checkedBtn': btn10.checked , 'unChecked': !btn10.checked}">
                        Decline</mat-radio-button>
                </mat-radio-group>
            </div>

            <div class="col-12 my-1">
                <label class="my-3 lesser-opacity">I agree to participate in the study.</label>
                <br>
                <mat-radio-group (change)="activateSubmitButton()" formControlName="agreementInfo" color="primary" required>
                    <mat-radio-button [value]="1" class="mr-5"
                        #btn11 [ngClass]="{ 'checkedBtn': btn11.checked , 'unChecked': !btn11.checked}">
                        Accept</mat-radio-button>
                    <mat-radio-button [value]="0" class="ml-4"
                        #btn12 [ngClass]="{ 'checkedBtn': btn12.checked , 'unChecked': !btn12.checked}">
                        Decline</mat-radio-button>
                </mat-radio-group>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-12 my-3 ">
                <button
                  type="button"
                  class="w-100 form-elements"
                  mat-raised-button
                  [disabled]="!allowSubmit"
                  matTooltip="Accept all the conditions to activate"
                  [matTooltipDisabled]="allowSubmit"
                  color="primary"
                  (click)="step4DataSubmit()"
                  *ngIf="!showLoading"
                > Submit
                </button>
              <button class="w-100 form-elements" color="primary" *ngIf="showLoading" type="button" mat-raised-button >
                <span class="spinner-border spinner-border-sm"></span>
                &nbsp; Loading..
              </button>
            </div>
        </div>
    </form>
</div>

<div class="row mt-5 mx-0">
    <app-trial-pages-footer class="w-100"></app-trial-pages-footer>
</div>
