@import "../shared/common-styles.scss";

.checkedBtn{
    opacity: 1;
}

.unChecked {
    opacity: 0.54;
}
.medium-font {
  font-size: 16px;
  letter-spacing: 0.29px;
  font-weight: normal;
  font-family: "Roboto";
}

.hint {
  font-size: 10px;
  color: #ff0000;
}
.spinner-border-custom{
  width: 18px;
  height: 18px;
  margin-right: 6px;
}

.loading{
  vertical-align: top;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
