@import '../../forms.component.scss';

.original {
  background: #f5f5f5 0% 0% no-repeat padding-box;
  border: 0.5px dashed #0000005e;
  border-radius: 4px;
}

.original_title {
  font-size: 12px;
  padding:0.20rem 0.5rem;
}
.reviewStatement {
  font-size: 14px;
  padding: 0.3rem 0.6rem;
}
