<div class="intro-img-div">
  <img
    [ngStyle]="{ width: '80px', borderRadius: '50%' }"
    src="assets/walk-through/games.svg"
    alt="intro_bot"
  />
</div>
<div class="title" mat-dialog-title>Welcome to Games</div>

<mat-dialog-content>
  <div class="mb-2" [ngStyle]="{ fontSize: '16px', opacity: '0.8' }">
    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    <ul>
      <li class="mb-2">Lorem ipsum dolor sit amet, consetetur sadipscing.</li>
      <li class="mb-2">Lorem ipsum dolor sit amet, consetetur sadipscing.</li>
      <li class="mb-2">Lorem ipsum dolor sit amet, consetetur sadipscing.</li>
    </ul>
  </div>
</mat-dialog-content>

<mat-dialog-actions class="float-right">
  <button
    mat-raised-button
    [ngStyle]="{textAlign : 'inherit'}"
    class="btn start-btn float-right"
    (click)="startIntro()"
    matDialogClose
    [innerHTML]="btnTxt"
  ></button>
</mat-dialog-actions>
