<div class="intro-img-div">
  <img
    [ngStyle]="{ width: '80px', borderRadius: '50%' }"
    src="assets/flow/therapist.svg"
    alt="intro_bot"
  />
</div>
<div class="title" mat-dialog-title>{{ game.heading }}</div>

<mat-dialog-content>
  <div class="mb-2" [ngStyle]="{ fontSize: '16px', opacity: '0.8' }">
    {{ game.description }}
  </div>
</mat-dialog-content>

<mat-dialog-actions class="float-right">
  <button
    mat-raised-button
    [ngStyle]="{ textAlign: 'inherit' }"
    class="btn start-btn float-right"
    (click)="startIntro()"
    matDialogClose
    [innerHTML]="btnTxt"
  ></button>
</mat-dialog-actions>
