

<div class="ff-game-div h-100 w-100" >
  <div id="face-game-main-div">
    <div class="game-cover row justify-content-center">
     
          <img id="ffg-image" src="../../../../../../assets/games/friendly-face-game/images/Start page graphic.png">
      <br>
    </div>
      

    <!-- FOR ACTUAL GAME PLAY-->
    <div class="container-fluid d-none h-100 ff-game-container">
      <div class="ff-game-elements h-100 d-flex flex-column">
        <div class="row my-2">
          <div class="col">
            <div class="d-flex align-items-end score-life">
              <div class="ml-1">
                <span id="score" class="align-bottom"><b>SCORE:</b></span><span id="score-num"
                  class="align-bottom"></span>
              </div>

              <div class=" ml-auto ">
                <img id="life-img" src="../../../../../../assets/games/friendly-face-game/images/Live (1).svg">
                <span id="life" class="align-bottom"></span>

                <img id="time-img" src="../../../../../../assets/games/time_transparent.png">
                <!--class="float-right">-->
                <span id="time-sec" class="align-bottom"></span>
                <!-- <span class="align-bottom mb-0"> <b class="mt-1">s</b></span> -->
              </div>


            </div>
          </div>
        </div>

        <div class="row">
          <div class="col coins-difficulty">
            <div class="d-flex align-items-end">
              <div class=" ml-1 coins1">
                <img id="coin-img" src="../../../../../../assets/games/friendly-face-game/images/Gold badge symbol.svg">
                <span class="coin-num" id="gold-num">{{goldNumber}}</span>
                <mat-progress-bar mode="determinate" class="goldBar" [value]="goldValue"></mat-progress-bar>
              </div>

              <div class="ml-1 coins1">
                <img id="coin-img"
                  src="../../../../../../assets/games/friendly-face-game/images/Silver badge symbol.svg">
                <span class="coin-num" id="silver-num">{{silverNumber}}</span>
                <mat-progress-bar mode="determinate" class="silverBar" [value]="silverValue"></mat-progress-bar>
              </div>

              <div class="ml-1 coins1">
                <img id="coin-img"
                  src="../../../../../../assets/games/friendly-face-game/images/Bronze badge symbol.svg">
                <span class="coin-num" id="bronze-num">{{bronzeNumber}}</span>
                <mat-progress-bar mode="determinate" class="bronzeBar" [value]="bronzeValue"></mat-progress-bar>
              </div>

              <div class="ml-auto  difficulty">
                <div class="d-flex justify-content-between">
                  <b>Easy</b><b>Hard</b>
                </div>

                <div class="row border border-dark rounded difficulty-bar ml-0" >
                <mat-progress-bar mode="determinate" class="gameDifficultyBar" [value]="difficultyBarValue">
                </mat-progress-bar>
              </div>

              </div>
            </div>
          </div>
        </div>


        <div id="canvas-div" class="row align-items-center game-components flex-grow-1" #newElement>
          <div class="col align-items-center ">
            <div class="d-flex justify-content-center">
              <canvas id="canvas1"></canvas>
            </div>
          </div>
        </div>

        <div style="height: 80px;">
          <div>
            <img id="tone-on-bar" [style.margin-left]="toneBarValue + 'px'" src="../../../../../../assets/games/friendly-face-game/images/Tone.svg">

          </div>
          <div class="d-flex justify-content-center music-bar">
            <mat-progress-bar mode="determinate" class="ffgMusicBar" [value]="musicBarValue"></mat-progress-bar>
          </div>
          <div class="music-box">
            <img id="border-music-box" src="../../../../../../assets/games/friendly-face-game/images/Button_small.svg">
            <img id="tone" src="../../../../../../assets/games/friendly-face-game/images/Tone.svg">
            <span id="song-name"></span>
          </div>

        </div>
      </div>
    </div>

    <div class="d-none">

    </div>
  </div>

</div>
