<div id="face-game-main-div">
    <div class="game-instructions">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="card">
                    <h5 class="card-header">How to play?</h5>
                    <div class="card-body">
                        <p class="card-text">Click on the happy faces as quickly as you can.</p>
                        <p class="card-text">Don't click on the non-happy faces.</p>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="card">
                    <h5 class="card-header">Science behind the game.</h5>
                    <div class="card-body">
                        <p class="card-text">It has been shown that depressed people have very poor self-esteem. Their self-esteem is dependent on other people's approval. Let's say a depressed person is talking to a group of friends, and he cracks a joke. If some of his friends don't laugh at his joke, he will forget about the rest of his interactions with his friends and focus just on this fact that some of his friends didn't laugh at his joke. He might have thoughts like "My friends think I am stupid" based on this. He will ignore the fact that this was a one-time event and that some of his friends did laugh at his joke. One of the reasons why this happens is that depressed individuals tend to selectively focus on negative information and ignore positive information. This bias for negative information has a further negative impact on the person's self-esteem.
                        <br>
                        The "Identify the friendly face" game is supposed to modify this bias for negative information. It is supposed to train depressed individuals to focus on positive information and ignore negative information. We expect it to help improve their self-esteem and eventually with depression. But, you have to do it from time to time. You can't just do it once or twice and leave it.</p>
                        <!-- <button 
                            (click)="onPlayClick()"
                            class="btn btn-primary ffg-play-game card-button">Play</button> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- FOR ACTUAL GAME PLAY-->
    <div class="ghost-element"></div>
    
    <div class="ff-game-elements d-none">
    
        <div id="song-name-div" class="fade-in game-components" style="margin-top: 10px; width: 324px; display: inline-flex;">
            <div style="display: -webkit-box; width: 281px;">
                <p id="song">
                    Song: <span id="song-name"></span>
                </p>
            </div>
            <div>
                <button id="play-song-button" type="button" class="btn btn-info btn-sm btn-facegame">
                    <i class="fas fa-music"></i>
                </button>
            </div>
        </div>
    
        <div id="canvas-div" class="row justify-content-center game-components">
            <div class="col-auto">
                <canvas id="canvas1"></canvas>
            </div>
        </div>
    
        <div class="row justify-content-center d-none" id="next-stage-div">
            <div class="col-auto">
                <div class="text-justify" style="margin-left: 10px;">
                    <p id="next-stage-message"></p>
                    <p id="harder-text" class="text-center d-none">Make the next level harder?</p>
                    <div class="btn-group btn-group-toggle btn-group-facegame-level-up d-none" data-toggle="buttons" id="harder-options">
                        <label class="btn btn-secondary btn-facegame-level-up">
                            <input type="radio" name="options" id="time" autocomplete="off"> Reduce time
                        </label>
                        <br>
                        <label class="btn btn-secondary btn-facegame-level-up">
                            <input type="radio" name="options" id="errors" autocomplete="off"> Reduce lifelines
                        </label>
                        <br>
                        <label class="btn btn-secondary btn-facegame-level-up">
                            <input type="radio" name="options" id="nothing" autocomplete="off" style="margin-right: 10px;"> No, thanks
                        </label>
                    </div>
                    <br>
                    <br>
                    <p id="difficulty-message"></p>
                    <br>
                    <br>
                    <button id="play-next-song" type="button" class="btn btn-outline-secondary btn-facegame-level-up d-none">Play next one</button>
                </div>
            </div>
        </div>
    
        <div class="row justify-content-center d-none" id="game-over-div">
            <div class="col-auto">
                <p id="game-over" class="text-center">Game Over</p>
                <button id="play-again-button" type="button" class="btn btn-info btn-sm btn-facegame" style="margin-right: 13px"><i class="fas fa-redo"></i></button>
                <button id="dashboard-button" type="button" class="btn btn-info btn-sm btn-facegame"><i class="fas fa-home"></i></button>
            </div>
        </div>
    
        <div id="game-controls-div" class="fade-in game-components" style="width: 324px; display: inline-flex;">
            <div style="display: inline-flex;">
                <div id="mistake-count">
                </div>
            </div>
            <div style="display: inline-flex; margin-left: 153px;">
                <button id="volume-button" type="button" class="btn btn-info btn-sm btn-facegame" style="margin-right: 5px;">
                    <img src="../../../../../../assets/games/friendly-face-game/images/volumeup.png" class="fas fa-volume-up">
                </button>
                <button id="pause-button" type="button" class="btn btn-info btn-sm btn-facegame"><i class="fas fa-play"></i></button>
            </div>
        </div>
    
        <div id="time-bar-div" class="row justify-content-center fade-in game-components">
            <div class="col-auto">
                <div style="display: inline-flex; margin-left: 5px;">
                    <i class="fas fa-stopwatch treadwill-color"></i>
                    <div class="progress">
                        <div id="progressBar" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="0" style="width: 100%; background-color: #00FF00">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="d-none">
        <!-- <div id="hidden" class="static" src="{% static 'facegame/' %}"></div>
        <a href="{% url 'facegame:send-images' 0 0 %}" type="hidden" id="get-images-url"></a>
        <a href="{% url 'facegame:update-stats' %}" type="hidden" id="update-stats-url"></a>
        <a href="{% url 'facegame:update-order' 0 %}" type="hidden" id="update-order-url"></a>
        <a href="{% url 'facegame:next-song' 0 0 0 %}" type="hidden" id="next-song-url"></a>
        <div id="hidden" class="user_id">{{user_data.id}}</div>
        <div id="hidden" class="csrf">{% csrf_token %}</div> -->
    
    </div>
</div>
