@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

.chat-window {
  position: fixed;
  width: 344px;
  right: 50px;
  bottom: 4vh;
  margin-bottom: 5px;
  border-radius: 10px;
  border-radius: 10px 10px 0px 0px;
  box-shadow: 0px -3px 8px #00000029;
  font-family: "Roboto", sans-serif !important;
  background: #ffffff 0% 0% no-repeat padding-box;
  background-image: url("assets/chatbot/Rectangle.png");
  background-size: cover;
  font-family: "Montserrat", sans-serif !important;
  .chat-header {
    height: 46px;
    box-shadow: 0px 1px 3px #00000029;
    background: #ffffff 0% 0% no-repeat padding-box;
    border-radius: 10px 10px 0px 0px;
    h3 {
      float: left;
      font-size: 20px;
      line-height: 2.3rem;
      margin-top: 2%;
      margin-left: 12px;
    }
    .chatbot-screen-img {
      float: left;
      width: 37px;
      height: 36px;
      margin-top: 4px;
      margin-left: 12px;
    }
    .close-icon {
      margin-top: 7px;
      margin-left: 12px;
      outline: none;
      float: right;
    }
  }
  .chat-frame {
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    height: 45vh;
    max-height: 550px;
  }
  .mood-btn {
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #000000;
    border-radius: 20px;
    text-align: left;
    letter-spacing: 0;
    color: #000000;
    margin: auto;
    display: block;
    outline: none;
    margin-bottom: 10px;
    margin-top: 5px;
    padding: 5px 16px 5px 16px;
  }
  .form {
    height: 43px;
    width: 100%;
    bottom: 0;
  }
  .message {
    max-width: 75%;
    margin: 5px 2px;
    float: right;
    .message-text {
      padding: 10px 10px 10px 12px;
      border-radius: 6px 0px 0px 6px;
      font-size: 0.9em;
      text-align: right;
      box-shadow: 0px 1px 3px #00000029;
      background: #ffffff 0% 0% no-repeat padding-box;
    }
    .meta {
      text-align: center;
      display: none;
      border-top: 2px dashed #cccccc;
    }
    .date-time {
      display: inline-block;
      font-size: 0.6em;
      width: 100%;
      text-align: left;
      padding-left: 3px;
    }
  }
  .bot {
    .message-text {
      background: #e9faff 0% 0% no-repeat padding-box;
      box-shadow: 0px 1px 3px #00000029;
      border-radius: 0px 10px 10px 0px;
      padding: 10px 12px 10px 10px;
      text-align: left;
    }
    .message-text.waiting {
      padding: 15px;
    }
    float: left;
    .meta {
      display: block;
      border-top: 2px dashed #cccccc;
    }
  }
  .textarea {
    width: 88%;
    float: left;
    height: 40px;
    textarea {
      outline: none;
      box-shadow: none;
      border: none;
      height: 100%;
      max-height: 100%;
      &:active {
        outline: none;
        box-shadow: none;
        border: none;
      }
    }
  }
  .btn-div {
    float: right;
    width: 12%;
    background: #ffffff 0% 0% no-repeat padding-box;
    button {
      background-color: transparent;
      max-width: 100%;
      height: 100%;
      padding: 8px 5px;
      line-height: 16px;
      box-shadow: none;
      border: none;
    }
  }
  .buttons {
    float: right;
    width: content-box;
    text-align: center;
    min-width: 33%;
    margin-right: 10px;
    button {
      margin: 5px;
      display: block;
      width: 100%;
      .btn-text {
        display: inline-block;
        width: 90%;
        margin: 0 5%;
        word-wrap: break-spaces;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .chat-window {
    position: fixed;
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
    max-height: 90vh;
    top: 1vh;
    left: 0;
    margin: 0;
    z-index: 99;
    margin: 4% 2% 0 2%;
    background: #ffffff 0% 0% no-repeat padding-box;
    background-image: url("assets/chatbot/Rectangle.png");
    background-size: cover;
    box-shadow: 0px -3px 8px #00000029;
    .chat-frame {
      height: 75vh;
    }
  }
}

@media screen and (max-height: 500px) {
  .chat-window {
    .chat-frame {
      height: 60vh;
    }
  }
}
@media screen and (min-width: 1024px) {
.chat-frame{
  height: 50vh;
  max-height: 600px;
}
}
/**
* Chat Waiting section
*/

$dotWidth: 6px;
$dotHeight: 6px;
$dotRadius: $dotWidth/2;

$dotColor: #909090;
$dotBgColor: $dotColor;
$dotBeforeColor: #adadad;
$dotAfterColor: #808080;

$dotSpacing: $dotWidth + $dotWidth/2;

$leftPos: -9999px;
$x1: -$leftPos - $dotSpacing;
$x2: -$leftPos;
$x3: -$leftPos + $dotSpacing;

@mixin dot($width: $dotWidth, $height: $dotHeight, $radius: $dotRadius, $bgColor: $dotBgColor, $color: $dotColor) {
  width: $width;
  height: $height;
  border-radius: $radius;
  background-color: $bgColor;
  color: $color;
}

.dot-typing {
  position: relative;
  left: $leftPos;

  @include dot;

  box-shadow: $x1 0 0 0 $dotBeforeColor, $x2 0 0 0 $dotColor, $x3 0 0 0 $dotAfterColor;
  animation: dotTyping 1.2s infinite linear;
}

@keyframes dotTyping {
  0% {
    box-shadow: $x1 0 0 0 $dotBeforeColor, $x2 0 0 0 $dotColor, $x3 0 0 0 $dotAfterColor;
  }

  16.667% {
    box-shadow: $x1 -10px 0 0 $dotBeforeColor, $x2 0 0 0 $dotColor, $x3 0 0 0 $dotAfterColor;
  }

  33.333% {
    box-shadow: $x1 0 0 0 $dotBeforeColor, $x2 0 0 0 $dotColor, $x3 0 0 0 $dotAfterColor;
  }

  50% {
    box-shadow: $x1 0 0 0 $dotBeforeColor, $x2 -10px 0 0 $dotColor, $x3 0 0 0 $dotAfterColor;
  }

  66.667% {
    box-shadow: $x1 0 0 0 $dotBeforeColor, $x2 0 0 0 $dotColor, $x3 0 0 0 $dotAfterColor;
  }

  83.333% {
    box-shadow: $x1 0 0 0 $dotBeforeColor, $x2 0 0 0 $dotColor, $x3 -10px 0 0 $dotAfterColor;
  }

  100% {
    box-shadow: $x1 0 0 0 $dotBeforeColor, $x2 0 0 0 $dotColor, $x3 0 0 0 $dotAfterColor;
  }
}
