@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');

.chat-window {
  border: 5px solid #f49080;
  width: 320px;
  margin-bottom: 5px;
  border-radius: 10px;
  background-color: white;
  font-family: "Montserrat", sans-serif !important;
  .chat-header {
    background-color: #f49080;
    height: 37px;
    h3 {
      float: left;
      font-family: 'Comfortaa', cursive;
      font-size: 1rem;
      line-height: 2.3rem;
      margin-left: 20px;
      color: #ffffff;
    }
  }
  .chat-frame {
    height: 55vh;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
  }
  form {
    height: 43px;
    width: 100%;
    border-top: 3px solid #f49080;
  }
  .message {
    max-width: 75%;
    margin: 5px 2px;
    float: right;
    .message-text {
      background-color: #babfbd;
      padding: 5px;
      width: content-box;
      border-radius: 6px;
      font-size: 0.9em;
      text-align: center;
    }
    .meta {
      text-align: center;
      display: none;
      border-top: 2px dashed #cccccc;
    }
    .date-time {
      display: inline-block;
      font-size: 0.6em;
      width: 100%;
      text-align: left;
      padding-left: 3px;
    }
  }
  .bot {
    .message-text {
      background-color: #ebf0ee;
    }
    .message-text.waiting {
      padding: 15px;
    }
    float: left;
    .meta {
      display: block;
      border-top: 2px dashed #cccccc;
    }
  }
  .textarea {
    width: 88%;
    float: left;
    height: 40px;
    textarea {
      outline: none;
      box-shadow: none;
      border: none;
      height: 100%;
      max-height: 100%;
      &:active {
        outline: none;
        box-shadow: none;
        border: none;
      }
    }
  }
  .btn-div {
    float: right;
    width: 12%;
    button {
      background-color: transparent;
      max-width: 100%;
      height: 100%;
      padding:8px 5px;
      line-height: 16px;
      box-shadow: none;
      border: none;
    }
  }
  .buttons {
    float: right;
    width: content-box;
    text-align: center;
    min-width: 33%;
    margin-right: 10px;
    button {
      margin: 5px;
      display: block;
      width: 100%;
      .btn-text {
        display: inline-block;
        width: 90%;
        margin: 0 5%;
        word-wrap: break-spaces;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .chat-window {
    position: fixed;
    top: 1vh;
    left: 0;
    width: 100%;
    margin: 0;
    z-index: 200;
    .chat-frame {
      border-bottom: 3px solid #f49080;;
      height: 73vh;
    }
    .buttons {
      min-width: 45%;
    }
  }
}

@media screen and (max-height: 500px) {
  .chat-window {
    .chat-frame {
      border-bottom: 3px solid #f49080;;
      height: 55vh;
    }
  }
}

::ng-deep img.emoji {
  height: 1.1em;
  width: 1.1em;
  margin: 0 .05em 0 .1em;
  vertical-align: -0.1em;
}

/**
* Chat Waiting section
*/

$dotWidth: 6px;
$dotHeight: 6px;
$dotRadius: $dotWidth/2;

$dotColor: #909090;
$dotBgColor: $dotColor;
$dotBeforeColor: #adadad;
$dotAfterColor: #808080;

$dotSpacing: $dotWidth + $dotWidth/2;

$leftPos: -9999px;
$x1: - $leftPos - $dotSpacing;
$x2: - $leftPos;
$x3: - $leftPos + $dotSpacing;

@mixin dot($width: $dotWidth, $height: $dotHeight, $radius: $dotRadius,$bgColor: $dotBgColor, $color: $dotColor ) {
  width: $width;
  height: $height;
  border-radius: $radius;
  background-color: $bgColor;
  color: $color;
}

.dot-typing {
  position: relative;
  left: $leftPos;

  @include dot;

  box-shadow:
    $x1 0 0 0 $dotBeforeColor,
    $x2 0 0 0 $dotColor,
    $x3 0 0 0 $dotAfterColor;
  animation: dotTyping 1.2s infinite linear;
}

@keyframes dotTyping {
  0% {
    box-shadow:
      $x1 0 0 0 $dotBeforeColor,
      $x2 0 0 0 $dotColor,
      $x3 0 0 0 $dotAfterColor;
  }

  16.667% {
    box-shadow:
      $x1 -10px 0 0 $dotBeforeColor,
      $x2 0 0 0 $dotColor,
      $x3 0 0 0 $dotAfterColor;
  }

  33.333% {
    box-shadow:
      $x1 0 0 0 $dotBeforeColor,
      $x2 0 0 0 $dotColor,
      $x3 0 0 0 $dotAfterColor;
  }

  50% {
    box-shadow:
      $x1 0 0 0 $dotBeforeColor,
      $x2 -10px 0 0 $dotColor,
      $x3 0 0 0 $dotAfterColor;
  }

  66.667% {
    box-shadow:
      $x1 0 0 0 $dotBeforeColor,
      $x2 0 0 0 $dotColor,
      $x3 0 0 0 $dotAfterColor;
  }

  83.333% {
    box-shadow:
      $x1 0 0 0 $dotBeforeColor,
      $x2 0 0 0 $dotColor,
      $x3 -10px 0 0 $dotAfterColor;
  }

  100% {
    box-shadow:
      $x1 0 0 0 $dotBeforeColor,
      $x2 0 0 0 $dotColor,
      $x3 0 0 0 $dotAfterColor;
  }
}

