@import '~@angular/material/theming';
@import "color.palette";
@import "treadwill.theme";

.solution {
    p {
        width: 95%;
        float: left;
        padding: 10px;
        &:focus {
            border: 1px solid transparent;
            outline: none;
            box-shadow: none;
            border-bottom: 2px solid $treadwill-yellow;
        }
    }
    span {
        text-align: right;
        width: 5%;
        float: right;
    }
}
