.form-control {
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    box-shadow: none;
}
.subtasks {
    padding-left: 30px;
}
label {
    color:  #383838;
}
.full-width {
    width: 100%;
}

::ng-deep .mat-checkbox-layout {
    width: 100%;
    .mat-checkbox-label {
        width: 100% !important;
    }
}