.form-control {
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    box-shadow: none;
}
.subtasks {
    padding-left: 30px;
}
label {
    color: #000000;
}