<ng-template [ngIf]="dataLoaded && !locked">
  <mat-card  class="container-fluid px-0 pt-0 pb-2" >
    <div class="row introduction">
      <div class="col my-3 mt-lg-0">
        <div >
          <mat-card-header class="title col-12 w-100 my-auto px-0">
            <mat-card-title class="my-auto d-inline-block justify-content-center py-2 ">
              Introduction
            </mat-card-title>
          </mat-card-header>
          <div class="px-3 px-lg-4 pt-4 main-div">
    <h4 class="mt-3">Dummy Introduction Title</h4>
  <div>
    <!-- Add IMAGE here -->
    <p>These are the most common negative beliefs in someone suffering from depression.</p>
  </div>
  <div>
    Which one of these negative beliefs do you have?
    <mat-form-field>
      <mat-label>Negative beliefs</mat-label>
      <mat-select [(value)]="selectedBelief" (selectionChange)="onBeliefChange()" (focusout)= "beliefSaveFocusOut()">
        <mat-option *ngFor="let negativeBelief of negativeBeliefs" [value]="negativeBelief">
          {{negativeBelief}}
        </mat-option>
      </mat-select>
      <mat-hint *ngIf="beliefSave ">Saving...</mat-hint>

      <br><br>
    </mat-form-field>
  </div>
  <br><br>
  <div *ngIf="selectedBelief">
    <p>It stinks to be feeling that way, doesn't it?</p>
    <p>Wouldn’t it be great if you had this belief instead?</p>
    <p>{{balancedBelief}}</p>
    <p>This is a more realistic and healthy belief.</p>
    <p>Unfortunately, when someone is going through an episode of depression, they abandon this healthy belief system
      and think in absolute terms like - {{selectedBelief}}.</p>
    <p>These absolute and rigid negative beliefs make them vulnerable to negative thinking and depression.</p>
    <p>In this module, you will learn how your beliefs make you vulnerable to negative thinking and how to change your
      beliefs from absolute and negative to realistic and healthy.</p>
  </div>
  <br>
            <app-step-completed [showNextStep]="showNextStep" [showloading]="showloading" (completedEvent)="onCompleted()" (nextStepEvent)="onNextStep()"></app-step-completed>

          </div>
        </div>
      </div>
    </div>
  </mat-card>
</ng-template>
<ng-template [ngIf]="dataLoaded && locked">
  <div class="row">
    <div class="col">
      <div class="text-center loader">
        This content is not yet unlocked for you.
      </div>
    </div>
  </div>
</ng-template>
<ng-template [ngIf]="!dataLoaded">
  <div class="col">
    <div class="text-center loader">
      <img src="assets/shared/dna-loader.svg" alt="loader" width="200">
    </div>
  </div>
</ng-template>
