<div  *ngIf="showRegistrationContent else desktopMessage">
    <div class="container-fluid" [ngStyle]="{ paddingLeft: !openPage ? '15px' : '0px' , paddingRight: !openPage ? '15px' : '0px' }">
        <app-trial-pages-header *ngIf="!openPage"></app-trial-pages-header>

        <div class="row mx-1 my-3">
            <p class="largest-font"> Privacy Policy </p>
        </div>

        <div class="row mx-1 my-3 small-font less-opacity">
            In this page, 'I', 'we', 'us', 'our', or 'TreadWill' means the team at Indian Institute of Technology Kanpur that developed TreadWill.
        </div>

        <div class="row mx-1 my-3 small-font">
            <div class="col-12 s-medium">
                <p> Introduction </p>
            </div>
            <div class="col-12 less-opacity ">
                <p>
                    We understand the importance of ensuring the security of your information and that we are legally obligated to
                    protect your personal information. <br><br>
                    If any of these conditions are unacceptable to you, please refrain from using TreadWill.
                </p>
            </div>
        </div>

        <div class="row mx-1 my-3 small-font">
            <div class="col-12 s-medium">
                <p> Who does this policy apply to? </p>
            </div>
            <div class="col-12 less-opacity ">
                <p>
                    This privacy policy applies to all previous, present, and future TreadWill users.
                </p>
            </div>
        </div>

        <div class="row mx-1 my-3 small-font">
            <div class="col-12 s-medium">
                <p> What is collected? </p>
            </div>
            <div class="col-12 less-opacity ">
                <p>
                    We collect: <br>
                    the minimal personal information - including, but not limited to, email address,
                    phone number, age, gender, educational qualification - required to provide personalized services,
                    enhance the user experience, and for research purposes; any information you submit when using the
                    TreadWill website (including forms, feedbacks, notes, posts, comments, likes, questionnaires, mood
                    ratings, quizzes, and conversation histories); <br>

                    information about your usage of TreadWill using cookies; <br>
                    the url of pages you visit in TreadWill; the date and time of your visit.  <br><br>

                    We don't, however, require you to disclose your name at any point during your usage of TreadWill.
                    We don't assume any responsibility if you, on your own volition, post your identity within the TreadWill
                    website or provide information that identifies you definitively.
                </p>
            </div>
        </div>

        <div class="row mx-1 my-3 small-font">
            <div class="col-12 s-medium">
                <p> How do we collect and hold personal information? </p>
            </div>
            <div class="col-12 less-opacity ">
                <p>
                    We collect information from you when you provide the information via the TreadWill websites.
                    All communication is encrypted and transmitted via SSL which is an industry standard information
                    transfer protocol. However, no method of electronic transmission or method of data storage is
                    perfect or impenetrable, so we cannot guarantee that your information will be absolutely safe
                    from intrusion during transmission or storage. TreadWill website is hosted on third-party servers.
                </p>
            </div>
        </div>

        <div class="row mx-1 my-3 small-font">
            <div class="col-12 s-medium">
                <p> Who do we disclose your personal information to? </p>
            </div>
            <div class="col-12 less-opacity ">
                <p>
                    The primary purpose of collecting data from users is for improving our service and for research,
                    and as such, your unidentified data will be available to TreadWill team and our collaborators. <br> <br>

                    We may disclose your personal information: when we are required to do so by law; <br>
                    when we feel doing so may protect you or other users from harm; <br>
                    to entities who assist us in providing our services (including hosting providers). <br><br>

                    Also, our research is likely to lead to scientific publications.
                    In such publications, pooled data will be published. The published data, however,
                    can't be used to identify any individual user.
                </p>
            </div>
        </div>

        <div class="row mx-1 my-3 small-font">
            <div class="col-12 s-medium">
                <p> Changes to this Privacy Policy </p>
            </div>
            <div class="col-12 less-opacity ">
                <p>
                    We may change our Terms of use and Privacy policy for various reasons including,
                    but not limited to, reflect change to our services, improve our privacy practice,
                    and to comply with the relevant law. The changes shall be effective immediately
                    upon posting on the TreadWill website unless otherwise stated on the website.
                    You agree to review these Terms of Use periodically to make sure that you are
                    aware of any changes. By continuing to use this website you accept the Terms of
                    Use as they apply from time to time.
                </p>
            </div>
        </div>

        <div class="row mx-1 my-3 m-medium">
            Last updated: 22 April 2021
        </div>


        <div class="row my-4 py-3" *ngIf="!openPage">
            <div class="col-12 text-center">
                <span class="small-font less-opacity"> For any question check
                    <a routerLink="{{faqLink}}" > FAQ </a>  or
                    <span (click)= "contactUsClicked()" class="contactUsLink"> Contact Us </span>
                </span>
            </div>
        </div>
    </div>

    <div class="row mt-3 mx-0">
        <app-trial-pages-footer *ngIf="!openPage" class="w-100"></app-trial-pages-footer>
    </div>
</div>


<ng-template #desktopMessage>
    <div>
<!--        Open this link on mobile only. Desktop support is not there.-->
      <app-qr-code></app-qr-code>
    </div>
</ng-template>
