
<div class="intro-img-div">
  <img [ngStyle]="{width: '80px',borderRadius : '50%'}" src="../../../../assets/support-group/support_group.svg" alt="intro_bot" />
</div>
<div class="title" mat-dialog-title>Welcome to support group</div>

<mat-dialog-content>
  <div class="mb-2" [ngStyle]="{fontSize : '16px',opacity : '0.8'}" >
    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
   <ul>
     <li class="mb-2">Lorem ipsum dolor sit amet, consetetur sadipscing.</li>
     <li class="mb-2">Lorem ipsum dolor sit amet, consetetur sadipscing.</li>
     <li class="mb-2">Lorem ipsum dolor sit amet, consetetur sadipscing.</li>
   </ul>
  </div>

</mat-dialog-content>

<mat-dialog-actions class="float-right">
  <button
    mat-raised-button
    class="btn start-btn float-right"
    (click)="startIntro()"
    matDialogClose
  >
    Next <span [ngStyle]="{fontSize: '40px',verticalAlign:'sub'}"> &#8594;</span>
  </button>
</mat-dialog-actions>
