
  <div class = "row " >
    <div class="col col-margin" *ngIf = "isLoaded; else loader">
      <!--<mat-card class = "card">-->


          <div class="video-container">
          <iframe class = "video-specs" [src]="video.url + enableId | safeUrl" id = 'player' #Video></iframe><br/>
          </div>
          <mat-card-footer class= "footer-text" [innerHTML]="video.title"></mat-card-footer>
             <!-- </mat-card>-->
    </div>
  </div>

  <ng-template #loader>
    <div class="col-sm-9 col-lg-12">
      <img src="assets/shared/dna-loader.svg" alt="dna" >
    </div>
  </ng-template>


