<div *ngIf = "eachVideoType === 'video'">
  <div class = "row row-margin" >
    <div class="col col-margin" *ngIf = "isLoaded; else loader" >
          <div class="video-container" >
         <iframe class = "video-specs" [src]="video.url + enableId | safeUrl" id = 'player' #Video ></iframe><br/>

          </div>

          <mat-card-footer class= "footer-text" [innerHTML]="video.title"></mat-card-footer>
    </div>
  </div>
</div>

<div *ngIf = "eachVideoType === 'mindfulnessVideo'">
  <div class = "row row-margin" >
    <div class="col col-margin" *ngIf = "isLoaded; else loader" >
      <div class="video-container" >
        <iframe class = "video-specs" [src]="mindfulnessVideo.resource_video.url + enableId | safeUrl" id = 'player' #Video ></iframe><br/>

      </div>

     <mat-card-footer class= "footer-text" [innerHTML]="mindfulnessVideo.resource_video.title"></mat-card-footer>
    </div>
  </div>
</div>


<ng-template #loader>
  <div class="row w-100">
    <div class="col">
      <div class="text-center loader">
      <img src="assets/shared/loading-gif.gif" alt="loading" width="80" >
    </div>
    </div>
  </div>
  </ng-template>


