<div class="row px-0 py-0 pb-2 instructions-div mx-0">
    <div class="col-12">
        <div class="sticky-top pt-2 play-heading w-100 text-center mt-0">
            <mat-card-title class="w-100 text-center">
                <b> How to play?  </b>
            </mat-card-title>
            <hr>
        </div> 
        <mat-card-content>
            <p class="card-text">Find words in the grid to unlock the sentence.</p>
            <div class="div-instruction">
                <div class="div-instruction-img justify-content-center">
                    <img class="card-img-top img-fluid rounded" src="../../../../../assets/games/interpretation_bias_game/images/1.png" alt="Swipe gif">
                    <mat-icon [ngStyle]="{'font-size': '60px',
                                'vertical-align': 'middle',
                                'margin-top': '-125%',
                                'margin-left': '40%'}">
                        play_circle_outline
                    </mat-icon >
                </div>
                <div class="div-instruction-gif d-none">
                    <img class="card-gif-top img-fluid rounded" src="../../../../../assets/games/interpretation_bias_game/images/1.gif" alt="Swipe gif">
                </div>
            </div>
            <p class="card-text">Find extra words to earn extra coins.</p>
            <div class="div-instruction">
                <div class="div-instruction-img">
                    <img class="card-img-top img-fluid rounded" src="../../../../../assets/games/interpretation_bias_game/images/2.png" alt="Swipe gif">
                    <mat-icon [ngStyle]="{'font-size': '60px',
                                'vertical-align': 'middle',
                                'margin-top': '-125%',
                                'margin-left': '40%'}">
                        play_circle_outline
                    </mat-icon >
                </div>
                <div class="div-instruction-gif d-none">
                    <img class="card-gif-top img-fluid rounded" src="../../../../../assets/games/interpretation_bias_game/images/1.gif" alt="Swipe gif">
                </div>
            </div>
            <p class="card-text">Read the sentence.</p>
            <div class="div-instruction">
                <div class="div-instruction-img">
                    <img class="card-img-top img-fluid rounded" src="../../../../../assets/games/interpretation_bias_game/images/1.png" alt="Swipe gif">
                    <mat-icon [ngStyle]="{'font-size': '60px',
                                'vertical-align': 'middle',
                                'margin-top': '-125%',
                                'margin-left': '40%'}">
                        play_circle_outline
                    </mat-icon >
                </div>
                <div class="div-instruction-gif d-none">
                    <img class="card-gif-top img-fluid rounded" src="../../../../../assets/games/interpretation_bias_game/images/1.gif" alt="Swipe gif">
                </div>
            </div>
            <p class="card-text">Read the word.</p>
            <div class="div-instruction">
                <div class="div-instruction-img">
                    <img class="card-img-top img-fluid rounded" src="../../../../../assets/games/interpretation_bias_game/images/1.png" alt="Swipe gif">
                    <mat-icon [ngStyle]="{'font-size': '60px',
                                'vertical-align': 'middle',
                                'margin-top': '-125%',
                                'margin-left': '40%'}">
                        play_circle_outline
                    </mat-icon >
                </div>
                <div class="div-instruction-gif d-none">
                    <img class="card-gif-top img-fluid rounded" src="../../../../../assets/games/interpretation_bias_game/images/1.gif" alt="Swipe gif">
                </div>
            </div>
            <p class="card-text">Is the sentence related to the word? Answer as quickly as possible to earn more coins.</p>
            <div class="div-instruction">
                <div class="div-instruction-img">
                    <img class="card-img-top img-fluid rounded" src="../../../../../assets/games/interpretation_bias_game/images/1.png" alt="Swipe gif">
                    <mat-icon [ngStyle]="{'font-size': '60px',
                                'vertical-align': 'middle',
                                'margin-top': '-125%',
                                'margin-left': '40%'}">
                        play_circle_outline
                    </mat-icon >
                </div>
                <div class="div-instruction-gif d-none">
                    <img class="card-gif-top img-fluid rounded" src="../../../../../assets/games/interpretation_bias_game/images/1.gif" alt="Swipe gif">
                </div>
            </div>
        </mat-card-content>
        <hr>
        <button mat-raised-button [color]="'ibg-start'" 
            class='w-100'
            (click) = "onPlayClicked()">
            <b> Start </b> 
        </button>
    </div>
</div>
<!--    
    <br>
    -->
