<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <mat-card class="pt-0">
                <div class="sticky-top play-heading w-100 text-center">
                    <mat-card-title class="w-100 text-center">
                        <b> How to play?  </b>
                    </mat-card-title>
                    <hr>
                </div> 
                <mat-card-content>
                    <p class="card-text">Find words in the grid to unlock the sentence.</p>
                    <div class="div-instruction">
                    <div class="div-instruction-img">
                        <img class="card-img-top img-fluid rounded" src="../../../../../assets/games/interpretation_bias_game/images/1.png" alt="Swipe gif">
                        <i class="material-icons instruction-icon">play_circle_outline</i>
                    </div>
                    <div class="div-instruction-gif d-none">
                        <img class="card-gif-top img-fluid rounded" src="../../../../../assets/games/interpretation_bias_game/images/1.gif" alt="Swipe gif">
                    </div>
                    </div>
                    <p class="card-text">Find extra words to earn extra coins.</p>
                    <div class="div-instruction">
                    <div class="div-instruction-img">
                        <img class="card-img-top img-fluid rounded" src="../../../../../assets/games/interpretation_bias_game/images/2.png" alt="Swipe gif">
                        <i class="material-icons instruction-icon">play_circle_outline</i>
                    </div>
                    <div class="div-instruction-gif d-none">
                        <img class="card-gif-top img-fluid rounded" src="../../../../../assets/games/interpretation_bias_game/images/1.gif" alt="Swipe gif">
                    </div>
                    </div>
                    <p class="card-text">Read the sentence.</p>
                    <div class="div-instruction">
                    <div class="div-instruction-img">
                        <img class="card-img-top img-fluid rounded" src="../../../../../assets/games/interpretation_bias_game/images/1.png" alt="Swipe gif">
                        <i class="material-icons instruction-icon">play_circle_outline</i>
                    </div>
                    <div class="div-instruction-gif d-none">
                        <img class="card-gif-top img-fluid rounded" src="../../../../../assets/games/interpretation_bias_game/images/1.gif" alt="Swipe gif">
                    </div>
                    </div>
                    <p class="card-text">Read the word.</p>
                    <div class="div-instruction">
                    <div class="div-instruction-img">
                        <img class="card-img-top img-fluid rounded" src="../../../../../assets/games/interpretation_bias_game/images/1.png" alt="Swipe gif">
                        <i class="material-icons instruction-icon">play_circle_outline</i>
                    </div>
                    <div class="div-instruction-gif d-none">
                        <img class="card-gif-top img-fluid rounded" src="../../../../../assets/games/interpretation_bias_game/images/1.gif" alt="Swipe gif">
                    </div>
                    </div>
                    <p class="card-text">Is the sentence related to the word? Answer as quickly as possible to earn more coins.</p>
                    <div class="div-instruction">
                    <div class="div-instruction-img">
                        <img class="card-img-top img-fluid rounded" src="../../../../../assets/games/interpretation_bias_game/images/1.png" alt="Swipe gif">
                        <i class="material-icons instruction-icon">play_circle_outline</i>
                    </div>
                    <div class="div-instruction-gif d-none">
                        <img class="card-gif-top img-fluid rounded" src="../../../../../assets/games/interpretation_bias_game/images/1.gif" alt="Swipe gif">
                    </div>
                    </div>
                </mat-card-content>
                <hr>
                <button mat-raised-button
                    class='w-100'
                    (click) = "onPlayClicked()"
                    ><b> Start </b> </button>
            </mat-card>
        </div>
    </div>
<!--    
    <br>
    <div class="row">
        <div class="col-12">
            <div class="card">
              <h5 class="card-header">Science behind the game.</h5>
              <div class="card-body">
                <p class="card-text">Research shows that depressed people often jump to a 
                    negative conclusion. Given an ambiguous situation, they think that the 
                    worst outcome is going to happen. This game has been designed to train 
                    your mind to link positive outcomes to ambiguous situations.</p>
              </div>
            </div>
        </div>
    </div> -->
</div>
