<!-- <html>
  <head>

  </head>

  <body> -->
    <div id="start_page" class="">
      <p id="game_name">Executive Control Game</p>
       <!-- <img 
          id="play_button" 
          (click) = "onPlayClicked()"
          src="../../../../../assets/games/play.png"/> -->
        <!-- <div id="tutorial">
          <input type="checkbox" name="tutorial" value="yes">Show me tutorial<br>
        </div> -->
    </div>
    <div class="justify-content-center align-items-center" id="execGame"></div>
  <!-- </body>
</html> -->
