
.step-content {
  margin: 12px 0;
  height: 48px;
  width: 100%;
  box-shadow: 0px 2px 5px #dadada;
  border-radius: 0px 8px 8px 8px;
  padding: 14px 10px;
  a {
    color: #171717;
    height: 100%;
    width: 100%;
    // display: block;
    text-decoration: none;
    &:hover {
      color: #171717;
      text-decoration: none;
    }
    &:active {
      color: #171717;
      text-decoration: none;
    }
  }
  .step-name{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 30px;
  }
}
.step-content.locked {
  a {
    color: #696969;
    &:hover {
      color: #696969;
    }
    &:active {
      color: #696969;
    }
  }
}

.step-content.active {
  background-color: #f5bb56;
}
::ng-deep.mat-tooltip {
  min-height: 35px;
  font-size: 12px;
}
::ng-deep .mat-progress-bar {
  border-radius: 2px;
}
::ng-deep .mat-progress-bar-fill::after {
  background-color: #5E5E5E;
}
::ng-deep .mat-progress-bar-buffer {
  background: #E4E8EB;
}
