<div class="row">
    <div class="col">
        <div class="step-content" [ngClass]="{'locked': locked(), 'active': active()}">
          <a [routerLink]="nextLink()" (click)="navigate($event)" tabindex="0"
            #tooltip = "matTooltip" matTooltipDisabled
            matTooltip="Complete the previous steps first"
          >
            <span>{{stepGroup.sequence+1}}.{{step.sequence+1}}</span>&nbsp; &nbsp;
            <span>{{step.name}}</span>
          </a>
        </div>
    </div>
</div>

