.fix-reading-header-title {
  //margin-top: 2px; //this value is for desktop, phone value will be different and needs to be changed
  margin-top: 13px;
  margin-bottom: 2px;
 // color: white;
  color: black;
  //font-size: 24px; //this value is for desktop, phone value will be different and needs to be changed
  font-size: 24px;
}

.fix-reading-body {
  margin-top: 45px;
  // overflow-y: scroll;
}

.fix-reading-box {
  margin-left: 7px;
  //padding-left: 7px;

  margin-top: 0;
  padding: 0;
  //max-width: 750px;
  //width: 100%;
  // max-width: 400px;

  // margin: 0 auto;
}

@media only screen and (min-width: 769px) {
  .reading-container{
    margin-left: 0px;
    padding-left: 0px;
  }

  .fix-reading-header {
    height: 48px;
    min-height: 42px;
    background-color: black;

  }

  .fix-reading-header-title {
    //margin-top: 2px;
    margin-top: 11px;
    margin-bottom: 18px;
    font-size: 24px;
    color: white;
  } //changing title font size for mobile

  .fix-reading-box{
    margin-left: 16px;
  }


}


