<a 
    class="list-group-item clearfix"
    [ngClass]="{'disabled': module.is_active === false && module.is_completed === false, 
                'active': module.is_active,
                'last': last,
                'first': first}">
    <span
        class="module-link cursor-hand"
        (click)="onModuleItemClicked()">
        <span
            class="status-image"
            [ngClass]="{'locked': module.is_active === false && module.is_completed === false, 
                        'active': module.is_active === true,
                        'done': module.is_completed === true}">
        </span>
        <span class="pull-right module-name align-middle">
            {{module.name}}
        </span>
    </span>
</a>