@import '../../../forms.component.scss';

.done-btn-div {
  position: relative;
  width: 100%;
}

.continue-btn {
  width: 100%;
}
.belief-list {
  height: 405px;
  overflow-y: auto;
}

.close-btn {
  position: absolute;
  top: -15px;
  right: -15px;
}
