<div class="mx-2 my-2">
  <div class="d-flex justify-content-center
    mt-4">
    <h3>Thank {{username}}</h3>
  </div>
  <div >
<p> s simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. </p>
<div class="float-right">
  <button class="close-btn " mat-raised-button (click)="close()"
  >Cancel</button>

  <button class="report-btn ml-2" mat-raised-button (click)="thank()" >Thank</button>
</div>


  </div>

</div>
