<div class="h-100 main-div">
  <div class="text-center">
    <img src="../../../../../../assets/support-group/Thank you1.svg ">
  <br/>
    <h4>Thank {{username}}</h4>
  </div>
  <div class="mt-4">
<p class="text-center" *ngIf="!status"> Let {{username}} know that you found this {{postType}} useful.</p>
    <p *ngIf="status">{{message}}</p>

    <div class="btn-div" >
  <button class="close-btn" *ngIf="!status" mat-flat-button (click)="close()"
  >Cancel</button>

  <button class="report-btn ml-3" mat-flat-button  *ngIf="!showLoading && !status" (click)="thank()" >Thank</button>
  <button class="report-btn ml-3" *ngIf="showLoading" type="button" mat-flat-button >
    <span class="spinner-border spinner-border-sm"></span>
  </button>
  <button class="report-btn ml-2" mat-flat-button  *ngIf="!showLoading && status" (click)="close()" >Ok</button>

</div>


  </div>

</div>
