<div class="m-4">
        <h4 class="text-center">How to play?</h4>
        <img class="game-play-image" src="../../../../../../../assets/games/cognitive-distortion-game/how to play graphic.png">
      
      
        <br>
        <div class="instructionsDiv ">
          <p>
            1. You will be given a situation. <br>
            2. Read the situation carefully.<br>
            3. There will be a corresponding NAT.<br>
            3. Identify the thinking errors.<br>
          </p>
        </div>
      
      
        <div class="ml-auto p-1">
          <button mat-raised-button [color]="'new'" (click)="onStart()" type="button" #startBtn>Start</button>
        </div>
      </div>