<div class="m-4 idcInstructionsDiv ">
  <div class="text-center" style="font-weight: 500;">
        <p class="big-font ">How to play?</p>
        <img class="game-play-image" src="../../../../../../../assets/games/cognitive-distortion-game/how to play graphic.png">
      </div>

        <br>
        <br>
        <div class="instructionsDiv smallest-font ml-3 ">
          <p>
            1. You will be given a situation. <br>
            2. Read the situation carefully.<br>
            3. There will be a corresponding Negative Thought (NAT).<br>
            3. Identify the thinking errors.<br>
          </p>
        </div>

        <br>
        <br>
        <div class="ml-auto p-1">
          <button mat-raised-button [color]="'new'" (click)="onStart()" type="button" #startBtn>Start</button>
        </div>
      </div>
