<div id="no-use-div" #target ></div>
<div class="container" >
  <div class="row"  >
    <div class="col-lg-7 col-md-9 col-sm-12 fix-content-box " >


        <mat-card-header class="fix-content-header d-flex justify-content-center" >


          <mat-card-title class="fix-content-header-title "  [innerHTML]="displayHtmlHeader"  ></mat-card-title>
        </mat-card-header>
      <mat-card >
        <mat-card-content class="fix-content-body "
                          [innerHTML]="displayHtml" *ngIf = "dataloaded; else loader "
        ></mat-card-content>
        <div class = "d-flex flex-row justify-content-end">

        <app-step-completed [showNextStep]="nextBtnShow"  [showloading]="showLoading"  [isLastStep]='isLastStep' [lastStepCompleted]='lastStepCompleted'
                            (gotodashboard) = "onHtmlDashboard()" (completedEvent) = "onHtmlComplete()"  (nextStepEvent) = "onHtmlNextClick()"></app-step-completed>
        </div>
      </mat-card>

    </div>
  </div>
</div>

<ng-template #loader>
  <div class = "col">
    <div class="text-center loader">
      <img src = "assets/shared/dna-loader.svg" alt="loader" width="200">
    </div>
  </div>
</ng-template>
<ng-template #nextLoad>
  <div class="col">
    <span class="spinner-border spinner-border-sm  " role="status" aria-hidden="true"></span>
  </div>
</ng-template>

