<ng-template [ngIf]="!showQuestionnaire">
  <div id="no-use-div" #target ></div>
<div class="container ml-0" >
  <div class="row" mx-0  >
    <div class="col-lg-7 col-md-9 col-sm-12 fix-content-box "  >


        <mat-card-header class="fix-content-header d-flex"  >


          <mat-card-title class="fix-content-header-title "  [innerHTML]="displayHtmlHeader" *ngIf = "this.nextDataLoaded" ></mat-card-title>
        </mat-card-header>
      <mat-card >
        <mat-card-content class="fix-content-body "
                          [innerHTML]="displayHtml" *ngIf = "this.dataloaded && this.nextDataLoaded; else loader "
        ></mat-card-content>
        <div class = "d-flex flex-row" *ngIf = "this.dataloaded && this.nextDataLoaded">
          <div *ngIf="isLastStep" class="content-body">
            <app-evaluate-mood [moodEvaluate]="moodEvaluate" ></app-evaluate-mood>
          </div>
        </div>
        <div class = "d-flex flex-row justify-content-end" >

        <div *ngIf="!moodEvaluate && this.nextDataLoaded" >
            <app-step-completed [showNextStep]="nextBtnShow"  [showloading]="showLoading"  [isLastStep]='isLastStep' [lastStepCompleted]='lastStepCompleted'
                                (gotodashboard) = "onHtmlDashboard()" (completedEvent) = "onHtmlComplete()"  (nextStepEvent) = "onHtmlNextClick()"></app-step-completed>
          </div>
          <div #target2 id="dummyDiv"> </div>


        </div>
      </mat-card>

    </div>
  </div>
</div>
</ng-template>

<ng-template #loader>
  <div class = "col">
    <div class="text-center loader">
      <img src = "assets/shared/loading-gif.gif" alt="loader" width="80">
    </div>
  </div>
</ng-template>
<ng-template #nextLoad>
  <div class = "col">
    <div class="text-center loader">
      <img src="assets/shared/loading-gif.gif" alt="loader" width="80" />
    </div>
  </div>
</ng-template>
<ng-template [ngIf]="showQuestionnaire">
  <div class="row" >
    <app-questionnaire class="w-100" [fromFlow]="true" [stepId]="null" [fromTrialRegistration]="false"></app-questionnaire>
  </div>
</ng-template>

