.fix-content-header{
  background-color: black;
  }

.fix-content-header-title{
  margin-top: 2px; //this value is for desktop, phone value will be different and needs to be changed
  margin-bottom: 2px;
  color: white;
  font-size: 24px ; //this value is for desktop, phone value will be different and needs to be changed
 }

.fix-content-body{
  margin-top: 45px;
  }

.fix-content-box{
  margin: 4%;
  }

.btnn{
  color: #343434;
}

@media only screen and (min-width: 768px){
  .fix-content-header{
   height: 42px;
    min-height: 42px;
  }

  .fix-content-header-title{
  }//changing title font size for mobile

}
