<div class="px-3 py-3 main-div">
  <h5 class="text-center">Science behind the game</h5>
  <p>This game is designed to help you understand how the different explanatory styles contribute to depression. Play the game to learn more. After you play the game once, you can also watch this video in the Resources to learn more about your <a href="https://www.treadwill.org/main/extra-resources/videoItem/10">explanatory styles</a>.</p>
  <div  class="text-center">
    <button mat-raised-button (click)= "onClose()" [color]="'btn-color'"> close </button>
  </div>
</div>
