.main-div {
  font-family: Roboto;
}

.mat-btn-color {
  background-color: #5A64DF !important;
  border-color: #5A64DF !important;
  color: #FFF;
  min-width: 64px;
  font-size: 16px;
}
h5 {
  color :#5A64DF !important;
}
