<div class="container text-center m-3">
        <img class="playAgainImg" src="../../../../../../../assets/games/cognitive-distortion-game/play again.png">
      
      
        <p class="large-font"><b>Play Again</b></p>
        <p class="smallest-font">You could not perform well.</p>
        <div class="row small-font" (click)=continuePlay()>
                <img style="width:32px;height:32px;" 
                     class="replayImg mr-3" 
                     src="../../../../../../../assets/games/cognitive-distortion-game/replay.png"
                     >
                <p class="mt-1">Replay</p>

        </div>
        <br> 
        <div class="row small-font" (click)=addTimePlay()>
                <img style="width:32px;height:32px;" 
                     class="timerImg mr-3" 
                     src="../../../../../../../assets/games/cognitive-distortion-game/time.png"
                     >
                <p class="mt-1">Add 20s to the clock for 20 points.</p>
        </div>


      </div>
      