<div class="container my-3">
  <div class="text-center">
    <img class="playAgainImg" src="../../../../../../../assets/games/cognitive-distortion-game/0 sec.png">


    <p class="large-font"><b>Time's Up!</b></p>
  </div>


  <div class="row small-font mx-2" (click)=continuePlay()>
    <img style="width:32px;height:32px;" class="replayImg mr-3"
      src="../../../../../../../assets/games/cognitive-distortion-game/replay.png">
    <p class="mt-1">Replay</p>

  </div>
  <br>
  <div class="row small-font mx-2" (click)=addTimePlay() #tooltip="matTooltip" matTooltipDisabled
    matTooltip={{tooltipData}}>
    <img style="width:32px;height:32px;" class="timerImg mr-3"
      src="../../../../../../../assets/games/cognitive-distortion-game/time.png">
    <p class="mt-1">Add 20s to the clock for {{idcExtraScore}} points.</p>
  </div>


</div>
