

.completed-btn {
  font-size: 14px;
  width: 140px;
  color: white;
  background-color: #2a3b3d;
  text-align: center;
  justify-content: center;
  //margin: 16px 0;
}
.round-btn {
  border-radius: 24px;
  height: 48px;
}


#flow-img {
  height: 32px;
}
@media screen and (max-width: 576px) {
  .round-btn {
    border-radius: 24px;
    height: 40px;
  }
}
