

.completed-btn {
  font-size: 14px;
  width: 140px;
  color: white;
  background-color: #2a3b3d;
  text-align: center;
  justify-content: center;
  //margin: 16px 0;
}



#flow-img {
  height: 32px;
}
