<button class="completed-btn float-right" type="button" mat-raised-button *ngIf="!showNextStep && !showloading && !lastStepCompleted" (click)="onCompleted()">
  Completed
</button>
<button class="completed-btn float-right" *ngIf="showloading" type="button" mat-raised-button >
  <span class="spinner-border spinner-border-sm"></span>
  &nbsp; Loading..
</button>
<button class="completed-btn float-right" type="button" mat-raised-button *ngIf="showNextStep && !isLastStep" (click)="onNextStep()">
  <img id="flow-img" src="../../../../../assets/shared/Go to icon.png">
  Next Step
</button>
<button class="completed-btn h-100  float-right" type="button" *ngIf='lastStepCompleted' mat-raised-button
          color="primary" (click)="onDashboardClicked()">
          Go to dashboard
        </button>
