.heading{
  font-size: 20px;
  margin-bottom: 12px;
  font-family: Roboto ;
  font-weight: initial;
  margin-top: 24px;
}

.see-all{
 // float: right;
  float: none;
  text-decoration-color: #1a77e2;
  color: #1a77e2;
  cursor: pointer;
  white-space: nowrap;
}
.see-all-icon {
  transform: rotate(180deg);
}
.show-all-cards{
  overflow: visible;
  height: auto;
}
.videos-card-hidden{
  overflow: hidden;
}
.reading-card-hidden {
  overflow: hidden;
}

i {
  border: #1a77e2;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}


.down{
  box-sizing: border-box;
  height: 1vw;
  width: 1vw;
  border-style: solid;
  border-color: #1a77e2;
  border-width: 0px 0.5px 0.5px 0px;
  transform: rotate(45deg);
}

.up{
  box-sizing: border-box;
  height: 1vw;
  width: 1vw;
  border-style: solid;
  border-color: #1a77e2;
  border-width: 0px 0.5px 0.5px 0px;
  transform: rotate(-135deg);
  margin-bottom: -2px;
}

@media only screen and (min-width: 1701px){
  .resources-container{
    margin: 0px;
    max-width: 1700px;
  }
  .videos-card-hidden{
    height: 296px;
  }
  .reading-card-hidden{
    height: 296px;
  }
  .each-item{
    padding: 0px 16px 32px;
    width: 25%;
  }

  .heading{
    font-size: 24px;
    padding-left: 18px;
  }
  .see-all{
    padding-right: 1%;
    float: right;
  }
  .space-below-section{
    padding-bottom: 86px;
  }
}
@media screen and (max-width: 1700px) {
  .resources-container {
    margin: 0px;

  }
  .videos-card-hidden {
    height: 220px;
  }
  .reading-card-hidden {
    height: 220px;
  }
  .each-item{
    padding: 0px 16px 32px;
    width: 25%;
  }

  .heading{
    font-size: 24px;
    padding-left: 9px;
  }
  .see-all{
    padding-right: 1.5%;
    float: right;
  }
  .space-below-section{
    padding-bottom: 47px;
  }
}

@media screen and (max-width: 1500px){
  .resources-container{
    margin:0px;

  }
  .videos-card-hidden{
    height: 200px;
  }
  .reading-card-hidden{
    height: 200px;
  }
  .each-item{
    padding: 0px 16px 32px;
    width: 25%;
  }

  .heading{
    font-size: 24px;
    padding-left: 9px;
  }
  .see-all{
    padding-right: 1.5%;
    float: right;
  }
  .space-below-section{
    padding-bottom: 47px;
  }
}
@media screen and (width: 1366px) {
  .videos-card-hidden{
    height: 198px;
  }
  .reading-card-hidden{
    height: 198px;
  }
  .space-below-section{
    padding-bottom: 47px;
  }
}
@media screen and (max-width: 1280px){
  .resources-container{
    margin: 0px;
  }
  .videos-card-hidden{
    height: 166px;
  }
  .reading-card-hidden{
    height: 166px;
  }
  .each-item{
    padding: 0px 10px 32px;
    width: 25%;
  }

  .heading{
    font-size: 24px;
    padding-left: 9px;
  }
  .see-all{
    padding-right: 1.5%;
    float: right;
  }
  .space-below-section{
    padding-bottom: 47px;
  }

}

@media screen and (max-width: 991px) {
  .resources-container{
    margin:0px;

  }
  .videos-card-hidden{
    height: 166px;
  }
  .reading-card-hidden{
    height: 166px;
  }
  .each-item{
    padding: 0px 7px 14px;
    width: 25%;
  }

  .heading{
    font-size: 24px;
    padding-left: 9px;
  }
  .see-all{
    padding-left: 90% ;
  }
  .space-below-section{
    padding-bottom: 27px;
  }
}

@media screen and (max-width: 768px) {
  .resources-container{
    padding: 0 9px;
    margin:0px;

  }
  .videos-card-hidden{
    height: 166px;
  }
  .reading-card-hidden{
    height: 166px;
  }


  .each-item{
    padding: 0px 7px 14px;
    width: 25%;
  }

  .heading{
    font-size: 24px;
    padding-left: 9px;
  }
  .see-all{
    padding-left: 90% ;
  }
  .space-below-section{
    padding-bottom: 27px;
  }
}

@media screen and (max-width: 525px) {
  .resources-container{
    padding: 0px 9px 21px;
    margin:0px;
  }
  .heading{
    padding-left: 9px;
  }
  .each-item{
    padding: 0px 7px 14px;
    width: 50%;
  }
  .videos-card-hidden{
    height: 362px;
  }
  .reading-card-hidden{
    height: 362px;
  }
  .see-all{
    padding-left: 82% ;
  }
  .space-below-section{
    padding-bottom: 27px;
  }
}

@media screen and (max-width: 375px) {
  .resources-container{
    padding: 0px 9px;
    margin: 0px;
  }
  .heading{
    padding-left: 9px;
  }

  .videos-card-hidden{
    height: 342px;

  }
  .reading-card-hidden{
    height: 322px;
  }

  .each-item{
    padding: 0px 7px 14px;
    width: 50%;
  }

  .see-all{
    padding-left: 80% ;
  }
  .space-below-section{
    padding-bottom: 27px;
  }
}
@media screen and (max-width: 320px) {
  .videos-card-hidden{
    height: 302px;

  }
  .reading-card-hidden{
    height: 302px;
  }
  .see-all {
    padding-left: 80% ;
  }
  .space-below-section{
    padding-bottom: 27px;
  }
}

