.heading{
  font-size: 20px;
  margin-bottom: 12px;
  font-weight: bold;
  margin-top: 24px;
}

.see-all{
  text-decoration-color: #1a77e2;
  color: #1a77e2;
  cursor: pointer;
  white-space: nowrap;
}

.show-all-cards{
  overflow: visible;
  height: auto;
}
.videos-card-hidden{
  overflow: hidden;
}
.reading-card-hidden {
  overflow: hidden;
}

i {
  border: #1a77e2;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}


.down{
  box-sizing: border-box;
  height: 1vw;
  width: 1vw;
  border-style: solid;
  border-color: #1a77e2;
  border-width: 0px 0.5px 0.5px 0px;
  transform: rotate(45deg);
}

.up{
  box-sizing: border-box;
  height: 1vw;
  width: 1vw;
  border-style: solid;
  border-color: #1a77e2;
  border-width: 0px 0.5px 0.5px 0px;
  transform: rotate(-135deg);
  margin-bottom: -2px;
}

@media only screen and (min-width: 1501px){
  .resources-container{
    padding: 0px 0px 0px 84px;
    margin: 0px;
    max-width: 1700px;


  }
  .videos-card-hidden{
   // height: 335px;//for 1 row
    height: 347px;
  }
  .reading-card-hidden{
    height: 449px;// for 1 row
  }
  .each-item{
     padding: 0px 16px;
  }

  .heading{
    font-size: 24px;
    padding-left: 18px;
  }
  .see-all{
    padding-left: 88% ;
  }
}

@media screen and (max-width: 1500px){
  .resources-container{
    padding: 0px 0px 0px 84px;
    margin:0px;

  }
  .videos-card-hidden{
    height: 250px;
  }
  .reading-card-hidden{
    height: 419px;// for 1 row
  }
  .each-item{
    padding: 0px 7px;
  }

  .heading{
    font-size: 24px;
    padding-left: 9px;
    //margin-left: 10%;
  }
  .see-all{
    padding-left: 92% ;
  }
}

@media screen and (max-width: 1280px){
  .resources-container{
    padding: 0px 0px 0px 84px;
    margin: 0px;
  }
  .videos-card-hidden{
    height: 230px;//for 1 row
  }
  .reading-card-hidden{
    height: 419px;// for 1 row
  }
  .each-item{
    padding: 0px 7px;
  }

  .heading{
    font-size: 24px;
    padding-left: 9px;
  }
  .see-all{
    padding-left: 86% ;
  }

}

@media screen and (max-width: 991px) {
  .resources-container{
    padding: 0px 0px 0px 84px; //top right bottom left
    margin:0px;

  }
  .videos-card-hidden{
    height: 247px;//for 1 row
  }
  .reading-card-hidden{
    height: 342px;// for 1 row
  }
  .each-item{
    padding: 0px 7px;
  }

  .heading{
    font-size: 24px;
    padding-left: 9px;
  }
  .see-all{
    padding-left: 88% ;
  }
}

@media screen and (max-width: 768px) {
  .resources-container{
    padding: 0 9px;
    margin:0px;

  }
  .videos-card-hidden{
    height: 178px; //for 1 row
  }
  .reading-card-hidden{
    height: 429px;// for 1 row
  }


  .each-item{
    padding: 0px 7px;
  }

  .heading{
    font-size: 24px;
    padding-left: 9px;
  }
  .see-all{
    padding-left: 88% ;
  }
}

@media screen and (max-width: 525px) {
  .resources-container{
    padding: 0px 9px;
    margin:0px;
  }
  .heading{
    padding-left: 9px;
  }
  .each-item{
    padding: 0px 7px;
  }
  .videos-card-hidden{
    height: 394px;//for2 rows
  }
  .reading-card-hidden{
    height: 394px;
  }
  .see-all{
    padding-left: 77% ;
  }
}

@media screen and (max-width: 375px) {
  .resources-container{
    padding: 0px 9px;
    margin: 0px;
  }
  .heading{
    padding-left: 9px;
  }

  .videos-card-hidden{
    height: 354px;//to set

  }
  .reading-card-hidden{
    height: 354px;
  }

  .each-item{
    padding: 0px 7px;
  }

  .see-all{
    padding-left: 75% ;
  }
}

