.heading{
  font-size: 20px;
  margin-bottom: 12px;
  font-family: Roboto ;
  font-weight: initial;
  margin-top: 24px;
}

.end-space{
  padding-bottom: 48px;
}
.line{
  height: 1px;
  width: 100%;
  background-color:black;
  opacity: 20%;
  display: block;

}
//div.top-nav-tabs{
//  overflow-x: auto;
//  //white-space: nowrap;
//}
.tab-style{
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
  font-size: 24px;
  margin-left: 56px;
  padding: 2px 20px;
  opacity: 40%;
}
.tab-style-selected{
  opacity: 100%;
  border-bottom: 2px solid #000;
}
.see-all{
 // float: right;
  float: none;
  text-decoration-color: #1a77e2;
  color: #1a77e2;
  cursor: pointer;
  white-space: nowrap;
}
.see-all-icon {
  transform: rotate(180deg);
}
.show-all-cards{
  overflow: visible;
  height: auto;
}
.videos-card-hidden{
  overflow: hidden;
}
.reading-card-hidden {
  overflow: hidden;
}
.ques-card-hidden {
  overflow: hidden;
}
.todo-card-hidden {
  overflow: hidden;
}

i {
  border: #1a77e2;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}


.down{
  box-sizing: border-box;
  height: 1vw;
  width: 1vw;
  border-style: solid;
  border-color: #1a77e2;
  border-width: 0px 0.5px 0.5px 0px;
  transform: rotate(45deg);
}

.up{
  box-sizing: border-box;
  height: 1vw;
  width: 1vw;
  border-style: solid;
  border-color: #1a77e2;
  border-width: 0px 0.5px 0.5px 0px;
  transform: rotate(-135deg);
  margin-bottom: -2px;
}

@media only screen and (min-width: 1801px){
  .resources-container{
    margin: 0px;
    max-width: 1700px;
  }
  .videos-card-hidden{
    height: 296px;
  }
  .reading-card-hidden{
    height: 296px;
  }
  .ques-card-hidden{
    height: 730px;
  }
  .each-item{
   // padding: 0px 32px 0px 32px;
    padding: 0px 32px 0px 0px;
    width: 25%;
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .heading{
    font-size: 24px;
    //padding-left: 5px;
  }
  .see-all{
    padding-right: 2%;
    float: right;
  }
  .space-below-section{
    padding-bottom: 86px;
  }
  .end-space{
    padding-bottom: 156px;
  }
}
@media screen and (max-width: 1800px) {
  .resources-container {
    margin: 0px;

  }
  .videos-card-hidden {
    height: 230px;
  }
  .reading-card-hidden {
    height: 230px;
  }
  .ques-card-hidden{
    height:720px;
  }
  .each-item{
    //padding: 0px 16px 32px;
    padding: 0px 27px 0px 5px;
    width: 25%;
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .heading{
    font-size: 24px;
   // padding-left: 5px;
  }
  .see-all{
    padding-right: 2.6%;
    float: right;
  }
  .space-below-section{
    padding-bottom: 47px;
  }
  .end-space{
    padding-bottom: 156px;
  }
}

@media screen and (max-width: 1500px){
  .resources-container{
    margin:0px;

  }
  .videos-card-hidden{
    height: 220px;
  }
  .reading-card-hidden{
    height: 220px;
  }
  .ques-card-hidden{
    height: 705px;
  }
  .each-item{
    // padding: 0px 16px 32px;
    padding: 0px 27px 0px 5px;
    width: 25%;
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .heading{
    font-size: 24px;
    padding-left: 5px;
  }
  .see-all{
    padding-right: 2.8%;
    float: right;
  }
  .space-below-section{
    padding-bottom: 47px;
  }
  .end-space{
    padding-bottom: 156px;
  }
}
@media screen and (width: 1366px) {
  .videos-card-hidden{
    height: 198px;
  }
  .reading-card-hidden{
    height: 198px;
  }
  .ques-card-hidden{
    height: 680px;
  }
  .space-below-section{
    padding-bottom: 47px;
  }
  .end-space{
    padding-bottom: 144px;
  }
}
@media screen and (max-width: 1280px){
  .resources-container{
    margin: 0px;
  }
  .videos-card-hidden{
    height: 198px;
  }
  .reading-card-hidden{
    height: 198px;
  }
  .ques-card-hidden{
    height:680px;
  }
  .each-item{
    // padding: 0px 10px 32px;
    padding: 0px 15px 0px 5px;
    width: 25%;
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .heading{
    font-size: 24px;
    padding-left: 5px;
  }
  .see-all{
    padding-right: 2.5%;
    float: right;
  }
  .space-below-section{
    padding-bottom: 47px;
  }
  .end-space{
    padding-bottom: 156px;
  }
}

@media screen and (max-width: 991px) {
  .resources-container{
    margin:0px;

  }
  .videos-card-hidden{
    height: 166px;
  }
  .reading-card-hidden{
    height: 166px;
  }
  .ques-card-hidden{
    height: 620px;
  }
  .each-item{
    padding: 0px 7px 14px;
    width: 25%;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .heading{
    font-size: 24px;
    padding-left: 7px;
  }
  .see-all{
    padding-left: 90% ;
  }
  .space-below-section{
    padding-bottom: 27px;
  }
  .end-space{
    padding-bottom: 156px;
  }
}

@media screen and (max-width: 768px) {
  .resources-container{
    padding: 0 9px;
    margin:0px;

  }
  .videos-card-hidden{
    height: 150px;
  }
  .reading-card-hidden{
    height: 150px;
  }
  .ques-card-hidden{
    height: 600px;
  }


  .each-item{
    padding: 0px 7px 14px;
    width: 25%;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .heading{
    font-size: 24px;
    padding-left: 7px;
  }
  .see-all{
    padding-left: 94% ;
  }
  .space-below-section{
    padding-bottom: 27px;
  }
  .end-space{
    padding-bottom: 156px;
  }
  div.top-nav-tabs{
    overflow-x: auto;
    white-space: nowrap;
  }
  .line{
    display: none;
  }
  .tab-style{
    display:inline-block;;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    padding: 12px 16px;
    margin: 0;
    opacity: 40%;

  }
  .tab-style-selected{
    opacity: 100%;
    border-bottom:none;
    position: relative;
  }
  .tab-style-selected:after{
    content: "";
    background: black;
    position: absolute;
    bottom: 0;
    left: 30%;
    height: 2px;
    width: 40%;
    border-bottom: 1px solid #000;
  }
}

@media screen and (max-width: 525px) {
  .resources-container{
    padding: 0px 9px 21px;
    margin:0px;
  }
  .heading{
   padding-left: 9px;
  }
  .each-item{
    padding: 0px 7px 14px;
    width: 50%;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .videos-card-hidden{
    height: 408px;
  }
  .reading-card-hidden{
    height: 408px;
  }
  .ques-card-hidden{
    height: 600px;
  }
  .see-all{
    padding-left: 82% ;
  }
  .space-below-section{
    padding-bottom: 27px;
  }
  .end-space{
    padding-bottom: 90px;
  }
}

@media screen and (max-width: 425px) {
  .resources-container{
    padding: 0px 9px;
    margin: 0px;
  }
  .heading{
    padding-left: 9px;
  }

  .videos-card-hidden{
    height: 350px;

  }
  .reading-card-hidden{
    height: 350px;
  }
  .ques-card-hidden{
    height:585px;
  }

  .each-item{
    padding: 0px 7px 14px;
    width: 50%;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .see-all{
    padding-left: 80% ;
  }
  .space-below-section{
    padding-bottom: 27px;
  }
  .end-space{
    padding-bottom: 90px;
  }
}
@media screen and (max-width: 320px) {
  .videos-card-hidden{
    height: 302px;

  }
  .reading-card-hidden{
    height: 302px;
  }
  .ques-card-hidden{
    height:585px;
  }
  .see-all {
    padding-left: 80% ;
  }
  .space-below-section{
    padding-bottom: 27px;
  }
  .end-space{
    padding-bottom: 90px;
  }
}

