@import '../forms.component.scss';

.mat-checkbox  {
    margin-left : 20px;
}
.worryBox{
    // width: 760px;
    // height: 78px;
    position : relative;
    background: #F5F5F5 0% 0% no-repeat padding-box;
    border: 0.5px dashed #0000005E;
    border-radius: 4px;
    opacity: 1;
}
.worryText{
     color: #00000099;
     padding-left: 10px;

}
.worrybody{
    color : black ;
    padding-left: 10px;
}