<div class="row" *ngIf="module else loading">
  <header class="col-12 module-header">
    <h1>{{module.name}}</h1>
  </header>
</div>
<ng-template #loading>
    <div
      class="col-12 catLoading d-flex align-items-center justify-content-center">
      <img src="assets/shared/dna-loader.svg" alt="dna">
  </div>
</ng-template>
<div
    *ngIf="(categories$ | async) as categories else catLoading"
    class="row">
    <div
      class="col-3 category"
      *ngFor="let category of categories;
              let last = last;
              let first = first">
      <app-category-big
        [category]="category"
        [first]="first"
        [last]="last"
        (categorySelected)="onCategorySelected($event)">
      </app-category-big>
    </div>
</div>
<ng-template #catLoading>
  <div class="row">
      <div
        class="col-12 catLoading d-flex align-items-center justify-content-center">
        <img src="assets/shared/dna-loader.svg" alt="dna" >
      </div>
  </div>
</ng-template>

<div class="body">
  <div *ngIf="(selectedCategory$ | async) as category">
    <div class="row d-flex justify-content-around justify-content-sm-between">
      <div
        *ngFor="let section of category.sections"
        class="section">
        <app-section-card [section]="section"></app-section-card>
      </div>
    </div>
  </div>
</div>

