@import 'color.palette.scss';
@import 'styles.scss';

.module-header{
    background-color: #dbf2ec;
    height: 300px;
    position: relative;
    h1 {
        @include font-montserrat($font-weight: 400);
        position: absolute;
        top: 240px;
    }
}
.category {
    background-color: $mat-white;
    text-align: center;
    padding: 0px;
    border-right: 1px solid #d1d1d1;
    border-bottom: 2px solid #d1d1d1;
}
.catLoading {
    height: 200px;
    background-color: $mat-white;
}
.category:last-child {
    border-right: 1px solid transparent;
}
.body {
    background-image: url("assets/modules/background.png");
    min-height: 50vh;
    padding-top: 50px;
    padding-bottom: 40px;
}

@media only screen and (max-width: 767px) {
    .module-header{
        background-color: #dbf2ec;
        height: 250px;
        position: relative;
        h1 {
            @include font-montserrat($font-weight: 300);
            position: absolute;
            top: 200px;
            font-size: 1.8rem;
        }
    }
}