<div class="main-div">
  <h5 class="text-center">Report problem</h5>
  <p style="margin-top: 32px"> What was the problem you faced?</p>
  <mat-form-field [floatLabel]="'never'" style="width: 100%">
      <textarea matInput [(ngModel)]="problem"
                cdkTextareaAutosize
                cdkAutosizeMinRows="1"
                placeholder="Write here"></textarea>
  </mat-form-field>

  <div class="d-flex flex-row mt-auto float-right btn-div " >
    <button class="close-btn " mat-flat-button (click)="close()"
    >Cancel</button>

    <button class="report-btn ml-3 " mat-flat-button (click)="submit()" >
      <span class="spinner-border spinner-border-sm" *ngIf="showLoading"></span>
      <span *ngIf="!showLoading" > Submit</span> </button>
  </div>
</div>
