<div class="mx-3 my-2">

  <b class="heading">Types of thinking errors</b>
  <div class="smallest-font mt-2">
    <div>
      <b>1. Overgeneralization </b>
      <p class="smallest-font">
        You tend to generalize one negative thing that happened to you to all parts of your life.
      </p>
    </div>
    <div>
      <b>2. Labeling </b>
      <p class="smallest-font">
        You assign yourself or others a fixed, generalized label based on a few instances.
      </p>
    </div>
    <div>
      <b>3. Magnification</b>
      <p class="smallest-font">
        You magnify the negative aspects of yourself, a situation, or a person while ignoring the positive aspects.
      </p>
    </div>
    <div>
      <b>4. Minimization</b>
      <p class="smallest-font">
        You minimize the positive aspects of yourself, a situation, or a person while ignoring the positive aspects.
      </p>
    </div>
    <div>
      <b>5. Ignoring the positive </b>
      <p class="smallest-font">
        You ignore anything positive about yourself.
      </p>
    </div>
    <div>
      <b>6. All-or-none thinking </b>
      <p class="smallest-font">
        You think in extremes and avoid taking any middle ground. You divide everything in either perfect or absolute
        crap.
        There is nothing called “good enough” in your dictionary
      </p>
    </div>
    <div>
      <b>7. Self-blame</b>
      <p class="smallest-font">
        You believe that you are the cause of all the bad things happening to you.
        Everything that is going wrong is your fault.
      </p>
    </div>
    <div>
      <b>8. Should statement </b>
      <p class="smallest-font">
        You know how you or others should behave, and when these criteria are not met, you can't stand it.

      </p>
    </div>
    <div>
      <b>9. Mental filter </b>
      <p class="smallest-font"> 
        You focus on one negative aspect rather than seeing the complete picture.

      </p>
    </div>
    <div>
      <b>10. Emotional reasoning </b>
      <p class="smallest-font">
        You assume your thought is true just because you feel it is true. You ignore any and all evidence to the
        contrary.

      </p>
    </div>
    <div>
      <b>11. Jumping to conclusion </b>
      <p class="smallest-font">
        Mind reading - You are sure you know what others are thinking.
        Catastrophizing - You are sure that the worst possible outcome will occur.
      </p>
    </div>
  </div>
  <div class="mx-auto p-1">
    <button mat-raised-button [color]="'new'" (click)="closePopup()" type="button">Back to game</button>
  </div>

</div>
