<div class="container-fluid py-4">
    <div class="row">
        <div class="col">
            <div class="col-12 my-3">
                <span (click)="onAboutUsClick()"> About Us </span> 
            </div>
            <div class="col-12 my-3">
                <span (click)="onFAQClick()"> FAQ </span>
            </div>
            <div class="col-12 my-3">
                <span (click)="onContactUsClick()"> Contact Us </span>
            </div>
        </div>
        <div class="col">
            <div class="col-12 my-3">
                <span (click)="onPrivacyPolicyClick()"> Privacy Policy </span>
            </div>
            <div class="col-12 my-3">
                <span (click)="onTermsConditions()"> Terms & Conditions </span>
            </div>
        </div>
        <div class="col-12 my-3">
            <div class="col">
                © 2019 TreadWill
            </div>
        </div>
    </div>
</div>

