<div class="container-fluid py-4">
    <div class="row">
        <div class="col">
            <div class="col-12 my-3">
                About Us
            </div>
            <div class="col-12 my-3">
                FAQ
            </div>
            <div class="col-12 my-3">
                Contact Us
            </div>
        </div>
        <div class="col">
            <div class="col-12 my-3">
                Privacy Policy
            </div>
            <div class="col-12 my-3">
                Terms & Condition
            </div>
        </div>
        <div class="col-12 my-3">
            <div class="col">
                © 2019 TreadWill
            </div>
        </div>
    </div>
</div>

