@import "../shared/common-styles.scss";

.wrap-mat-radio-label {
  white-space: normal;
}

.selectPanel{
  width: 100%   !important;
  max-width: 330px  !important;
}

.mat-selected {
  color: #F5BB56 !important;
}


.checkedBtn{
  opacity: 1;
}

.unChecked {
  opacity: 0.54;
}
