<p>ffg-science works!</p>
<div class="row justify-content-center">
    <div class="col-12">
        <div class="card">
            <h5 class="card-header">Science behind the game.</h5>
            <div class="card-body">
                <p class="card-text">It has been shown that depressed people have very 
                    poor self-esteem. Their self-esteem is dependent on other people's 
                    approval. Let's say a depressed person is talking to a group of 
                    friends, and he cracks a joke. If some of his friends don't laugh at 
                    his joke, he will forget about the rest of his interactions with his 
                    friends and focus just on this fact that some of his friends didn't 
                    laugh at his joke. He might have thoughts like "My friends think I am 
                    stupid" based on this. He will ignore the fact that this was a one-time 
                    event and that some of his friends did laugh at his joke. One of the reasons 
                    why this happens is that depressed individuals tend to selectively focus on 
                    negative information and ignore positive information. This bias for negative 
                    information has a further negative impact on the person's self-esteem.
                <br>
                The "Identify the friendly face" game is supposed to modify this 
                bias for negative information. It is supposed to train depressed 
                individuals to focus on positive information and ignore negative 
                information. We expect it to help improve their self-esteem and 
                eventually with depression. But, you have to do it from time to time. 
                You can't just do it once or twice and leave it.</p>
            </div>
        </div>
    </div>
</div>

<button (click)= "onclose()"> close </button>