<div class="px-3 py-3 main-div">
  <h5 class="text-center">Science behind the game</h5>
  <p class="card-text">It has been shown that depressed people have very
    poor self-esteem. Their self-esteem is dependent on other people's
    approval. Let's say a depressed person is talking to a group of
    friends, and he cracks a joke. If some of his friends don't laugh at
    his joke, he will forget about the rest of his interactions with his
    friends and focus just on this fact that some of his friends didn't
    laugh at his joke. He might have thoughts like "My friends think I am
    stupid" based on this. He will ignore the fact that this was a one-time
    event and that some of his friends did laugh at his joke. One of the reasons
    why this happens is that depressed individuals tend to selectively focus on
    negative information and ignore positive information. This bias for negative
    information has a further negative impact on the person's self-esteem.
    <br>
    The "Identify the friendly face" game is supposed to modify this
    bias for negative information. It is supposed to train depressed
    individuals to focus on positive information and ignore negative
    information. We expect it to help improve their self-esteem and
    eventually with depression. But, you have to do it from time to time.
    You can't just do it once or twice and leave it.</p>
  <div  class="text-center">
    <button mat-raised-button (click)= "onclose()" [color]="'btn-color'"> close </button>
  </div>

</div>


