<div class="m-3 justify-content-center ">
        <div class="big-font text-center"><b>Great</b></div>
        <div class="instructionsDiv smallest-font m-1 ">
          <p>
            Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. 
    
          </p>
        </div>
        <img class="great-image" src="../../../../../../../assets/games/learning-helplessness/assets/Pop-up graphic (Great).png">
      
      
        <br>
        <div class="instructionsDiv smallest-font m-1 ">
          <p>
            Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. 
    
          </p>
        </div>
      
      
        <div class="ml-auto p-1 mt-2" >
            <button mat-raised-button [color]="'new'" (click)="onShowSummary()" id="summaryBtn" type="button" #showSummaryBtn>Go to summary</button>
          </div>
      </div>
      
