<div class="m-3 justify-content-center ">
  <div class="big-font text-center"><b>Great</b></div>
  <div class="instructionsDiv smallest-font m-1 ">
    <p>
      You have completed all the levels in this game. You didn't give up even when the levels got difficult.
    </p>
  </div>
  <img class="great-image" src="../../../../../../../assets/games/learning-helplessness/assets/Pop-up graphic (Great).png">


  <br>
  <div class="instructionsDiv smallest-font m-1 ">
    <p>
      Most TreadWill users gave up when faced with the difficult levels. After giving up, they couldn't solve a level
      that they had solved earlier. One of the explanations for this effect is called Learned Helplessness. Click on
      the button below to learn more about Learned Helplessness.
    </p>
  </div>


  <div class="ml-auto p-1 mt-2" >
    <button mat-raised-button [color]="'new'" (click)="onShowSummary()" id="summaryBtn" type="button" #showSummaryBtn>Go to summary</button>
  </div>
</div>

