<div class="row ">
  <div class="col ">
    <!--<a routerLink = "/videoItem" -12 col-sm-6 col-md-6 col-lg-4>

    -->

      <mat-card class="card ">
        <div class = "preview-img-div">
        <img class = "preview-img" [src]="videoItem.preview_img" >
        <img class = "youtube-button" src = "assets/icons/youtube.png">
        </div>
        <!--no image from backend but make the preview of the video visible-->

        <!--<mat-card-footer [ngClass] = "showState == true ? 'footer-font' :'show'" [innerHTML]="videoItem.title" ><a (click) = "expandLine()">...</a></mat-card-footer>-->
        <mat-card-footer class = "show-footer-style">[innerHTML]="videoItem.title </mat-card-footer>
      </mat-card>


    <!--</a>-->
  </div>
</div>
