<div class="card-full-width">
  <div class="card-header">
    {{ header }}
  </div>
  <div class="card-body">
    <div class="q-heading">
      {{ title }}
    </div>
    <div>
      <div [ngStyle]="{ 'text-align': 'center' }" *ngIf="!showBeliefLink">
        <button class="btn dialog-button" (click)="onSelectCommonBelief()">
          List of Beliefs
        </button>
        <br />
        <ng-container>
          or
        </ng-container>
      </div>
      <div class="q-heading" *ngIf="!showBeliefLink">
        Write your own
      </div>

      <form [formGroup]="negativeBeliefForm">
        <div>
          <mat-form-field class="full-width">
            <textarea
              matInput
              #formInput="matInput"
              [placeholder]="formInput.focused ? 'Write Here' : ''"
              class="py-0"
              cdkTextareaAutosize
              cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="4"
              formControlName="belief"
              required
              (focusout)="onNegativeMantraSubmit()"
              (focus)="onShowContinue()"
              #belief
            ></textarea>
          </mat-form-field>
        </div>
        <div *ngIf="showBeliefLink">
          <button class="btn btn-link px-0" (click)="onSelectCommonBelief()">
            List of Beliefs
          </button>
        </div>
        <div [ngStyle]="{ display: 'initial' }">
          <button
            *ngIf="showContiue"
            type="submit"
            mat-raised-button
            class="btn continue-btn"
            (click)="onBeliefSubmit()"
            [ngStyle]="{ float: 'right' }"
          >
            Continue
          </button>
          <br />
          <br />
        </div>
      </form>
    </div>
    <div *ngIf="showSlider">
      <app-form-slider
        [minRatingText]="minRating"
        [maxRatingText]="maxRating"
        [question]="scaleBelief"
        (getRating)="getRating($event)"
        [rating]="beliefRatingInitial"
      ></app-form-slider>
      <div *ngIf="showSliderButton">
        <div class="text-right">
          <button
            mat-raised-button
            (click)="onNegativeMantraSubmit()"
            class=" btn continue-btn"
          >
            Continue
          </button>
          <br />
        </div>
      </div>
    </div>
  </div>
</div>
