<div class = "row">
  <div class = "col">
    <p class = "heading">Questionnaires</p>
  </div>
</div>

<div class = "space-below-section">
  <div>
    <div class = "row no-gutters"><!-- we should call the questionnaires items here only, or pass the data/ otherwise how we will pass the questionnaire data her?-->
      <div class = "each-item" *ngFor = "let questionnaireItem of questionnaireItems">
        <app-questionnaire [questionnaireItem] = "questionnaireItem" isResult = 'false' (click) = "questionnaireItemClick(questionnaireItem)"></app-questionnaire>
      </div>
    </div>

  </div>
<!--  <div>-->
<!--    <a class = "see-all" (click) = "changeQuesState()"><img src = "assets/icons/arrow.svg">&nbsp;See all</a>-->
<!--  </div>-->
