.heading{
  font-size: 20px;
  margin-bottom: 12px;
  font-weight: 500;
  margin-top: 24px;
}
.sub-heading {
  font-size: 20px;
  font-weight: 500;
  margin-top:20px;
}
.end-space{
  padding-bottom: 48px;
}
.see-all{
  // float: right;
  float: none;
  text-decoration-color: #1a77e2;
  color: #1a77e2;
  cursor: pointer;
  white-space: nowrap;
}
.see-all-icon {
  transform: rotate(180deg);
}
.no-width {
  width: 0;
}

@media only screen and (min-width: 1801px){
  .each-item{
    // padding: 0px 32px 0px 32px;
    padding: 0px 32px 0px 0px;
    //width: 33vw;
    width:25%;
    margin-top: 16px;
    margin-bottom: 16px;
    //max-width: 325px;
  }

  .heading{
    font-size: 32px;
    //padding-left: 5px;
  }
  .sub-heading {
    font-size: 24px;
  }
  .see-all{
    padding-right: 2%;
    float: right;
  }
  .space-below-section{
    padding-bottom: 86px;
  }
  .end-space{
    padding-bottom: 156px;
  }
}
@media screen and (max-width: 1800px) {
  .each-item{
    //padding: 0px 16px 32px;
    padding: 0px 27px 0px 5px;
    //width: 33vw;
    width:25%;
    margin-top: 16px;
    margin-bottom: 16px;
    //max-width: 240px;
  }

  .heading{
    font-size: 32px;
    // padding-left: 5px;
  }
  .see-all{
    padding-right: 2.6%;
    float: right;
  }
  .space-below-section{
    padding-bottom: 47px;
  }
  .end-space{
    padding-bottom: 156px;
  }
}

@media screen and (max-width: 1500px){
  .each-item{
    // padding: 0px 16px 32px;
    padding: 0px 27px 0px 5px;
    width:25%;
    //width: 33vw;
    margin-top: 16px;
    margin-bottom: 16px;
    //max-width: 240px;
  }

  .heading{
    font-size: 32px;
    padding-left: 5px;
  }
  .see-all{
    padding-right: 2.8%;
    float: right;
  }
  .space-below-section{
    padding-bottom: 47px;
  }
  .end-space{
    padding-bottom: 156px;
  }
}
@media screen and (width: 1366px) {
  .space-below-section{
    padding-bottom: 47px;
  }
  .end-space{
    padding-bottom: 144px;
  }
}
@media screen and (max-width: 1280px){
  .each-item{
    // padding: 0px 10px 32px;
    padding: 0px 15px 0px 5px;
    width: 33vw;
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .heading{
    font-size: 32px;
    padding-left: 5px;
  }
  .see-all{
    padding-right: 2.5%;
    float: right;
  }
  .space-below-section{
    padding-bottom: 47px;
  }
  .end-space{
    padding-bottom: 156px;
  }
}

@media screen and (max-width: 991px) {
  .each-item{
    padding: 0px 7px 14px;
    width: 25%;
    //width: 33vw;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .heading{
    font-size: 24px;
    padding-left: 7px;
  }
  .see-all{
    padding-left: 90% ;
  }
  .space-below-section{
    padding-bottom: 27px;
  }
  .end-space{
    padding-bottom: 156px;
  }
}

@media screen and (max-width: 768px) {
  .each-item{
    padding: 0px 7px 14px;
    width: 25%;
    //width: 33vw;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .heading{
    font-size: 24px;
    padding-left: 7px;
  }
  .see-all{
    padding-left: 94% ;
  }
  .space-below-section{
    padding-bottom: 27px;
  }
  .end-space{
    padding-bottom: 156px;
  }
}

@media screen and (max-width: 525px) {
  .heading{
    padding-left: 9px;
  }
  .each-item{
    padding: 0px 7px 14px;
    width: 50%;
    //width: 50vw;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .see-all{
    padding-left: 82% ;
  }
  .space-below-section{
    padding-bottom: 27px;
  }
  .end-space{
    padding-bottom: 90px;
  }
}

@media screen and (max-width: 425px) {
  .heading{
    padding-left: 9px;
  }

  .each-item{
    padding: 0px 7px 14px;
    width: 50%;
    //width: 50vw;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .see-all{
    padding-left: 80% ;
  }
  .space-below-section{
    padding-bottom: 27px;
  }
  .end-space{
    padding-bottom: 90px;
  }
}
@media screen and (max-width: 320px) {
  .see-all {
    padding-left: 80% ;
  }
  .space-below-section{
    padding-bottom: 27px;
  }
  .end-space{
    padding-bottom: 90px;
  }
}

.container-div{
  background-color: #faf4ea;
  overflow-x: hidden;
}
.main-div{
  font-family: Roboto ;
  max-width: 1032px;
  //height: 100vh;
  margin: auto;
}
.full-div{
  font-family: Roboto ;
  height:100%;
  margin: auto;
}
