@import 'styles.scss';

.anchorify-forgot-username-password {
  @extend .anchorify-with-underline-on-hover;
  @include font-lato(700, italic);
  font-size: 75%;
  color: $treadwill-pre-login-primary !important;
  margin-left: 10%;
}

.anchorify-join-the-study {
  @extend .anchorify-default;
  @include font-lato();
  font-size: 100%;
  color: $treadwill-pre-login-primary !important;
}

.login-dialog-text-color {
  color: $treadwill-pre-login-primary;
}
