@import 'styles.scss';

.anchorify-forgot-username-password {
  @extend .anchorify-with-underline-on-hover;
  color: $treadwill-pre-login-primary !important;
  font-family: 'Lato', sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 75%;
  margin-left: 10%;
}

.anchorify-join-the-study {
  @extend .anchorify-default;
  color: $treadwill-pre-login-primary !important;
  font-family: 'Lato', sans-serif;
  font-size: 100%;
}

.login-dialog-text-color {
  color: $treadwill-pre-login-primary;
}
