<div *ngIf="showRegistrationContent else desktopMessage">
    <div class="container-fluid w-100 small-font" #stepOneDiv>
        <app-trial-pages-header [stepNumber]="stepNo" (joinStudyClicked)="topJoinClicked()"></app-trial-pages-header>
        <div class="row my-4 mx-1"  >
            <div class="card text-left py-4 my-2">
                <div class="card-title largest-font px-2">
                    <b> Are you feeling low, down, or depressed? </b>
                </div>
                <img src="../../../assets/trial-registration/man_woman_sad.svg"
                    class="mx-auto" id="sad-img">
            </div>
            <p class="less-opacity">
                TreadWill is designed to help you deal with stress, low mood,
                lethargy, and other depressive symptoms. We are conducting a study to see
                how effective TreadWill is in helping you deal with these symptoms.
            </p>

        </div>

        <div class="row mx-1 align-items-center">
            <p class="l-medium"> Why you might want to join:  </p>
            <div class="row my-2">
                <div class="col-6">
                    <div class="card w-100 h-100 img-cards">
                        <img src="../../../assets/trial-registration/learnSkills.svg"
                            class="mx-auto my-auto " id="img-1">
                    </div>
                </div>
                <div class="col-6 opacity-80 align-self-center">
                    <span>
                        Learn skills to deal with stressful situations.
                    </span>
                </div>
            </div>
            <div class="row my-2">
                <div class="col-6 opacity-80 align-self-center">
                    <span>
                        Contribute to improving mental health care.
                    </span>
                </div>
                <div class="col-6">
                    <div class="card w-100 h-100 img-cards">
                        <img src="../../../assets/trial-registration/Contribute.svg"
                            class="mx-auto my-auto" id="img-2">
                    </div>
                </div>
            </div>
            <div class="row my-2">
                <div class="col-6">
                    <div class="card w-100 h-100 img-cards">
                        <img src="../../../assets/trial-registration/Paticipatation.svg"
                            class="my-auto mx-auto" id="img-3">
                    </div>
                </div>
                <div class="col-6 opacity-80 align-self-center">
                    <span>
                        Participation is free, anonymous and does not require talking to anyone.
                    </span>
                </div>
            </div>
            <div class="row my-2">
                <div class="col-6 opacity-80 align-self-center">
                    <span>
                        Requires just 15 minutes of daily learning over a period of six weeks,
                        from the privacy of your room.
                    </span>
                </div>
                <div class="col-6">
                    <div class="card w-100 h-100 img-cards">
                        <img src="../../../assets/trial-registration/Time.svg"
                            class="my-auto mx-auto" id="img-4">
                    </div>
                </div>
            </div>
        </div>
      <div class="row mx-1 align-items-center remaining_participants" >
        <div class="mx-auto">
          Join the study below, only {{remainingParticipants}} participants left!

        </div>
      </div>

        <div class="row my-5">
            <div class="col-12 my-2">
                <span class="l-medium"> Fill details</span>
                <span class="float-right s-medium opacity-80"> Step 1 of 4</span>
            </div>

            <div class="col-12 my-2">
              <div class="align-self-center">
                <span>
                  Please use a modern email service like gmail, outlook, yahoo etc.
                </span>
              </div>
              <br>
                <form [formGroup]="emailForm" class="w-100" >
                    <input formControlName="email"
                        type="email" class="input-box w-100 px-2 form-elements"
                        required
                        email
                        placeholder=" Enter your email ID" >
                    <div class="w-100 my-3">
                        <button type="submit" class="w-100 form-elements" *ngIf="!showLoading" mat-raised-button
                            color="primary" (click)="emailSubmit()" > Join the Study </button>
                      <button class="w-100 form-elements" color="primary" *ngIf="showLoading" type="button" mat-raised-button >
                        <span class="spinner-border spinner-border-sm"></span>
                        &nbsp; Loading..
                      </button>
                    </div>
                  <p class="text-footer mt-2 error-text" *ngIf="showErrorMessage">
                    Please give us your valid email id. We won't spam you. Promise 🤞!
                  </p>
                  <p class="text-footer mt-2 error-text" style="color: #E82626" *ngIf="emailServiceErrorMessage">
                    We only support modern email service providers that support HTML emails.
                    If you think that we have missed yours, please <a (click)= "contactUsClicked()" > <b>let us know</b>.</a>
                  </p>
                </form>
            </div>
        </div>

        <div class="row mt-4 mb-2">
            <div class="col-12 text-center less-opacity">
                <span> For any question check
                    <a routerLink="{{faqLink}}"> FAQ </a>  or
                    <span (click)= "contactUsClicked()" class="contactUsLink"> Contact Us </span>
                </span>
            </div>
        </div>
    </div>

    <div class="row mt-3 mx-0">
        <app-trial-pages-footer class="w-100"></app-trial-pages-footer>
    </div>
</div>

<ng-template #desktopMessage>
    <div>
        Open this link on your mobile.
    </div>
</ng-template>

