<div class="container-fluid w-100">
    <div class="row sticky-top " id="top-logo">
        <div class="col">
            <img src="../../../assets/shared/logo_full.png" class="w-100 mt-auto">
        </div>
        <div class="col ">
            <button type="button" class="btn btn-outline-warning mt-auto float-right">Join the Study</button>
        </div>
    </div>
    
    <div class="row my-4 mx-1">
        <div class="card text-left py-4 my-2">
            <div class="card-title heading-font px-2">
                <b> Are you feeling low, down, or depressed? </b>
            </div>
            <img src="../../../assets/trial-registration/men_women_sad.png" 
                class="w-75 mx-auto">
        </div>

        TreadWill is a website designed to help individuals deal with stress, low mood, 
        lethargy, and other depressive symptoms. We are conducting a study to see if 
        TreadWill is effective in helping people deal with these symptoms.
    </div>
    
    <div class="row mx-1">
        <p class="heading-font"> Why you might want to join : </p>
        <div class="row my-1">
            <div class="col-6">
                <div class="card w-100 h-100 img-cards">
                    <img src="../../../assets/trial-registration/learnSkills.png" 
                        class="mx-auto my-auto w-50">
                </div>
            </div>
            <div class="col-6">
                Learn skills to deal with stressful situations.
            </div>
        </div>
        <div class="row my-1">
            <div class="col-6">
                Contribute to improving mental health care.
            </div>
            <div class="col-6">
                <div class="card w-100 h-100 img-cards">
                    <img src="../../../assets/trial-registration/Contribute.png" 
                        class="mx-auto my-auto w-50">
                </div>
                
            </div>
        </div>
        <div class="row my-1">
            <div class="col-6">
                <div class="card w-100 h-100 img-cards">
                    <img src="../../../assets/trial-registration/Paticipatation.png" 
                        class="w-50 my-auto mx-auto">
                </div>
                
            </div>
            <div class="col-6">
                Participation is free, anonymous and does not require talking to anyone.
            </div>
        </div>
        <div class="row my-1">
            <div class="col-6">
                Requires just 15 minutes of daily learning over a period of six weeks,
                from the privacy of your room.
            </div>
            <div class="col-6">
                <div class="card w-100 h-100 img-cards">
                    <img src="../../../assets/trial-registration/Time.png" 
                        class="w-50 my-auto mx-auto">
                </div>
            </div>
        </div>
    </div>
            
</div>
