
@import "../shared/common-styles.scss";

.img-cards{
    min-height: 108px;
}
#sad-img {
    width: 60%;
}
.form-elements{
    min-height: 48px;
}

.ng-untouched  {
    border: 0px; 
}
.ng-touched .ng-invalid:not(form)  {
    border: 1px solid red; /* red */
}

.input-box {
    box-shadow: 0px 1px 3px #00000029;
    border-radius: 4px;
    opacity: 1;
}
#img-1 {
    width: 30%;
}
#img-2 {
    width: 38%;
}
#img-3 {
    width: 38%;
}
#img-4 {
    width: 40%;
}