<mat-card class="overview-card" *ngIf="!completed">
  <img mat-card-image [src]="backgroundImg" alt="Loading...">
  <mat-card-header>
    <mat-card-title class="content"  *ngIf="module else loading">{{module.name}}</mat-card-title>
    <ng-template #loading>
      <mat-card-title>Loading....</mat-card-title>
    </ng-template>
  </mat-card-header>
  <mat-card-content *ngIf="module && (categories$ | async) as categories else catLoading">
    <app-category-small
      *ngFor="let category of categories; let last = last; let first = first" 
      [category]="category"
      [last]="last"
      [first]="first">
    </app-category-small>
  </mat-card-content>
  <ng-template #catLoading>
    <mat-card-content>
      <div
        class="col-12 catLoading d-flex align-items-center justify-content-center">
        <img src="assets/shared/dna-loader.svg" alt="loader">
      </div>
    </mat-card-content>
  </ng-template>
</mat-card>
<mat-card class="overview-card" *ngIf="completed">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <h2>All modules are completed</h2>
  </mat-card-header>
  <img mat-card-image [src]="backgroundImg" alt="Loading...">
</mat-card>