<mat-card class="overview-card">
  <img mat-card-image [src]="backgroundImg" alt="Loading..." height="350" width="600">
  <mat-card-header>
    <mat-card-title  *ngIf="module else loading">{{module.name}}</mat-card-title>
    <ng-template #loading>
      <mat-card-title>Loading....</mat-card-title>
    </ng-template>
  </mat-card-header>
  <mat-card-content *ngIf="module && categories else catLoading">
    <app-category-small
      *ngFor="let category of categories; let last = last; let first = first" 
      [category]="category"
      [last]="last"
      [first]="first">
    </app-category-small>
  </mat-card-content>
  <ng-template #catLoading>
    <mat-card-content>
      <h4>Loading...</h4>
    </mat-card-content>
  </ng-template>
</mat-card>