@import 'styles.scss';

.overview-card {
    width: 70%;
    height: calc(width * 2.0);
    margin: 60px auto;
    border-radius: 10px;
    .mat-card-content {
        height: 80px;
    }
    mat-card-header {
        position: relative;
        mat-card-title {
            @include font-montserrat($font-weight: 500);
            position: absolute;
            top: -80px;
            font-size: 2.3rem;
        }
    }
}

@media only screen and (max-width: $screen-size-sm-md) {
    .overview-card {
        width: 84%;
        height: 55vw;
        margin: 0px auto 5px;
        border-radius: 10px;
        .mat-card-content {
            height: 40px;
        }
        mat-card-header {
            position: relative;
            mat-card-title {
                position: absolute;
                top: -70px;
                font-size: 1.5rem;
            }
        }
    }
    .mat-spinner {
        font-size: 10px;
    }
}