<mat-card class="container-fluid px-0 pt-0 pb-2 mb-2">
  <div class="row no-gutters mb-2 card card-full-width">
    <mat-card-header class="col-12 w-100 px-0 card-header main-heading">
      <mat-card-title class="ml-4 my-auto d-inline-block">
        {{ formName }}
      </mat-card-title>

      <div class="h-100 d-inline-block ml-auto">
        <button
          class="h-100 saved-forms-btn"
          mat-button
          [matMenuTriggerFor]="thoughtRecordForms"
        >
          <mat-icon>
            more_horiz
          </mat-icon>
        </button>
      </div>

      <mat-menu
        xPosition="before"
        yPosition="below"
        #thoughtRecordForms="matMenu"
        [overlapTrigger]="false"
      >
        <div [ngStyle]="{ 'max-height': '350px' }">
          <app-forms-sidebar
            [type]="type"
            (objectEmitter)="thoughtSelected($event)"
            (newForm)="onAddNewForm()"
          >
          </app-forms-sidebar>
        </div>
      </mat-menu>
    </mat-card-header>
  </div>
  <div class="row no-gutters form-div mx-auto">
    <div class="col-12 col-lg">
      <div class="row mb-2">
        <div class="col-12">
         <app-form-card
            [header]="situationHeader"
            (showNegative)="onShowNegative($event)"
          ></app-form-card>
          <app-form-card
            *ngIf="situationAdded"
            (onShowSlider)="onShowSlider($event)"
            [header]="negativeThoughtHeader"
          ></app-form-card>

          <app-form-slider
            [minRatingText]="minRating"
            [maxRatingText]="maxRating"
            [question]="scaleThought"
            *ngIf="negativeThoughtAdded"
            (selectMood)="onSelectMood($event)"
          ></app-form-slider>
          <app-mood-widget-card
            *ngIf="showMood"
            [showMood]="showMood"
            [header]="moodSelect"
            (onShowRecordBehave)="onShowRecordBehave($event)"
          ></app-mood-widget-card>
          <app-form-card
            *ngIf = "showRecordBehave"
            [header]="recordBehaveHeader"
            (onShowTechniques) = "onShowTechniques($event)"
          ></app-form-card>

          <app-thought-record-techniques ></app-thought-record-techniques>

        </div>
      </div>
    </div>
  </div>
</mat-card>
