@import '../forms.component.scss';

.main-heading{
    background: #ffffff;
    color: black;
    max-height: 50px;
}
.mat-card-header{
    border-bottom: none;
}
.card{
    border: none;
}
.card-header{
    font-size: 14px;
    font-weight: 500;
}
