<mat-card class="container-fluid px-0 pt-0 pb-2 mb-2" [ngClass]="{'for-slide':fromSlide||fromConv }">
  <div class="row mb-2 card card-full-width">
    <mat-card-header class="col-12 w-100 px-0 py-0 card-header main-heading">
      <mat-card-title class="ml-4 my-auto pt-1 d-inline-block">
        {{ formName }}
      </mat-card-title>

      <div class="d-inline-block ml-auto">
        <button class="h-100 saved-forms-btn" mat-button [matMenuTriggerFor]="beforeMenu">
          <mat-icon>
            more_horiz
          </mat-icon>
        </button>
      </div>

      <mat-menu xPosition="before" yPosition="below" #beforeMenu="matMenu" [overlapTrigger]="false">
        <div [ngStyle]="{ 'max-height': '350px' }">
          <app-forms-sidebar [type]="type" (objectEmitter)="thoughtSelected($event)" (newForm)="onAddNewForm()"
            [object]="thought">
          </app-forms-sidebar>
        </div>
      </mat-menu>
    </mat-card-header>
  </div>
  <div class="row no-gutters form-div mx-auto">
    <div *ngIf="showLoading" class="col-12 text-center text-loading" > Loading... </div>

    <div class="col-12 col-lg" [ngStyle]="{visibility: showLoading ? 'hidden' : 'visible'}">
      <div class="row mb-5">
        <div class="col-12">
          <app-trf-situation-card [header]="situationHeader" (showNegative)="onShowNegative($event)" [thought]="thought"
            (updateThought)="updateThought($event)"></app-trf-situation-card>
          <app-negative-thought-card [thought]="thought" [reset]="reset" [header]="negativeThoughtHeader"
            *ngIf="situationAdded" (onShowSelectMood)="showSelectMood($event)"
            (initialRatingChange)="onInitialRatingChange($event)"></app-negative-thought-card>

          <app-mood-widget-card *ngIf="showMood" [reset]="reset" [header]="moodSelect" [thought]="thought"
            (onShowRecordBehave)="onShowRecordBehave($event)"></app-mood-widget-card>
          <app-trf-behavior-card [reset]="reset" [thought]="thought" [header]="recordBehaveHeader"
            *ngIf="showRecordBehave" (showTechniques)="onShowTechniques($event)"></app-trf-behavior-card>
          <app-form-recommend *ngIf="showRecommend" [recommendPath]="recommend" [characterImg]="imgSrc"
            (recommedComplete)="accessTechniques()"></app-form-recommend>
          <app-thought-record-techniques [resetTechnique]="reset" [thought]="thought" *ngIf="showTechniques"
            [finalThought]="showFinalThought" (showFinalThought)="onShowFinalThought()"></app-thought-record-techniques>
          <app-form-final-rating [reset]="reset" *ngIf="showFinalThought" [header]="finalRatingHeader"
            [object]="thoughtObject" [service]="1" [realisticQuestion]="realisticQues" [initialRating]="initialRating"
            (formComplete)="finalFormComplete($event)" (finalRatingChange)="onFinalRatingChange($event)"
            [original_title]="reviewTitle">
          </app-form-final-rating>
          <br />
          <app-form-message *ngIf="showMessage" [formMessage]="message">
          </app-form-message>
          <app-form-quote *ngIf="showMessage" [quote]="quote" [quotedBy]="quotedBy"></app-form-quote>
        </div>
      </div>
    </div>
  </div>
</mat-card>
