<mat-card class="container-fluid px-0 pt-0 pb-2 mb-2">
  <div class="row no-gutters mb-2 card card-full-width">
    <mat-card-header class="col-12 w-100 px-0 card-header main-heading">
      <mat-card-title class="ml-4 my-auto d-inline-block">
        {{ formName }}
      </mat-card-title>

      <div class="h-100 d-inline-block ml-auto">
        <button
          class="h-100 saved-forms-btn"
          mat-button
          [matMenuTriggerFor]="beforeMenu"
        >
          <mat-icon>
            more_horiz
          </mat-icon>
        </button>
      </div>

      <mat-menu
        xPosition="before"
        yPosition="below"
        #beforeMenu="matMenu"
        [overlapTrigger]="false"
      >
        <div [ngStyle]="{ 'max-height': '350px' }">
          <app-forms-sidebar
                  [type]="type"
                  (objectEmitter)="thoughtSelected($event)"
                  (newForm)="onAddNewForm()"
                  [object]="thought"
          >
          </app-forms-sidebar>
        </div>
      </mat-menu>
    </mat-card-header>
  </div>
  <div class="row no-gutters form-div mx-auto">
    <div class="col-12 col-lg">
      <div class="row mb-2">
          <div class="col-12">
              <app-form-card
                      [header]="situationHeader"
                      (showNegative)="onShowNegative($event)"
                      [apiToCall]="situationApi"
                      [thought]="thought"
                      [reset]="reset"
                      (updateThought)="updateThought($event)"
              ></app-form-card>
              <app-negative-thought-card
                      [thought]="thought"
                      [header]="negativeThoughtHeader"
                      [reset]="reset"
                      *ngIf="situationAdded"
                      (onShowSelectMood)="showSelectMood()"
              ></app-negative-thought-card>

              <app-mood-widget-card
                      *ngIf="showMood"
                      [header]="moodSelect"
                      [thought]="thought"
                      (onShowRecordBehave)="onShowRecordBehave($event)"
              ></app-mood-widget-card>
              <app-form-card
                      [thought]="thought"
                      [apiToCall]="behaviorApi"
                      [header]="recordBehaveHeader"
                      *ngIf="showRecordBehave"
                      (onShowTechniques)="onShowTechniques($event)"
              ></app-form-card>

              <app-thought-record-techniques
                      [thought]="thought"
                      *ngIf="showTechniques"
              ></app-thought-record-techniques>
          </div>
      </div>
    </div>
  </div>
</mat-card>
