#top-logo{
    background: #2A3B3D 0% 0% no-repeat padding-box;
    min-height: 100px;
}

.text-property {
    color: #7B9092;
    font-size: 14px;
    text-align: right;
}
.btn-outline-warning {
    color: #f4bb56 !important;
    border-color: #f4bb56 !important;
}