<div class="container justify-content-center" style="margin-top:30px;height:310px;width:310px;">
  <img class="playAgainImg" src="../../../../../../../assets/games/friendly-face-game/images/Play again.png">


  <p class="big-font text-center" style="margin-top:20px;"><b>Play Again</b></p>
  <p class=" smallest-font text-center" style="color:#798184;">Sorry, no life!</p>

  <div>
    <button style="width:100% !important;" mat-raised-button [color]="'new'" (click)="onPlayAgain()" type="button">
      Play again
    </button>
  </div>

</div>
