<div class="container justify-content-center" style="margin: 20px;height:280px;width:260px;">
    <img class="playAgainImg" src="../../../../../../../assets/games/friendly-face-game/images/Play again.png">
  
  
    <p class="big-font text-center"><b>Play Again</b></p>
    <p class="smallest-font text-center" style="color:#798184;">Sorry, no life!</p>

    <div >
        <button style="width:100% !important;" 
        mat-raised-button [color]="'new'" 
        (click)="onPlayAgain()" type="button"
        >
  Play again
</button>
    </div>
    
  </div>
  