.card{
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  margin: 0px 0px 16px;
}

.for-ellipsis{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.preview-img{
  width: 100%;
  height: 100%;
  margin-bottom: -10%;
  margin-top: -10%;
 // overflow: hidden;
}

.show-footer-style{
  margin-left: 14px;
  margin-right: 7px;
  margin-top: 7px;
  padding-bottom: 2px;
  text-align: left;
  font-size: 16px;
}

.preview-img-div {
  position: relative;
  overflow: hidden;
}

.youtube-button{
  position: absolute;
  display: block;
  height: 18%;
  width: 18%;
  top: 41%;
  left: 41%;
}
@media screen and (min-width: 1501px) {
   .card {
   // width: 348px;
    //flex-grow: 1;
     max-height: 15vh;
     min-height: 15vh;
  }
  .show-footer-style{
    font-size: 20px;
  }

}

@media screen and (max-width: 1500px) {
    .card {
   // width: 25%;
     // height: 245px;
      max-height: 18vh;
      min-height: 18vh;
  }
}

@media screen and (width: 1366px) {
  .card {
    // width: 25%;
    // height: 245px;
    max-height: 28vh;
    min-height: 28vh;
  }
}

@media screen and (max-width: 1280px) {
  .card {
   // width: 224px; //for 3 pics
    margin: 0px 0px 16px;
   // height: 226px;
    max-height: 20vh;
    min-height: 20vh;
  }
}


@media screen and (max-width: 991px) {
  .card {
  //  width: 268px;
    //height: 226px;
    max-height: 28vh;
    min-height: 28vh;
  }
 }

@media screen and (max-width: 768px) {
   .card {
   // width: 159px;
   //height: 177px;
     max-height: 28vh;
     min-height: 28vh;
  }


}

@media screen and (max-width: 525px) {
  .card {
  //  width: 42vw;
    margin: 0px 0px 14px;  // top right-left bottom
   // height: 186px;
    //max-height: 186px;
    max-height: 28vh;
    min-height: 28vh;
  }
  .show-footer-style{
    font-size: 14px;
  }

}
@media screen and (max-width: 375px) {
  .card {
  //  width: 42vw;
   // height: 169px;
    //height:183.7px;
    //max-height: 183.7px;
    max-height: 25vh;
    min-height: 25vh;
    margin: 0px 0px 14px;  // top right-left bottom
  }
  .show-footer-style{
    font-size: 14px;
  }

}
