.card{
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  margin: 0px 0px 16px;
}

.for-ellipsis{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.preview-img{
  width: 100%;
  height: 100%;
}

.show-footer-style{
  margin-left: 14px;
  margin-right: 7px;
  margin-top: 7px;
  padding-bottom: 2px;
  text-align: left;
  font-size: 16px;
}

.preview-img-div {
  position: relative;
}

.youtube-button{
  position: absolute;
  display: block;
  height: 18%;
  width: 18%;
  top: 41%;
  left: 41%;
}
@media screen and (min-width: 1501px) {
   .card {
    width: 348px;
    flex-grow: 1;
  }
  .show-footer-style{
    font-size: 20px;
  }

}

@media screen and (max-width: 1500px) {
    .card {
    width: 250px;
  }
}

@media screen and (max-width: 1280px) {
  .card {
    width: 224px; //for 3 pics
    margin: 0px 0px 16px;
  }
}


@media screen and (max-width: 991px) {
  .card {
    width: 268px;
  }
 }

@media screen and (max-width: 768px) {
   .card {
   width: 159px;
  }


}

@media screen and (max-width: 525px) {
  .card {
    width: 42vw;
    margin: 0px 0px 14px;  // top right-left bottom
  }
  .show-footer-style{
    font-size: 14px;
  }

}
@media screen and (max-width: 375px) {
  .card {
    width: 42vw;
    margin: 0px 0px 14px;  // top right-left bottom
  }
  .show-footer-style{
    font-size: 14px;
  }

}
