
<div *ngIf = "videoType === 'mindfulnessVideo'">
<mat-card class="card">
        <div class = "preview-img-div" [ngStyle]="{visibility: showLoading ? 'hidden' : 'visible'}">
        <img class = "preview-img" [src]="mindfulnessVideoItem.resource_video.preview_img" (load)="removeLoading()" >
        <img class = "youtube-button" src = "assets/icons/youtube.png">
  <div class="img-loading " [ngStyle]="{visibility: showLoading ? 'visible' : 'hidden'}">
    <p class="loading-text"> Loading... </p>
  </div>
        </div>
        <mat-card-footer class = "show-footer-style for-ellipsis "[innerHTML]="mindfulnessVideoItem.resource_video.title "> </mat-card-footer>
 </mat-card>
</div>

<div *ngIf = "videoType === 'video'" >
  <mat-card class="card">
            <div class = "preview-img-div" [ngStyle]="{visibility: showLoading ? 'hidden' : 'visible'}">
            <img class = "preview-img" [src]="videoItem.preview_img" (load)="removeLoading()" >
            <img class = "youtube-button" src = "assets/icons/youtube.png">
              <div class="img-loading " [ngStyle]="{visibility: showLoading ? 'visible' : 'hidden'}">
                <p class="loading-text"> Loading... </p>
              </div>
            </div>
            <mat-card-footer class = "show-footer-style for-ellipsis "[innerHTML]="videoItem.title "> </mat-card-footer>
  </mat-card>
</div>

<div *ngIf = "videoType === 'videoCovid19'" >
  <mat-card class="card">
    <div class = "preview-img-div" [ngStyle]="{visibility: showLoading ? 'hidden' : 'visible'}">
      <img class = "preview-img" [src]="videoCovid19Item.preview_img" (load)="removeLoading()" >
      <img class = "youtube-button" src = "assets/icons/youtube.png">
      <div class="img-loading " [ngStyle]="{visibility: showLoading ? 'visible' : 'hidden'}">
        <p class="loading-text"> Loading... </p>
      </div>
    </div>
    <mat-card-footer class = "show-footer-style for-ellipsis "[innerHTML]="videoCovid19Item.title "> </mat-card-footer>
  </mat-card>
</div>



