<div
  [ngStyle]="{ width: fromConversation ? 'auto' : 'fit-content' }"
  (click)="changeUrl()"
  *ngIf="dataLoaded; else skeleton"
>
  <img
    appLazyLoad
    loading="lazy"
    class="msg-img img-responsive"
    (load)="changeLoading()"
    onload
    src="{{ image.url }}"
    [ngStyle]="{
      maxWidth: fromConversation ? '250px' : '280px',
      minWidth: fromConversation ? '250px' : '280px'
    }"
    alt="image"
  />
  <div class="credits" *ngIf="image.credits">
    <div class="creditDiv">
      <a [href]="image.link" target="_blank">{{ image.name }}</a>
      <span> / </span>
      <a class="link" href="https://unsplash.com" target="_blank">Unsplash</a>
    </div>
  </div>
  <div class="credits" *ngIf="image.creditsGIF">
    <div class="gifMark" *ngIf="image.url === image.static_url">
      GIF
    </div>
    <div class="spinnerDiv" *ngIf="image.showSpinner">
      <mat-progress-spinner
        mode="indeterminate"
        diameter="20"
        color="accent"
      ></mat-progress-spinner>
    </div>
    <div class="creditDiv">
      <span> Powered By </span>
      <a class="link" href="https://giphy.com" target="_blank">GIPHY</a>
    </div>
  </div>
</div>

<ng-template #skeleton>
  <div
    class="card msg-img"
  >
    <div class="card-body text-center m-auto">
      <div class="skeleton-text">{{skeletonText}}</div>
<!--      <div class="form-inline">-->
<!--        <a href="#" class="btn btn-outline-secondary mr-auto ml-auto"></a>-->
<!--      </div>-->
    </div>
  </div>
</ng-template>
