.main{
  background-color: #293839;
  height: 100vh;
}
.content{
  font-family: Roboto;
  font-weight: bold;
  max-width: 408px;
  font-size: 40px;
  color: white;
}

.white-device{
  margin-top: -50px;
}
