@import "styles.scss";
@import "games-styles.scss";

@import "../../../shared/games-common.scss";


.mi-container{
background-color: white;
font-family: Roboto;
background-image: url("../../../../../../assets/games/mental-imagery-game/daydream background.png");
}

#mi-game-div {
  height: 100%;
  max-width: 360px;
  display: flex;
  justify-content: center !important;
  padding-right: 0px !important;
  padding-left: 0px !important;
  background-image: url("../../../../../../assets/games/mental-imagery-game/Background with texture.png");

}

*:focus {
  outline: none;
}

.game-start-image {
  margin-top: 10vh;
  width: 250px;
  height: 200px;

}

