<div class="container-fluid" id="mi-game-div" >

 
    <div>
      <!-- <p class="scoreLocation">
          SCORE: {{ user.currentPoints()}}
      </p> -->
  
      <p class="title text-center" *ngIf="home"  >MENTAL IMAGERY</p>
        <!-- <app-mi-home 
            [showInstructionIcon]='showInstructionIcon' 
            *ngIf="home" 
            (startPlayingMIGame)="startPlayingMIGame($event)" 
            (goToMIGameInstruction)="goToMIGameInstruction($event)"></app-mi-home> -->
        <app-mi-instructions 
            *ngIf="instructions" 
            (goToMIGameHome)="goToMIGameHome($event)" 
            (startPlayingMIGame)="startPlayingMIGame($event)"></app-mi-instructions>
        <app-mi-play 
            *ngIf="playing" 
            (scoreUpdated)="onScoreUpdate($event)"></app-mi-play>
        <!-- <app-navigation-bar *ngIf="navbar" (play)="onNavBarPlay($event)" (replay)="onNavBarReplay($event)"></app-navigation-bar> -->
    
      
  </div>
  </div>


