<!-- screen 1 content -->
<div class="container-fluid h-100">
  <!-- showing the TreadWill logo for mobile screens -->
  <div class="row d-block d-sm-none">
    <div class="col-12 d-flex justify-content-center">
      <img alt="TreadWill logo" src="assets/shared/logo_full.png" class="logo-landscape">
    </div>
  </div>

  <div class="row flex-row d-flex h-100">
    <div class="col-12 col-sm-5 order-sm-last align-self-center">
      <h1 
        style="font-family: 'Montserrat', sans-serif; font-weight: 500;" 
        class="text-center text-sm-left"
        [@fadeInOut]="isVisible ? 'visible' : 'inVisible'">{{ nat }}</h1>
      <br><br>
      <h1 style="font-family: 'Montserrat', sans-serif; font-weight: 700;" class="text-center text-sm-left">Sounds familiar?</h1>
    </div>
    <div class="col-12 col-sm-7 align-self-center">
      <img  src="assets/login/screen_1/screen_1_small.png" 
            alt="relatable image 1"
            srcset="assets/login/screen_1/screen_1_small.png 1110w,
                    assets/login/screen_1/screen_1_medium.png 2220w,
                    assets/login/screen_1/screen_1_large.png 4440w"
            sizes="(max-width: 576px) 100vw,
                   (max-width: 992px) 70vw,
                    40vw" 
            class="img-fluid float-right">
    </div>
  </div>
</div>

<!-- screen 2 content -->
<div class="container-fluid d-flex align-items-center h-100">
  <div class="row flex-row d-flex">
    <div class="col-12">
      <div class="row flex-row d-flex justify-content-center">
        <div class="col-xs-12 col-sm-10">
          <img  src="assets/login/screen_2/screen_2_small.png" 
                alt="relatable image 2" 
                srcset="assets/login/screen_2/screen_2_small.png 1110w,
                        assets/login/screen_2/screen_2_medium.png 2220w,
                        assets/login/screen_2/screen_2_large.png 4440w"
                sizes="100vw" 
                class="img-fluid">
        </div>
      </div>
      <div class="row flex-row d-flex justify-content-center">
        <div class="col-xs-12 col-sm-10">
          <h1 style="font-family: 'Montserrat', sans-serif; font-weight: 700;">TreadWill can help you</h1>
          <br>
          <h5 
            style="font-family: 'Montserrat', sans-serif; font-weight: 500;" 
            [@fadeInOut]="isVisible ? 'visible' : 'inVisible'">{{ helpReason }}</h5>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- screen 3 content -->
<div class="container-fluid d-flex align-items-center h-100">
  <div class="row">
    <div class="col-12">
      <div class="row flex-row d-flex justify-content-center">
        <div class="col-xs-12 col-sm-10">
          <h5 style="font-family: 'Montserrat', sans-serif; font-weight: 500;">We are currently conducting trials to see if TreadWill 
            is effective in helping people with depressive symptoms.</h5>
        </div>
      </div>
      
      <div class="row flex-row d-flex">
        <div class="col-12 screen-3-container">
          <img  src="assets/login/screen_3/screen_3_small.png" 
              alt="relatable image 3"
              srcset="assets/login/screen_3/screen_3_small.png 1110w,
                      assets/login/screen_3/screen_3_medium.png 2220w,
                      assets/login/screen_3/screen_3_large.png 4440w"
              sizes="100vw" 
              class="img-fluid">
          <button mat-button class="btn-join-the-study d-none d-md-block mx-auto align-middle">
            <img src="assets/login/screen_3/join_the_study_btn.png" alt="Join the TreadWill study">
          </button>
        </div>
      </div>

      <div class="row flex-row d-block d-md-none">
        <div class="col-12 d-flex justify-content-center">
            <button mat-button class="btn-join-the-study">
              <img src="assets/login/screen_3/join_the_study_btn.png" alt="Join the TreadWill study">
            </button>
        </div>
      </div>
    
      <div class="row flex-row d-flex justify-content-center">
        <div class="col-xs-12 col-sm-10">
          <h5 style="font-family: 'Montserrat', sans-serif; font-weight: 500;">If you have any queries or are interested in collaborating with us,
            <a class="anchorify-default" (click)="onLoginPageContactUsClicked()">contact us.</a></h5>
        </div>
      </div>
    </div>
  </div>
</div>
