<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <app-mat-pre-login-toolbar></app-mat-pre-login-toolbar>
    </div>
  </div>
  <div class="row flex-row d-flex">
    <div class="col-7">
      <img src="assets/login/landscape/screen_1.svg" alt="relatable image" class="img-fluid float-right img-login-page">
    </div>
    <div class="col-5 align-self-center">
      <h1 style="font-family: 'Montserrat', sans-serif; font-weight: 700;">Sound familiar?</h1>
      <br><br>
      <h1 style="font-family: 'Montserrat', sans-serif; font-weight: 500;">I won't be able to do it</h1>
    </div>
  </div>
</div>
