@import "styles.scss";

.things-todo {
  //   @include box-shadow-1-1-10-d6();
  box-shadow: 0px 2px 8px #00000033;
  width: 300px;
  overflow: hidden;
  background-color: white;

  .things-todo-main {
    border-top: 50px solid #2DAA84;
    height: 470px;

    input[type=checkbox] {
      transform: scale(1.5);
    }

    h3 {
      font-size: 20px;
      padding: 0px 5px 20px 25px;
      font-weight: 500;
      color: white;
      top: -35px;
      position: absolute;
    }

    .main-list {
      list-style: none;
      padding: 20px 5px 20px 25px;

      li {
        margin: 10px 0;

      }
    }
  }
}

.no-gutters {
  margin: 0;
  padding: 0;
}

.main-list {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 0px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.main-list input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: white;
  border: 1px solid black;
}


/* When the checkbox is checked, add a blue background */
.main-list input:checked~.checkmark {
  background-color: #2DAA84;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.main-list input:checked~.checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.main-list .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

@media screen and (max-width: 1300px) {
  .things-todo {
    width: 250px;

    .things-todo-main {
      border-top: 50px solid #2DAA84;
      height: 253px;

      .mat-checkbox-label {
        font-size: 14px !important;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .things-todo {
    width: 280px;

    .things-todo-main {
      border-top: 50px solid #2DAA84;
    }
  }
}


@media screen and (max-width: 767px) {
  .things-todo {
    // width: 330px;
    width: 100%;
    max-width: 400px;
    margin: auto;
    margin-bottom: 20px;

    .things-todo-main {
      height: 205px;
      border-top: 40px solid #2DAA84;
    }
  }
}
