<div class="error-div" *ngIf="errors.length > 0">
  <h3>Some error occured</h3>
  <ul>
    <li *ngFor="let error of errors">
      <strong>{{error.name}}</strong>: {{ error.value }}
    </li>
  </ul>
</div>

<form (ngSubmit)="formSubmit()" [formGroup]="postForm">
  <div class="form-group">
    <label for="body">Write your post</label>
    <angular-editor formControlName="body" [config]="editorConfig" required></angular-editor>
  </div>
  <div class="form-group">
    <label for="title">Give your post a title</label>
    <input type="text" class="form-control" formControlName="title">
  </div>
  <input type="hidden" name="id" formControlName="id">

  <div class="form-group row">
    <label formArrayName="tags" *ngFor="let tag of postForm.controls.tags.controls; let i = index" class="col-3">
      <input type="checkbox" [formControlName]="i" (change)="onCheckboxChange(tags[i].id, $event)">
      {{tags[i].name}}
    </label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
  <button type="button" class="btn btn-danger" (click)="onClose()">Close</button>
</form>