@import "src/app/pre-login/shared/signup-reset-common/signup-reset-common.component";
.loading-btn{
  font-size: 14px;
  font-family: Roboto;
  color: white;
  background-color: #2a3b3d;
  text-align: center;
  justify-content: center;
  margin: 16px 0;
}

.error-msg {
  color: red;
  float: start;
}
.footer-small-device {
   display: none;
}
.footer-2 {
  display: block !important;
  background-color: #2A3B3D;
  color: white;
  height: 100px;
  width: 100%;

  p {
    opacity: 0.6;
    font-size: 12px;
    margin-top: 2%;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
.footer-small-device {
  display: block !important;
  background-color: #2A3B3D;
  color: white;
  height: 100px;
  width: 100%;

  p {
    opacity: 0.6;
    font-size: 12px;
    margin-top: 2%;
    text-align: center;
  }
}

  .footer-2 {
    display: none;
  }
}


