<div *ngIf="showPage else desktopMessage">

  <div class="container-fluid">

    <app-trial-pages-header [aiimsPage]="true" [stepNumber]="stepNo"></app-trial-pages-header>

<!--    <div class="row mt-0" *ngIf="!showPrompt">-->
<!--      <app-questionnaire class="w-100"-->
<!--                         [fromFlow]="false"-->
<!--                         [stepId]="null"-->
<!--                         [fromTrialRegistration]="true"-->
<!--                         (questionnaireSubmitEmitter)="consentSubmit($event)">-->

<!--      </app-questionnaire>-->
<!--    </div>-->

    <div  *ngIf="showHelp">
      <div class="m-medium row mx-1 my-3"
           [ngStyle]="{ display: showHelp && !userDeclined ? 'block' : 'none' }"
      >
        <div class="error-msg ">
          {{ errorMessage }}
        </div>

        <div class="troubleshoot">
          <div>
            <span [innerHTML]="notificationHelp"></span>
            <a
              [href]="notificationLink"
              target="_blank"
              class="anchorify-blue"
            >{{ notificationLink }}</a
            >
          </div>

          <!--          <div class="py-3">-->
          <!--            Still facing issues?-->
          <!--            <a class="anchorify-blue" (click)="onContactUsClicked()"-->
          <!--            >Contact us.</a-->
          <!--            >-->
          <!--          </div>-->
        </div>
      </div>
    </div>
    <div class="m-medium row mx-1 my-3" *ngIf="showPrompt">
      You must press the install button, if you wish to continue with the program.
    </div>
  </div>


</div>
<ng-template #desktopMessage>
  <div>
    <!--    Open this link on your mobile.-->
    <app-qr-code></app-qr-code>

  </div>
</ng-template>
