<div *ngIf="showPage else desktopMessage">

  <div class="container-fluid small-font">

    <app-trial-pages-header [aiimsPage]="true" [stepNumber]="stepNo"></app-trial-pages-header>

    <div  *ngIf="showHelp">
      <div class="row mx-1 my-3"
           [ngStyle]="{ display: showHelp && !userDeclined ? 'block' : 'none' }"
      >
        <div class="error-msg ">
          {{ errorMessage }}
        </div>

        <div class="troubleshoot">
          <div>
            <span [innerHTML]="notificationHelp"></span>
            <a
              [href]="notificationLink"
              target="_blank"
              class="anchorify-blue"
            >{{ notificationLink }}</a
            >
          </div>

<!--                    <div class="py-3">-->
<!--                      Still facing issues?-->
<!--                      <a class="anchorify-blue" (click)="onContactUsClicked()"-->
<!--                      >Contact us.</a-->
<!--                      >-->
<!--                    </div>-->
        </div>
        <div class="m-medium  row mx-0 my-3">
          Please click the below button after updating notification settings and re-enter your email-id.
        <div class="mx-auto">
          <button type="button" class="form-elements my-3 mx-auto" style="width:176px" mat-raised-button
                       color="primary" (click)="onSettingsUpdate()"> Settings updated </button>
        </div>
             </div>
      </div>

    </div>

    <div class="m-medium row mx-1 my-3" *ngIf="!showHelp" >
      You must press the install button, if you wish to continue with the program.
      <button type="button" class="form-elements my-3 mx-auto" style="width:96px" mat-raised-button
              color="primary" (click)="homeScreenPermission()"  *ngIf="showOkButton"> Ok </button>
    </div>
  </div>


</div>
<ng-template #desktopMessage>
  <div>
    <!--    Open this link on your mobile.-->
    <app-qr-code></app-qr-code>

  </div>
</ng-template>
