<div class="row w-100 like-btns-div justify-content-around" [style.margin-top]="liked||disliked? '5%' : '0%'">

  <div class="col h-100 px-0 like-dislike-btns">
    <img src="../../../../assets/shared/Like_slide.png" *ngIf='!liked' id="like-btn" class="h-100 mr-2"
      (click)="onLikeBtnClick()">
    <img src="../../../../assets/shared/Like_slide_selected.png" *ngIf='liked' id="like-yellow-btn" class="h-100 mr-2"
      (click)="onLikeBtnClick()">

    <img src="../../../../assets/shared/disike_slide.png" *ngIf='!disliked' id="dislike-btn" class="dislike-btn h-100"
      (click)="onDislikeBtnClick()">
    <img src="../../../../assets/shared/dislike_slide_selected.png" *ngIf='disliked' id="dislike-yellow-btn"
      class="dislike-btn h-100" (click)="onDislikeBtnClick()">
  </div>


  <div class="col-7 h-100 px-0">

    <app-step-completed [lastStepCompleted]='lastStepCompleted' [showNextStep]="showNextStepBtn"
                         [showloading]="showloading"
                           (nextStepEvent)='onNextStepClicked()'
                           (completedEvent)='onCompleteClicked()'
    (gotodashboard)="onDashboardClicked()"></app-step-completed>


  </div>
</div>

<div class="my-1 mx-1 feedbackBox row" *ngIf="showFeedBackBox">
  <p class="my-0 text-property" *ngIf='liked'>
    Let us know what you liked.
  </p>
  <p class="my-0 text-property" *ngIf='disliked'>
    How can we improve?
  </p>
  <textarea class="w-100 rounded form-control" rows="3" #feedbackText
    placeholder="Your message goes here ..."> </textarea>
  <button class="px-0 my-1 submit-btn btn-padding" mat-raised-button
    (click)="onSubmitCommentClicked(feedbackText.value)">
    Submit
  </button>
</div>
<div *ngIf="onSubmit">
  Thanks for your feedback.
</div>
