@import 'styles.scss';
@import 'color.palette.scss';
*::-webkit-scrollbar {
    width: 0.3em;
  }
  
  *::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    // outline: 1px solid slategrey;
  }
::ng-deep .mat-menu-panel {
    max-height: 350px!important;
}
.card {
    margin: 0 auto;
    ::ng-deep .card-header {
      background-color: #FFEFD4;
      font-weight: 700;
    }
    button {
      width: 100%;
    }
    label {
      padding: 10px;
      margin-bottom: 0px;
      border-bottom: 1px solid #dfdfdf;
      &:last-child {
        border-bottom: 1px solid transparent;
      }
    }
}
.card.card-full-width {
    width: 100%;
}
#slide-container{
    background-color: white;
    margin-bottom: 1vh;
    height: 83vh;
    max-height: 900px;
    overflow-x: hidden;
    overflow-y: auto;
    @include box-shadow-1-1-10-d6();
}
.form-div{
    float: right;
    background-color: white;
    margin-bottom: 1vh;
    height: 83vh;
    max-height: 900px;
    overflow-y: auto;
    overflow-x: hidden;
}
.slide_iframe{
    margin: 4%;
    height: 85%;
    width: 100%;
    max-height: 645px;
}
.slides-elements-div{
    width: 52%;
    max-width: 375px;
    height: 90%;
    max-height: 715px;
    // height: 4.44vh;
}
.text-property{
    font-size: 14px;
}

.slideTitle{
    // font-size: 16px;
    text-align: center;
    color: white;
    background-color: #343434;
    // height: 5.1vh;
    max-height: 45px;
}

.row, .col{
    margin: 0%;
    padding: 0%;
}

.rotate-rev{
    // vertical-align:top;
    transform:rotate(270deg);
    -ms-transform:rotate(270deg); /* IE 9 */
    -moz-transform:rotate(270deg); /* Firefox */
    -webkit-transform:rotate(270deg); /* Safari and Chrome */
    -o-transform:rotate(270deg); /* Opera */
}
.in-mobile{
    display: none;
}
.in-desktop{
    display: block;
}
#slide-btn{
    float: left;
    min-width: 0px;
    font-size: 16px;
    border-radius: 2px 2px 12px 12px;
}
#form-btn{
    float: right;
    min-width: 0px;
    font-size: 16px;
    border-radius: 12px 12px 2px 2px ;
}
.feedback-div{
    overflow-x: hidden;
    overflow-y: auto;
}

@media screen and (max-width: 992px) {
    .slides-elements-div{
        width: 62%;
    }
}
@media screen and (max-width: 767px) {

    #slide-container{
        min-height: 500px;
        max-width: 640px;
    }
    .form-div{
        min-height: 500px;
        max-width: 640px;
    }
    .in-mobile{
        display: block;
    }
    .in-desktop{
        display: none;
    }
    .slide_iframe{
        margin: 0%;
        margin-bottom: 2%;
        height: 90%;
        // max-height: 508px;
    }
    .slides-elements-div{
        width: 100%;
        height: 100%;
        max-width: 286px;
    }
    .extra-form-div{
        background-color: white; 
        max-width:4%; 
        height: 80vh;
        border-color: #BFBFBF;
        float: right;
        max-height: 900px;
    }
    .extra-slide-div{
        background-color: white;
        max-width:4%; 
        height: 80vh;
        border-color: #BFBFBF;
        float: left;
        max-height: 900px;
    }
    // .like-btns-div,.feedbackBox {
    //     margin-left: 2%;
    // }
}
