.clicked{
    fill:#f3b54f;
}

.text-property{
    color:#f3b54f;
    font-size: 14px;
}
#slide-container{
    background-color: white;
}
.slideTitle{
    font-size: 14px;
    text-align: center;
    color: white;
    background-color: #343434;
}
#slide-page{
    max-height: 900px;
}
.slide_iframe{
    margin: 2%;
    height: 70vh;
    width: 85%;
}
.buttons-div{
    width: 85%;
}
#dislike-btn{
    transform: rotate(180deg);
}
.row, .col{
    margin: 0%;
    padding: 0%;
}

.rotate-rev{
    // vertical-align:top;
    transform:rotate(270deg);
    -ms-transform:rotate(270deg); /* IE 9 */
    -moz-transform:rotate(270deg); /* Firefox */
    -webkit-transform:rotate(270deg); /* Safari and Chrome */
    -o-transform:rotate(270deg); /* Opera */
}
.in-mobile{
    display: none;
}
.in-desktop{
    display: block;
}
#slide-btn{
    float: left;
    min-width: 0px;
    font-size: 16px;
    border-radius: 2px 2px 12px 12px;
}
#form-btn{
    float: right;
    min-width: 0px;
    font-size: 16px;
    border-radius: 12px 12px 2px 2px ;
}
.extra-form-div{
    background-color: white; 
    max-width:4%; 
    min-height: 80vh;
    border-color: #BFBFBF;
    float: right;
}
.extra-slide-div{
    background-color: white;
    max-width:4%; 
    min-height: 80vh;
    border-color: #BFBFBF;
    float: left;
}
.form-div{
    float: right;
    max-height: 90vh;
}
@media screen and (max-width: 992px) {
    .in-mobile{
        display: block;
    }
    .in-desktop{
        display: none;
    }
    .slide_iframe{
        margin: 0%;
        height: 83.5vh;
        width: 100%;
    }
    .buttons-div{
        width: 100%;
    }
    .form-div{
        overflow: scroll;
    }
    #slide-page{
        max-height: 650px;
        overflow: scroll;
    }
    
}