<div class="row w-100" id="slide-page" #slidePage>
  <ng-container *ngIf="slide else loader">
    <div class="col-1 in-desktop"></div>
    <div class="col px-0 changes-width" #slideDiv id="slide-container"
      [@slideInOut]="isSlidesVisible ? 'show' : 'hidden'"
      [style.height]="screenWidth <= 768 ? container.offsetHeight + 68 + 'px' : container.offsetHeight + 110 + 'px'">
      <div class="row h-100 justify-content-center">
        <div class="row mb-1 w-100 in-desktop">
          <mat-card-header class="col-12 w-100 my-auto px-0 card-header in-desktop slideTitle">
            <mat-card-title class="my-auto d-inline-block">
              {{slide.title}}
            </mat-card-title>
          </mat-card-header>

        </div>


        <div class="row justify-content-center slides-elements-div">
          <!-- <iframe [src]="sanitizedUrl" frameborder="0" class="slide_iframe"
            allowfullscreen="true"
            mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>   -->
          <iframe
            src="https://docs.google.com/presentation/d/e/2PACX-1vRU6npufMXFoVNLH3YJHuKpfsHaCeRkLEkPi6Q0hjG7WdS3JgSHccnqSeCylTYdm1Ex-jDCu1LI9XKc/embed?start=false&loop=false&delayms=6000000"
            frameborder="0" class="slide_iframe" allowfullscreen="true" mozallowfullscreen="true"
            webkitallowfullscreen="true" #container></iframe>

          <app-user-feedback class="w-100 feedback-div" [disliked]='slideDisliked' [liked]='slideLiked'
            [isLastStep]='isLastStep' [lastStepCompleted]='lastStepCompleted' [showNextStepBtn]='showNextStepBtn'
            (scrollEvent)='scrollPageToBottom($event)' (nextStepEvent)='onNextStepClick($event)'
            (completedEvent)='onCompleted($event)' (storeFeedbackEvent)='storeSlideFeedBackData()'
            (submitCommentEvent)='onSubmitComment()'>
          </app-user-feedback>
        </div>
      </div>
    </div>

    <div class="col in-mobile border-right extra-form-div" *ngIf="!visible">
    </div>
    <div class="col-1 my-5 h-100 px-0 mx-0 in-mobile" *ngIf="visible === false">
      <button class="rotate-rev ml-n3" id="slide-btn" mat-raised-button color="primary" (click)="onShowSlides()">
        Slide
      </button>
    </div>

    <div class="col-1 my-5 h-100 px-0 mx-0 in-mobile" *ngIf="visible === true" #slideButton>
      <button class="rotate-rev mr-n3" id="form-btn" mat-raised-button color="primary" (click)="onShowForm()">
        Form
      </button>
    </div>
    <div class="col in-mobile border-left extra-slide-div" *ngIf="visible">
    </div>

    <div class="col in-desktop">
    </div>

    <div class="col mx-0 px-0 form-div changes-width" #form_div [@formInOut]="isFormVisible ? 'show' : 'hidden'"
      [style.height]="slideDiv.offsetHeight >= screenHeight ? screenHeight - 0.01*screenHeight +'px': slideDiv.offsetHeight + 'px'  ">

      <div class="mx-0 px-0" form-host></div>
    </div>
    <div class="col-1 in-desktop"></div>
  </ng-container>

  <ng-container *ngIf="notAvailable">
    <h1>The content is not available</h1>
  </ng-container>
</div>

<ng-template #loader>
  <div class="col-6">
    <div class="text-center loader">
      <img src="assets/shared/dna-loader.svg" alt="loader" width="200">
    </div>
  </div>
</ng-template>
