<div class="row">
  <div class="col-6" *ngIf="slide else loader">
    <h1>{{slide.title}}</h1>
    <iframe [src]="sanitizedUrl" frameborder="0" width="360" height="749" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
  </div>
  <div class="col-6">
    <div form-host></div>
  </div>
</div>
<ng-template #loader>
  <div class="col-6">
    <div class="text-center loader">
      <img src="assets/shared/dna-loader.svg" alt="loader" width="200" >
    </div>
  </div>
</ng-template>
