<div class="row justify-content-center align-items-center text-loading"  *ngIf="loading"> Loading... </div>

<div class="row justify-content-center align-items-center" tabindex="0" id="game_div" #gameDiv appCustomOverlay [ngStyle]="{'backgroundImage': getBackgroundColor(), 'visibility' : loading ? 'hidden' :'visible'}"
  appLoadingBar *ngIf="showComponent">
  <div class="common-div w-100"  >
    <!-- buttons shown when the game is paused -->
    <div class="col d-flex justify-content-center align-items-center d-none" *ngIf="showSideButtons"
      id="common-pause-clicked-div">
      <div class="common-pause-clicked">
        <div class="col paused-game-btns">
          <button mat-icon-button class="common-game-btn">
          <img id="common-home-btn" class="home-btn mx-auto img-btn" (click)="onHomeClick()"
            src="../../../../assets/games/home.svg">
          </button>
        </div>
        <div class="col paused-game-btns">
          <button mat-icon-button class="common-game-btn">
          <img id="common-help-btn" class="help-btn mx-auto img-btn" (click)="onHelpClick()"
            src="../../../../../assets/games/help.svg">
          </button>
        </div>
        <div class="col paused-game-btns">
          <button mat-icon-button class="common-game-btn">
          <img id="common-resume-btn" class="resume-btn mx-auto img-btn" (click)="onResumeClick()"
            src="../../../../../assets/games/play.svg">
          </button>
        </div>
        <div class="col paused-game-btns">
          <button mat-icon-button class="common-game-btn">
          <img id="common-replay-btn" class="replay-btn mx-auto img-btn" (click)="onRestartClick()"
               src="../../../../../assets/games/replay.svg">
          </button>
        </div>
        <div class="col paused-game-btns">
          <button mat-icon-button class="common-game-btn" *ngIf="isSoundOn">
          <img id="common-sound-on-btn" class="sound mx-auto img-btn" (click)="onSoundClick()"
            src="../../../../../assets/games/sound.svg">
          </button>
        </div>
        <div class="col paused-game-btns">
          <button mat-icon-button class="common-game-btn" *ngIf="!isSoundOn">
          <img id="common-sound-off-btn" class="sound mx-auto img-btn" (click)="onSoundClick()"
            src="../../../../../assets/games/mute.svg">
          </button>
        </div>
      </div>
    </div>
    <!-- showing the game component  -->
    <div class="row justify-content-center align-items-center h-100" (click)="onGameScreenClick()">
      <app-executive-control-game (showPlayButtons)="onShowPlayButtons()" class="w-100 h-100" *ngIf="isExecutiveControl"></app-executive-control-game>
      <app-interpretation-bias-game (showPlayButtons)="onShowPlayButtons()" class="w-100 h-100" *ngIf="isInterpretationBias"></app-interpretation-bias-game>
      <app-learned-helplessness-game (showPlayButtons)="onShowPlayButtons()" class="w-100 h-100" *ngIf="isLearnedHelplessness"></app-learned-helplessness-game>
      <app-friendly-face-game (showPlayButtons)="onShowPlayButtons()" class="w-100 h-100" *ngIf="isFriendlyFace"></app-friendly-face-game>
      <app-mental-imagery (showPlayButtons)="onShowPlayButtons()" class="w-100 h-100" *ngIf="isMentalImagery"></app-mental-imagery>
      <app-identify-cognitive-distortion (showPlayButtons)="onShowPlayButtons()" class="w-100 h-100" *ngIf="isIdentifyCognitiveDistortion">
      </app-identify-cognitive-distortion>
    </div>
    <!-- buttons on first page -->

    <div class="row align-items-center firstpage-btns" id="firstpage-btns" #firstpage_btns *ngIf="!loading">
      <div class="w-100 row " [ngClass]="{'center-postion': portraitGame ===true ,
            'end-position' : portraitGame === false}">
        <div class="col-auto mr-auto px-0">
          <img id="common-science-btn" (click)="onScienceBehind()" class="common-science-btn mx-2 img-btn"
            src="../../../../../assets/games/science_behind_game.svg">
        </div>

        <div class="col-auto ml-auto px-0">
          <button mat-icon-button class="mx-2 common-game-btn" *ngIf="isSoundOn">
          <img id="common-sound-on-fp" class="common-sound-btn img-btn float-right" (click)="onSoundClick()"
            src="../../../../../assets/games/sound.svg">
          </button>
          <button mat-icon-button class="mx-2 common-game-btn" *ngIf="!isSoundOn">
            <img id="common-sound-off-fp" class="common-sound-btn img-btn float-right" (click)="onSoundClick()"
            src="../../../../../assets/games/mute.svg">
          </button>
        </div>
      </div>
      <!-- <img
          id="common-exit-btn"
          class="common-exit mx-1 img-btn"
          (click) = "onExitClick()"
          src="../../../../../assets/games/back.png"> -->
    </div>
    <div class="row justify-content-center align-items-center play-game-btn" #start_game_btns *ngIf="!loading">
      <div class="col-auto mx-auto justify-content-center">
        <button mat-icon-button style="height: 60px;width: 60px">
        <img id="common-start-btn" class="common-play-game mx-auto" (click)="onPlayClick()"
          src="../../../../../assets/games/play.svg">
        </button>
      </div>
      <div class="col-12 text-center">
        <div class="small-font"> Tap to start </div>
      </div>
    </div>

    <!-- pause, hint and sound button on bottom of every page -->
    <div class="row justify-content-end align-items-center d-none" id="pause-common-div" [ngClass]="{
            'center-postion': portraitGame ===true ,
            'end-position' : portraitGame === false
          }" #pause_common_div>
      <button mat-icon-button class="mx-2 common-game-btn" (click)="onPauseClick()">
      <img id="common-pause" class="img-btn" src="../../../../../assets/games/pause.svg">
      </button>
      <button mat-icon-button class="mx-2 common-game-btn" *ngIf="isSoundOn">
      <img id="common-sound-on" class="img-btn common-sound float-right" (click)="onSoundClick()"
        src="../../../../../assets/games/sound.svg">
      </button>
      <button mat-icon-button class="mx-2 common-game-btn" *ngIf="!isSoundOn" >
      <img id="common-sound-off" class="img-btn common-sound float-right" (click)="onSoundClick()"
        src="../../../../../assets/games/mute.svg">
      </button>
      <!-- <div class="hint-btn-div">

        </div> -->
    </div>
  </div>
</div>


<div class="game-play d-none">
</div>
