<div *ngIf = "readingType === 'readingMaterial'">
    <mat-card class="reading-card" matRipple [matRippleColor]="'#00000010'">

      <div class = "preview-img-div" [ngStyle]="{visibility: showLoading ? 'hidden' : 'visible'}">

      <img class = "preview-img" [src]="readingItem.preview_img" [alt]="readingItem.title" (load)="removeLoading()">
      <div class="img-loading " [ngStyle]="{visibility: showLoading ? 'visible' : 'hidden'}">
        <p class="loading-text"> Loading... </p>
      </div>
      </div>
      <!--<mat-card-footer   [ngClass] = "showState == true ? 'footer-font' :'show'" [innerHTML]="readingItem.title"></mat-card-footer><a (click) = "expandLine()">...</a>-->
      <mat-card-footer class ="show-footer-style for-ellipsis" [innerHTML]="readingItem.title"></mat-card-footer>


    </mat-card>
</div>
<div *ngIf = "readingType === 'usefulList'">
  <mat-card class="reading-card" matRipple [matRippleColor]="'#00000010'">

    <div class = "preview-img-div" [ngStyle]="{visibility: showLoading ? 'hidden' : 'visible'}">

      <img class = "preview-img" [src]="usefulListItem.preview_img" [alt]="usefulListItem.title" (load)="removeLoading()">
      <div class="img-loading " [ngStyle]="{visibility: showLoading ? 'visible' : 'hidden'}">
        <p class="loading-text"> Loading... </p>
      </div>
    </div>
    <!--<mat-card-footer   [ngClass] = "showState == true ? 'footer-font' :'show'" [innerHTML]="readingItem.title"></mat-card-footer><a (click) = "expandLine()">...</a>-->
    <mat-card-footer class ="show-footer-style for-ellipsis" [innerHTML]="usefulListItem.title"></mat-card-footer>


  </mat-card>
</div>



