.reading-card{
  padding: 0px 0px 16px;
  margin: 0px 0px 16px;

}
.for-ellipsis{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.show-footer-style{
  font-size: 16px;
 // margin: 0px;
  margin-left: 14px;
  margin-right: 7px;
  margin-top: 7px;
  padding-bottom: 6px;
  text-align: left;
}

.preview-img{
  width: 100%;
 // height: 100%;
}

@media screen and (min-width: 1501px) {
  .reading-card {
  //  width: 348px;
   // flex-grow: 1;
  //  max-height: 95%;
   // min-height: 95%;
    height: 280px;
  }
  .show-footer-style{
    font-size: 20px;
  }
}

@media screen and (max-width: 1500px) {
  .reading-card {
   // width: 250px;
   // max-height: 95%;
    // min-height: 95%;
    height: 184px;
  }
}
@media screen and (width: 1366px) {
  .reading-card {
    // width: 25%;
    // height: 245px;
    height: 182px;
    // min-height: 182px;
  }
}

@media screen and (max-width: 1280px) {
  .reading-card {
   // width: 224px;
   // max-height: 95%;
   // min-height: 95%;
    height: 150px;
  }
}


@media screen and (max-width: 991px) {
  .reading-card {
  //  width: 268px;
  //  max-height: 95%;
   // min-height: 95%;
    height: 150px;
  }
}

@media screen and (max-width: 768px) {
  .reading-card {
   // width: 159px;
   // max-height: 95%;
   // min-height: 95%;
    height: 150px;
  }

}

@media screen and (max-width: 525px) {
  .reading-card {
   // width: 42vw;
    margin: 0px 0px 14px;
    //max-height: 95%;
    //min-height: 95%;
    height: 160px;
  }
  .show-footer-style{
    font-size: 14px;
  }
}

@media screen and (max-width: 375px) {
  .reading-card {
    // width: 42vw;
    margin: 0px 0px 14px;
    //max-height: 95%;
    //min-height: 95%;
    height: 140px;
  }
  .show-footer-style{
    font-size: 14px;
  }
}
@media screen and (max-width: 320px) {
  .reading-card {
    height: 130px;
  }

}
