
  <mat-expansion-panel hideToggle #panel>
    <mat-expansion-panel-header
      [ngStyle]="{ background: '#FFFCE3' }"
      [expandedHeight]="'42px'"
      [collapsedHeight]="'42px'"
    >
      <mat-panel-title
        [ngStyle]="{
          'font-size': panel.expanded ? '16px' : '14px',
          'font-weight': '500'
        }"
      >
        Identify Thinking
      </mat-panel-title>
      <mat-panel-description>
        <div class="iconsDiv" *ngIf="panel.expanded">
          <mat-icon>help_outline</mat-icon>
          <mat-icon>close</mat-icon>
        </div>
        <div
          class="iconsDiv"
          *ngIf="!panel.expanded && errorCount > 0 && submitted"
        >
          <img src="assets/forms/edit_errors.png" width="24px" />
        </div>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>
      <div class="q-heading">
        {{ title }}
      </div>
      <div *ngFor="let error of errors; let i = index">
        <mat-checkbox #option (change)="updateErrorCount(option.checked, i)">
          {{ error }}
        </mat-checkbox>
      </div>

      <button
        mat-raised-button
        class="btn continue-btn"
        [ngStyle]="{ float: 'right' }"
        *ngIf="errorCount > 0"
        (click)="onSubmit()"
      >
        Done
      </button>
    </ng-template>
  </mat-expansion-panel>

  <mat-card
    class="card-body"
    *ngIf="!panel.expanded && errorCount > 0 && submitted"
  >
    <mat-card-content>
      <div [ngStyle]="{ 'font-size': '12px' }">
        Thinking Errors
      </div>
      <div [ngStyle]="{ 'margin-top': '8px', 'font-size': '12px' }">
        {{ thinkingErrors }}
      </div>
    </mat-card-content>
  </mat-card>

