<mat-expansion-panel
  hideToggle
  #panel
  (afterExpand)="techniqueExpanded.emit()"
  (afterCollapse)="panelCollapse()"
>
  <mat-expansion-panel-header
    [ngStyle]="{ background: '#D4FFEF', paddingLeft: '16px', position: 'relative' }"
  >
    <mat-panel-title
      [ngStyle]="{
        'font-size': panel.expanded ? '16px' : '14px',
        'font-weight': '500'
      }"
    >
      {{ techniqueName }}
    </mat-panel-title>
    <mat-panel-description>
      <div class="iconsDiv" *ngIf="panel.expanded">
        <button mat-icon-button> <mat-icon (click)="onShowInfo($event)">help_outline</mat-icon></button>
        <button mat-icon-button> <mat-icon>close</mat-icon></button>
      </div>
      <div class="iconsDiv" *ngIf="!panel.expanded && summary.length > 0">
        <img src="assets/forms/edit_errors.png" width="24px" />
      </div>
    </mat-panel-description>
  </mat-expansion-panel-header>

  <ng-template matExpansionPanelContent>
    <div class="q-heading">
      {{ title }}
    </div>
    <div [ngStyle]="{ 'padding-left': '5px' }">
      <form [formGroup]="identifyThinkingForm">
        <div
          *ngFor="let error of thinkingErrors; let i = index"
          formArrayName="emotions"
        >
          <mat-checkbox
            [value]="error.error"
            (change)="updateErrorCount($event, i)"
            [checked]="error.isChecked"
          >
            {{ error.error }}
          </mat-checkbox>
        </div>

        <button
          mat-raised-button
          class="btn continue-btn"
          [ngStyle]="{ float: 'right' }"
          (click)="onSubmit()"
        >
          Done
        </button>
      </form>
    </div>
  </ng-template>
</mat-expansion-panel>
<app-summary-card
  [cardHeading]="summaryHeading"
  [summary]="summary"
  [expanded]="panel.expanded"
></app-summary-card>
