<mat-expansion-panel hideToggle="true" #panel5>
  <mat-expansion-panel-header style="background: #C9FFDA;" >
    <mat-panel-description>
      <strong> Deal with intense worry </strong>
    </mat-panel-description>
    <mat-icon *ngIf="panel5.expanded" svgIcon="Close"></mat-icon>
    <mat-icon *ngIf="!panel5.expanded && summaryText" svgIcon="EditErrors"></mat-icon>
  </mat-expansion-panel-header>
  <ng-template matExpansionPanelContent >
  <div class="card-body" style="padding: 15px 2px 16px; color:#00000099;">
    <div>
      <strong>Distract Myself</strong> <br /> <br />
      It might help to distract myself if my worry gets very intense. What can I do to distract myself?
    </div> <br />
    <mat-form-field class="full-width" [formGroup]="DealWorryForm">
      <textarea class="py-0" formControlName="DealWorryStatement" #isText cdkTextareaAutosize cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="5" placeholder="Write here" matInput required [autofocus] (focus)="onFocus()"
     ></textarea>
    </mat-form-field>
    <p class="text-right" (click)="ondealWorrySubmit()" *ngIf="isText.value && continueButton">
      <button type="button" mat-raised-button color="primary" class="continue-btn">Done</button>
    </p>
    <div *ngIf="calmMyself">
      <strong>Calm Myself</strong><br /> <br />
      It might help to do mindful breathing if my worry gets very intense (link).
      <p class="text-right">
        <button type="button" mat-raised-button color="primary" class="continue-btn"
          (click)="continuetocalmMyself()">Done</button>
      </p>
    </div>
  </div>
</ng-template>
</mat-expansion-panel>
<mat-card class="card-body" *ngIf="!panel5.expanded && summaryText">
  <mat-card-content>
      <div [ngStyle]="{ 'font-size': '12px' }">
          Summary
      </div>
      <div [ngStyle]="{ 'margin-top': '8px', 'font-size': '12px' }">
          {{ summaryText }}
      </div>
  </mat-card-content>
</mat-card> <br/>

