<div class="card-full-width">
  <div class="card-header">
    {{ header }}
    <div class="edit-icon">
      <mat-icon class="edit_icon" (click)="onEditSituationClick()">
        edit
      </mat-icon>
    </div>
  </div>
  <div class="card-body">
    <form [formGroup]="thoughtRecordForm">
      <mat-form-field class="full-width">
        <textarea
          matInput
          #formInput="matInput"
          [placeholder]="
            formInput.focused || formInput.empty ? 'Write Here' : ''
          "
          name="problemStatement"
          class="py-0"
          #thoughtTextArea
          cdkTextareaAutosize
          cdkAutosizeMinRows="1"
          formControlName="thought"
          (focusout)="updateThought()"
          (focus)="onShowContinueButton()"
          required
        ></textarea>
      </mat-form-field>
      <p class="text-right">
        <button
          mat-raised-button
          type="button"
          *ngIf="showContinueButton"
          class="btn continue-btn "
          (click)="onThoughtSubmit()"
        >
          Continue
        </button>
      </p>
    </form>

    <app-form-slider
      [minRatingText]="minRating"
      [maxRatingText]="maxRating"
      [question]="scaleThought"
      *ngIf="showSlider"
      (getRating)="getRating($event)"
      [rating]="negativeMoodRating"
    ></app-form-slider>
    <div *ngIf="showSliderButton">
      <div class="text-right">
        <button
          mat-raised-button
          (click)="onThoughtRatingSubmit()"
          class=" btn continue-btn"
        >
          Continue
        </button>
      </div>
    </div>
    <br />
  </div>
</div>
