@import '~@angular/cdk/overlay-prebuilt.css';

@mixin font-montserrat($font-weight: 500, $font-style: normal) {
  font-family: "Montserrat", sans-serif !important;
  font-weight: $font-weight;
  font-style: $font-style;
}

// Montserrat Fonts

.font-montserrat-normal {
  @include font-montserrat($font-weight: 500);
}

.font-montserrat-bold {
  @include font-montserrat($font-weight: 700);
}

.sidenav-container {
  height: 100vh;
}

.is-active {
  cursor: default;
  text-decoration: none;
  pointer-events: none;
}

.sidenav {
  max-width: 205px;
  width: 205px;
  background-color: #f5bb56;
  border: none;
  box-shadow: 0.1px 0px 28px 0px #999999;
}

.sidenav-collapsed {
  width: 100px;
  background-color: #f5bb56;
  border: none;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.dashboard-mat-drawer-content {
  .mat-toolbar {
    background: #F5BB56 !important;
  }

  background: #FAF4EA !important;

}

.list-wrapper {
  display: flex;
  flex-direction: column;
}

.list-user {
  flex: 1;
  align-self: center;
  margin-top: 40px;

  img {
    width: 80px;
    height: 80px;
    border: 10px solid white;
    border-radius: 50%;
  }
}

.list-user-name {
  flex: 1;
  align-self: center;
  padding-bottom: 40px;
  font-family: "Montserrat", sans-serif !important;
}

.list-wrapper-items {
  flex: 1;
  display: flex;
}

.list-wrapper-items-icon {
  flex: 0.35;
  margin: auto;
}

.list-wrapper-items-name {
  flex: 0.65;
  margin: auto;
  font-family: "Montserrat", sans-serif !important;
  font-size: 14px;
  font-weight: 500;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.margin-above-needtotalk {
  margin-top: 50px;
}

.margin-collapsed-modules {
  margin-top: 134px;
}

.icons-width {
  width: 32px;
}

button:focus {
  outline: 0;
}

@media screen and (max-width: 960px) {
  .mat-icon-button {
    color: white !important;
  }

}

@media screen and (max-height: 700px) {
  .list-user {
    margin-top: 10px;

    img {
      width: 60px;
      height: 60px;
    }
  }

  .list-user-name {
    padding-bottom: 10px;
  }

  .mat-list-base .mat-list-item,
  .mat-list-base .mat-list-option {
    height: 40px;
  }
}
