<mat-drawer-container class="sidenav-container" autosize>
  <mat-drawer id="drawer" #drawer class="sidenav" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false" #tooltip="matTooltip"
    matTooltipDisabled matTooltip={{tooltipData}} [matTooltipPosition]="'right'" (click)="tooltipShow()"
              [ngStyle]="{'z-index': overlayOpen? '1' : '3' }">
    <mat-toolbar [appDisableClick]="{'apply': isDisabled}">
      <div>
        <a class="main-logo" routerLink="/dashboard">
          <img
            src="https://www.treadwill.org/static/cbt2/images/logo/treadwill_logo.png"
            style="margin-top: 10px; width: 75%;"
            class="center"
            alt="treadwill_logo"
          />
        </a>
      </div>
      <div>
        <a routerLink="/dashboard"><img *ngIf="!isExpanded" src="assets/modules/icon-tw-small.png" class="icons-width" />
        </a>
      </div>
    </mat-toolbar>

    <mat-nav-list
      role="navigation"
      (click)="onLinkClick($event)"
      [appDisableClick]="{ apply: isDisabled }"
    >
      <div class="list-wrapper">
        <div class="list-user">
          <img
            [src]="user.avatar"
            [alt]="user.username"
            width="80"
            height="80"
          />
        </div>
        <br />
        <div class="list-user-name">
          <strong>{{ user.username }}</strong>
        </div>

        <div class="list-wrapper-items">
          <a mat-list-item routerLink="/main/dashboard">
            <span class="list-wrapper-items-icon">
              <img class="icons-width" src="assets/modules/icon-dashboard.png" alt="dashboard-icon" />
            </span>
            <span class="list-wrapper-items-name">
              Dashboard
            </span>
          </a>
        </div>

        <div *ngIf="user.is_exp" class="list-wrapper-items" id="games">
          <a mat-list-item [ngStyle]="{backgroundColor : '#F4BB56'}" routerLink="/main/games">
            <span class="list-wrapper-items-icon">
              <img class="icons-width" src="assets/modules/icon-game.png" />
            </span>
            <span class="list-wrapper-items-name">
              Games
            </span>
          </a>
        </div>

        <div *ngIf="user.is_exp" class="list-wrapper-items" id="support-group">
          <a mat-list-item [ngStyle]="{backgroundColor : '#F4BB56'}"  routerLink="/main/support-groups">
            <span class="list-wrapper-items-icon">
              <img class="icons-width" src="assets/modules/icon-support-group.png" />
            </span>
            <span class="list-wrapper-items-name">
              SupportGroup
            </span>
          </a>
        </div>

        <div class="list-wrapper-items" id="forms">
          <a mat-list-item [ngStyle]="{backgroundColor : '#F4BB56'}" routerLink="/main/resources/forms">
            <span class="list-wrapper-items-icon">
              <img class="icons-width" src="assets/modules/icon-form.png" />
            </span>
            <span class="list-wrapper-items-name">
              Forms
            </span>
          </a>
        </div>

        <div class="list-wrapper-items">
          <a mat-list-item routerLink="/main/scores">
            <span class="list-wrapper-items-icon">
              <img class="icons-width" src="assets/modules/icon-score.png" />
            </span>
            <span class="list-wrapper-items-name">
              Scores
            </span>
          </a>
        </div>

        <div class="list-wrapper-items">
          <a mat-list-item routerLink="/main/extra-resources">
            <span class="list-wrapper-items-icon">
              <img class="icons-width" src="assets/modules/icon-resource.png" />
            </span>
            <span class="list-wrapper-items-name">
              Resources
            </span>
          </a>
        </div>

        <div class="list-wrapper-items">
          <a mat-list-item routerLink = "/main/need-to-talk">
            <span class="list-wrapper-items-icon">
              <img style="margin-left: 4px;" width="25px" src="assets/modules/icon-need-to-talk.png" />
              <img *ngIf="!isExpanded" width="25px" src="assets/modules/icon-need-to-talk.png" />
            </span>
            <span class="list-wrapper-items-name"> Need to <br />talk? </span>
          </a>
        </div>

        <div class="list-wrapper-items">
          <a mat-list-item routerLink="/main/logout">
            <span class="list-wrapper-items-icon">
              <img class="icons-width" style="margin-left: 2px;" src="assets/modules/icon-log-out.png" />
            </span>
            <span class="list-wrapper-items-name">
              Logout
            </span>
          </a>
        </div>
      </div>
    </mat-nav-list>
  </mat-drawer>

  <mat-drawer-content class="dashboard-mat-drawer-content" appScrolling>
    <mat-toolbar *ngIf="isHandset$ | async" #tooltip="matTooltip" matTooltipDisabled matTooltip={{tooltipData}}
      [matTooltipPosition]="'below'" (click)="tooltipShow()">
      <span></span>
    </mat-toolbar>
    <div class="app-main">
      <app-navbar [user]="user" [appDisableClick]="{'apply': isDisabled}" #tooltip="matTooltip" matTooltipDisabled
        matTooltip={{tooltipData}} [matTooltipPosition]="'below'" (click)="tooltipShow()"
      (hamburgerClick)="drawer.toggle()" [isHandset$]="isHandset$"></app-navbar>
      <div class="page-div">
        <router-outlet></router-outlet>
      </div>
      <app-chatbot *ngIf="user.is_exp && showChatbot"
                   [ngStyle]="{'opacity': flowLoaded ? '1' : '0' }"
      [flowOpen]="flowOpen"></app-chatbot>
      <div class="notification-div">
        <ng-template toastNotification></ng-template>
      </div>
    </div>
    <div>
      <ng-template #connection></ng-template>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
