<mat-drawer-container class="sidenav-container" autosize>
  <mat-drawer
    #drawer
    class="sidenav"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>
      <div>
        <a class="main-logo" routerLink="/dashboard">
          <img
            src="https://www.treadwill.org/static/cbt2/images/logo/treadwill_logo.png"
            style="margin-top: 10px; width: 75%;"
            class="center"
            alt="treadwill_logo"
          />
        </a>
      </div>
      <div>
        <a routerLink="/dashboard"
          ><img
            *ngIf="!isExpanded"
            src="assets/modules/dashboard.png"
            class="icons-width"
          />
        </a>
      </div>
    </mat-toolbar>

    <mat-nav-list role="navigation" (click)="onLinkClick($event)">
      <div class="list-wrapper">
        <div class="list-user">
          <img
            [src]="user.avatar"
            [alt]="user.username"
            width="80"
            height="80"
          />
        </div>
        <br />
        <div class="list-user-name">
          <strong>{{ user.username }}</strong>
        </div>

        <div class="list-wrapper-items">
          <a mat-list-item routerLink="/dashboard">
            <span class="list-wrapper-items-icon">
              <img
                class="icons-width"
                src="assets/modules/Dashboard-icon.png"
                alt="dashboard-icon"
              />
            </span>
            <span class="list-wrapper-items-name">
              Dashboard
            </span>
          </a>
        </div>

        <div *ngIf="user.is_exp" class="list-wrapper-items">
          <a mat-list-item routerLink="/games">
            <span class="list-wrapper-items-icon">
              <img class="icons-width" src="assets/modules/games.png" />
            </span>
            <span class="list-wrapper-items-name">
              Games
            </span>
          </a>
        </div>

        <div *ngIf="user.is_exp" class="list-wrapper-items">
          <a mat-list-item routerLink="/support-groups">
            <span class="list-wrapper-items-icon">
              <img class="icons-width" src="assets/modules/groups.png" />
            </span>
            <span class="list-wrapper-items-name">
              SupportGroup
            </span>
          </a>
        </div>

        <div class="list-wrapper-items">
          <a mat-list-item routerLink="/resources/forms">
            <span class="list-wrapper-items-icon">
              <img class="icons-width" src="assets/modules/Form.png" />
            </span>
            <span class="list-wrapper-items-name">
              Forms
            </span>
          </a>
        </div>

        <div class="list-wrapper-items">
          <a mat-list-item routerLink="/scores">
            <span class="list-wrapper-items-icon">
              <img class="icons-width" src="assets/modules/scores.png" />
            </span>
            <span class="list-wrapper-items-name">
              Scores
            </span>
          </a>
        </div>

        <div class="list-wrapper-items">
          <a mat-list-item routerLink="/">
            <span class="list-wrapper-items-icon">
              <img class="icons-width" src="assets/modules/resources.png" />
            </span>
            <span class="list-wrapper-items-name">
              Resources
            </span>
          </a>
        </div>

        <div class="list-wrapper-items">
          <a mat-list-item href="#">
            <span class="list-wrapper-items-icon">
              <img
                style="margin-left: 4px;"
                width="25px"
                src="assets/modules/need to talk.png"
              />
              <img
                *ngIf="!isExpanded"
                width="25px"
                src="assets/modules/need to talk.png"
              />
            </span>
            <span class="list-wrapper-items-name"> Need to <br />talk? </span>
          </a>
        </div>

        <div class="list-wrapper-items">
          <a mat-list-item routerLink="/logout">
            <span class="list-wrapper-items-icon">
              <img
                class="icons-width"
                style="margin-left: 2px;"
                src="assets/modules/logout.png"
              />
            </span>
            <span class="list-wrapper-items-name">
              Logout
            </span>
          </a>
        </div>
      </div>
    </mat-nav-list>
  </mat-drawer>

  <mat-drawer-content class="dashboard-mat-drawer-content" appScrolling>
    <mat-toolbar *ngIf="isHandset$ | async">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span></span>
    </mat-toolbar>
    <div class="app-main">
      <app-navbar [user]="user"></app-navbar>
      <router-outlet></router-outlet>
      <app-chatbot *ngIf="user.is_exp"></app-chatbot>
      <div class="notification-div">
       <ng-template toastNotification></ng-template>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
