.notification-img {
    margin: 12px 12px 12px 16px;
}
.unread {
    background-color: #faf4ea;
  &:hover {
    background-color: #F3E7D2;
  }
}
.notification {
    padding: 12px 10px;
    max-height: 100%;
    h5 {
        font-size: 14px;
    }
  cursor: pointer;
  font-family: roboto;

}
