<div *ngIf="techniquesCall">
  <div class="row mb-2">
    <div class="col-12">
      <div class="card-full-width">
        <div class="card-header" style="background: #FBE9C8;">
          <strong>
            Select a technique that you would like to use to reduce your worry?
          </strong>
        </div>
        <div class="card-body">
          You can evaluate your worry thought with multiple techniques.
          <div class="float-right d-inline-block" #doneBtn>
            <mat-icon
              svgIcon="Info"
              class="edit_icon"
              (click)="techniqueInfo()"
            >
            </mat-icon>
          </div>
          <br />
          <br />
          <mat-accordion>
            <app-evaluate-worry
              [worry]="worry"
              [summaryIndex]="0"
              (techniqueExpanded)="onTechniqueExpanded()"
              (techniqueCollapsed)="onTechniqueCollapsed($event)"
            >
            </app-evaluate-worry>

            <app-face-my-worst-fear
              [worry]="worry"
              [summaryIndex]="1"
              (techniqueExpanded)="onTechniqueExpanded()"
              (techniqueCollapsed)="onTechniqueCollapsed($event)"
            ></app-face-my-worst-fear>

            <app-modify-beliefs
              [worry]="worry"
              [summaryIndex]="2"
              (techniqueExpanded)="onTechniqueExpanded()"
              (techniqueCollapsed)="onTechniqueCollapsed($event)"
            >
            </app-modify-beliefs>

            <app-wpf-problem-solving
              [worry]="worry"
              [summaryIndex]="3"
              (techniqueExpanded)="onTechniqueExpanded()"
              (techniqueCollapsed)="onTechniqueCollapsed($event)"
            >
            </app-wpf-problem-solving>

            <app-wpf-deal-with-worry
              [summaryIndex]="4"
              (techniqueExpanded)="onTechniqueExpanded()"
              (techniqueCollapsed)="onTechniqueCollapsed($event)"
              (summaryDealingEvent)="setDealSummary($event)"
              [worry]="worry"
            >
            </app-wpf-deal-with-worry>
          </mat-accordion>

        </div>
        <div *ngIf="showContinue && !isCompleted">
          <button
            type="submit"
            mat-raised-button
            class="btn continue-btn "
            [ngStyle]="{ float: 'right' }"
            (click)="showFinalRating()"
          >
            Done
          </button>
          <br /><br />
        </div>
      </div>
    </div>
  </div>
</div>
