
    <div class="row mb-2" >
        <div class="col-12">
          <div class="card-full-width">
            <div class="card-header" >
             Select a technique that you would like to use to reduce your worry?
             <div class="float-right d-inline-block">
                <mat-icon class="edit_icon" >
                  edit </mat-icon>
              </div>
            </div>
            <div class="card-body" >
                You can evaluate your thought with multiple techniques.
                <div class="float-right d-inline-block">
                    <mat-icon class="info_icon" >
                       info </mat-icon>
                </div>
                <div class="card-header" id="a">
                  Evaluate Worry
                </div>
                <div class="card-header" id="b">
                  Face my worst fear
                </div>
                <div class="card-header" id="c">
                  Modify Beliefs
                </div>
                <div class="card-header" id="d">
                  Can I do anything about it?
                </div>
                <div class="card-header" id="e">
                  Deal with intense worry
                </div>

              
            </div>
          </div>
        </div>
    </div>  
