@import '../../forms.component.scss';

// button:not(:disabled) {
//     position : absolute;
//     left : 230px;
// }
[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled),
button:not(:disabled):not(.mat-icon-button) {
  position: absolute;
  right: 50px;
}

strong {
  color: black;
}
.mat-expansion-panel-body {
  padding: 0 2px 16px;
}
textarea.mat-input-element.cdk-textarea-autosize {
  resize: none;
}
