
    <div class="row mb-2" >
        <div class="col-12">
          <div class="card-full-width">
            <div class="card-header" style = "background: #FBE9C8;" >
              <strong> Select a technique that you would like to use to reduce your worry? </strong>
             <div class="float-right d-inline-block">
                <mat-icon class="edit_icon" >
                  edit </mat-icon>
              </div> 
            </div>
            <div class="card-body" >
                You can evaluate your thought with multiple techniques.
                <div class="float-right d-inline-block">
                    <mat-icon svgIcon="Info" >
                        </mat-icon>                    
                </div> <br/> <br/> 
                <mat-expansion-panel hideToggle="true" (opened)="panelOpenState1 = 1"
                (closed)="panelOpenState1 = 2">
                <mat-expansion-panel-header style ="background: #FFFCE3;" (click)="EvaluateClick()">                    
                  <mat-panel-description>
                     <strong> Evaluate Worry </strong>
                  </mat-panel-description>
                  <mat-icon *ngIf="panelOpenState1 == 1" svgIcon="QuestionMark" ></mat-icon>        
                    <mat-icon *ngIf="panelOpenState1 == 1" svgIcon="Close" ></mat-icon>  
                    <mat-icon *ngIf="panelOpenState1 == 2" svgIcon="EditErrors"></mat-icon>
                </mat-expansion-panel-header>
                  <app-evaluate-worry [EvaluatedClicked]="ifevaluatedclicked"></app-evaluate-worry>
                </mat-expansion-panel><br/>
                <mat-expansion-panel hideToggle="true" (opened)="panelOpenState2 = 1"
                (closed)="panelOpenState2 = 2">
                <mat-expansion-panel-header style = "background: #FEC1C1;" >
                  <mat-panel-description>
                    <strong > Face my worst fear </strong>
                  </mat-panel-description>
                    <mat-icon *ngIf="panelOpenState2 == 1" svgIcon="Close" ></mat-icon>         
                    <mat-icon *ngIf="panelOpenState2 == 2" svgIcon="EditErrors"></mat-icon>
                </mat-expansion-panel-header>
                </mat-expansion-panel><br/>
                <mat-expansion-panel hideToggle="true" (opened)="panelOpenState3 = 1"
                (closed)="panelOpenState3 = 2">
                <mat-expansion-panel-header style = "background: #E2E5FF;" (click)="BeliefsClick()" >
                  <mat-panel-description>
                    <strong>Modify Beliefs </strong>
                  </mat-panel-description>
                    <mat-icon *ngIf="panelOpenState3 == 1" svgIcon="Close" ></mat-icon>         
                    <mat-icon *ngIf="panelOpenState3 == 2" svgIcon="EditErrors"></mat-icon>
                </mat-expansion-panel-header>
                <app-modify-beliefs [modifyBeliefsClick]="beliefsClicked"></app-modify-beliefs>
                </mat-expansion-panel><br/>
                <mat-expansion-panel hideToggle="true" (opened)="panelOpenState4 = 1"
                (closed)="panelOpenState4 = 2">
                <mat-expansion-panel-header style =  "background: #FEDEFF;" (click)="solveProbClick()">
                  <mat-panel-description>
                    <strong>Can I do anything about it? </strong>
                  </mat-panel-description>
                    <mat-icon *ngIf="panelOpenState4 == 1" svgIcon="Close" ></mat-icon>         
                    <mat-icon *ngIf="panelOpenState4 == 2" svgIcon="EditErrors"></mat-icon>
                </mat-expansion-panel-header>
                <app-wpf-problem-solving [canISolve]="solveProbClicked"></app-wpf-problem-solving>
                </mat-expansion-panel><br/>
                <mat-expansion-panel hideToggle="true" (opened)="panelOpenState5 = 1"
                (closed)="panelOpenState5 = 2">
                <mat-expansion-panel-header style = "background: #C9FFDA;" (click)="DealwithWorryClick()">
                  <mat-panel-description>                      
                    <strong> Deal with intense worry </strong>
                  </mat-panel-description>
                    <mat-icon *ngIf="panelOpenState5 == 1" svgIcon="Close" ></mat-icon>         
                    <mat-icon *ngIf="panelOpenState5 == 2" svgIcon="EditErrors"></mat-icon>
                </mat-expansion-panel-header>
                <app-wpf-deal-with-worry [dealWorryClick]="dealWithWorry"></app-wpf-deal-with-worry>
                </mat-expansion-panel>

              
            </div>
          </div>
        </div>
    </div>  
