<mat-menu #menu="matMenu" xPosition="before">
  <button mat-menu-item (click)="showThreeMinVideo()">
    <span>3 minutes</span>
  </button>
  <button mat-menu-item (click)="showFiveMinVideo()">
    <span>5 minutes</span>
  </button>
</mat-menu>

<div class="slide-video justify-content-center text-center">
  <iframe
    class="slide-video-iframe"
    [src]="videoUrl | safeUrl"
    id="player"
    #slideVideo
    allow="autoplay"
  ></iframe>

  <div class="d-flex flex-column" style="height:20vh;">
    <button class="align-items-start duration-btn" type="button" [matMenuTriggerFor]="menu" mat-button tabindex="-1">
      {{instruction}}</button>

    <div class="align-items-end" style="margin-top:auto;">
      <button type="button" class="btn btn-small back-text" (click)="onBack()" #backBtn tabindex="-1">{{backBtnTxt}}</button>
    </div>
  </div>
</div>
