.slide-video {
  background-color: white;
  height: 100%;
  font-family: Roboto;
  font-size: 14px;
  margin: 8px;

  .play-text {
    color: #00000066;
  }

  .back-text {
    font-weight: 400;
    color: #999999;
  }

  .back-higlight-text {
    font-weight: 400;
    color: blue;
  }

  .slide-video-iframe {
    margin-bottom: 0%;
    height: 54vh;
    width: 100%;
    min-width: 320px;
    min-height: 400px;
    overflow: hidden;
  }

  .duration-btn {
    font-size: 14px;
    width: 150px;
    color: #2a3b3d;
    background-color: white;
    outline: none;
    box-shadow: none;
  }

  .back-btn {
    font-size: 14px;
    // width: 100px;
    color: white;
    background-color: #2a3b3d;
    outline: none;
    box-shadow: none;
  }

}
