<div class="card-full-width">
  <div class="card-header">
    {{ header }}
    <div class="edit-icon" >
      <mat-icon class="edit_icon" (click)="onEditSituationClick()">
        edit
      </mat-icon>
    </div>
  </div>
  <div class="card-body">
    <form [formGroup]="thoughtRecordForm">
      <mat-form-field class="full-width">
        <textarea
          matInput
          name="problemStatement"
          class="py-0"
          #problemTextArea
          cdkTextareaAutosize
          cdkAutosizeMinRows="1"
          cdkAutosizeMaxRows="5"
          id="problemStatement"
          formControlName="text"
          placeholder="Write here"
          required
          (focusout)="updateText()"
        ></textarea>
      </mat-form-field>
      <p class="text-right">
        <button
        mat-raised-button
          type="button"
          *ngIf="thoughtRecordForm.valid"
          class="btn continue-btn "
          (click)="onProblemSubmit()"
        >
          Continue
        </button>
      </p>
    </form>
  </div>
</div>
