    <div class="d-flex main-div flex-column h-100" *ngIf="problem">
    <div class="d-flex justify-content-center" >
      <h4>Report problem</h4>
    </div>
      <div class="mt-4"*ngIf="!problemSubmit">

      <p >What do you think is the problem with the post?</p>
      <div class="row mx-0 w-100">
    <mat-form-field class="w-100 ">
      <textarea matInput [(ngModel)]="reason"
                cdkTextareaAutosize
                cdkAutosizeMinRows="1"
                placeholder="Write here"></textarea>
    </mat-form-field>
      </div>
      <div class="d-flex flex-row btn-div mt-auto float-right ">
        <button class="close-btn align-self-end " mat-stroked-button (click)="close()"
        >Cancel</button>

        <button class="report-btn align-self-end ml-3 " mat-flat-button (click)="report()" >Report</button>
      </div>

  </div>
      <div class="d-flex mt-4 flex-column align-items-center justify-content-center" *ngIf="problemSubmit">
        <p >Thank you! Your problem has been reported.</p>
        <button class="report-btn align-self-center btn-div " mat-flat-button (click)="done()">Done</button>
      </div>
    </div>
  <div class="d-flex main-div flex-column h-100"  *ngIf="suicide" >
    <div  class="d-flex justify-content-center" >
      <h4>Report suicide</h4>
    </div>
    <div  class="mt-4" *ngIf="!problemSubmit">

    <p>From the text, do you think that the person is having suicidal thoughts? Please answer carefully</p>

    <div class="d-flex flex-row mt-auto float-right btn-div " >
      <button class="close-btn " mat-stroked-button (click)="close()"
      >Cancel</button>

      <button class="report-btn ml-3 " mat-flat-button (click)="report()" >Yes</button>
    </div>
  </div>
<div class="d-flex mt-4 flex-column align-items-center justify-content-center" *ngIf="problemSubmit">
  <p>Thank you! Your report about suicide has been reported.</p>
  <button class="report-btn align-self-center btn-div " mat-flat-button (click)="done()" >Done</button>
</div>
    </div>
