<div class="win-div">
<div class="text-center p-3" style="font-family: Roboto;">
  <img class="gameFinishedImg" src="../../../../../../../assets/games/mental-imagery-game/Great.svg">


  <p class="large-font"><b>Great</b></p>
  <p class="smallest-font">You have completed this task.</p>
  <p class="smallest-font"> <b>Next : {{ nextLevel.title }}</b></p>
  <button style="min-width:100% !important;" mat-raised-button [color]="'new'" (click)="onStartNext()" type="button">
    Start
  </button>
</div>
</div>
