<div class="text-center m-3">
        <img class="gameFinishedImg" src="../../../../../../../assets/games/mental-imagery-game/Great.png">

    
        <p class="large-font"><b>Great!</b></p>
        <p class="smallest-font">You have completed this task.</p>
        <!-- <p class="smallest-font"> <b>Next : {{ nextLevel.title }}</b></p> -->
        <button 
        style="min-width:100% !important;" 
        mat-raised-button [color]="'new'" 
        (click) = "onStartNext()"
        type="button" >
        Start
        </button> 
</div>