<div class="row signup-page w-100 no-gutters">
  <div class="d-flex flex-column col-sm-12 col-md-5 cover-page text-center justify-content-center no-gutters">
    <div class="d-flex align-items-center logo-img mx-auto justify-content-center">
      <img src="https://www.treadwill.org/static/cbt2/images/logo/treadwill_logo.png" class="img-responsive center"
        alt="treadwill_logo" />
    </div>
    <div class="d-flex mx-auto mt-auto footer-1 align-items-end text-center ">
      All Rights Reserved &copy; Treadwill
    </div>
  </div>

  <div class="d-flex flex-column col-sm-12 col-md-7 text-center  no-gutters">
    <div class="flex-column mx-auto my-auto align-self-center">
      <h4> SIGN UP</h4>
      <div *ngIf="!showSignUpForm" class="d-flex flex-row align-items-center justify-content-start"
        style="height: 450px; width: 100%;">
        <img src="assets/shared/dna-loader.svg" alt="loader">
      </div>

      <div *ngIf="showSignUpForm && participantValid && !userExists">
        <form #signupForm="ngForm" class="signup-form">
          <div class="input-container text-center">
            <mat-error *ngIf="errorStatus"> {{usernameError}} </mat-error>
            <mat-error *ngIf="errorStatus"> {{passwordError}} </mat-error>
            <mat-error *ngIf="!passwordMatch"> {{passwordMatchError}} </mat-error>
            <div class="tips">
              Tips: Use a nickname to maintain anonymity
            </div>
            <div class="row no-gutters justify-content-start">
              <mat-form-field style="width:100%">
                <input matInput placeholder="Username" type="text" ngModel required name="username"
                  class="example-right-align">
                <mat-error>Username is required</mat-error>
              </mat-form-field>
            </div>

            <div class="row no-gutters justify-content-start">
              <mat-form-field style="width:100%">
                <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" ngModel required
                  name="password">
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                <mat-error>Password is required</mat-error>
              </mat-form-field>
            </div>
            <div class="row no-gutters justify-content-start">
              <mat-form-field style="width:100%">
                <input matInput placeholder="Confirm password" [type]="hide ? 'password' : 'text'" ngModel required
                  name="passwordConfirm">
                <mat-error> Password is required </mat-error>
              </mat-form-field>
            </div>
            <div class="row no-gutters justify-content-start terms-text">
              <mat-checkbox ngModel required name="terms_conditions">
                I agree to the <a class="anchorify-default" (click)="onTermsConClick()">Terms and
                  Conditions</a>
                <mat-error *ngIf="!termsConditionChecked"> Accept the terms and condtions.</mat-error>
              </mat-checkbox>
            </div>

            <div mat-dialog-actions class="d-flex justify-content-end">
              <button mat-raised-button class="signup-btn" type="submit" (click)="onSignUpSubmit()">
                Sign Up
              </button>
            </div>
          </div>
        </form>
      </div>

      <div *ngIf="showSignUpForm && !participantValid">
        <p>The link is invalid. Please enter your email id here to receive the proper link: </p>
      </div>

      <div *ngIf="userExists">
        <p>You have already Signed up for TreadWill. Your username is: {{username}}. <a routerLink="/landing">Log
            in</a>
        </p>
      </div>
    </div>
  </div>
  <div class="row w-100 no-gutters  footer-2">
    <p>
      All Rights Reserved &copy; Treadwill
    </p>



  </div>
</div>
<!--<ng-template #loader>-->
<!--  -->
<!--</ng-template>-->
