.flow-container {
  .dashboard-title {
    padding: 10px 10px 10px 25px;
    background-color: #f5bb56;
    color: #ffffff;
    text-align: left;
    font-size: 1.2rem;
  }

  .navBar-title {
    display: none;
  }

  .flow-scroll {
    min-height: 50vh;

    .flow-scroll-inner {
      height: 100%;
      overflow-y: auto;
      margin-bottom: 2vh;
    }

    .flow-scroll-inner::-webkit-scrollbar {
      width: 5px;
    }

    .flow-scroll-inner::-webkit-scrollbar-track {
      opacity: 0.8;
      border-radius: 10px;
    }

    .flow-scroll-inner::-webkit-scrollbar-thumb {
      background-color: #989697;
      border-radius: 10px;
      opacity: 0.8;
    }
  }
}
.delay-message {
  font-size: 16px;
  opacity:60%;
  margin-top:35px;
}

.dashboard-flow-container {
  width: 35.286vw;
  //min-width: 360px;
  min-width: 360px;

  //margin: 0 auto;
  //margin-left: 0;
  padding: 0;
  background-color: #ffffff;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.navBar-flow-container {
  max-width: 100% !important;
  box-shadow: none !important;

  .flow-scroll {
    height: 100%;
  }
}

.in-desktop {
  display: block;
}
.in-mobile {
  display: none;
}

@media screen and (max-width: 991px) {
  .navBar-flow-container {
    padding: 0%;
    max-width: 100% !important;
    box-shadow: none !important;

    .flow-scroll {
      height: 100vh;
    }
  }
}

@media screen and (max-width: 767px) {
  .dashboard-flow-container {
    width: 100%;
    max-width: 400px;
    box-shadow: 2px 2px 10px #cccccc;
  }

  .in-desktop {
    display: none;
  }
  .in-mobile {
    display: block;
  }
  .delay-message {
    font-size: 14px;
  }
}
.intro-overlay{
  background: #000;
  height: 80vh;
  position: fixed;
  top: 50vh;
  opacity: 0.7;
  z-index: 99999;
}

