.flow-container {
    max-width: 70%;
    margin: 0 auto;
    padding: 0;
    background-color: #ffffff;
    box-shadow: 2px 2px 10px #cccccc;
    .progress-heading {
        padding: 10px;
        background-color: #f5bb56;
        color: #ffffff;
        text-align: center;
        font-size: 1.2rem;
    }
    .flow-scroll {
      max-height: 72vh;
      min-height: 50vh;
      .flow-scroll-inner {
        height: 100%;
        overflow-y: auto;
      }
      .flow-scroll-inner::-webkit-scrollbar {
        width: 5px;
      }
      .flow-scroll-inner::-webkit-scrollbar-track {
        opacity: 0.8;
        border-radius: 10px;
      }
      .flow-scroll-inner::-webkit-scrollbar-thumb {
        background-color: #989697;
        border-radius: 10px;
        opacity: 0.8;
      }
    }
}
.in-desktop{
  display: block;
}
@media screen and (max-width: 770px) {
  .flow-container {
    width: 100%;
    max-width: 400px;
  }
  .in-desktop{
    display: none;
  }
}
