<router-outlet></router-outlet>
<div class="q">
  <div class="container" *ngIf="display_phq_start" [@simpleFadeAnimation]="'in'">
    <div class="row">
      <div class="col-md-12 dashboard">
        <div class="row">
          <div class="col-xl-4 col-md-6 col-sm-12" class="card text-center">
            <div class="card-body">
              <div id=bold> Before moving further, we need you to carefully answer 9 quick questions. This is
                  a
                  standard set of questions, called PHQ-9, used in healthcare to assess depressive
                  symptoms
                  (everyone has some!).
              </div>
              <br><br>
              <div id=bold>Carefully answering these questions is important for you to track your
                  progress,
                  for ensuring your participation, and for the development of TreadWill as a useful
                  resource.
              </div>
              <br><br><br>
              <button id=btn type="button" class="btn btn-outline-dark" (click)="display()">
                Start</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container" *ngIf="display_questionnaire" [@simpleFadeAnimation]="'in'">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-xl-4 col-md-6 col-sm-12" class="card text-center">
            <div class="row h-100 ">
              <div class="col-2 my-auto ">
                <button type="button" class="btn btn-default" aria-label="Left Align" (click)="onback()" *ngIf="back">
                  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                </button>
              </div>
              <div class="col-8 my-auto" [@in]="question_no">
                <div>
                  <div class="card-subtitle mb-2 text-muted" *ngIf="!submit">Question {{pager.index }}
                    of
                    {{pager.count}}</div>
                  <span id=const *ngIf="!submit">Over the last two weeks, how often have you been
                    bothered
                    by this problem?</span>
                  <br>
                  <div class="col" *ngIf="!submit">
                    <div id=question>
                      <div id=bold><b>{{ques}}</b></div>
                    </div>
                  </div>
                  <br>
                  <div class="row justify-content-center">
                    <div class="col-6 col-md-4 " class="button-group " *ngIf="!submit">
                      <button id=btn type="button" class="btn btn-outline-dark"
                        [ngClass]="{'backblack': see0, 'disabled': !visible, 'hower': !visible}"
                        (click)="visible === false || onselect0()">No, not at
                        all</button>
                    </div>
                    <div class="col-6 col-md-4 " class="button-group " *ngIf="!submit">
                      <button id=btn type="button" class="btn btn-outline-dark"
                        [ngClass]="{'backblack': see1, 'disabled': !visible, 'hower': !visible}"
                        (click)="visible === false || onselect1()">On some days</button>
                    </div>
                    <div class="col-lg-3 col-sm-8" class="button-group " *ngIf="!submit">
                      <button id=btn type="button" class="btn btn-outline-dark"
                        [ngClass]="{'backblack': see2, 'disabled': !visible, 'hower': !visible}"
                        (click)="visible === false || onselect2()">Most of the
                        days</button>
                    </div>
                    <div class="col-lg-3 col-sm-8" class="button-group " *ngIf="!submit">
                      <button id=btn type="button" class="btn btn-outline-dark"
                        [ngClass]="{'backblack': see3, 'disabled': !visible, 'hower': !visible}"
                        (click)="visible === false || onselect3()">Nearly
                        everyday</button>
                    </div>
                  </div>
                  <div *ngIf="submit" [@simpleFadeAnimation]="'in'">
                    <div class="row">
                      <div class="col">
                        <div id=submit>
                          Thankyou for your response!
                        </div>
                        <button id=btn type="button" class="btn btn-outline-dark" *ngIf="submit"
                          (click)="onsubmit()">Submit</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-2 my-auto ">
                <button type="button" class="btn btn-default" aria-label="Right Align" (click)="onfront()"
                  *ngIf="display_front()">
                  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container" *ngIf="display_gad_start" [@simpleFadeAnimation]="'in'">
    <div class="row">
      <div class="col-md-12 dashboard">
        <div class="row">
          <div class="col-xl-4 col-md-6 col-sm-12" class="card text-center">
            <div class="card-body">
              <span id=bold> Before moving further, we need ou to carefully answer 7 quick questions. This is
                  a
                  standard set of questions, called GAD-7, used in healthcare to assess anxiety symptoms
                  (everyone has some!). </span>
              <br><br>
              <span id=bold>
                  Carefully answering these questions is important for you to track your
                  progress,
                  for ensuring your participation, and for the development of TreadWill as a useful
                  resource.
              </span>
              <br><br><br><br><br>
              <button id=btn type="button" class="btn btn-outline-dark" (click)="display()">
                Start</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-container *ngIf="loading">
  <div class="col-md-2 module-nav">
    <img src="assets/shared/dna-loader.svg" alt="loader" class="loader">
  </div>
</ng-container>
<!-- <ng-container *ngIf="!active && !loading">
  <h2>This is not available</h2>
</ng-container> -->
