<div *ngIf = "isResult == 'false'">
<mat-card class = "ques-card">
  <div class = "preview-img-div">
<!--    <img class = "preview-img" src = "assets/shared/loading-gif.gif" ></img>-->
<!--    <div class = "preview-img">Test text</div>-->
  </div>
  <mat-card-footer class = "show-footer-style">
    <span>{{questionnaireItem.category}}</span>
    <div class = "bold-text">{{questionnaireItem.title}}<br></div>
    {{questionnaireItem.subtitle}}
  </mat-card-footer>
</mat-card>
</div>

<div *ngIf = "isResult == 'true'">
<mat-card class = "card">


</mat-card>
<span>History</span>
<div>
  <a (click) = "viewResultClick()" class = "view-result-style">View result</a>
</div>
</div>
