<div class="card-body">   
    <div>
      Write down the worst fear in as much detail as possible.  <br/> <br/> 
    
        <mat-form-field class="full-width" [formGroup]="faceYourWorstFearForm">
        <textarea class="py-0" formControlName="faceYourWorstFear" #fear cdkTextareaAutosize cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="5" placeholder="Write here" matInput required [autofocus] (focus)="onFocus()" 
            ></textarea>
        </mat-form-field>
        <p class="text-right" *ngIf="fear.value && continueButton" (click)="OnWorstFearClick()">
            <button type="button" mat-raised-button color="primary" class="continue-btn">Continue</button>
        </p>

    </div> 
    <div *ngIf="showTasks">
        <app-tasks [taskHeading]= "taskHeading"></app-tasks> <br/> <br/>
    </div>
    <div>
        <mat-form-field class="full-width" [formGroup]="faceYourWorstFearForm">
            <textarea class="py-0" formControlName="emergency_plan" #Text cdkTextareaAutosize cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="5" placeholder="Write here" matInput required [autofocus] (focus)="onFocus()"
                ></textarea>
        </mat-form-field>
    </div>
    <p class="text-right" *ngIf="Text.value " (click)="OnWorstFearClick()">
        <button type="button" mat-raised-button color="primary" class="continue-btn">Continue</button>
    </p>
</div>