<mat-expansion-panel
  hideToggle="true"
  #panel2
  (afterExpand)="techniqueExpanded.emit()"
  (afterCollapse)="panelCollapse()"
>
  <mat-expansion-panel-header style="background: #FEC1C1; position: relative">
    <mat-panel-description>
      <strong> Face my worst fear </strong>
      <div class="circle" *ngIf="worry.show_follow_up_dot"></div>
    </mat-panel-description>
    <button class="iconsDiv" mat-icon-button *ngIf="panel2.expanded" >
    <mat-icon svgIcon="Close"></mat-icon></button>
    <button  class="edit_icon iconsDiv" mat-icon-button *ngIf="!panel2.expanded && summaryText" style="top:6px">
<!--    <mat-icon-->
<!--      svgIcon="EditErrors"-->
<!--    ></mat-icon>-->
      <img src="assets/forms/svg/edit%201.svg" >
    </button>
  </mat-expansion-panel-header>
  <ng-template matExpansionPanelContent>
    <div class="card-body" style="padding: 15px 2px 16px;">
      <div class="headingText">
        Write down the worst fear in as much detail as possible. <br />
        <br />
      </div>
      <div>
        <mat-form-field class="full-width" [formGroup]="faceYourWorstFearForm">
          <textarea
            class="py-0"
            formControlName="faceYourWorstFear"
            #fear
            cdkTextareaAutosize
            matInput
            #formInput="matInput"
            [placeholder]="
              formInput.focused || formInput.empty ? 'Write Here' : ''
            "
            required
            [autofocus]
            (focus)="onFocusfear()"
          ></textarea>
        </mat-form-field>
      </div>
      <div
        class="float-right h-36 mb-3"
        *ngIf="fear.value && continueButton"
        (click)="onWorstFearClick()"
      >
        <button type="button" mat-raised-button class="continue-btn">
          Continue
        </button>
      </div>
      <br /><br />
      <div *ngIf="showTasks">
        <br />
        <app-tasks
          [taskHeading]="taskHeading"
          (showMessage)="taskSubmitted($event)"
          (taskLoaded)="taskLoaded($event)"
          [object]="taskObject"
          [task]="task"
          [worryDetails]="this.summaryText"
        ></app-tasks>
        <br />
        <br />
      </div>
      <div class="headingText" *ngIf="taskEmitted">
        <div class="d-inline-flex">
          <div class="col-11 px-1">
            Write down the emergency plan (You can write the emergency plan
            after worrying regularly for 2-3 weeks).
          </div>
          <div class="circle" *ngIf="worry.show_follow_up_dot"></div>
        </div>
        <br />
        <br />
        <div *ngIf="disableEmergency" class="hideResult col-12 my-2">
          Disabled
        </div>
        <div *ngIf="disableEmergency" class="notice my-4">
          The fields to write the outcome will be active after
          {{ getEndDate() }}.
        </div>
        <div class="float" *ngIf="disableEmergency">
          <button
            type="button"
            (click)="onSummary()"
            mat-raised-button
            class="continue-btn"
          >
            Done
          </button>
          <br />
          <br />
        </div>
        <div *ngIf="!disableEmergency">
          <mat-form-field
            class="full-width"
            [formGroup]="faceYourWorstFearForm"
          >
            <textarea
              class="py-0"
              formControlName="emergency_plan"
              #Text
              cdkTextareaAutosize
              matInput
              #formInput="matInput"
              [placeholder]="
                formInput.focused || formInput.empty ? 'Write Here' : ''
              "
              required
              [autofocus]
              [disabled]="disableEmergency"
              (focus)="onFocusEmergency()"
            ></textarea>
          </mat-form-field>
          <p
            class="text-right"
            *ngIf="Text.value && continueEmergency && !doneShowSummary"
            (click)="onEmergencyPlan()"
          >
            <button type="button" mat-raised-button class="continue-btn">
              Continue
            </button>
          </p>
          <div class="text-right mb-2" *ngIf="doneShowSummary">
            <button
              type="button"
              (click)="onSummary()"
              mat-raised-button
              class="continue-btn"
            >
              Done
            </button>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</mat-expansion-panel>

<mat-card class="card-body" *ngIf="!panel2.expanded && summaryText">
  <mat-card-content>
    <div [ngStyle]="{ 'font-size': '12px' }">
      Summary
    </div>
    <div [ngStyle]="{ 'margin-top': '8px', 'font-size': '12px' }">
      {{ summaryText }}
    </div>
  </mat-card-content>
</mat-card>
<br />
