@import "styles.scss";
@import "games-styles.scss";

.loading{
    position: relative;
    max-width: 340px;
    z-index: 30;
    color:white;
    text-align: center;
    justify-content: center;
    font-size: 14px;
}


.loadingBar{
    height:20px;
    width:200px;
    padding: 1px;

    margin-top: -22rem;
    margin-left: 4rem;

}


// @media only screen and (max-width: 767px){
//     .dialog-content{
//         margin-top: -33rem;
//     }
// }
