<div class="row no-gutters nested-comment">
  <div class="col-12" *ngIf="editMode">
    <form class="form form-nc" (ngSubmit)="submitReply()" #replyForm="ngForm">
      <div class="form-group">
        <textarea type="text" name="body" class="form-control" [(ngModel)]="body" [autofocus]></textarea>
      </div>
      <div class="text-right">
        <button type="submit" class="btn btn-primary btn-sm nc-submit">Save</button>
        &nbsp;
        <button type="button" class="btn btn-warning btn-sm nc-cancel" (click)="onCancel()">Cancel</button>
      </div>
    </form>
  </div>
  <div class="col-3 offset-1 user-section text-center" *ngIf="!editMode">
    <img [src]="userNestedComment.user.avatar" alt="User avatar" width="45" height="45">
    <p class="text-muted user">{{userNestedComment.user.username}}</p>
  </div>
  <div class="col-8" *ngIf="!editMode">
    <p class="nc">{{userNestedComment.body}}</p>
    <div><span class="text-muted date">{{ userNestedComment.created_at |  date: 'medium' | timeAgo }}</span></div>
    <p>
      <button class="btn btn-sm" (click)="onThumbsUp()"><img [src]="thumbsUp" width="18" height="18">
        {{userNestedComment.up_votes}}</button>
      <button class="btn btn-sm" (click)="onThumbsDown()"><img [src]="thumbsDown" width="16" height="16"></button>
      <span *ngIf="user.username == userNestedComment.user.username">
        <button class="btn btn-sm nc-edit" (click)="onEdit()"><b>Edit</b></button>
        <button class="btn btn-sm nc-delete" (click)="onDelete()"><b>Delete</b></button>
      </span>
    </p>
  </div>
</div>
