@import "styles.scss";
@import "../post-item.component.scss";

.nested-comment {
  padding-top: 10px;
  padding-left: 0px;
  margin-bottom: 5px;

  .user-section {
    border-left: 5px solid #cccccc;
  }

  .user-avatar {
    img {
      border-radius: 50%;
      width: 44px;
      height: 44px;
      position: absolute;
      left: 7.5%;
      z-index: 100;
    }
  }

  .profile-card {
    margin-top: 0px;
    // max-width: 100%;
  }

  .user-stats {
    margin-left: 36px;
  }

  .user {
    font-size: 14px;
    color: #00000099;
  }

  .date {
    font-size: 13px;
    color: #00000099;
  }

  .nested-comment-body p {
    margin-bottom: 0px;
  }

  .context-button {
    // height: 100%;
    text-align: right;
    color: #848484 !important;

    .mat-icon-button {
      width: 24px;
      height: 24px;
      line-height: 24px;
    }
  }

  .btn-sm {
    padding: 4px;
    box-shadow: none;
    font-size: 13px;
    color: #00000099;

    img {
      width: 35px;
      height: 18px;
    }
  }
}

.thankyou-img {
  width: 18px !important;
  height: inherit !important;
}


.cancel-btn {
  width: 100px;
  color: #2A3B3D;
  background-color: white;
}

.save-btn {
  width: 100px;
  color: white;
  background-color: #2A3B3D;
}

.nested-comment-profile-card {
  z-index: 300;
  position: absolute;
  text-align: initial;
  max-width: 500px;
  margin-left: 120px;
  max-height: 340px;
  min-width: 490px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .nested-comment-profile-card {
    max-height: 280px;
    left: 30px;
    max-width: 400px;
    margin-left: 85px;
    min-width: 390px;
  }
}

@media screen and (max-width: 767px) {
  .nested-comment-profile-card {
    max-width: 450px;
    min-width: 440px;
    left: 100px;
    max-height: 261px;
  }
}

@media screen and (max-width: 566px) {
  .nested-comment {
    margin-bottom: 10px;
    border-radius: 8px;

    .user-avatar {
      img {
        border-radius: 50%;
        width: 36px;
        height: 36px;
        position: absolute;
        left: 7.5%;
      }
    }

    .user-stats {
      margin-left: 30px;
    }

    .profile-card {
      margin-top: 0px;
    }

    .user {
      font-size: 12px;
    }

    .btn-sm {
      font-size: 12px;
    }

    .date {
      font-size: 10px;
    }
  }

  .nested-comment-profile-card {
    width: 98vw;
    min-width: 310px;
    margin-left: 0;
    left: -45px;
  }
}
