
.congrats-div {
    font-family: 'Roboto';
    max-height: 733px; 
    max-width: 1158px;
    height: 100%;
    width: 100%;
    text-align: center
}
.congrats-text {
    color: #4E4E4E;
    font-size: 32px;    
}
.text {
    color: #8D8D8D;
}
#flow-img{
    height: 90%;
}
#next-step-div{
    height: 10%;
    max-height: 50px;
}
.row, .col {
    padding: 0%;
    margin: 0%;
}
@media screen and (max-width: 767px) {
    
    .congrats-text {
        font-size: 24px;    
    }
    .next-step-div{
        max-height: 36px;
    }
    .next-step-btn{
        margin-left: auto  !important;
        margin-right: auto !important;
    }
}