<div class="congrats-div d-flex row mx-0 px-1 py-1 ">

    <div class="row w-100">
        <div class="col justify-content-center">
            <img class="" src="../../../../../assets/shared/thumb.svg">
        </div>
    </div>
    <div class="row w-100 align-self-center">
        <div class="col justify-content-center" >
            <p class="congrats-text"> Congratulations </p>
            <p class=" text"> You have completed this step. Try next step </p>

            <p class=" text" *ngIf='data.isLocked'>
                Next step is locked. Try previous steps, go to dashboard. <br>
                Module will unlock on {{unLockTime | date:"medium"}}</p>
            <p class="text" *ngIf='data.isLastStep && !data.isLocked '>
                Go to dashboard and try next module.
            </p>
        </div>
    </div>
    
    <div class="row w-100 align-self-end next-step-div justify-content-end">
        <button class="next-step-locked h-100" type="button"
            *ngIf='data.isLocked || data.isLastStep; else nextStepBtn'
            (click) = 'goToDashboard()'
            mat-raised-button color="primary">
            <img id="flow-img" src="../../../../../assets/shared/Flow_white.svg">
            Dashboard
        </button>

        <ng-template #nextStepBtn>
            <button class="h-100" type="button"
                (click) = 'onNextClicked()'
                id="next-step-btn"
                mat-raised-button color="primary">
                <img id="flow-img" src="../../../../../assets/shared/Flow_white.svg">
                Next Step
            </button>
        </ng-template>
    </div>
    
</div>

