
.congrats-div {
    max-width: 620px;
    height: 100%;
    width: 100%;
    text-align: center;
  font-family: Roboto;
}
.badge-div{
  height: 180px;
  width: 620px;
  background-color: #2A3B3D;
}
.badge-text{
  color:#FFFFFFDE;
  font-size: 16px;
  margin-top:55px;
}
.congrats-text {
  margin-top: 24px;
  margin-bottom: 12px;
    color: #4E4E4E;
    font-size: 30px;
  font-weight: 500;
}
.congrats-msg {
  padding: 0 60px !important;
}
.text {
    color: #00000099;
  font-size: 16px;
}
.next-text {
  color: #00000066;
  font-size: 14px;
  //margin-top: 56px;
}
#flow-img{
    height: 80%;
}
#next-step-div{
    height: 10%;
    max-height: 50px;
}
.row, .col {
    padding: 0%;
    margin: 0%;
}
button {
  background-color: #2a3b3d;
  color: white;
}
.badge-img{
    height: 108px;

}
.sparkled-img {
  margin-top:16px;
  width:222px;
}
@media screen and (max-width: 767px) {
  .congrats-div {
    max-width: 320px;
  }

  .congrats-msg {
    padding: 0 20px !important;
  }
  .congrats-text {
    margin:0;
    padding: 0 60px;
    font-size: 24px;
    }
  .badge-div{
    height: 180px;
    width: 320px;
    background-color: #2A3B3D;
  }

  .text {
    color: #00000099;
    font-size: 14px;
  }
  .next-text {
    //margin-top: 48px;
  }

    .next-step-div{
        max-height: 36px;
    }
    .next-step-btn{
        margin-left: auto  !important;
        margin-right: auto !important;
    }
}
