<div class="container-fluid no-gutters">
  <div class="post-list">
    <div class="row search-row">
      <div class="col-12 col-md-8 offset-md-2">
        <form (ngSubmit)="onSearchSubmit()">
          <div class="form-row align-items-center search-form justify-content-center">
            <input type="text" name="search" placeholder="Search" class="form-control mr-2" [(ngModel)]="search">
            <button  mat-raised-button type="submit" class="mr-2" color="primary"><mat-icon>search</mat-icon></button>
            <button mat-raised-button type="button" (click)="onReset()"><mat-icon>settings_backup_restore</mat-icon></button>
          </div>
        </form>
      </div>
    </div>
    <div class="row no-gutters" *ngIf="getSearchResultMessage()">
      <div class="col-12">
        <p class="message" [innerHTML]="getSearchResultMessage()"></p>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-12">
          <ng-container *ngIf="newPosts.length > 0">
              <app-post-item *ngFor="let post of newPosts" class="animate" [newPost]="true"
                (deleteEvent)="onItemDeletion($event)" (editEvent)="onItemEdit($event)" [supportGroupItem]="post"
                (tagClick)="onTagClick($event)">
              </app-post-item>
            </ng-container>
            <ng-container *ngIf="posts.length > 0">
              <app-post-item *ngFor="let post of posts" (deleteEvent)="onItemDeletion($event)"
                (editEvent)="onItemEdit($event)" [supportGroupItem]="post" (tagClick)="onTagClick($event)">
              </app-post-item>
            </ng-container>
            <div *ngIf="fetching" class="text-center">
              <img src="assets/shared/dna-loader.svg" alt="dna">
            </div>
            <div *ngIf="!fetching">
              <!-- <p>You have reached the end of the world</p> -->
            </div>
          </div>
      </div>
  </div>
</div>
