<div class="container-fluid" (scroll)="onScroll($event)">
    <ng-container *ngIf="newPosts.length > 0">
        <app-post-item
          *ngFor="let post of newPosts"
          class="animate"
          [newPost]="true"
          (deleteEvent)="onItemDeletion($event)"
          [supportGroupItem]="post">
        </app-post-item>
      </ng-container>
  <ng-container *ngIf="posts.length > 0">
    <app-post-item
      *ngFor="let post of posts"
      (deleteEvent)="onItemDeletion($event)"
      [supportGroupItem]="post">
    </app-post-item>
  </ng-container>
  <div *ngIf="fetching"><h1>Loading...</h1></div>
  <div *ngIf="!fetching"><h1>You have reached the End of the World!</h1></div>
</div>