<div class="m-4">
    <div class='big-font text-center'>How to play?</div>
    <img class="game-play-image" src="../../../../../../../assets/games/friendly-face-game/images/How to play.png">
  
  
    <br>
    <div class="instructionsDiv smallest-font m-1 ">
        <p class="card-text">Click on the happy faces as quickly as you can.</p>
        <p class="card-text">Don't click on the non-happy faces.</p>
    </div>
  
  
    <div class="ml-auto p-1">
      <button mat-raised-button [color]="'new'" (click)="onStart()" type="button" #startBtn>Start</button>
    </div>
  </div>
