<div class="row-fluid">
  <div class="cover-container" #widgetsContent>
    <button class="left-arrow" (click)="scrollLeft()" *ngIf="profileLoaded">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <div
      class="cover-item"
      *ngFor="let badge of badgeList"
      [ngStyle]="{ display: !profileLoaded ? 'none' : 'inline-block' }"
    >
      <div
        class="badge-box"
        [ngStyle]="{ opacity: !badge.user_has_badge ? '0.3' : '1' }"
      >
        <div
          *ngIf="badge.no_badges_earned > 1"
          class="badge-count"
          [ngStyle]="{ color: badgesCountColor }"
        >
          <mat-icon class="clear-icon">clear</mat-icon
          >{{ badge.no_badges_earned }}
        </div>
        <img
          class="badge-image"
          src="{{ badge.image }}"
          [alt]="badge.name"
          [matTooltip]="badge.description"
          matTooltipPosition="above"
        />
        <!--              <div class="badge-image badge-skeleton" alt="You" [ngStyle]="{display: profileLoaded ? 'none' : 'inline-block'}" ></div>-->

        <div class="badge-name">{{ badge.name }}</div>
      </div>
    </div>
    <div class="skeleton-div" *ngIf="!profileLoaded">
      <!--     badges skeleton 1-->
      <div class="cover-item">
        <div class="badge-box">
          <div class="badge-image badge-skeleton mx-auto" alt="You"></div>

          <div class="badge-name text-skeleton mx-auto"></div>
        </div>
      </div>
      <!--     badges skeleton 2-->
      <div class="cover-item">
        <div class="badge-box">
          <div class="badge-image badge-skeleton mx-auto" alt="You"></div>

          <div class="badge-name text-skeleton mx-auto"></div>
        </div>
      </div>
      <!--     badges skeleton 3-->
      <div class="cover-item">
        <div class="badge-box">
          <div class="badge-image badge-skeleton mx-auto" alt="You"></div>

          <div class="badge-name text-skeleton mx-auto"></div>
        </div>
      </div>
      <!--     badges skeleton 4-->
      <div class="cover-item">
        <div class="badge-box">
          <div class="badge-image badge-skeleton mx-auto" alt="You"></div>

          <div class="badge-name text-skeleton mx-auto"></div>
        </div>
      </div>
      <!--     badges skeleton 5-->
      <div class="cover-item">
        <div class="badge-box">
          <div class="badge-image badge-skeleton mx-auto" alt="You"></div>

          <div class="badge-name text-skeleton mx-auto"></div>
        </div>
      </div>
      <!--        till here-->
    </div>

    <button class="right-arrow" (click)="scrollRight()" *ngIf="profileLoaded">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
  </div>
</div>
