.badge-image {
  height: 78px;
  width:78px;
}
.badge-skeleton {
  opacity: 1;
  background-color: #F6F6F6;
  border: 6px solid #E8E8E8 ;
  border-radius: 50%;
  //height: 52px;
  //width:52px;
}

.clear-icon {
  font-size: 10px;
}

.badge-box {
  width: 140px;
  text-align: center;
  display: inline-block;
  margin-top: 6px;
  margin-bottom: 10px;

  .badge-count {
    height: 30px;
    width: 30px;
    position: absolute;
    right: 20px;
    text-align: end;
    opacity: 0.6;
  }
}

.badge-name {
  font-size: 14px;
  margin-top: 20px;
}

.left-arrow {
  left: 0px;
  position: absolute;
  top: 60px;
  z-index: 200;
  border: none;
  background: none;
  outline: none;
}

.right-arrow {
  right: 0px;
  position: absolute;
  top: 60px;
  z-index: 200;
  border: none;
  background: none;
  outline: none;
}

.cover-container::-webkit-scrollbar {
  width: 0 !important;
}

.cover-container {
  scrollbar-width: none;
}

.cover-container {
  -ms-overflow-style: none;
}

@media screen and (min-width: 768px) and (max-width: 1368px) {
  .badge-box {
    width: 120px;

    .badge-count {
      right: 15px;
    }
  }

  .badge-image {
    height: 65px;
    width:65px;
  }

  .cover-container {
    min-height: 110px;
  }

  .badge-name {
    margin-top: 10px;
  }

  .left-arrow {
    top: 50px;
  }

  .right-arrow {
    top: 50px;
  }
}

@media screen and (max-width: 767px) {
  .badge-box {
    width: 90px;

    .badge-count {
      right: 3px;
    }
  }

  .badge-image {
    height: 55px;
    width:55px;
  }

  .badge {
    width: 110px;
    text-align: center;
  }

  .badge-name {
    font-size: 12px;
    margin-top: 15px;
  }

  .left-arrow {
    top: 50px;
  }

  .right-arrow {
    top: 50px;
  }
}

.cover-container {
  width: 100%;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  min-height: 130px;
  max-height: 150px;
}

.cover-item {
  position: relative;
  display: inline-block;
  margin: 8px 8px;
  border-top-right-radius: 4px;
  vertical-align: bottom;
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}
