<div class="row">
    <div class="col-12">
        <div class="card">
          <h5 class="card-header">Science behind the game.</h5>
          <div class="card-body">
            <p class="card-text">Research shows that depressed people often jump to a 
                negative conclusion. Given an ambiguous situation, they think that the 
                worst outcome is going to happen. This game has been designed to train 
                your mind to link positive outcomes to ambiguous situations.</p>

            </div>
        </div>
    </div>
</div> 
<button (click)= "onclose()"> close </button>