<div class="congrats-div d-flex row mx-0 ">

  <div class="row badge-div w-100 mx-0">
    <div class="col px-0 justify-content-center">
      <div  class="d-flex align-self-center">
        <img class="badge-img mx-auto"  src="assets/self-care/Self-care Expert step graphic.svg">
      </div>

    </div>
  </div>
  <div class="row mx-0 w-100 congrats-msg">
    <div class="col justify-content-center" >
      <p class="congrats-text"> You've come a long way!</p>
    </div>
  </div>

  <div class="row mx-0 w-100 mb-3 align-self-end justify-content-center" >
    <button class="h-100 mb-2" type="button"
            (click) = 'goToDashboard()'
            mat-raised-button>
    Go to dashboard
    </button>
  </div>

</div>

