<div class="selected-option">
    <button 
    [class.correctOption]="optionStatus==='correct' || optionStatus==='allcorrect'"
    [class.incorrectOption]="optionStatus==='incorrect'"
    >
    <img *ngIf="optionStatus==='correct' || optionStatus==='allcorrect'" src="../../assets/games/cognitive-distortion-game/images/icons/check-mark-black-outline.svg" alt="icon" style="float: left; padding-left: 10px; padding-top: 2px;">
      <img *ngIf="optionStatus==='incorrect'" src="../../assets/games/cognitive-distortion-game/images/icons/incorrect.svg" alt="icon" style="float: left; padding-left: 10px; width: 25px; padding-top: 2px;">
     {{optionSelected}}
    </button>
  </div>