.correctOption {
  border-radius: 20px 20px 20px 20px;
  height: 32px;
  padding: 4px 0;

  font-size: 14px;
  min-width: 198px;
  background-color: #fff;
  color: #27B535;
  margin: 20px;
  border: 1px solid #27B535;
  outline: none;
  flex: 1;
}

.incorrectOption {
  border-radius: 20px 20px 20px 20px;
  height: 32px;
  padding: 4px 0;
  font-size: 14px;
  min-width: 198px;
  background-color: #fff;
  color: #FF6867;
  margin: 20px;
  border: 1px solid #FF6867;
  outline: none;
  flex: 1;
}
