<mat-toolbar class="mat-pre-login-toolbar-color d-flex-wrap justify-content-between">
  <div>
    <img src="img-fluid" alt="TreadWill logo" src="assets/shared/landscape/logo.png" class="logo-landscape">
  </div>
  <div>
    <a mat-button class="anchorify-pre-login-toolbar-button">About Us</a>
    <a mat-button class="anchorify-pre-login-toolbar-button">Work With Us</a>
    <a mat-button class="anchorify-pre-login-toolbar-button example-fill-remaining-space" (click)="onLoginClicked()">Login</a>
  </div>
</mat-toolbar>        
