<mat-toolbar class="mat-pre-login-toolbar-color d-flex-wrap justify-content-between">
  <div>
    <!-- <button mat-raised-button (click)="onToggleDrawerClicked()"><mat-icon>menu</mat-icon></button> -->
    <img src="img-fluid" alt="TreadWill logo" src="assets/shared/landscape/logo.png" class="logo-landscape">
  </div>
  <div>
    <a mat-button class="anchorify-pre-login-toolbar-button">About Us</a>
    <a mat-button class="anchorify-pre-login-toolbar-button">Work With Us</a>
    <a mat-button class="anchorify-pre-login-toolbar-button" (click)="onLoginClicked()">Login</a>
  </div>
</mat-toolbar>