<div class="row px-3 py-3">
  <div class="col">

<h4  style="opacity:0.87;">Summary</h4>
<div class="instrn-text">
  <div>
  The way you explain your successes and failures affect how vulnerable you are to depression. People who are most vulnerable to depression
  <ul>
    <li> blame themselves for their failures </li>
    <li>thinks that if they fail in one area of their life, then it means that they will fail in other areas of their life as well</li>
    <li>thinks that if they fail once, then they will never be able to succeed.</li>
  </ul>

  <div> To become less vulnerable to depression remember that
  <ul>
  <li>  our successes and failures often depend on many factors that are not in our control. So, before blaming yourself for your failure,
  think about what else could have affected the outcome.</li>
  <li>
    if you fail once, that does not mean that you will be a life long failure. Most things in life depend on skills that you can learn and improve upon.
  </li>
  <li>
    if you fail in one area of your life that does not mean that you are doomed to fail in other areas as well
  </li>
</ul>
  So, the next time you feel upset about a failure, think about how you are explaining your failure.
  </div>



</div>

<p>
  To learn more about explanatory style <a target="_blank" href="https://www.treadwill.org/main/extra-resources/videoItem/10">watch this video</a>
</p>

</div>


    <div class="row justify-content-center">
      <div class="col-6 col-lg-12 text-center mt-2">
        <button [color]="'asg-start'"
                mat-raised-button
                (click)='onPlayGame()'>
          Play game
        </button>
      </div>
      <div class="col-6 col-lg-12 text-center mt-2 mt-lg-3">
        <button mat-raised-button [color]="'asg-summary'" (click)="onGoToHome()" type="button" >Go to dashboard</button>
      </div>
    </div>
</div>
</div>
