@import 'styles.scss';
@import 'color.palette.scss';
.step-status-indicator {
  height: 100%;
  max-width: 100%;
  padding-bottom: 14px;
  padding-top: 14px;
}
.status-img{
  position: absolute;
  width: 70%;
  height: 100%;
}
.circle-img{
  padding-top:12px;
}
.status-img.completed:before {
  position: absolute;
  border-left: 3px solid #f5bb56;
  width: 0;
  margin-left:10px;
  top:36px;
  height: calc(100% - 23px);
  content: '';
}
.status-img.disabled:before {
  position: absolute;
  border-left: 3px solid #FFEDD5;
  width: 0;
  margin-left:10px;
  top:36px;
  height: calc(100% - 23px);
  content: '';

}
.status-img.active:before {
  position: absolute;
  border-left: 3px solid #FFEDD5;
  width: 0;
  margin-left:12px;
  top:35px;
  height: calc(100% - 22px);
  content: '';
}

.status-img.isFirstDashed:after{
  position: absolute;
  border-left: 3px dashed #f5bb56;
  width: 0;
  margin-left: -14px;
  top:-25px;
  height: 39px;
  content: '';
}
.status-img.isFirstStep:after{
  position: absolute;
  border-left: 3px solid #f5bb56;
  width: 0;
  margin-left:-14px;
  top:-25px;
  height: 38px;
  content: '';
}
.status-img.isFirstStepActive:after{
  position: absolute;
  border-left: 3px solid #f5bb56;
  width: 0;
  margin-left:-16px;
  top:-25px;
  height: 38px;
  content: '';
}
.status-img.isLastDashed:before {
  border-left: 3px dashed #FFEDD5;
  height: 39px;
}
.status-img.isLastStep:before {
  border: 0px;
}
