@import 'styles.scss';
@import 'color.palette.scss';
.step-status-indicator {
  height: 100%;
  max-width: 100%;
  padding-bottom: 14px;
  padding-top: 14px;
}
.status-img{
  position: absolute;
  width: 70%;
  height: 100%;
}
.circle-img{
  padding-top:12px;
}
.status-img.completed:before {
  position: absolute;
  border-left: 3px solid #f5bb56;
  width: 0;
  margin-left:17px;
  top:40px;
  height: calc(100% - 28px);
  content: '';
}
.status-img.disabled:before {
  position: absolute;
  border-left: 3px solid #FFEDD5;
  width: 0;
  margin-left:17px;
  top:38px;
  height: calc(100% - 28px);
  content: '';

}
.status-img.active:before {
  position: absolute;
  border-left: 3px solid #FFEDD5;
  width: 0;
  margin-left:21px;
  top:44px;
  height: calc(100% - 34px);
  content: '';
}

.status-img.isFirstDashed:after{
  position: absolute;
  border-left: 3px dashed #f5bb56;
  width: 0;
  margin-left: -19px;
  top:-25px;
  height: 36px;
  content: '';
}
.status-img.isFirstStep:after{
  position: absolute;
  border-left: 3px solid #f5bb56;
  width: 0;
  margin-left:-19px;
  top:-25px;
  height: 36px;
  content: '';
}
.status-img.isFirstStepActive:after{
  position: absolute;
  border-left: 3px solid #f5bb56;
  width: 0;
  margin-left:-23px;
  top:-25px;
  height: 36px;
  content: '';
}
.status-img.isLastDashed:before {
  border-left: 3px dashed #FFEDD5;
  height: 39px;
}
.status-img.isLastStep:before {
  border: 0px;
}
