@import 'styles.scss';
@import 'color.palette.scss';
.step-status-indicator {
  height: 100%;
  max-width: 100%;
  // padding-left: 10px;
  padding-bottom: 14px;
  padding-top: 14px;
}
.status-img{
  position: absolute;
  width: 70%;
  // height: 36px;
  // width: 36px;
}
.circle-img{
  //width: 24px;
  padding-top:12px;
}
.status-img.active:before {
  position: absolute;
  border-left: 3px solid #f5bb56;
  width: 0;
  margin-left:10px;
  top:34px;
  height: 73%;
  content: '';
}
.status-img.disabled:before {
  position: absolute;
  border-left: 3px solid #FFEDD5;
  width: 0;
  margin-left:10px;
  top:34px;
  height: 73%;
  content: '';

}
.status-img.isFirstDashed:after{
  position: absolute;
  border-left: 3px dashed #f5bb56;
  width: 0;
  margin-left: -13px;
  top:-23px;
  height: 50%;
  content: '';
}
.status-img.isFirstStep:after{
  position: absolute;
  border-left: 3px solid #f5bb56;
  width: 0;
  margin-left:-13px;
  top:-23px;
  height: 50%;
  content: '';
}
.status-img.isLastDashed:before {
  border-left: 3px dashed #FFEDD5;
  height: 50%;
}
.status-img.isLastStep:before {
  border: 0px;
}
