@import '~@angular/material/theming';
@import 'treadwill.theme.scss';
@import 'styles.scss';

.pre-login-side-nav-drawer-container {
  background-color: $treadwill-pre-login-primary !important;
  color: $treadwill-pre-login-app-foreground !important;
  height: 100%;
}

.pre-login-side-nav-drawer {
  background-color: $treadwill-pre-login-app-foreground !important;
}

.mat-pre-login-toolbar-color {
  background-color: $treadwill-pre-login-primary;
}

.anchorify-pre-login-toolbar-button {
  @extend .anchorify-with-highlight-on-hover;
  color: $mat-white;
  font-family: 'Lato', sans-serif;
  font-size: 100%;
  text-decoration: none;
}

.pre-login-toolbar-burger {
  @extend .cursor-hand;
  color: $mat-white;
}

.pre-login-side-nav-anchor {
  color: $mat-white !important;
  font-family: 'Lato', sans-serif;
  font-size: 100% !important;
  font-weight: 700 !important;
}
