.dateTimeDiv {
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 5px;
  text-align: center;
  z-index: 11;
  position: relative;
}
.mat-calendar {
  height: 240px;
  width: 240px;
  margin: auto;
  box-shadow: 0px 10px 24px #0000003d;
  display: inline-table;
}

.done-btn {
  z-index: 200;
  position: relative;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 3%;
  display: grid;
  width: 90%;
  padding: auto;
  color: #fafafa;
  background: rgb(42, 59, 61);
  outline: none;
  margin-bottom: 3%;
}

.owl-datetime-inline {
  box-shadow: none;
}

.date-label {
  font-size: 12px;
  padding: 5%;
}

.date {
  font-size: 24px;
  font-weight: 500;
  color: black;
  opacity: 0.87;
}

// .owl-dt-container-info {
//   display: none;
// }

.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 14px;
  line-height: 1.5;
  border-color: #3f51b5;
  text-align: center;
  background: #ffffff;
  outline: none;
  margin: auto;
  border: 1px solid #3f51b5;
}
.days {
  display: flex;
  margin-top: 2%;
  padding: 0px 16px 0px 16px;
}
.repeat {
  display: grid;
}
.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: rgba(10, 10, 10, 0.54);
}
// .owl-dt-inline-container .owl-dt-calendar,
// .owl-dt-popup-container .owl-dt-calendar {
//   height: 17.25em;
//   overflow: hidden;
// }

.close-btn {
  right: -4px;
  position: absolute;
  z-index: 100;
  outline: none;
  background: transparent;
  border: none;
  top: 2px;
}
.startEndDate {
  margin-top: 2em;
  height: 35px;
}
@media screen and (min-width: 576px) {
  .startEndDate {
    margin-top: 5%;
  }
  .dateTimeDiv {
    width: 340px;
    .done-btn {
      margin-top: 5px;
      position: relative;
      bottom: auto;
      margin: auto;
      margin-bottom: 15px;
    }
    .days {
      display: flex;
      margin-bottom: 10px;
      padding: none;
      margin: auto;
      margin-bottom: 2%;
      width: 340px;
    }
  }
}

@media screen and (min-height: 725px) and (max-width: 576px) {
  .startEndDate {
    margin-top: 5%;
  }
  .repeat {
    margin-top: 3%;
  }
  .startEndDate {
    margin-top: 15%;
    height: 7%;
  }
}

//@media screen and (max-width: 576px) {
//  //  .dateTimeDiv{
//  //    width: 340px;
//  //  }
//}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.modal {
  width: 340px;
  height: 620px;
  top: auto;
  left: auto;
  display: inline-block;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 5px;
  text-align: center;
  z-index: 11;
}
:host-context(.chatbot) .modal {
  top: 0;
}
