.dateTimeDiv {
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 5px;
  text-align: center;
  z-index: 11;
  position: relative;
}
.mat-calendar {
  height: 240px;
  width: 240px;
  margin: auto;
  box-shadow: 0px 10px 24px #0000003d;
  display: inline-table;
}

.done-btn {
  z-index: 200;
  display: grid;
  width: 90%;
  //position: absolute;
  bottom: 3px;
  color: #fafafa;
  background: rgb(42, 59, 61);
  outline: none;
  margin: 3% 5%;
}

.owl-datetime-inline {
  box-shadow: none;
}

.date-label {
  font-size: 12px;
  padding: 5%;
}

.date {
  font-size: 24px;
  font-weight: 500;
  color: #3f51b5;
  opacity: 0.87;
}
.select-days {
  display: flex;
  margin-left: 5%;
  margin-bottom: 3%;
  margin-top: 1%;
}

.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  background: #ffffff;
  outline: none;
  margin: auto;
  border: 1px solid black;
}
.days {
  display: flex;
  margin-top: 2%;
  padding: 0px 16px 0px 16px;
  font-weight: 500;
}
.repeat {
  display: grid;
}
.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: rgba(10, 10, 10, 0.54);
}

.close-btn {
  right: -4px;
  position: absolute;
  z-index: 100;
  outline: none;
  background: transparent;
  border: none;
  top: 2px;
}
.startEndDate {
  margin-top: 0.5rem;
  height: 35px;
}
@media screen and (min-width: 576px) {
  .startEndDate {
    margin-top: 0.5rem;
  }
  .dateTimeDiv {
    width: 340px;
    .done-btn {
      margin-top: 5px;
      position: relative;
      bottom: auto;
      margin: auto;
      margin-bottom: 15px;
    }
    .days {
      display: flex;
      margin-bottom: 10px;
      margin: auto;
      margin-bottom: 2%;
      width: 340px;
    }
  }
}

.overlay {
  position: absolute;
  height: 100%;
  z-index: 10;
}

.span-text {
  font-size: 1.5rem;
  color: #000000de;
  font-weight: 500;
}

.span-text-end {
  font-size: 1.5rem;
  color: #3f51b5;
  font-weight: 500;
}

.same-date {
  font-size: 0.75rem;
  opacity: 0.4;
  color: #000000DE;
  font-weight: normal;
}

.modal {
  width: 344px;
  height: 620px;
  top: auto;
  left: auto;
  display: inline-block;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 5px;
  text-align: center;
  z-index: 11;
}
:host-context(.chatbot) .modal {
  top: 0;
  left: 0;
}
@media only screen and (max-device-width: 576px) {
  :host-context(.chatbot) .modal {
    height: 100%;
    width: 100%;
  }
  :host-context(.chatbot) .done-btn {
    bottom: 18px;
  }
}

@media only screen and (min-device-width: 768px) {
  :host-context(.chatbot) .modal {
    bottom: 0;
    top: -15%;
  }
}

.select-all {
  font-size: 14px;
  position: absolute;
  right: 7%;
}

@media only screen and (max-device-width: 576px) {
  .select-days {
    margin-bottom: 1%;
  }
}
