<div class="overlay">
  <div class="modal">
    <div class="dateTimeDiv">
      <div class="startEndDate">
        <ng-container *ngIf="showWhenStart">
          <span class="span-text">
            When do you want to start?
          </span>
        </ng-container>
        <ng-container *ngIf="showTillWhen">
          <span class="span-text">
            and till when?
            <div
              [ngStyle]="{
                fontSize: '0.75rem',
                opacity: '0.4'
              }"
            >
              Tap on
              {{ startEndDate[START_DATE] | date: 'shortDate' | date: 'dd' }}
              for same day
            </div>
          </span>
        </ng-container>
        <ng-container *ngIf="showStartEndDate">
          <div class="date-range">
            <div class="date">
              {{
                startEndDate[START_DATE] | date: 'shortDate' | date: 'dd MMM'
              }}
              {{ '-' }}
              {{ startEndDate[END_DATE] | date: 'shortDate' | date: 'dd MMM' }}
            </div>
          </div>
        </ng-container>
      </div>

      <div [ngStyle]="{ 'margin-top': '1em' }">
        <owl-date-time-inline
          [(ngModel)]="startEndDate"
          hour12Timer="true"
          [selectMode]="'range'"
          [min]="min"
          [startAt]="startAt"
        >
        </owl-date-time-inline>
      </div>
      <div class="repeat" *ngIf="showStartEndDate">
        <div
          [ngStyle]="{
            display: 'flex',
            'margin-left': '9%'
          }"
        >
          Repeat
        </div>
        <div class="days">
          <button
            class="circle"
            *ngFor="let day of daysCircle; let i = index"
            [ngStyle]="
              day.selected && { background: '#3f51b5', color: '#ffffff' }
            "
            (click)="onDaySelected(i)"
          >
            {{ day.day[0] }}
          </button>
        </div>
      </div>
    </div>
    <button class="close-btn" (click)="closeModal()">
      <mat-icon>close</mat-icon>
    </button>
    <button
      type="submit"
      mat-raised-button
      class="done-btn"
      [disabled]="!showStartEndDate"
      (click)="dateTimeMessageSubmit()"
    >
      Done
    </button>
  </div>
</div>
