<div class="overlay">
  <div
    class="modal"
    [ngStyle]="{
      height: smallWindow && !mobileView ? 'inherit' : '',
      overflowY: 'auto',
      top: smallWindow && !mobileView ? '0' : ''
    }"
  >
    <div class="dateTimeDiv">
      <div class="startEndDate">
        <ng-container *ngIf="showWhenStart">
          <span class="span-text">
            Select start date
          </span>
        </ng-container>
        <ng-container *ngIf="showTillWhen">
          <div class="span-text-end">
            Select end date
            <div class="same-date">
              Tap on
              {{ startEndDate[START_DATE] | date: 'shortDate' | date: 'd' }}
              for same day
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="isNotNullDates()">
          <div class="date-range">
            <div class="date">
              {{
                startEndDate[START_DATE] | date: 'shortDate' | date: 'dd MMM'
              }}
              {{ '-' }}
              {{ startEndDate[END_DATE] | date: 'shortDate' | date: 'dd MMM' }}
            </div>
          </div>
        </ng-container>
      </div>

      <div [ngStyle]="{ marginTop: '1rem' }">
        <owl-date-time-inline
          [(ngModel)]="startEndDate"
          hour12Timer="true"
          [selectMode]="'range'"
          [min]="min"
          [startAt]="startAt"
        >
        </owl-date-time-inline>
      </div>
      <div [ngStyle]="{height : '70px'}">
        <div class="repeat" *ngIf="showStartEndDate">
          <div class="select-days">
            Select Days
            <div class="select-all" *ngIf="numberOfDays()">
              <span [ngStyle]="{ opacity: '0.6' }">
                Select all days &nbsp;</span
              >
              <mat-slide-toggle
                color="primary"
                (change)="markDays(toggle.checked)"
                [(ngModel)]="isToggleChecked"
                #toggle
              >
              </mat-slide-toggle>
            </div>
          </div>
          <div class="days">
            <button
              class="circle"
              *ngFor="let day of daysCircle; let i = index"
              [ngStyle]="
                day.selected && {
                  background: '#3f51b5',
                  color: '#ffffff',
                  border: '1px solid #3f51b5'
                }
              "
              (click)="onDaySelected(i)"
            >
              {{ day.day[0] }}
            </button>
          </div>
        </div>
      </div>
    </div>
    <button class="close-btn" (click)="closeModal()">
      <mat-icon>close</mat-icon>
    </button>
    <button
      type="submit"
      mat-raised-button
      class="done-btn"
      [ngStyle]="{
        position: smallWindow && !mobileView ? 'initial' : 'absolute'
      }"
      [disabled]="!enableButton"
      (click)="dateTimeMessageSubmit()"
    >
      Done
    </button>
  </div>
</div>
