<mat-expansion-panel
  hideToggle
  #panel
  (afterExpand)="techniqueExpanded.emit()"
  (afterCollapse)="panelCollapse()"
>
  <mat-expansion-panel-header
    [ngStyle]="{ background: '#EBEDFF', paddingLeft: '1rem' }"
  >
    <mat-panel-title
      [ngStyle]="{
        'font-size': panel.expanded ? '1rem' : '0.88rem',
        'font-weight': '500'
      }"
    >
      {{ techniqueName }}
    </mat-panel-title>

    <mat-panel-description>
      <div class="iconsDiv" *ngIf="panel.expanded">
        <mat-icon>close</mat-icon>
      </div>
      <div class="iconsDiv" *ngIf="!panel.expanded && summary">
        <img src="assets/forms/edit_errors.png" width="24px" />
      </div>
    </mat-panel-description>
  </mat-expansion-panel-header>

  <ng-template matExpansionPanelContent>
    <form [formGroup]="actAsIfForm">
      <div>
        <div class="q-heading">
          {{ techniqueName }}
        </div>
        <div>
          <mat-form-field>
            <textarea
              matInput
              #formInput="matInput"
              [placeholder]="
                formInput.focused || formInput.empty ? 'Write Here' : ''
              "
              class="py-0"
              cdkTextareaAutosize
              cdkAutosizeMinRows="1"
              formControlName="how_would_i_act"
              required
              placeholder="Write Here"
              (focus)="onShowActBtn()"
            ></textarea>
          </mat-form-field>
          <button
            mat-raised-button
            class="btn continue-btn"
            [ngStyle]="{ float: 'right' }"
            (click)="onSubmit()"
            *ngIf="showActContinue && !editMode"
          >
            <ng-container *ngIf="!showSpinner; else loading"
              >Done
            </ng-container>
            <ng-template #loading>
              <span class="spinner-border spinner-border-sm"></span>
              Loading..
            </ng-template>
          </button>
        </div>
      </div>
      <br />
      <div *ngIf="showAdvantages">
        <div class="q-heading">
          {{ advantageQues }}
        </div>
        <div class="advantages" formArrayName="advantages">
          <div
            class="statement"
            *ngFor="let advantage of getAdvantages.controls; let i = index"
          >
            <div
              class="statement"
              [formGroupName]="i"
              [ngStyle]="{ display: 'flex' }"
              appClickOutside
              (clickOutside)="onClickOutside($event, i)"
            >
              <!--                <input type="hidden" formControlName="id" [value]="id" />-->
              <mat-form-field>
                <textarea
                  matInput
                  #formInput="matInput"
                  [placeholder]="
                    formInput.focused || formInput.empty ? 'Write Here' : ''
                  "
                  class="py-0"
                  cdkTextareaAutosize
                  cdkAutosizeMinRows="1"
                  formControlName="advantage"
                  placeholder="Write Here"
                  required
                  (focus)="onShowTrashIcon(i)"
                ></textarea>
              </mat-form-field>
              <div
                class="trash-icon"
                (click)="markForDeletion(advantage, i)"
                *ngIf="showTrashIcon[i]"
              >
                <mat-icon>delete</mat-icon>
              </div>
            </div>
          </div>
        </div>
        <div class="add-statement" (click)="addField()">
          <mat-icon
            [ngStyle]="{
              'font-size': '19px',
              'padding-top': '2px',
              cursor: 'pointer'
            }"
            >add
          </mat-icon>
          <div [ngStyle]="{ 'padding-left': '5px' }">
            Add Advantage
          </div>
        </div>
        <br />

        <div>
          <div class="q-heading">
            {{ acting_help }}
          </div>

          <div>
            <mat-radio-group color="primary" formControlName="would_it_help">
              <mat-radio-button [value]="true">
                Yes
              </mat-radio-button>
              <mat-radio-button
                [value]="false"
                [ngStyle]="{ marginLeft: '4.5rem' }"
              >
                No
              </mat-radio-button>
            </mat-radio-group>
            <div>
              <br />
              <div>
                <div *ngIf="actAsIfForm.value['would_it_help'] === true" [innerHTML]="yes">
                </div>
                <div *ngIf="actAsIfForm.value['would_it_help'] === false" [innerHTML]="no">
                </div>
              </div>
              <br />
              <button
                mat-raised-button
                class="btn continue-btn"
                [ngStyle]="{ float: 'right' }"
                (click)="onSubmit()"
              >
                Done
              </button>
            </div>
          </div>
        </div>
      </div>

      <br />
    </form>
  </ng-template>
</mat-expansion-panel>
<app-summary-card
  [cardHeading]="summaryHeading"
  [summary]="summary"
  [expanded]="panel.expanded"
></app-summary-card>
