.start-btn {
  margin: 5% auto;
  color: #00000099;
  border: 1px solid #00000066;
  border-radius: 4px;
  opacity: 1;
  text-align: inherit;
}
.title {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  margin-top: 40px;
}

.img-div {
  width: 100px;
  height: 50px;
  border-radius: 50px 50px 0 0;
}
.intro-img-div {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  text-align: center;
  background-color: #ffffff;
}
.description{
  font-size: 16px;
  opacity: 0.8;
}

.therapist-img{
  width: 80px;
  border-radius: 50%;
}
