@import "../../trial-registration/shared/common-styles";

#top-logo{
  background: #2A3B3D 0% 0% no-repeat padding-box;
  min-height: 100px;
  max-height: 110px;
}
.log-img{
  max-width: 175px;
  margin-left: 1rem;
  height: 70px;
}
.text-property {
  color: #7B9092;
  font-size: 14px;
  text-align: right;
}
.bar{
  height: 4px;
  background-color: #F5BB56;
}
.wrap-mat-radio-label {
  white-space: normal;
}

.selectPanel{
  width: 100%   !important;
  max-width: 330px  !important;
}

.mat-selected {
  color: #F5BB56 !important;
}


.checkedBtn{
  opacity: 1;
}

.unChecked {
  opacity: 0.54;
}
