<div *ngIf="showPage else desktopMessage">

  <div class="container-fluid w-100 small-font">
    <!--    header-->
    <div class="row sticky-top align-items-center" id="top-logo">
      <div class="col px-0"  style=" cursor: pointer;">
        <img src="../../../assets/shared/logo_full.svg"
             class="w-100 log-img">
      </div>
      <div class="col-5 mt-2 pl-0">
        <p  class="text-property my-0"> <b>  Step 2 </b></p>
      </div>
      <div class="bar w-100 mt-auto">
      </div>
    </div>
    <!--    till here-->
    <div class="row my-4">
      <div class="col-12 m-medium" >
       Thank you for your interest.
      </div>
      <div class="col-12 my-2 less-opacity">
        Note: if you accidentally lose your progress, you can continue the registration process by entering your email address at the first page.
      </div>
    </div>
    <div class="row">
      <div class="col-12  m-medium">
        <b> Please fill the form </b>
      </div>

      <div class="col-12">
        <form class="w-100" [formGroup]="stepTwoForm">
          <div class="row my-3">
            <div class="col-6">
              <mat-form-field class="w-100">
                <input matInput
                       formControlName="age"
                       placeholder="Age"
                       type="number"
                       required>
              </mat-form-field>
            </div>

            <div class="col-6">
              <mat-form-field class="w-100">
                <mat-label>Gender</mat-label>
                <mat-select #Gender formControlName="gender" required>
                  <mat-option value="male">Male</mat-option>
                  <mat-option value="female">Female</mat-option>
                  <mat-option value="other">Other</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col-12">
              <mat-form-field class="w-100">
                <mat-label>Education Qualification</mat-label>
                <mat-select #Education required
                            formControlName="education">
                  <mat-option [value]="1">Not completed school</mat-option>
                  <mat-option [value]="2">Completed school</mat-option>
                  <mat-option [value]="3">Completed undergraduate</mat-option>
                  <mat-option [value]="4">Completed postgraduate</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col-12">
              <mat-form-field class="w-100">
                <mat-label>Occupation</mat-label>
                <mat-select #Profession
                            required formControlName="profession">
                  <mat-option [value]="1">Undergraduate student</mat-option>
                  <mat-option [value]="1">Coaching after college</mat-option>
                  <mat-option [value]="2">Postgraduate student</mat-option>
                  <mat-option [value]="3">Working professional</mat-option>
                  <mat-option [value]="3">Self-employed</mat-option>
                  <mat-option [value]="3">Freelancer</mat-option>
                  <mat-option [value]="3">Volunteer</mat-option>
                  <mat-option [value]="-1">Housewife</mat-option>
                  <mat-option [value]="-1">Unemployed</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col-12" *ngIf="!openLinksPage">
              <label class="lesser-opacity">
                Will it be possible for you to use Treadwill in Google Chorme?
              </label>
              <mat-radio-group formControlName="browser"
                               required color="primary">
                <mat-radio-button [value]="1" class="mr-5" id="btn19"
                                  #btn19 [ngClass]="{ 'checkedBtn': btn19.checked , 'unChecked': !btn19.checked}">
                  Yes
                </mat-radio-button>
                <mat-radio-button [value]="-1" class="ml-4" id="btn20"
                                  #btn20 [ngClass]="{ 'checkedBtn': btn20.checked , 'unChecked': !btn20.checked}">
                  No
                </mat-radio-button>
                <mat-error *ngIf="btn19.checked">Great! We recommend you to use TreadWill in Google Chrome.</mat-error>
                <mat-error *ngIf="btn20.checked">We recommend you to use TreadWill in Google Chrome.</mat-error>
              </mat-radio-group>
            </div>

         </div>

          <div class="col-12 my-3 px-0">
            <mat-error *ngIf="showErrorMsg"> Select all the fields. </mat-error>
            <button type="button" class="w-100 form-elements" mat-raised-button
                    color="primary" (click)="stepDataSubmit()" *ngIf="!showLoading" style="color:#2a3b3d"> Submit </button>
            <button class="w-100 form-elements" color="primary" *ngIf="showLoading" type="button" mat-raised-button style="color:#2a3b3d">
              <span class="spinner-border spinner-border-sm"></span>
              &nbsp; Loading..
            </button>
          </div>

        </form>

      </div>
    </div>
  </div>

  <div class="row mt-5 mx-0">
<!--    <app-trial-aiims-pages-footer class="w-100"></app-trial-aiims-pages-footer>-->
  </div>
</div>
<ng-template #desktopMessage>
  <div>
    <!--    Open this link on your mobile.-->
    <app-qr-code></app-qr-code>
  </div>
</ng-template>
