.navbar-flow {
    height: 70vh;
    width: 100%;
    min-width: 350px;
    // overflow-y: auto;
    // position: absolute;
    // top: 80px;
    // right: 190px;
    z-index: 100;
    box-shadow: 2px 2px 10px #585858cc;
    h2 {
        background-color: #ffffff;
        font-size: 1.3rem;
        padding: 16px;
        margin-bottom: 0px;
        border-bottom: 1px solid #cccccc;
    }
    ::ng-deep {
        h2.progress-heading {
            display: none;
        }
        .flow-container {
            max-width: 100% !important;
            box-shadow: none !important;
            .flow-scroll {
                height: 65vh;
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .navbar-flow {
        height: 80vh;
        width: 90%;
        max-width: 400px;
        // overflow: hidden;
        // position: absolute;
        // top: 10vh;
        // right: 5%;
        z-index: 100;
        box-shadow: 2px 2px 10px #585858cc;
        h2 {
            background-color: #ffffff;
            font-size: 1.3rem;
            // padding: 20px;
            margin-bottom: 0px;
            border-bottom: 1px solid #cccccc;
        }
        ::ng-deep {
            h2.progress-heading {
                display: none;
            }
            .flow-container {
                max-width: 100% !important;
                box-shadow: none !important;
                .flow-scroll {
                    height: 85vh;
                }
            }
        }
    }
}