
.navbar-flow {
  position: fixed;
  top:0;
  right: 0;
  height: 100vh;
  width:360px;
  min-width: 350px;
  background: white;
  z-index: 100;

  // box-shadow: 2px 2px 10px #585858cc;
  .close-div {
    background-color: #ffffff;
    font-size: 1.3rem;
    padding: 16px;
    margin-bottom: 0px;
    border-bottom: 1px solid #cccccc;
    height:70px;
    .close-icon {
      float: right;
      outline: none;
    }
  }

}

@media screen and (max-width: 992px) {
  .navbar-flow {
    height: 80vh;
    width: 90%;
    max-width: 400px;
    // overflow: hidden;
    // position: absolute;
    // top: 10vh;
    // right: 5%;
    z-index: 100;

    // box-shadow: 2px 2px 10px #585858cc;
    h2 {
      background-color: #ffffff;
      font-size: 1.3rem;
      // padding: 20px;
      margin-bottom: 0px;
      border-bottom: 1px solid #cccccc;
    }
  }
}

@media screen and (max-height: 700px) {
  .navbar-flow {
    height: 80vh;
  }
}
