.navbar-flow {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 380px;
  min-width: 350px;
  background: white;
  //overflow-y: auto;

  .close-div {
    background-color: #ffffff;
    font-size: 1rem;
    padding: 16px;
    margin-bottom: 0px;
    border-bottom: 1px solid #cccccc;
    height: 70px;
    position: static;
    top: 0;
    z-index: 5;
    .progress-heading-goto{
      line-height: 36px;
      height: 36px;
    }
    .close-icon {
      float: right;
      outline: none;
      &:hover,
      &:active {
        cursor: pointer;
        background-color: #00000020;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .navbar-flow {
    height: 100vh;
    width: 100%;
    max-width: 400px;
    z-index: 100;

    h2 {
      background-color: #ffffff;
      font-size: 1.3rem;
      // padding: 20px;
      margin-bottom: 0px;
      border-bottom: 1px solid #cccccc;
    }
  }
}
