<div class="card-full-width">
  <div class="card-header">
    {{ header }}
  </div>
  <div class="card-body">
    <div
      class="multiple-technique-info"
      [ngStyle]="{ display: 'flex', 'font-size': '12px' }"
    >
      {{ info }}
      <div [ngStyle]="{ 'margin-left': 'auto' }" (click)="onShowInfo()">
        <mat-icon>info_outline</mat-icon>
      </div>
    </div>
    <div class="techniques">
      <mat-accordion>
        <div class="technique">
          <app-identify-thinking [thought]="thought"  [reset]="reset"></app-identify-thinking>
        </div>

        <div class="technique">
          <app-proof [thought]="thought" [reset]="reset"></app-proof>
        </div>

        <div class="technique">
            <app-explanation [thought]="thought"></app-explanation>
        </div>

        <div class="technique">
            <app-record-outcome [thought]="thought"></app-record-outcome>
        </div>

        <div class="technique">
            <app-thought-help [thought]="thought"></app-thought-help>
        </div>

        <div class="technique">
            <app-tell-friend [thought]="thought" (triggerShowFinalThought)="triggerShowFinalThought()"></app-tell-friend>
        </div>
      </mat-accordion>
    </div>
  </div>
</div>
