<div class="card-full-width">
  <div class="card-header">
    {{ header }}
  </div>
  <div class="card-body">
    <div
      class="multiple-technique-info"
      [ngStyle]="{ display: 'flex', 'font-size': '12px' }"
    >
      {{ info }}
      <div [ngStyle]="{ 'margin-left': 'auto' }" (click)="onShowInfo()">
        <mat-icon>info_outline</mat-icon>
      </div>
    </div>
    <div class="techniques">
      <mat-accordion>
        <div class="technique">
          <app-identify-thinking
            [thought]="thought"
            [reset]="reset"
          ></app-identify-thinking>
        </div>
        <div class="technique">
          <app-proof-evidences
            [bg_Color]="proofHdrColor"
            [favorTitle]="favorTitle"
            [againstTitle]="againstTitle"
            [service]="0"
            [id]="thought.id"
          >
          </app-proof-evidences>
        </div>

        <div class="technique">
          <app-form-technique
            [techniqueName]="explnTechnique"
            [question]="explnQuestion"
            [service]="0"
            [id]="thought.id"
            [headerColor]="explnHdrColor"
          >
          </app-form-technique>
        </div>

        <div class="technique">
          <app-record-outcome [thought]="thought"></app-record-outcome>
        </div>

        <div class="technique">
          <app-thought-help [thought]="thought"></app-thought-help>
        </div>

        <div class="technique">
          <app-form-technique
            [techniqueName]="tellTechnique"
            [question]="tellQuestion"
            [service]="1"
            [id]="thought.id"
            [headerColor]="tellHdrColor"
          >
          </app-form-technique>
        </div>
      </mat-accordion>
    </div>
  </div>
</div>
