@import '../../../../../../../node_modules/@angular/material/theming';
@import "../../../../../../color.palette.scss";
@import "../../../../../../treadwill.theme.scss";

.solution {
    p {
        width: 98%;
        float: left;
        padding: 5px;
        &:focus {
            border: 1px solid transparent;
            outline: none;
            box-shadow: none;
            border-bottom: 2px solid $treadwill-yellow;
        }
    }
    span {
        text-align: right;
        width: 5%;
        float: right;
    }
}
