<mat-expansion-panel
  hideToggle="true"
  #panel1
  (afterExpand)="techniqueExpanded.emit()"
  (afterCollapse)="panelCollapse()"
>
  <mat-expansion-panel-header style="background: #FFFCE3; position: relative">
    <mat-panel-description>
      <strong> Evaluate worry </strong>
    </mat-panel-description>
    <div class="iconsDiv" *ngIf="panel1.expanded" >
    <button mat-icon-button >
    <mat-icon
      (click)="onShowInfo($event)"
      svgIcon="QuestionMark"
    ></mat-icon>
    </button>
    <button mat-icon-button style="right:0px">
    <mat-icon svgIcon="Close"></mat-icon>
    </button>
    </div>
    <button mat-icon-button class="edit_icon iconsDiv" *ngIf="!panel1.expanded && summaryText" style="top:6px" >
<!--    <mat-icon-->
<!--      svgIcon="EditErrors"-->
<!--    ></mat-icon>-->
      <img src="assets/forms/svg/edit%201.svg" >
    </button>
  </mat-expansion-panel-header>
  <ng-template matExpansionPanelContent>
    <div
      class="card-body"
      style="padding: 15px 2px 16px;"
      [formGroup]="evaluateForm"
    >
      <div>
        What are the Thinking Errors in your worry?
      </div>
      <br />
      <div>
        <div
          formArrayName="thinking_errors"
          *ngFor="let val of data; let i = index"
        >
          <mat-checkbox
            [value]="val.value"
            (change)="updateValueChange($event, i)"
            [checked]="val.is_checked"
          >
            {{ val.value }}
          </mat-checkbox>
        </div>

        <p class="text-right" (click)="CheckSubmit()" *ngIf="checkBoxContinue">
          <button type="button" mat-raised-button class="continue-btn">
            Continue
          </button>
        </p>
        <br />
        <br />
      </div>
      <div *ngIf="checksubmitted">
        Can you think of any evidence that suggest that your worry is unlikely
        to happen?
        <div formArrayName="evidences">
          <div *ngFor="let evidence of getEvidence.controls; let i = index">
            <div
              class="statement"
              [formGroupName]="i"
              [ngStyle]="{ display: 'flex' }"
              appClickOutside
              (clickOutside)="onClickOutside($event, i)"
            >
              <mat-form-field>
                <textarea
                  class="py-0"
                  [formControl]="evidence.get('evidence')"
                  cdkTextareaAutosize
                  cdkAutosizeMinRows="1"
                  matInput
                  #formInput="matInput"
                  [placeholder]="
                    formInput.focused || formInput.empty ? 'Write Here' : ''
                  "
                  required
                  [autofocus]
                  (focus)="onShowTrashIcon(i)"
                ></textarea>
              </mat-form-field>
              <div
                class="trash-icon"
                (click)="markForDeletion(evidence, i)"
                *ngIf="showTrashIcon[i]"
              >
                <button mat-icon-button>
                <mat-icon>delete</mat-icon>
                </button>
              </div>
            </div>
          </div>
          <div class="add-statement" (click)="addField()">
            <br />
            <br />
            <mat-icon
              [ngStyle]="{
                'font-size': '19px',
                'padding-top': '2px',
                cursor: 'pointer'
              }"
            >
              add</mat-icon
            >
            <div [ngStyle]="{ 'padding-left': '5px' }">
              Add Evidence
            </div>
          </div>
          <p
            class="text-right"
            (click)="onEvaluateSubmit()"
            *ngIf="evaluateForm.valid && evidenceContinue"
          >
            <button type="button" mat-raised-button class="continue-btn">
              Continue
            </button>
          </p>
        </div>
        <br />
        <div
          *ngIf="buttonClick"
          style="color:#00000099; letter-spacing:0.14px;"
        >
          <br />
          <div
            *ngIf="sliderResponse == undefined"
            (click)="showSliderContinue()"
          >
            <app-form-slider
              [question]="evaluateSliderQuestion"
              [minRatingText]="evaSliderMinRangeText"
              [maxRatingText]="evaSliderMaxRangeText"
            ></app-form-slider>
          </div>
          <div
            *ngIf="sliderResponse != undefined"
            (click)="showSliderContinue()"
          >
            <app-form-slider
              [question]="evaluateSliderQuestion"
              [minRatingText]="evaSliderMinRangeText"
              [maxRatingText]="evaSliderMaxRangeText"
              [rating]="sliderResponse"
            ></app-form-slider>
          </div>

          <p
            class="text-right"
            (click)="onSliderSubmit()"
            *ngIf="sliderContinue"
          >
            <button type="button" mat-raised-button class="continue-btn">
              Continue
            </button>
          </p>
        </div>
        <br />
      </div>
    </div>
    <div
      class="card-body"
      style="color: #00000099; padding: 0px 2px 16px;"
      *ngIf="sliderSubmit"
    >
      Accept uncertainity <br /><br />

      Accept uncertainty in life. Nobody can give you a guarantee about the
      future. Bad things can happen but they are very unlikely.
      <p class="text-right" (click)="doneSummary()">
        <button type="button" mat-raised-button class="continue-btn">
          Done
        </button>
      </p>
    </div>
  </ng-template>
</mat-expansion-panel>
<mat-card class="card-body" *ngIf="!panel1.expanded && summaryText">
  <mat-card-content>
    <div [ngStyle]="{ 'font-size': '12px' }">
      Summary
    </div>
    <div [ngStyle]="{ 'margin-top': '8px', 'font-size': '12px' }">
      {{ summaryText }}
    </div>
  </mat-card-content>
</mat-card>
<br />
