<div
    class="category-big"
    [ngClass]="{
        'done': category.is_content_locked === false && category.is_active === false,
        'active': category.is_active,
        'locked': category.is_content_locked,
        'hover': hover}"
    (mouseenter)="onMouseEnter()"
    (mouseleave)="onMouseLeave()"
    (click)="onClick()">
    <img 
        [src]="imageUrl"
        alt="{{category.name}}"
        height="80"
        width="80"
        class="icon">
    <img
        src="assets/modules/lock.svg"
        alt="lock"
        height="50"
        width="50"
        class="lock"
        *ngIf="category.status == 'locked'">
    <p class="text-center section-name">{{category.name}}</p>
</div>