<div
    class="category-big"
    [ngClass]="{
        'done': category.status == 'done',
        'active': category.status == 'active',
        'locked': category.status == 'locked',
        'hover': hover}"
    (mouseenter)="onMouseEnter()"
    (mouseleave)="onMouseLeave()"
    (click)="onClick()">
    <img 
        [src]="imageUrl"
        alt="{{category.name}}"
        height="80"
        width="80"
        class="icon">
    <img
        src="assets/modules/lock.svg"
        alt="lock"
        height="50"
        width="50"
        class="lock"
        *ngIf="category.status == 'locked'">
    <h4 class="text-center">{{category.name}}</h4>
</div>