@import 'styles.scss';
@import 'color.palette.scss';

.category-big {
    @include font-lato();
    padding: 8%;
    height: 100%;
    img.icon {
        padding: 10px;
        margin-bottom: 10px;
    }
    img.lock {
        position: absolute;
        right: 20px;
        top: 100px;
    }
    p {
        font-size: 1.5rem;
    }
}

.category-big.active {
    color: $treadwill-yellow;
}

.category-big.locked {
    color: $treadwill-grey;
}

.category-big.done.hover {
    color: white;
    background-color: $treadwill-black;
}
.category-big.active.hover {
    color: white;
    background-color: $treadwill-yellow;
}

.category-big.locked.hover {
    color: #b0bab9ff;
    background-color: #dddddd;
}

@media only screen and (max-width: $screen-size-sm-md) {
    .category-big {
        padding: 8% 0 0 0%;
        img.icon {
            padding: 2px;
            margin-bottom: 2px;
            height: 43px;
        }
        img.lock {
            display: none;
        }
        p.section-name {
            font-size: 0.8rem;
        }
    }
}
