<ng-template [ngIf]="dataLoaded && !locked">
  <mat-card  class="container-fluid px-0 pt-0 pb-2" >
    <div class="row introduction">
      <div class="col my-3 mt-md-0">
        <div >
          <mat-card-header class="title col-12 w-100 my-auto px-0">
            <mat-card-title class="my-auto d-inline-block justify-content-center py-2 ">
              Introduction
            </mat-card-title>
          </mat-card-header>
          <div class="px-3 px-lg-4 pt-4 main-div">
<!--            <h4 class="mt-3"></h4>-->
            <div class="text-para">
            Do you know why some people are able to cope effectively when something bad happens to them?
            <!-- <image> -->
              <img class="intro-img" src="assets/introduction/Lost job due to COVID-19 - positive.svg" alt="Lost job due to COVID-19" >

              While others can't?
            <!-- <image> -->
              <img class="intro-img" src="assets/introduction/Lost job due to COVID-19-negative.svg" alt="Lost job due to COVID-19">

              Do you know how well you are able to cope when something bad happens to you?
            <br>
            Answer the following questions to find out how well you know your coping abilities.
            </div>
             <br><br>
<!--    <h5>Dummy Sub Title</h5>-->
    Write a recent upsetting <span class="emphasis">situation</span>.
    <mat-form-field style="width:100% !important" [floatLabel]="'never'">
      <input type="text" matInput placeholder="Example- I got fired from my job." [(ngModel)]="situation"   (focus)="onsituationSave()" (focusout)="onsituationFocusOut()">
      <mat-hint *ngIf="situationSave ">Saving...</mat-hint>
    </mat-form-field>
    <br><br>

  <div>
    What <span class="emphasis">thought</span> did you have after the <span class="emphasis">situation</span>?
    <mat-form-field [floatLabel]="'never'">
      <textarea matInput [(ngModel)]="thought"
                cdkTextareaAutosize
                cdkAutosizeMinRows="1"
                (focus)="onthoughtSave() " (focusout)="onthoughtFocusOut()"
                placeholder="Example- I am a worthless piece of garbage. I will never get another job."></textarea>
      <mat-hint *ngIf="thoughtSave ">Saving...</mat-hint>
    </mat-form-field>
    <br><br>
  </div>
  <div>
    How did this <span class="emphasis">thought</span> make you <span class="emphasis">feel</span>?
    <mat-form-field>
      <input type="text" matInput placeholder="Example- Extremely sad." [(ngModel)]="feeling" (focus)="onfeelingSave()" (focusout)="onfeelingFocusOut()">
      <mat-hint *ngIf="feelingSave ">Saving...</mat-hint>
    </mat-form-field>
    <br><br>
  </div>
  <div>
    How did this <span class="emphasis">thought</span> make you <span class="emphasis">behave</span>?
    <mat-form-field>
      <textarea matInput [(ngModel)]="behavior"
                cdkTextareaAutosize
                cdkAutosizeMinRows="1"
                (focus)="onbehaviorSave()" (focusout)="onbehaviorFocusOut()"
        placeholder="Example- I wandered around aimlessly for two hours. After that, I went home. I didn't eat dinner and didn't talk to anyone. I cried myself to sleep that night."></textarea>
      <mat-hint *ngIf="behaviorSave ">Saving...</mat-hint>
    </mat-form-field>
    <br><br>
  </div>
  <div class="text-para">
    Did you have trouble answering the above questions?<br>
    Are you wondering if there is a relation between your <span class="emphasis">thoughts</span>, <span
      class="emphasis">feelings</span>, and <span class="emphasis">behaviors</span>?<br><br>
    You will know the answers to these question in this module.<br><br>
    In the next step, you will see a form that will help you record your <span class="emphasis">thoughts</span>, <span
      class="emphasis">feelings</span>, and <span class="emphasis">behaviors</span> following upsettings situations.
  </div>
<br>
<app-step-completed [showNextStep]="showNextStep" [showloading]="showloading" (completedEvent)="onCompleted()" (nextStepEvent)="onNextStep()"></app-step-completed>


    </div>
  </div>
    </div>
    </div>
  </mat-card>
</ng-template>
<ng-template [ngIf]="dataLoaded && locked">
  <div class="row">
    <div class="col">
      <div class="text-center loader">
        This content is not yet unlocked for you.
      </div>
    </div>
  </div>

</ng-template>
<ng-template [ngIf]="!dataLoaded">
  <!--  code for mat-card repeated as content locked should show on blank page-->
  <mat-card  class="container-fluid px-0 pt-0 pb-2" >
    <div class="row introduction">
      <div class="col my-3 mt-md-0">
        <div >
          <mat-card-header class="title col-12 w-100 my-auto px-0">
            <mat-card-title class="my-auto d-inline-block justify-content-center py-2 ">
              Introduction
            </mat-card-title>
          </mat-card-header>
  <div class="row">
    <div class="col">
      <div class="text-center loader">
        <img src="assets/shared/loading-gif.gif" alt="loader" width="80">
      </div>
    </div>
  </div>
        </div>
      </div>
    </div>
  </mat-card>
</ng-template>
