<div class="container text-center" style="margin: 20px;">
    <img class="playAgainImg" src="../../../../../../../assets/games/friendly-face-game/images/Play again.png">
  
  
    <p class="large-font"><b>Play Again</b></p>
    <p>You could not complete song in time</p>

    <div class="row small-font" (click)=continuePlay()>
            <img style="width:32px;height:32px;" 
                 class="replayImg mr-3" 
                 src="../../../../../../../assets/games/friendly-face-game/images/replay.png"
                 >
            <p class="mt-1">Replay</p>

    </div>
    <br> 
    <div class="row small-font" (click)=addTimePlay()>
            <img style="width:32px;height:32px;" 
                 class="timerImg mr-3" 
                 src="../../../../../../../assets/games/friendly-face-game/images/time.png"
                 >
            <p class="mt-1">Add 20s to the clock for 20 points.</p>
    </div>

   
    
  </div>
  