<div class="container text-center my-3" >
        <div class="text-center">
                <img class="playAgainImg" src="../../../../../../../assets/games/friendly-face-game/images/0 sec.png">
  
  
                <p class="big-font  "><b>Time's up!</b></p>
                <p class="smallest-font " style="color:#798184;">You could not complete song in time</p>

        </div>
   

    <div class="row small-font" style="margin: 10px;" (click)=continuePlay()>
            <img style="width:32px;height:32px;" 
                 class="replayImg mr-3" 
                 src="../../../../../../../assets/games/friendly-face-game/images/replay.png"
                 >
            <p class="mt-1">Replay</p>

    </div> 
    <div class="row small-font" style="margin: 10px;" (click)=addTimePlay()>
            <img style="width:32px;height:32px;" 
                 class="timerImg mr-3" 
                 src="../../../../../../../assets/games/friendly-face-game/images/time.png"
                 >
            <p class="mt-1">Add 20s to the clock for 20 points.</p>
    </div>

   
    
  </div>
  