
<div class="intro-img-div">
  <img [ngStyle]="{width: '80px',borderRadius : '50%'}" src="assets/flow/therapist.svg" alt="intro_bot" />
</div>
<div class="title" mat-dialog-title>Hi {{user.username}} 👋</div>

<mat-dialog-content>
  <div [ngStyle]="{fontSize : '16px',opacity : '0.8'}" >
    I'm delighted that you joined us today. I'm going to be your guide at TreadWill.
    <br/><br/>
    In TreadWill, you'll learn skills to improve your mental health.
    <br/><br/>
    As the saying goes, well begun is half done, and you have begun well. Now, let's get started on the other half 😀.
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button
    mat-raised-button
    class="btn start-btn"
    (click)="closeDialog()"
    matDialogClose
  >
    Get Started
  </button>
</mat-dialog-actions>
