<div class="row">
  <div class="col-12">
    <div class="card">
      <h5 class="card-header">Science behind the game.</h5>
      <div class="card-body">
        <p class="card-text">Research shows that someone undergoing an episode of depression have a set of thinking errors that they repeatedly engage in. This game has been designed to train you to identify the thinking errors in negative thoughts. We expect that once you learn to identify thinking errors in this game, you'll also identify thinking errors in your own negative thoughts.
          <br>
          For this game to work, you have to play this game repeatedly. You can't just do it once or twice and leave it.
          Play this game every week so that you earn at least one gold badge every week.
        </p>

      </div>
    </div>
  </div>
</div>
<button (click)= "onClose()"> close </button>
