<div class="d-flex flex-row post-item no-gutters" #container [ngStyle]="{visibility: showLoading ? 'hidden' : 'visible'}">

  <div class=" d-inline-flex flex-column align-items-start">

    <img [src]="suggestedPost.avatar" alt="User avatar" width="42" height="42" class='post-user-avatar' (load)="imageLoaded()" >

    <!-- <div class=" d-flex flex-column align-items-start">
        <div class="user-stats d-flex flex-row align-items-start">
          <div class='user-avatar-username mb-0'>{{suggestedPost.username}}</div>
        </div>
      </div>
    </div> -->

  </div>
  <div class=" d-inline-flex flex-column align-items-start" style="cursor:pointer;"
    (click)="onPostClick(suggestedPost.id)">

    <div class="main-header w-100">
      <h2 [style.max-width]="container.offsetWidth - 100 + 'px'">{{suggestedPost.title }}</h2>
    </div>

    <div class="post-body giveMeEllipsis">
      {{suggestedPost.body }}
    </div>
  </div>

  <!-- <div class="row no-gutters mt-2">
    <div class='col-12'>
      <div class="main-content">
        <div #htmlDiv [innerHTML]="body | safeHtml" [ngStyle]="{'word-break': 'break-word'}"></div>
        <span *ngIf="plainBodyLength() > minBodyLength && !newPost" class="text-right">
          <a (click)="toggleShow()" *ngIf="!showFullContent" class="toggler">show more</a>
        </span>
      </div>
    </div>
  </div> -->
</div>
