.post-item {

  padding: 10px 10px 18px 10px;
  // margin-bottom: 10px;
  width: 100%;
  max-width: 100%;


  img {
    margin-right: 10px;
  }

  .main-content {
    // margin: 0 4%;
  }

  .post-body {
    font-size: 14px;
    color: #00000099;
  }

  .giveMeEllipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    /* number of lines to show */
  }
  .text-skeleton {
    height: 20px;
    background: #E8E8E8 0% 0% no-repeat padding-box;
    opacity: 0.6;
    background-color: #E8E8E8 !important;
    width:100%
  }

  h2 {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0px;
    max-width: 100%;
    word-break: break-word;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

}

.post-user-avatar {
  border-radius: 50%;
  width: 49px;
  height: 49px;
}
.avatar-skeleton {
  background: transparent 0% 0% no-repeat padding-box !important;
  opacity: 1;
  background-color: #E8E8E8 !important;
  margin-right: 25px;
}

.user-avatar-username {
  padding-top: 5px;
}
