@import "styles.scss";
@import "../../../shared/games-common.scss";

.att-game-page{
  background-color: black;
}
#start_page{
  // width:70vw;
  max-width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  background-image: url("../../../../../../assets/games/Attribution-style-game/src/assets/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.game-container{
  height: 100%;
}
.text-loading {
  top: 45%;
  font-size:14px;
  color:white;
  opacity: 60%;
  font-family: Roboto;
}
#attGame{
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  height: 100%;
  background-color: black;
}

#game_name{
  text-align: center;
  vertical-align: middle;
  line-height:25vh;
  font-size:26px;
  backface-visibility: hidden;
  // color:white;
}
#message-for-mobile{
  display: none;

}
#canvas-div {
  padding-left: 0%;
  padding-right: 0%;
}
#canvas1 {
  //margin-left: auto;
  //margin-right: auto;
  //margin:auto;
  width: 0px;

}
canvas {
  width: 100%;
  height: 100%;
  object-fit: contain;
  background-color: black;
  /* <https://caniuse.com/#feat=object-fit> */
}
@media screen and (max-width: 767px) {
  body{
    width: 100%;
  }
  #message-for-mobile{
    display: block;
    // padding: 2%;
    max-width: 80%;
  }
  .game-container{
    height: 75%;
  }
  #start_page{
    height: 50%;
    margin-top: 25%;
    background-size: auto;
    background-position-y: bottom;
  }

}
@media screen and (max-width: 767px) and (orientation:landscape) {

  #message-for-mobile{
    display: none;
  }
  canvas {
    width: 100%;
    height: 100%;
    object-fit: contain;
    /* <https://caniuse.com/#feat=object-fit> */
  }
  .game-container{
    height: 100%;
  }
  #start_page{
    height: 100%;
    margin-top: 0%;
    background-size: cover;
  }
}
