<form>
  <mat-form-field class="full-width">
    <textarea name="problemStatement" class="py-0" problemTextArea
              cdkTextareaAutosize
              cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="5"
              id="problemStatement" placeholder="Write here"
              matInput required [autofocus] [(ngModel)]="problemStatement" 
              (focusout)="onFocusOut($event)">text</textarea>
  </mat-form-field>
  <p class="text-right"  (click)="onProblemSubmit()">
    <button type="button" mat-raised-button color="primary"
      class="continue-btn"  >Continue</button>
  </p>
</form>
