<form>
  <mat-form-field class="full-width">
    <textarea name="worryStatement" class="py-0" #worryTextArea cdkTextareaAutosize cdkAutosizeMinRows="1"
      cdkAutosizeMaxRows="5" id="worryStatement" placeholder="Write here" matInput required [autofocus]
      [(ngModel)]="worryStatement" (focus)="onFocus()" (focusout)="onFocusOut($event)">text</textarea>
  </mat-form-field>
  <p class="text-right" (click)="onWorrySubmit()" *ngIf="worryTextArea.value && continueButton">
    <button type="button" mat-raised-button class="continue-btn">Continue</button>
  </p>
  <div *ngIf="clickbutton" (click)="showSliderContinue()">
    <app-form-slider [question]="worrySliderQuestion" [minRatingText]="wSliderMinRangeText"
      [maxRatingText]="wSliderMaxRangeText" [rating]="value"></app-form-slider>
  </div>
  <p class="text-right" *ngIf="showSliderCont" (click)="continuetoCharacteristics()">
    <button type="button" mat-raised-button class="continue-btn">Continue</button>
  </p>
  <br />
</form>
