@import '../../forms.component.scss';

.form-control {
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  box-shadow: none;
}

.subtasks {
  padding-left: 20px;

  .subtask {
    .mat-checkbox {
      width: 90%;
      display: inline-block;
    }

    span {
      text-align: right;
      width: 10%;
      display: inline-block;
    }
  }
}

label {
  color: #383838;
}

.full-width {
  width: 100%;
}

.card-header {
  background-color: #FFEFD4;
  font-weight: 700;
}

.selected {
  background-color: #999999;
}
