@import '../../forms.component.scss';

.form-control {
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  box-shadow: none;
}

::-webkit-scrollbar {
  width: 0 !important;
}

textarea {
  scrollbar-width: none;
}

.subtasks {
  padding-left: 20px;

  .subtask {
    .mat-checkbox {
      width: 100%;
      display: inline-block;
    }

    span {
      text-align: right;
      width: 10%;
      display: inline-block;
    }
  }
}

label {
  color: #383838;
}

.full-width {
  width: 100%;
}

.card-header {
  background-color: #ffefd4;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}

.selected {
  background-color: #999999;
}



//.form-control:focus{
//  border-bottom-color: black;
//}

.task-info-icon {
  height: 26px;
}

.task-info {
  height: 40px;
  margin-top: 10px;
}

.add-subtask {
  float: left;
  display: flex;
  padding-left: 18px;
  opacity: 0.6;
  margin-top: 30px;
}

.task-data {
  margin-left: 22px;
  height: 24px;
  display: inline-block;
}
