<div>
  <mat-card-title class="card-header">
    {{ taskHeading }}
  </mat-card-title>
  <div class="card-body">
    <div class="row">
      <div class="col-12 col-lg-12">
        <form [formGroup]="tasksGroup">
          <div>
            <mat-checkbox
              class="full-width"
              formControlName="taskCompleted"
              (change)="taskCompletedChange($event)"
              [checked]="tasksGroup.controls.dtaskCompleted"
            >
              <mat-form-field class="full-width">
                <textarea
                  matInput
                  cdkTextareaAutosize
                  cdkAutosizeMinRows="1"
                  cdkAutosizeMaxRows="5"
                  formControlName="task"
                  class="form-control"
                  required
                  placeholder="Enter Task Here"
                  (focusin)="showSaveBtn()"
                  (focusout)="updateTask()"
                ></textarea>
              </mat-form-field>
            </mat-checkbox>
          </div>
          <div [ngStyle]="{ opacity: '0.6', 'font-size': '14px' }">
            SubTasks
          </div>
          <div class="subtasks" formArrayName="subTasks">
            <div
              [formGroupName]="i"
              class="subtask"
              [ngStyle]="{ display: 'flex' }"
              *ngFor="let subtask of getSubTasksForm(); let i = index"
              click-outside
              (clickOutside)="onClickOutside($event, i)"
            >
              <mat-checkbox
                class="full-width"
                formControlName="is_completed"
                [checked]="is_completed"
                (change)="subTaskCompletedChange($event, i)"
              >
                <!--                <input type="hidden" formControlName="id" [value]="i" />-->
                &nbsp;
                <mat-form-field class="full-width">
                  <textarea
                    matInput
                    cdkTextareaAutosize
                    #autosize="cdkTextareaAutosize"
                    cdkAutosizeMaxRows="4"
                    formControlName="name"
                    class="form-control"
                    [placeholder]="showTrashIcon[i] ? 'Enter Subtask Here' : ''"
                    required
                    (focusout)="this.updateTask()"
                    (focus)="onShowTrashIcon(i)"
                    #answer="matInput"
                  ></textarea>
                </mat-form-field>
              </mat-checkbox>
              <div
                class="trash-icon"
                (click)="markForDeletion(subtask.value, i)"
                *ngIf="showTrashIcon[i]"
              >
                <mat-icon>delete</mat-icon>
              </div>
            </div>
          </div>
        </form>

        <div class="add-subtask" (click)="addField()">
          <mat-icon
            [ngStyle]="{
              'font-size': '19px',
              'padding-top': '2px',
              cursor: 'pointer'
            }"
            >add</mat-icon
          >
          <div [ngStyle]="{ 'padding-left': '5px' }">
            Add Subtask
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-12">
        <div [ngStyle]="{ 'margin-top': '50px' }">
          <div [ngStyle]="{ opacity: '0.6' }">
            When do you want to do the task?
          </div>
          <div>
            <div>
              <button
                class="btn dialog-button"
                (click)="onShowDateTime()"
                *ngIf="!dateTimeMessage"
              >
                Select Date & Time
              </button>
            </div>
            <div class="my-2" *ngIf="dateTimeMessage">
              <div class="task-info">
                <img src="assets/forms/calendar.png" class="task-info-icon" />
                <div class="task-data">{{ dateRange }}</div>
              </div>
              <div class="task-info">
                <img src="assets/forms/clock.png" class="task-info-icon" />
                <div class="task-data">{{ endTime }}</div>
              </div>
              <div class="task-info">
                <img src="assets/forms/repeat.png" class="task-info-icon" />
                <div class="task-data">{{ repeatedDays }}</div>
              </div>
            </div>
            <button
              #dateTimeBtn
              [ngStyle]="{ 'padding-left': '0px' }"
              class="btn btn-link"
              (click)="onChangeDateTime()"
              *ngIf="dateTimeMessage"
            >
              Change Date & Time
            </button>
          </div>
        </div>
      </div>
    </div>
    <br />

    <div class="text-right" *ngIf="!this.task || taskValueChanged">
      <button
        mat-raised-button
        class="continue-btn"
        [disabled]="tasksGroup.invalid"
        (click)="saveData()"
      >
        Save
      </button>
    </div>
  </div>
</div>
