<div>
  <mat-card-title class="card-header">
    {{ taskHeading }}
  </mat-card-title>
  <div class="card-body">
    <div class="row">
      <div class="col-12 col-lg-12">
        <form [formGroup]="tasksGroup">
          <div class="d-flex">
            <mat-checkbox
              class="mr-3"
              formControlName="taskCompleted"
              (change)="taskCompletedChange($event)"
              [checked]="tasksGroup.controls.dtaskCompleted"
            >
            </mat-checkbox>

            <mat-form-field class="full-width" appearance="">
              <textarea
                matInput
                #formInput="matInput"
                cdkTextareaAutosize
                cdkAutosizeMinRows="1"
                formControlName="task"
                class="form-control"
                required
                [placeholder]="
                  formInput.focused || formInput.empty ? 'Enter Task Here' : ''
                "
                (focusin)="showSaveBtn()"
                (focusout)="updateTask()"
              ></textarea>
            </mat-form-field>
          </div>
          <div [ngStyle]="{ opacity: '0.6', 'font-size': '14px' }">
            SubTasks
          </div>
          <div class="subtasks" formArrayName="subTasks">
            <div
              [formGroupName]="i"
              class="subtask"
              [ngStyle]="{ display: 'flex' }"
              *ngFor="let subtask of getSubTasksForm(); let i = index"
              appClickOutside
              (clickOutside)="onClickOutside($event, i)"
            >
              <mat-checkbox
                class="mr-3 mb-0"
                formControlName="is_completed"
                [checked]="is_completed"
                (change)="subTaskCompletedChange($event, i)"
              >
              </mat-checkbox
              ><!--                <input type="hidden" formControlName="id" [value]="i" />-->
              &nbsp;
              <mat-form-field class="full-width">
                <textarea
                  matInput
                  class="py-0"
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  #formSubTaskInput="matInput"
                  formControlName="name"
                  class="form-control"
                  [placeholder]="
                    formSubTaskInput.focused || formSubTaskInput.empty
                      ? 'Enter Subtask Here'
                      : ''
                  "
                  required
                  (focusout)="this.updateTask()"
                  (focus)="onShowTrashIcon(i)"
                  #answer="matInput"
                ></textarea>
              </mat-form-field>

              <div
                class="trash-icon"
                (click)="markForDeletion(subtask.value, i)"
                *ngIf="showTrashIcon[i]"
              >
                <mat-icon>delete</mat-icon>
              </div>
            </div>
          </div>
        </form>

        <div class="add-subtask" (click)="addSubTask()">
          <mat-icon
            [ngStyle]="{
              'font-size': '19px',
              'padding-top': '2px',
              cursor: 'pointer'
            }"
            >add</mat-icon
          >
          <div [ngStyle]="{ 'padding-left': '5px' }">
            Add Subtask
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-12">
        <div [ngStyle]="{ 'margin-top': '50px' }">
          <div [ngStyle]="{ opacity: '0.6' }">
            When do you want to do the task?
          </div>
          <div>
            <div>
              <button
                class="btn dialog-button"
                (click)="onShowDateTime()"
                *ngIf="!dateTimeMessage"
              >
                Select Date & Time
              </button>
            </div>
            <div class="my-2" *ngIf="dateTimeMessage">
              <div class="task-info">
                <img src="assets/forms/calendar.png" class="task-info-icon" />
                <div class="task-data">{{ dateRange }}</div>
              </div>
              <div class="task-info">
                <img src="assets/forms/clock.png" class="task-info-icon" />
                <div class="task-data">{{ endTime }}</div>
              </div>
              <div class="task-info">
                <img src="assets/forms/repeat.png" class="task-info-icon" />
                <div class="task-data">{{ repeatedDays }}</div>
              </div>
            </div>
            <button
              #dateTimeBtn
              class="btn btn-link pl-0"
              (click)="onChangeDateTime()"
              *ngIf="dateTimeMessage"
            >
              Change Date & Time
            </button>
          </div>
        </div>
      </div>
    </div>
    <br />

    <div class="text-right" *ngIf="!this.task || taskValueChanged">
      <button
        mat-raised-button
        class="continue-btn"
        [disabled]="tasksGroup.invalid"
        (click)="saveData()"
      >
        <ng-container *ngIf="!showLoading; else loading"
        >Save
        </ng-container>
        <ng-template #loading>
          <span class="spinner-border spinner-border-sm"></span>
          Loading.. &nbsp;
        </ng-template>
      </button>
    </div>
  </div>
</div>
