<div>
  <mat-card-header class="card-header">
    {{ taskHeading }}
  </mat-card-header>
  <div class="card-body" >
    <div class="row">
      <div class="col-12 col-lg-12">
        <form [formGroup]="tasksGroup">
          <div>
            <mat-checkbox
              class="full-width"
              formControlName="taskCompleted"
              (change)="taskCompletedChange($event)"
              [checked]="tasksGroup.controls.dtaskCompleted"
            >
              <textarea
                matInput
                cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="2"
                cdkAutosizeMaxRows="4"
                formControlName="task"
                class="form-control"
                required
                placeholder="Add Task"
                (focusout)="updateTask()"
              ></textarea>
            </mat-checkbox>
          </div>
          <div
            class="subtasks"
            formArrayName="subTasks"
            *ngFor="let subtask of getSubTasksForm(); let i = index"
          >
            <div
              [formGroupName]="i"
              class="subtask"
              [ngStyle]="{'display':'flex'}"
            >
              <mat-checkbox
                class="full-width"
                formControlName="is_completed"
                [checked]="is_completed"
                (change)="subTaskCompletedChange($event, id)"
              >
                <input type="hidden" formControlName="id" [value]="id" />
                <textarea
                  matInput
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="2"
                  cdkAutosizeMaxRows="4"
                  formControlName="name"
                  class="form-control"
                  placeholder="Add Subtask"
                  required
                  #answer="matInput"
                ></textarea>
              </mat-checkbox>
              <div
                id="trash-icon"
                (click)="markForDeletion(subtask.value, i)"
                *ngIf="answer.focused"
              >
                <mat-icon>delete</mat-icon>
            </div>
            </div>
          </div>
        </form>
        <div>
          <span [ngStyle]="{ float: 'left' }" (click)="addField()">
            <mat-icon>add_circle</mat-icon>
          </span>
        </div>
      </div>
      <div class="col-12 col-lg-12">
        <!-- <strong>When do you want to do the task</strong> -->
        <!-- <form class="form">
          <div class="row mb-3">
            <div class="col-12 col-md-12">
              <mat-form-field class="w-100">
                <input matInput placeholder="Select Start Date" [owlDateTimeTrigger]="datePicker"
                  [owlDateTime]="datePicker" [(ngModel)]="start_date" name="date" (focusout)="dateTimeParser()">
              </mat-form-field>
              <owl-date-time [pickerType]="'calendar'" #datePicker="owlDateTime"></owl-date-time>
            </div>

            <div class="col-12 col-md-12">
              <mat-form-field class="w-100">
                <input matInput placeholder="Select Time" [owlDateTimeTrigger]="timePicker" [owlDateTime]="timePicker"
                  [(ngModel)]="time" name="startTime" (focusout)="dateTimeParser()">
              </mat-form-field>
              <owl-date-time [pickerType]="'timer'" #timePicker="owlDateTime"></owl-date-time>
            </div>

            <div class="col-12 col-md-12">
              <mat-slide-toggle [(ngModel)]="repeat" name="repeat" (change)="onRepeatChange($event)" ngDefaultControl
                [disableRipple]="true">
                Repeat
              </mat-slide-toggle>
            </div>

            <div class="col-12 col-md-12" *ngIf="repeat">
              <div class="w-100">
                <mat-checkbox (change)="onAllCheck($event)" [disableRipple]="true"
                  [checked]="days.length === week.length">
                  <span color="primary">All</span>
                </mat-checkbox>
              </div>
              <div class="w-100" *ngFor="let day of week">
                <mat-checkbox [checked]="days.includes(day)" (change)="onDayChange($event, day)" [disableRipple]="true">
                  {{day}}
                </mat-checkbox>
              </div>

            </div>

            <div class="col-12 col-md-12" *ngIf="repeat">
              <mat-form-field class="w-100">
                <input matInput placeholder="Select End Date" [owlDateTimeTrigger]="endDatePicker"
                  [owlDateTime]="endDatePicker" [(ngModel)]="end_date" name="endDate" (focusout)="endDateParser()">
              </mat-form-field>
              <owl-date-time [pickerType]="'calendar'" #endDatePicker="owlDateTime"></owl-date-time>
            </div>
          </div>
        </form> -->
        <div>
          <mat-card-header class="card-header">
            When do you want to do the task
          </mat-card-header>
          <div>
            <div [ngStyle]="{ 'text-align': 'center' }">
              <button class="btn date-time-button" (click)="onShowDateTime()">
                Date & Time
              </button>
            </div>
            <div
              [innerHTML]="dateTime"
              [ngStyle]="{ 'margin-bottom': '8px' }"
            ></div>
            <div>
              <app-date-time-picker
              class="task-form"
                *ngIf="showDateTimePicker"
                (onClose)="onShowDateTime()"
                (dateTimeMessage)="getDateTimeMessage($event)"
              >
              </app-date-time-picker>
            </div>
            
          </div>
        </div>
      </div>
    </div>
    <div class="text-right" *ngIf="!this.task">
      <button mat-raised-button class="continue-btn" (click)="saveData()">
        Continue
      </button>
    </div>
  </div>
</div>
