<div class="row w-100 px-0 py-0 pb-2 mx-0 ec-instruction-div">
    <div class="col-12">
        <div class="row justify-content-center">
            How to play?
        </div>
        <div class="row justify-content-center">
            <div class="col justify-content-center">
                <div class="col-auto justify-content-center">
                    <img class="ec-help-pic"
                        src="../../../../../../../assets/games/executive-control-game/sprint.svg">
                </div>

            </div>
            <div class="col justify-content-center">
You'll be shown the tutorial during the gameplay.
            </div>
        </div>
        <div class="row justify-content-center my-3">
            <button [color]="'ecg-start'"
                mat-raised-button
                (click)='ecGameStart()'>
                Start
            </button>
        </div>
    </div>


</div>


