<div mat-dialog-content>
  <h3 mat-dialog-title>Contact us</h3>
  <div mat-dialog-actions align="end">
    <mat-icon (click)="onCloseClick()" class="cursor-hand">close</mat-icon>
  </div>
  <br>
  <label for="emailid">Email id</label>
  <mat-form-field>
    <input matInput name="emailid" [(ngModel)]="data.emailid" required>
    <mat-error>Email id is required</mat-error>
  </mat-form-field>
  <br>
  <label for="message">Message</label>
  <mat-form-field>
    <textarea 
      matInput 
      name="message" 
      [(ngModel)]="data.message" 
      matTextareaAutosize 
      matAutosizeMinRows=5 
      matAutosizeMaxRows=15 
      required>
    </textarea>
    <mat-error>Please write something here.</mat-error>
  </mat-form-field>
</div>
<br>
<br>
<div mat-dialog-actions align="center">
  <button mat-raised-button [mat-dialog-close]="data" class="dialog-btn">Submit</button>
</div>
