<form>
  <mat-form-field class="full-width">
    <textarea
      name="problemStatement"
      class="py-0"
      #problemTextArea
      cdkTextareaAutosize
      cdkAutosizeMinRows="1"
      id="problemStatement"
      matInput
      #formInput="matInput"
      [placeholder]="
        formInput.focused || formInput.empty ? 'Enter your problem' : ''
      "
      required
      [autofocus]
      [(ngModel)]="problemStatement"
      (focusout)="onFocusOut($event)"
    ></textarea>
  </mat-form-field>
  <p class="text-right" (click)="onProblemSubmit()">
    <button type="button" mat-raised-button class="continue-btn">
      <ng-container *ngIf="!showLoading; else loading">Continue </ng-container>
      <ng-template #loading>
        <span class="spinner-border spinner-border-sm"></span>
        Loading..
      </ng-template>
    </button>
  </p>
</form>
