@import '../forms.component.scss';

.red-circle {
  margin-left: 0.25rem;
  position: absolute;
  right: 16px;
  top: 13px;
}
.add-statement {
  margin-left: 2.5rem;
}

@media screen and (max-width: 960px) {
  .add-statement {
    margin-left: 0;
  }
}
@media screen and (max-width: 576px) {
  .mat-card {
    box-shadow: none;
  }
}
.radio-group {
  display: inline-flex;
  flex-direction: column;
}
