<div class="forms-container">
<mat-card
  class="container-fluid px-0 pt-0 pb-2 mb-2 "
  [ngClass]="{ 'for-slide': fromSlide || fromConv }"
>
  <div class="row mb-2 card card-full-width">
    <mat-card-header class="col-12 w-100 px-0 py-0 card-header main-heading">
      <mat-card-title class="ml-4 pt-1 my-auto d-inline-block">
        {{ formName }}
      </mat-card-title>

      <div class="d-inline-block ml-auto">
        <div *ngIf="showFollowUp && !t.menuOpen" class="red-circle"></div>
        <button
          class="saved-forms-btn"
          mat-icon-button
          [matMenuTriggerFor]="problemSolvingForms"
          #t="matMenuTrigger"
        >
          <mat-icon>
            more_horiz
          </mat-icon>
        </button>
      </div>

      <mat-menu
        xPosition="before"
        yPosition="below"
        #problemSolvingForms="matMenu"
        [overlapTrigger]="false"
      >
        <div [ngStyle]="{ 'max-height': '350px' }">
          <app-forms-sidebar
            [object]="problem"
            [type]="type"
            (showDot)="onShowFollowUp($event)"
            (objectEmitter)="problemSelected($event)"
            (newForm)="onAddNewForm()"
          >
          </app-forms-sidebar>
        </div>
      </mat-menu>
    </mat-card-header>
  </div>

  <div class="row no-gutters form-div mx-auto">
    <div *ngIf="showLoading" class="col-12 text-center text-loading">
      Loading...
    </div>

    <div class="col-12 col-lg" [ngStyle]="{visibility: showLoading ? 'hidden' : 'visible'}">
      <div class="row mb-4">
        <div class="col-12">
          <div class="card-full-width" style=" position: relative">
            <div class="card-header">
              Problem statement
              <div class="float-right d-inline-block position-absolute" style="right: 16px; top: 6px;">
                <button mat-icon-button class="edit_icon" (click)="onEditProblemClick()">
<!--                <mat-icon class="edit_icon" (click)="onEditProblemClick()">-->
<!--                  edit-->
<!--                </mat-icon>-->
                  <img src="assets/forms/svg/edit%201.svg" >
                </button>
              </div>
            </div>

            <div
              class="card-body"
              *ngIf="problem && !problemEditMode"
              (click)="onProblemClick()"
            >
              <div
                class="form-editable-text-underline"
                [ngStyle]="{ wordWrap: 'break-word' }"
              >
                {{ problem.problem }}
              </div>
            </div>
            <div
              class="card-body"
              *ngIf="problem && problemEditMode"
              (click)="onProblemClick()"
            >
              <app-problem-form
                [problem]="problem"
                (updateProblem)="updateProblem($event)"
              ></app-problem-form>
            </div>
            <div class="card-body" *ngIf="!problem" (click)="onProblemClick()">
              <app-problem-form
                (addProblem)="problemSelected($event)"
              ></app-problem-form>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-12" *ngIf="problem">
          <div class="card-full-width">
            <div class="card-header">
              Possible solutions
            </div>

            <app-solutions
              [solutions]="solutions"
              (solutionDelete)="onSolutionRemove($event)"
              (solutionEdit)="onSolutionEdit($event)"
            ></app-solutions>
            <div class="card-body">
              <div
                *ngIf="
                  (solutions && solutions.length === 0) || showSolutionsForm
                "
              >
                <form (ngSubmit)="onSolutionSubmit()" #solutionForm="ngForm">
                  <mat-form-field class="full-width">
                    <span matPrefix
                      >{{ solutions.length + 1 }}.&nbsp;&nbsp;</span
                    >
                    <textarea
                      class="py-0"
                      name="solution"
                      id="solution"
                      #solutionTextArea
                      placeholder="Enter your solution"
                      matInput
                      required
                      [autofocus]
                      ngModel
                      (focus)="onShowSaveSolution()"
                      (focusout)="onSolutionFocusOut()"
                      cdkTextareaAutosize
                      cdkAutosizeMinRows="1"
                    ></textarea>
                  </mat-form-field>
                  <div class="float-right" *ngIf="solutions.length > 0 && this.solutionsSaved || showSolutionContBtn && this.solutionsSaved">
                    <button type="button" mat-raised-button class="continue-btn"
                      (click)="showSolutionsForm = !showSolutionsForm">
                      Continue
                    </button>
                  </div>
                </form>
              </div>
              <div *ngIf="solutions" class="text-right">
                <div>
                  <div class="float-left add-statement" (click)="showSolutionForm()">
                    <mat-icon [ngStyle]="{ fontSize: '1rem', paddingTop: '0.125rem' }">add</mat-icon>
                    <div>Add Solution</div>
                  </div>
                  <br />
                </div>
              </div>
              <div
                class="text-right mt-2 mb-2"
                *ngIf="!solutionsSaved || solutions.length < 1"
              >
                <button
                  type="button"
                  mat-raised-button
                  class="continue-btn"
                  (click)="onSolutionSaved()"
                >
                  <ng-container *ngIf="!showLoadingSpinner; else loading"
                    >Continue
                  </ng-container>
                  <ng-template #loading>
                    <span class="spinner-border spinner-border-sm"></span>
                    Loading..
                  </ng-template>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-2">
        <div
          class="col-12"
          *ngIf="problem && solutions.length > 0 && solutionsSaved"
        >
          <div class="card-full-width">
            <div class="card-header">
              Pros and cons of solutions
              <div class="float-right d-inline-block">
                <mat-icon class="edit_icon" (click)="onShowInfo()">
                  info_outline
                </mat-icon>
              </div>
            </div>
            <div class="card-body">
              <div *ngFor="let solution of solutions" class="mb-4">
                <div class="mb-3" [ngStyle]="{ fontSize: '1.125rem' }">
                  <div>Solution: {{ solution.solution }}</div>
                </div>
                <app-pros-cons-container
                  [fromSlide]="fromSlide"
                  (proConsSaved)="onProsConsSaved()"
                  [solution]="solution"
                ></app-pros-cons-container>
              </div>
            </div>
            <div class="text-right m-2" *ngIf="!prosconsSaved">
              <button
                type="button"
                mat-raised-button
                class="continue-btn"
                (click)="onProsConsSaved()"
              >
                <ng-container *ngIf="!showProsConsSpinner; else loading"
                  >Continue
                </ng-container>
                <ng-template #loading>
                  <span class="spinner-border spinner-border-sm"></span>
                  Loading..
                </ng-template>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div
        class="row mb-2"
        *ngIf="solutions && solutions.length > 0 && prosconsSaved"
      >
        <div class="col">
          <div class="card-full-width" *ngIf="showTask">
            <div class="card-header">
              Implement the solution
            </div>
            <div class="card-body">
              <div>
                <div class="row">
                  <div class="col-12">
                    <div [ngStyle]="{ wordWrap: 'break-word' }">
                      {{ getBestSolutionText(this.problem.bestsolution) }}
                    </div>
                    <div class="float-left my-2">
                      <!--                        *ngIf="solutions.length > 0 && bestSolution"-->
                      <button
                        type="button"
                        class="btn btn-link px-0"
                        (click)="deleteBestSolution()"
                      >
                        change best solution
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card">
                <app-tasks
                  [task]="task"
                  [taskHeading]="heading"
                  (nextStepEmitter)="onNextStep()"
                  [object]="problemObject"
                  (taskLoaded)="onTaskLoad($event)"
                >
                </app-tasks>
              </div>
            </div>
          </div>
          <div class="card-full-width" *ngIf="!showTask">
            <div class="card-header">
              Select the best solution
            </div>
            <div class="card-body">
              <div class="list-group">
                <div
                  [ngStyle]="{ wordBreak: 'break-word' }"
                >
                  <mat-radio-group class="radio-group">
                  <mat-radio-button
                    color="primary"
                    *ngFor="let solution of solutions"
                    [value]="solution.id"
                    [checked]="
                      problem.bestsolution &&
                      solution.id === problem.bestsolution
                    "
                    (change)="onCheckBoxChange(solution)"
                    [id]="solution.id"
                  >
                    {{ solution.solution }}
                  </mat-radio-button>
                  </mat-radio-group>
                </div>
              </div>
              <div class="text-right">
                <button
                  mat-raised-button
                  class="continue-btn"
                  (click)="selectBestSolution()"
                >
                  Continue
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mb-2" *ngIf="renderResult()">
        <app-result
          [task]="task"
          [solution_id]="problem.bestsolution"
        ></app-result>
      </div>
    </div>
  </div>
</mat-card>
</div>
