#more-hor-icon{
  color: white;
  max-width: 100%;
}
.container-fluid {
  background-color: white;
  // max-height: 900px;
  box-shadow:  1px 2px 5px 1px rgba(0, 0, 0, 0.20);
}
.problem-statement-div{
  border-bottom: 1px solid #dcdcdc;
}
.card-header {
  background-color: #FFEFD4;
  font-weight: 700;
}
.card {
  margin: 0 auto;
  button {
    width: 100%;
  }
  label {
    padding: 10px;
    margin-bottom: 0px;
    border-bottom: 1px solid #969393;
    &:last-child {
      border-bottom: 1px solid transparent;
    }
  }
  .continue-btn {
    width: 100px;
  }
  .full-width {
    width: 100%;
  }
  textarea {
      color: #000000;
  }
  .pull-right {
    float: right;
  }
}

.card.card-240 {
  max-width: 240px;
}

.card.card-full-width {
  width: 100%;
}
#main-heading {
  background-color: #343434;
  // font-family: 'Roboto';
  // font-size: 16px;
  color: white;
  // height: 5.1vh;
  max-height: 45px;
}

#saved-forms-btn{
  float: right ;
  margin: 2%;
}
.form-div{
  width: 94%;
  height: 90%;
}
.edit_icon{
  cursor: pointer;
}
@media screen and (max-width: 992px) {
  h1 {
    font-size: 1.6rem;
    font-weight: 600;
  }
  .card.card-240 {
    max-width: 100%;
  }
  .container-fluid {
    padding: 0 !important;
  }
}
