<!-- <div class="container-fluid no-padding"> -->
<mat-card class="container-fluid px-0 pt-0 pb-2 mb-2">
  <div class="row no-gutters mb-2 card card-full-width">
    <!-- <div class="col-12 card-header w-100 px-0" id="main-heading" > -->
    <mat-card-header class="col-12 w-100 px-0 card-header " id="main-heading">
      <mat-card-title class="ml-4 my-auto d-inline-block">
        Cope with a problem
      </mat-card-title>
      <!-- <div class="h-100 ml-4 my-auto d-inline-block ">
        <p class="py-1 h-100 my-auto">Cope with a problem </p></div> -->

      <div class="h-100 d-inline-block ml-auto">
        <button class="h-100" id="saved-forms-btn"
          mat-button [matMenuTriggerFor]="problemSolvingForms">
          <i class="material-icons"  id="more-hor-icon">
            more_horiz
          </i>
        </button>
      </div>

      <mat-menu xPosition="before" yPosition="below"
        #problemSolvingForms="matMenu"  [overlapTrigger]="false" >
        <div [ngStyle]="{'max-height':'350px'}">
          <app-forms-sidebar
            [type]="type"
            (objectEmitter)="problemSelected($event)"
            (newForm)="onAddNewForm()">
          </app-forms-sidebar>
        </div>
          
      </mat-menu>
    </mat-card-header>
  </div>
  
  <div class="row no-gutters form-div mx-auto">
    <div class="col-12 col-lg">
      <div class="row mb-2">
        <div class="col-12">
          <ng-container>
            <div class="card-full-width">
              <div class="card-header">
                Problem statement
                <div class="float-right d-inline-block">
                  <mat-icon class="edit_icon" (click)="onEditProblemClick()">
                     edit </mat-icon>
                </div>
              </div>
              <div class="card-body " 
                *ngIf="problem && !problemEditMode" (click)="onProblemClick()">
                <div class="problem-statement-div">
                    {{problem.problem}}
                </div>
              </div>
              <div class="card-body" *ngIf="problem && problemEditMode" (click)="onProblemClick()">
                <app-problem-form [problem]="problem"></app-problem-form>
              </div>
              <div class="card-body" *ngIf="!problem" (click)="onProblemClick()">
                <app-problem-form></app-problem-form>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-12" *ngIf="problem">
          <div class="">
            <div class="card-header">
              Possible solutions
              <div class="float-right d-inline-block">
                <mat-icon class="edit_icon" (click)="onEditSolutionClick()">
                   edit </mat-icon>
              </div>
            </div>

            <app-solutions
              [solutions]="solutions"
              (solutionDelete)="onSolutionRemove($event)"
              (solutionEdit)="onSolutionEdit($event)"></app-solutions>
            <div class="card-body"> 
              <div *ngIf="solutions && solutions.length === 0 || showSolutionsForm">
                <form (ngSubmit)="onSolutionSubmit()" #solutionForm="ngForm">
                  <mat-form-field class="full-width">
                    <textarea class="py-0" 
                            name="solution" id="solution" #solutionTextArea
                            placeholder="Enter your solution"
                            matInput required [autofocus] ngModel 
                            (focusout)="onSolutionFocusOut()"
                            cdkTextareaAutosize
                            cdkAutosizeMinRows="1"
                            cdkAutosizeMaxRows="5"></textarea>
                  </mat-form-field>
                </form>
              </div>
              <div *ngIf="solutions" class="text-right">
                <span (click)="showSolutionsForm=!showSolutionsForm">
                  <mat-icon *ngIf="!showForm">add_circle</mat-icon>
                  <mat-icon *ngIf="showForm">clear_circle</mat-icon>
                  <br>
                </span>
              </div>
              <div class="text-right mt-2 mb-2" *ngIf="solutions.length < 2">
                <button type="button" mat-raised-button color="primary" class="continue-btn"
                  (click)="onSolutionSaved()">Continue</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-12" *ngIf="problem && solutions.length > 0 || solutionsSaved">
          <div class="">
            <div class="card-header">
              Pros and cons of solutions
            </div>
            <div class="card-body">
              <div *ngFor="let solution of solutions">
                <p><strong>Solution: {{solution.solution}}</strong></p>
                <app-pros-cons-container [solution]="solution"></app-pros-cons-container>
              </div>
            </div>
            <div class="text-right m-2" *ngIf="solutions.length > 0 && !prosconsSaved">
              <button type="button" mat-raised-button color="primary" class="continue-btn"
                (click)="onProsConsSaved()">Continue</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-2" *ngIf="solutions && solutions.length > 0 && prosconsSaved">
        <div class="col">
          <div class="" *ngIf="bestSolution">
            <div class="card-header">
              Implement the solution
            </div>
            <div class="card-body">
              <div>
                <div class="row">
                  <div class="col-6">
                    {{bestSolution.solution}}
                  </div>
                  <div class="col-6">
                    <div class="text-right m-2" *ngIf="solutions.length > 0 && bestSolution">
                      <button type="button" mat-raised-button color="primary" class="continue-btn"
                        (click)="deleteBestSolution()">
                        Change
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card">
                <app-tasks 
                  (nextStepEmitter)="onNextStep()" 
                  [problem]="problem" 
                  (taskLoaded)="onTaskLoad($event)"></app-tasks>
              </div>
              
            </div>
          </div>
          <div class="" *ngIf="!bestSolution">
            <div class="card-header">
              Select the best solution
            </div>
            <div class="card-body">
              <div class="list-group">
                <label *ngFor="let solution of solutions" [for]="solution.id">
                  <input type="radio" [name]="solution.id" [checked]="problem.bestsolution && solution.id == problem.bestsolution.problem_id"
                    (change)="onCheckBoxChange(solution, $event)" [id]="solution.id">
                  {{solution.solution}}
                </label>
              </div>
              <div class="text-right">
                <button mat-raised-button color="primary" class="continue-btn"
                  (click)="selectBestSolution()">Continue</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mb-2" *ngIf="renderResult()">
        <app-result [solution]="bestSolution"></app-result>
      </div>
    </div>
  </div>
<!-- </div> -->
</mat-card>
