<form
  (submit)="onSignupSubmit()"
  #signupForm="ngForm"
  *ngIf="showSignupForm else loader"
  class="signup-form">
  <div
    class="flex-row-reverse"
    mat-dialog-actions>
    <mat-icon
      (click)="onSignupCloseClick()"
      class="cursor-hand">
        close
    </mat-icon>
  </div>

  <div class="input-container text-center">
    <mat-error *ngIf= "errorStatus"> {{usernameError }} </mat-error>
    <mat-error *ngIf= "errorStatus"> {{passwordError}} </mat-error>
    <mat-error *ngIf = "!passwordMatch"> {{passwordMatchError}} </mat-error>
    
    <div class="tips">
      Tips: Use a nickname to maintain anonymity
    </div>
    <mat-form-field>
      <input
        matInput
        placeholder="Username"
        type="text"
        ngModel
        required
        name="username"
        class="example-right-align">
      <mat-error>Username is required</mat-error>
    </mat-form-field>
    
    <mat-form-field>
      <input
        matInput
        placeholder="Enter your password"
        [type]="hide ? 'password' : 'text'"
        ngModel
        required
        name="password"
        > 
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      <mat-error>Password is required</mat-error>
    </mat-form-field>
    
    <mat-form-field>
      <input
        matInput
        placeholder="Confirm password"
        [type]="hide ? 'password' : 'text'"
        ngModel
        required
        name="passwordConfirm">
     <mat-error> Password is required </mat-error>
    </mat-form-field>


      <mat-checkbox
        ngModel
        required
        name = "terms_conditions">
        I agree <a class="anchorify-terms-conditions-content" (click) = "onTermsConClick()"> Terms and Conditions</a>
        <mat-error *ngIf="!termsConditionChecked"> Agree the terms and condtions.</mat-error>
      </mat-checkbox>
      
    
  <div
      mat-dialog-actions
      class="d-flex justify-content-center">
      <button
        mat-raised-button
        class="dialog-btn"
        type="submit">
          Sign Up
      </button>
  </div>

</div>
    
</form>

<ng-template #loader>
  <div class="d-flex align-items-center justify-content-center" style="height: 450px; width: 100%;">
    <img src="assets/shared/dna-loader.svg" alt="loader">
  </div>
</ng-template>
