@import '~@angular/material/theming';
@import 'treadwill.theme.scss';
@import 'styles.scss';
@import '../../pre-login.component.scss';


.ng-valid, .ng-untouched, .mat-focused, .ng-pristine {
  color: $mat-white;

  .mat-form-field-wrapper{
    .mat-form-field-underline {
      
      
      .mat-form-field-ripple {
        background-color: $mat-white;
      }
    }

    .mat-form-field-subscript-wrapper {
      display: none;
    }
    
    .mat-form-field-flex>
    .mat-form-field-infix>
    .mat-form-field-label-wrapper>
    .mat-form-field-label {
      color: $mat-white;
      @include font-lato();
      font-size: 100%;

      .mat-form-field-required-marker {
        color: $mat-white;
      }
    }
  }
}

.signup-dialog {
  color: $mat-white !important;
  a {
    color: $mat-white !important;
  }
}


.anchorify-terms-conditions-content {
  @extend .anchorify-with-underline-on-hover;
  @include font-lato();
  font-size: 75%;
  color: $treadwill-pre-login-primary !important;
}

.input-container {
  .terms-conditions {
    margin-bottom: 10px;
  }
 
  .error {
    color: red;
    text-align: left;
    margin: 0 40px;
    font-weight: 500;
  }
  
}