<div class="intro-img-div">
  <img
    class="therapist-img"
    src="assets/flow/therapist.svg"
    alt="intro_bot"
  />
</div>
<div class="title" mat-dialog-title>{{ form.heading }}</div>

<mat-dialog-content>
  <div class="mb-2 description" >
    {{ form.description }}
  </div>
</mat-dialog-content>

<mat-dialog-actions class="float-right">
  <button
    mat-raised-button
    class="btn start-btn float-right"
    (click)="startIntro()"
    matDialogClose
    [innerHTML]="btnTxt"
  ></button>
</mat-dialog-actions>
