<div class="m-4">
    <div>
        No Problem!
    </div>
        <div class="instructionsDiv smallest-font ">
                <p>
                  Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, 
                  graphic or web designs. 
          
                </p>
              </div>
        <img class="instructions-image" src="../../../../../../../assets/games/learning-helplessness/assets/Pop-up graphic (instruction, no problem).png">
      
        <div class="ml-auto p-1" #playBtn>
          <button mat-raised-button [color]="'new'" (click)="onPlay()" type="button" >Play Another Game</button>
        </div>
      </div>
      