@import 'styles.scss';
@import 'treadwill.theme';
@import '../../pre-login.component.scss';

.ng-valid, .ng-untouched, .mat-focused, .ng-pristine {
  color: $mat-white;

  .mat-form-field-wrapper{
    .mat-form-field-underline {
      background-color: $mat-white;
      
      .mat-form-field-ripple {
        background-color: $mat-white;
      }
    }

    .mat-form-field-subscript-wrapper {
      display: none;
    }
    
    .mat-form-field-flex>
    .mat-form-field-infix>
    .mat-form-field-label-wrapper>
    .mat-form-field-label {
      color: $mat-white;
      @include font-lato();
      font-size: 100%;

      .mat-form-field-required-marker {
        color: $mat-white;
      }
    }
  }
}

.login-form {
  color: $mat-white !important;
  a {
    color: $mat-white !important;
  }
}

.anchorify-forgot-username-password {
  @extend .anchorify-with-underline-on-hover;
  @include font-lato($font-weight: 700, $font-style: italic);
  font-size: 75%;
  color: $treadwill-pre-login-primary !important;
  margin-left: 10%;
}

.anchorify-join-the-study {
  @extend .anchorify-default;
  @include font-lato();
  font-size: 100%;
  color: $treadwill-pre-login-primary !important;
}

// .login-dialog-text-color {
//   color: $treadwill-pre-login-primary;
// }

.input-container {
  .forgot-password {
    margin-bottom: 10px;
  }
  .join-study {
    margin-top: 25px;
  }
  .error {
    color: red;
    text-align: left;
    margin: 0 40px;
    font-weight: 500;
  }
}
