<div class="login-form">
  <div
    mat-dialog-actions>
    <mat-icon
      (click)="onCloseClick()"
      class="cursor-hand">
        close
    </mat-icon>
  </div>
  <form
    (submit)="onSubmit()" #loginForm="ngForm">
    <mat-form-field>
      <input
        matInput
        placeholder="Username"
        ngModel
        required
        name="username">
      <mat-error>Username is required</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="Password"
        ngModel
        [type]="hide ? 'password' : 'text'"
        required
        name="password">
      <mat-icon
        matSuffix
        (click)="hide = !hide"
        class="cursor-hand">
          {{hide ? 'visibility_off' : 'visibility'}}
      </mat-icon>
      <mat-error>Password is required</mat-error>
    </mat-form-field>
    <div mat-dialog-actions>
      <a class="anchorify-forgot-username-password">
        Forgot Username/Password?
      </a>
    </div>
    <div mat-dialog-actions class="text-right">
      <button
        mat-raised-button
        class="dialog-btn"
        type="submit">
          Login
      </button>
    </div>
  </form>
  <div mat-dialog-actions class="text-center">
    <p class="login-dialog-text-color">
      Not a member yet?
      <a class="anchorify-join-the-study">
        Join the study!
      </a>
    </p>
  </div>
</div>