<div mat-dialog-content align="center">
  <div mat-dialog-actions align="end">
    <mat-icon (click)="onCloseClick()" class="cursor-hand">close</mat-icon>
  </div>
  <br>
  <mat-form-field>
    <input matInput placeholder="Username" [(ngModel)]="data.username" required>
    <mat-error>Username is required</mat-error>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput placeholder="Password" [(ngModel)]="data.password" [type]="hide ? 'password' : 'text'" required>
    <mat-icon matSuffix (click)="hide = !hide" class="cursor-hand">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    <mat-error>Password is required</mat-error>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <a class="anchorify-forgot-username-password">
    Forgot Username/Password?
  </a>
</div>
<br>
<br>
<div mat-dialog-actions align="center">
  <button mat-raised-button [mat-dialog-close]="data" class="dialog-btn">Login</button>
</div>
<br>
<br>
<br>
<br>
<br>
<div mat-dialog-actions align="center">
  <p class="login-dialog-text-color">
    Not a member yet? <a class="anchorify-join-the-study">Join the study!</a>
  </p>
</div>
