<div class="container-fluid body-bg">
    <div class="row">
        <div class="col-md-12 dashboard" *ngIf="user">
            <div class="row">
                <div class="col-xl-4 col-md-6 col-sm-12">
                    <div class="d-flex justify-content-center grid-item chatbot">
                        <app-chatbot-avatar [user]="user" (click)="onChatbotClick()"></app-chatbot-avatar>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-sm-12">
                    <div class="d-flex justify-content-center grid-item">
                        <app-current-module></app-current-module>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-md-6 col-sm-12">
                    <div class="d-flex justify-content-center grid-item">
                        <app-things-todo></app-things-todo>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-sm-12">
                    <div class="d-flex justify-content-center grid-item">
                        <app-progress></app-progress>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>