<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <app-side-nav></app-side-nav>
        </div>
        <div class="col-md-10 body-bg dashboard" *ngIf="user">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="chatbot d-flex justify-content-center grid-item" *ngIf="user"
                        (click)="onChatbotClick()">
                        <div class="chatbot-inner">
                            <div class="chatbot-avatar">
                                <img src="assets/modules/nanzu.png" alt="chatbot-avatar">
                            </div>
                            <mat-card class="card">
                                Hi {{user.username}}! Do you have any questions?
                                Click on me and we can chat.
                            </mat-card>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center grid-item">
                        <app-progress></app-progress>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="d-flex justify-content-center grid-item">
                        <app-current-module></app-current-module>
                    </div>
                    <div class="d-flex justify-content-center grid-item">
                        <app-things-todo></app-things-todo>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="d-flex justify-content-center grid-item">
                        <app-notifications-side></app-notifications-side>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>