@import "styles.scss";

.dashboard {
    @include font-montserrat($font-weight: 400);
    .chatbot-inner {
        width: 350px;
        .card {
            @include font-montserrat($font-weight: 500);  
            text-align: justify;
            text-align-last: center;
            font-size: 18px;
            line-height: 20px;
            padding-left: 30px;
            padding-right: 30px;
        }
        img {
            width: 100%;
        }
    }
}
.grid-item {
    margin-top: 30px;
    margin-bottom: 104px;
}
.grid-item:last-child {
    margin-bottom: 80px;
}

@media screen and (max-width: 1280px) {

}
@media screen and (max-width: 768px) {
    .chatbot {
        width: 300px;
    }
    .chatbot-inner {
        width: 100%;
    }
    .chatbot-avatar {
        height: 100px;
        margin-right: 5%;
        img {
            width: 40%;
        }
    }
    .card {
        width: 64%;
        font-size: 14px;
        line-height: 16px;
        padding-left: 10px;
        padding-right: 10px;
        height: 90px;
    }
    .grid-item {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .grid-item:last-child {
        margin-bottom: 0px;
    }
    
}