@import "styles.scss";

.dashboard {
    @include font-montserrat($font-weight: 400);
}
.grid-item {
    margin-top: 30px;
    margin-bottom: 104px;
}
.grid-item:last-child {
    margin-bottom: 80px;
}

@media screen and (max-width: 991px) {

}
@media screen and (max-width: 767px) {
    .card {
        width: 64%;
        font-size: 14px;
        line-height: 16px;
        padding-left: 10px;
        padding-right: 10px;
        height: 90px;
    }
    .grid-item {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .grid-item:last-child {
        margin-bottom: 0px;
    }
    
}