<div class="container-fluid no-padding">
  <div class="row no-gutters">
    <div class="col-12 card-header" id="main-heading">
      <h3 class="main-heading-h3 d-inline-block py-1">My Tasks</h3>
    
      <button type="button" id="saved-forms-btn"
        mat-button [matMenuTriggerFor]="beforeMenu">
        <i class="material-icons"  >
          more_horiz
        </i>
      </button>
      
      <mat-menu 
        #beforeMenu="matMenu" xPosition="before" yPosition="below" >
          <app-forms-sidebar
            (objectEmitter)="taskSelected($event)"
            (newForm)="onAddNewForm()">
          </app-forms-sidebar>
      </mat-menu>
    </div>
  </div>

  <div class="row no-gutters">
    <div class="col-12 col-lg-12">
      <app-tasks [task]="task" [reset]="reset"></app-tasks>
    </div>
  </div>
</div>
