<mat-card class="container-fluid px-0 pt-0 pb-2 mb-2">
  <div class="row mb-2 no-gutters">
    <mat-card-header class="col-12 w-100 px-0 card-header " id="main-heading">
        <mat-card-title class="ml-4 my-auto d-inline-block">
          <!-- <div class="ml-4 my-auto d-inline-block ">
          <p class="py-1 my-auto"> My tasks </p>
          </div> -->
          My tasks
        </mat-card-title>
          
      <div class="d-inline-block ml-auto">
        <button class="h-100"
          mat-button [matMenuTriggerFor]="beforeMenu">
          <i class="material-icons"  >
            more_horiz
          </i>
        </button>
      </div>
      
      <mat-menu 
        #beforeMenu="matMenu" xPosition="before" yPosition="below" >
          <app-forms-sidebar
            (objectEmitter)="taskSelected($event)"
            (newForm)="onAddNewForm()">
          </app-forms-sidebar>
      </mat-menu>
    </mat-card-header>
  </div>

  <div class="row no-gutters form-div mx-auto">
    <div class="col-12 col-lg-12 ">
      <app-tasks [task]="task" [reset]="reset"></app-tasks>
    </div>
  </div>
</mat-card>
