<div class="px-3 py-3 main-div">
  <h5 class="text-center">Science behind the game</h5>
        <p>Research shows that someone undergoing an episode of depression ruminates a lot. People who ruminate tend to obsess over the causes and consequences of their problems rather than thinking about a possible solution. This game has been designed to train your mind to stop ruminating.
          <br>
          For this game to work, you have to play this game repeatedly. You can't just do it once or twice and leave it. Play this game every week so that you earn at least one gold badge every week.
        </p>
  <div  class="text-center">
    <button mat-raised-button (click)= "onClose()" [color]="'btn-color'"> close </button>
  </div>
</div>
