<div class="container">

  <h1>How to play the game?</h1>
  <br>
  <p>
    1. You will be given some incomplete situations. <br>
    2. Read the situations carefully.<br>
    3. In the space given below, enter a word or phrase that will complete the situation.
  </p>
  <div class="buttonLocation">
      <input (click)="onPlay()" type="image" src="../../../../../../../assets/games/play.png"/>
      <!-- <input (click)="onHome()" type="image" src="../../../../../../../assets/games/home.png"/> -->
      <input type="image" src="../../../../../../../assets/games/sound.png"/>

 </div>
</div>