<div class="m-4">
    <h1>How to play?</h1>
  <img class="game-play-image"
       src="../../../../../../../assets/games/mental-imagery-game/How to play.png">

  
  <br>
  <div class="instructionsDiv ">
      <p>
          1. You will be given some incomplete situations. <br>
          2. Read the situations carefully.<br>
          3. In the space given below, enter a word or phrase that will complete the situation.
        </p>
  </div>
  
  <!-- <div class="buttonLocation">
      <input (click)="onPlay()" type="image" src="../../../../../../../assets/games/play.png"/> -->
      <!-- <input (click)="onHome()" type="image" src="../../../../../../../assets/games/home.png"/> -->
      <!-- <input type="image" src="../../../../../../../assets/games/sound.png"/> -->

 <!-- </div> -->
 <div class="ml-auto p-1">
    <button mat-raised-button [color]="'new'" (click) = "onStart()" type="button" #startBtn>Start</button>
</div>
</div>