<div class="m-4">
  <h1>How to play?</h1>
  <img class="game-play-image" src="../../../../../../../assets/games/mental-imagery-game/How to play.svg">


  <br>
  <div class="instructionsDiv ">
    <p>
      1. Read the situations and imagine as if it is happening to you.<br>
      2. To get the maximum benefit out of this game, you need to imagine the scenarios in as much details as possible.<br>
      3. In the blank space, enter a word or phrase that will complete the situation.<br>
      4. Complete the situations in a positive way to proceed in the game.
    </p>
  </div>


  <div class="ml-auto p-1">
    <button mat-raised-button [color]="'new'" (click)="onStart()" type="button" #startBtn>Start</button>
  </div>
</div>
