<div class="survey-component">
  <div class="container" [@simpleFadeAnimation]="'in'">
    <div class="row main">
      <div class="col-md-12">
        <div class="row card mx-0">
          <div class="col-xl-4 col-md-6 col-sm-12 mx-auto">

            <div class="card-body">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
              ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
              fugiat
              nulla pariatur.
              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
              laborum.
            </div>
            <button type="button" class="startButton" mat-stroked-button (click)="loadQuestions()"> Start
              Survey</button>

          </div>
        </div>
      </div>
    </div>



  </div>
</div>
