.survey-component {
  .main {
    background-color: white;
    min-height: 80vh;
    max-width: 80%;
    justify-content: center;

  }

  .startButton {
    font-size: 14px;
    border-radius: 12px;
    background-color: #F2F2F2;
    min-width: 94px;
    height: 24px;
    font-weight: 400;
    opacity: 0.6;
  }

}
