<!-- screen 1 content -->

<div class="container-fluid first-section">
  <div class="row">
    <div class="col-sm-2"> </div>
    <div class="col-12 col-sm-8" >
  <div class="row">
    <div class="col-12 logo d-flex justify-content-left" style="padding: 20px;">
      <img
        alt="TreadWill logo"
        src="../../assets/shared/logo_full.png"
        class="logo-landscape"
      />
    </div>
  </div>
  <div class="row flex-row d-flex">
    <div class="col-12 col-sm-6 order-sm-last">
      <h1
        class="text-center text-sm-left font-montserrat-bold">
TreadWill 2.0      </h1>
      <br /><br />
      <h6 class="text-center text-sm-left font-montserrat-bold sounds-familiar">
       Launching soon...
      </h6>
    </div>
    <div class="col-12 col-sm-6 align-self-center" [ngStyle]="{textAlign : 'end'}" >
      <img
        src="../../assets/login/screen_1/screen_1.svg"
        alt="relatable image 1"
        class="img-resp"
      />
    </div>

  </div>
      <div class="d-flex flex-row-reverse">

        <div class="col-12 col-sm-6" >
          Subscribe to recieve early access!
          <div class="col-12 my-2">


            <form [formGroup]="emailForm" class="w-100" >
              <input formControlName="email"
                     type="email" class="input-box form-elements"
                     required
                     email
                     placeholder=" Email ID" >

                <button type="submit" class="btn-subscribe form-elements" mat-flat-button
                        color="primary" (click)="emailSubmit()" > SUBSCRIBE </button>

            </form>
            Please enter a valid email address!
          </div>

        </div>

      </div>
      <div class="row">
        <div style="font-size: 14px">
          <p>We will soon be releasing a significantly improved version of Treadwill.
          If you would like to recieve early access to this version, please subscribe!
          </p>
        </div>

      </div>

</div>
    <div class="col-sm-2"> </div>
  </div>
</div>
<!-- screen 2 content -->
<div class="container-fluid d-flex align-items-center center-banner second-section">
  <div class="row flex-row d-flex">
    <div class="col-12">
      <div class="row flex-row d-flex justify-content-center">
        <div class="col-xs-12 col-sm-10">


          <h3>About Treadwill</h3>
          <p>Treadwill is a website designed to help individuals deal with stress, low mood, lethargy and other depressive symptoms. Treadwill uses the evidence-based therapeutic technique called Cognitive Behavior Therapy (CBT). </p>
          <p>For more information, please visit the <a>information page </a></p>
          <p>In case you hav any specific query, please <a> ask us </a>  </p>
        </div>
      </div>
      <div class="row flex-row d-flex justify-content-center">
        <div class="col-xs-12 col-sm-10">

        </div>
      </div>
    </div>
  </div>
</div>
<!-- screen 3 content -->
<div class="container-fluid d-flex align-items-center third-section">
  <div class="row">
    <div class="col-12">
      <div class="row flex-row d-flex justify-content-center">
        <div class="col-xs-12 col-sm-10">
        <div class="row">
          <div class="col">
            <div class="col-12 col-sm-3 my-3">
              <span (click)="onAboutUsClick()"> Information </span>
            </div>

            <div class="col-12 col-sm-3 my-3">
              <span (click)="onContactUsClick()"> Get In Touch </span>
            </div>
          </div>
          <div class="col">
            <div class="col-12  col-sm-3my-3">
              <span (click)="onPrivacyPolicyClick()"> Privacy Policy </span>
            </div>
            <div class="col-12 col-sm-3 my-3">
              <span (click)="onTermsConditions()"> Terms & Conditions </span>
            </div>
          </div>
          <div class="col-12 my-3">
            <div class="col">
              &copy; TreadWill. All rights reserved.
            </div>
          </div>
        </div>
      </div>

      <!-- for desktop -->
<!--      <div class="row flex-row d-flex">-->
<!--        <div class="col-12 screen-3-container">-->

<!--        </div>-->
<!--      </div>-->

<!--      &lt;!&ndash; for mobile &ndash;&gt;-->
<!--      <div class="row flex-row d-block d-md-none">-->
<!--        <div class="col-12 d-flex justify-content-center">-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="row flex-row d-flex justify-content-center">-->
<!--        <div class="col-xs-12 col-sm-10">-->

<!--        </div>-->
<!--      </div>-->
    </div>
  </div>
</div>
