@import '../../common-styles';

.no-gutters {
  margin-left: 0;
  margin-right: 0;
}
.first-section {
  background-color: #2A3B3D;
  color: white;
  height: 80vh;
}
.text-subheading{
  font-size: 21px;
}
.version-div-2{
  display:none;
}
.version-div-1{
  display:block;
  margin-bottom: 20vh;
}
.text {
  font-size: 18px;
  color: #2A3B3D;
}
.text-footer {
  font-size: 16px;
  opacity: 0.6;
}
.text-copyright{
  font-size: 14px;
}

.heading-main {
  font-size: 72px;
}
.logo {
  height: 70px;
  margin-bottom: 5%;
  margin-top: -5px;
  margin-left: -10px;
}
.center-banner {
  height: 45vh;

}
.second-section {
  background-color: #F5F5F5;
}
.third-section {
  height: 15vh;
  background:transparent linear-gradient(270deg, #F7C36C 0%, #EAA121 100%) 0% 0% no-repeat padding-box;
  color: #FCF8F1;
}

.footer-1{
  position: absolute;
  bottom:10px;
  color: #FFFFFF;
}
.text-colored{
  color: #f4bb56;
}

input{
  height: 60px;
  width: 33vw;
  border-radius: 30px;
  border: white;
  outline: none;
  padding: 22px;
}
.btn-subscribe{
  position: absolute;
  color: white;
  height: 56px;
  left: 56%;
  width: 34%;
  //background-color: #f4bb56;
  border-radius: 30px;
  outline: none;
  font-size: 18px;
  align-self: center;

}

.anchorify-default {
  @extend .anchorify-default;
}

.img-resp{
  max-width: 90%;
  height: auto;
}

@media only screen and (max-width:  768px) {

  .logo {
    height: 40px;
    margin-bottom: 15%;
  }
  .first-section {
    height: 100vh;
  }
  .footer-1{
    color: #FCF8F1;
  }
  .heading-main {
    font-size: 42px;
  }
  .text {
    font-size: 12px;
  }
  input{
    height: 32px;
    width: 320px;
    padding: 14px;
  }
  .btn-subscribe{
    height: 30px;
    left: 58%;
    width: 40%;
  }
  .version-div-2{
    display:block;
  }
  .version-div-1{
    display:none;
  }
  .text-subheading{
    font-size: 14px;
  }
  .text-footer {
    font-size: 11px;
  }
  .text-copyright{
    font-size: 11px;
  }
}
