<div class="card-full-width">
  <div class="card-header">
    {{ header }}
  </div>
  <div class="card-body">
    <div
      class="multiple-technique-info"
      [ngStyle]="{ display: 'flex', 'font-size': '12px' }"
    >
      {{ info }}
      <div [ngStyle]="{ 'margin-left': 'auto' }" (click)="onShowInfo()">
        <mat-icon>info_outline</mat-icon>
      </div>
    </div>
    <div class="techniques">
      <mat-accordion>
        <div class="technique">
          <app-proof-evidences
            [favorTitle]="favorTitle"
            [againstTitle]="againstTitle"
            [service]="1"
            [id]="belief.id"
            (showFinal)="triggerShowFinalBelief()"
          >
          </app-proof-evidences>
        </div>

        <div class="technique">
          <app-form-technique
            [techniqueName]="tellTechnique"
            [question]="tellQuestion"
            [service]="2"
            [id]="belief.id"
            [headerColor]="tellHdrColor"
            (showFinal)="triggerShowFinalBelief()"
          >
          </app-form-technique>
        </div>

        <div class="technique">
          <app-act-as-if
            (triggerShowFinalBelief)="triggerShowFinalBelief()"
            [belief]="belief"
          ></app-act-as-if>
        </div>
      </mat-accordion>
    </div>
  </div>
</div>
