<app-procon-item
  *ngFor="let procon of prosCons"
  [procon]="procon"
  (proconDelete)=onProconDelete($event)>
</app-procon-item>
<div>
  <span class="pull-right" (click)="showForm=!showForm">
    <mat-icon *ngIf="!showForm">add_circle</mat-icon>
    <mat-icon *ngIf="showForm">clear_circle</mat-icon>
  </span>
</div>
<div *ngIf="showForm">
  <form (ngSubmit)="onSubmit()" #proconForm="ngForm">
    <input name="procon" id="procon" rows="1" placeholder="Enter  {{pro ? 'pro' : 'con'}}" matInput required
      class="form-control" [autofocus] ngModel>
    <p class="text-right">
      <button type="submit" mat-raised-button color="primary" class="continue-btn">Save</button>
    </p>
  </form>
</div>