.asg-instruction-div {
  font-family: Roboto;
  overflow-x: hidden;

}
.asg-help-pic {
  min-width: 200px;
}

.mat-asg-start {
  background-color: #5A64DF;
  color: white;
  width: 150px;
  font-size: 16px;
}
.mat-asg-summary {
  background-color: white;
  color: black;
  width: 150px;
  font-size: 16px;
}
.instrn-text{
  opacity: 60%;
  font-size: 14px;
}

/* For thinning the ScrollBar */
/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
