<div class="row w-100 px-0 py-0 pb-2 mx-0 ec-instruction-div">
  <div class="col-12">
    <div class="row justify-content-center mt-2">
      <h5> How to play? </h5>
    </div>
    <div class="row justify-content-center">
      <div class="col justify-content-center">
        <div class="col-auto justify-content-center">
          <img class="asg-help-pic"
               src="../../../../../../../assets/games/Attribution-style-game/Balloon%20Burst.svg">
        </div>

      </div>
      <div class="col justify-content-center">
        <ul>
          <li>Shoot as many balloons as possible within 30 seconds.</li>
          <li>Click/Tap to shoot the arrow.</li>
          <li>Click/Tap and drag to change the orientation of the bow.</li>
        </ul>

      </div>
    </div>
    <div class="row justify-content-center my-3">
      <button [color]="'asg-start'"
              mat-raised-button
              (click)='asgGameStart()'>
        Start
      </button>
    </div>
  </div>


</div>


