.asg-instruction-div {
  font-family: Roboto;

}
.asg-help-pic {
  min-width: 200px;
}

.mat-asg-start {
  background-color: #5A64DF;
  color: white;
  width: 150px;
}
.mat-asg-summary {
  background-color: white;
  color: black;
  width: 150px;
}
.instrn-text{
  opacity: 60%;
  font-size: 14px;
}
