<div class="text-center m-3">
    <img class="gameFinishedImg" src="../../../../../../../assets/games/friendly-face-game/images/Congratulation.svg">


    <p class="big-font"><b>Congratulations!</b></p>
    <p class="smallest-font" style="color:#798184;">You have finished this song.</p>
    <p class="smallest-font">Next Song: {{ffg_next_song}}</p>
    <button class="medium-font"
            style="min-width:100% !important;"
            mat-raised-button [color]="'new'"
            (click)="onPlayNext()" type="button"
            id="play-next-song">
      Play
    </button>
  </div>
