@import "styles.scss";
@import "../../../../shared/games-common.scss";

.gameFinishedImg {
    height: 85px;
    width: 75px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
  
  }
  
  .mat-new {
    background-color: #18BE6B !important;
    border-color: #18BE6B !important;
    color: #FFF;
  
  }
  