
<mat-slider [(ngModel)]="Sliderval"
thumbLabel
[displayWith]="formatLabel"
min="1"
max="10"></mat-slider>
<!-- <div > Not at all 
<div class="float-right d-inline-block">Very Strongly</div> 
</div> -->
<pre>Not at all                        Very Strongly </pre>
<!-- <div class="label">Not at all nbsp;nbsp;nbsp;nbsp;nbsp;nbsp;nbsp;nbsp;nbsp;nbsp;nbsp;nbsp;nbsp;nbsp;Very Strongly</div> -->
<p class="text-right" (click)="onSubmit()">
  <button type="button" mat-raised-button color="primary"
    class="continue-btn"  >Continue</button>
</p>
<!-- <div class="container" >
  <div class="row">
    <div class="col-md"> Not at all </div>
    <div class="col-md"> Very Strongly </div>
  </div>
</div> -->


<!-- Copyright 2019 Google LLC. All Rights Reserved.
  Use of this source code is governed by an MIT-style license that
  can be found in the LICENSE file at http://angular.io/license -->