<div class="text-center m-3">
        <img class="gameFinishedImg" src="../../../../../../../assets/games/cognitive-distortion-game/Great.svg">


        <p class="large-font"><b>Great!</b></p>
        <p class="smallest-font">You have completed this level.</p>
        <button *ngIf="!showLoading" style="min-width:100% !important;" mat-raised-button [color]="'new'" (click)="onStartNext()" type="button">
          Play next level
        </button>
          <button *ngIf="showLoading" style="min-width:100% !important;" mat-raised-button [color]="'new'"  type="button">
          <span class="spinner-border spinner-border-sm"></span>
          &nbsp; Loading..
        </button>
      </div>
