<ng-template [ngIf]="dataLoaded && !locked && !showQuestionnaire">
  <div>
    In this module you learned:
    <ul>
      <li>how to identify your negative thoughts</li>
      <li>how to identify your negative thinking patterns</li>
      <li>how to evaluate your negative thought for their validity and how to come up with more balanced thoughts</li>
    </ul>
  </div>
  <div *ngIf="balancedThought">
    Following the upsetting situation: {{ upsettingSituation }}
    <br>
    You had the negative thought: {{ negativeThought }}
    <br>
    After evaluating the thought using the <a routerLink="{{thoughtRecordFormLink}}">Thought record form</a>, you came up
    with the more balanced thought: {{ balancedThought }}
    <br>
    You can find all the evaluations of your negative thoughts here: <a routerLink="{{thoughtRecordFormLink}}">Thought
      record form</a>
  </div>
  <div>
    From now on, whenever you face an upsetting situation or you notice your mood is going down, identify the negative
    thought and evaluate it using the <a routerLink="{{thoughtRecordFormLink}}">Thought record form</a>
  </div>
  <div>
    Initially, you’ll need to be vigilant of your negative thoughts and evaluate them. After you do this for a while,
    your thinking habit will change and you’ll start evaluating your thought automatically.
  </div>
  <div>
    Make a commitment now. How many thoughts would you like to evaluate the next week?
    <br>
    <mat-form-field>
      <mat-select [(value)]="commitment">
        <mat-option *ngFor="let option of options" [value]="option">{{option}}</mat-option>
      </mat-select>
      <mat-hint>Recommended: at least 1/day</mat-hint>
    </mat-form-field>
    <div *ngIf="commitment">
      Great 👍!
    </div>
  </div>
  <div>
    If you are facing a problem that can't be solved by changing your thinking style, you can use the <a
      routerLink="{{problemSolvingFormLink}}">Problem solving form</a>
  </div>
  <app-evaluate-mood></app-evaluate-mood>
  <br><br>
  <div *ngIf="moodEvaluated">
    <div>
    Do you ever wonder why different people have different thoughts following the same situation? You’ll learn that in
    the next module <span class="emphasis">{{nextModuleName}}</span>.
  </div>
  <div class="row align-self-end px-0">
    <button class="completed-btn float-right" type="button" *ngIf='!stepCompleted; else isCompleted ' mat-raised-button
      color="primary" (click)="onCompleted()">
      Completed
    </button>
    <ng-template #isCompleted>
      <button class="completed-btn float-right" type="button" mat-raised-button color="primary" (click)="onDashboard()">
        Go to dashboard
      </button>
    </ng-template>
  </div>
  </div>
</ng-template>

<ng-template [ngIf]="showQuestionnaire">
  <div class="row mt-5" >
    <app-questionnaire class="w-100" [fromFlow]="true" [stepId]="null" [fromTrialRegistration]="false"></app-questionnaire>
  </div>
</ng-template>

<ng-template [ngIf]="dataLoaded && locked">
  <div class="row">
    <div class="col">
      <div class="text-center loader">
        This content is not yet unlocked for you.
      </div>
    </div>
  </div>
</ng-template>

<ng-template [ngIf]="!dataLoaded">
  <div class="row">
    <div class="col">
      <div class="text-center loader">
        <img src="assets/shared/dna-loader.svg" alt="loader" width="200">
      </div>
    </div>
  </div>
</ng-template>
