<div class="slide-bottomsheet justify-content-center text-center">
  <p>Want to relax your mind before reading the slide?</p>
  <p class="muted-text"> *Recommended</p>

  <img src="../../../../assets/shared/exercise.png" alt="relax" class="relax-img" height="118" width="118">

  <div class="btn-area justify-content-center text-center " *ngIf="!noClicked">
    <button type="button" mat-raised-button class="no-btn" (click)="onClickNo()">No</button>
    &nbsp;
    <button type="button" mat-raised-button class="yes-btn" (click)="onClickYes()">Yes</button>
  </div>
  <div class="no-clicked-area justify-content-center" *ngIf="noClicked">
    <mat-checkbox type="checkbox" (change)="onCheckboxChange($event)">Don't ask me again.
    </mat-checkbox>
    <br>
    <button type="button" mat-raised-button class="yes-btn" (click)="onClickClose()">Close</button>
  </div>
</div>
