<div mat-dialog-content>
  <div class="d-flex justify-content-between">
    <h3 mat-dialog-title>Contact us</h3>
    <mat-icon (click)="onCloseClick()" class="cursor-hand">close</mat-icon>
  </div>
  <form [formGroup]="contactUsForm">
    <label>Email id</label>
    <mat-form-field class="form-field">
      <mat-hint> This email id will be visible to us </mat-hint>
      <input matInput name="emailid"
        [formControl]="contactUsForm.controls.emailid" required>
      <mat-error *ngIf="contactUsForm.controls.emailid.invalid">Please enter a valid email id</mat-error>
    </mat-form-field>
    <br>
    <label>Message</label>
    <mat-form-field>
      <textarea maxlength="1024"
        [(ngModel)]="messageText"
        [formControl]="contactUsForm.controls.message"
        matInput
        name="message"
        matTextareaAutosize
        matAutosizeMinRows=10
        matAutosizeMaxRows=500
        rows = "5"
        required>
      </textarea>
      <mat-hint> Characters remaining: {{1024 - messageText.length }} </mat-hint>
      <mat-error>Please write something here.</mat-error>
    </mat-form-field>
  </form>
</div>
<br>
<div mat-dialog-actions align="center">
  <button mat-raised-button
    class="dialog-btn" (click)="submitData()">
    <span class="spinner-border spinner-border-sm" *ngIf="showLoading"></span>
    <span *ngIf="!showLoading" > Submit</span>    </button>

</div>
