<div mat-dialog-content>
  <div class="d-flex justify-content-between">
    <h3 mat-dialog-title>Contact us</h3>
    <mat-icon (click)="onCloseClick()" class="cursor-hand">close</mat-icon>
  </div>
  <label for="emailid">Email id</label>
  <mat-form-field>
    <input matInput name="emailid" [formControl]="emailid" required>
    <mat-error>Please enter a valid email id</mat-error>
  </mat-form-field>
  <br>
  <label for="message">Message</label>
  <mat-form-field>
    <textarea 
      matInput 
      name="message"
      [formControl]="message"
      matTextareaAutosize 
      matAutosizeMinRows=10
      matAutosizeMaxRows=500
      required>
    </textarea>
    <mat-error>Please write something here.</mat-error>
  </mat-form-field>
</div>
<br>
<div mat-dialog-actions align="center">
  <button mat-raised-button [mat-dialog-close]="data" class="dialog-btn">Submit</button>
</div>
