@import "color.palette.scss";

.current-module {
    margin-top: 20px;
    background-color: #ffffff;
    width: 350px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 2px 1px 4px #acacac;
    .current-module-main {
        border-left: 50px solid  #f49080;
        height: 359px;
        h3 {
            font-size: 18px;
            padding: 20px 5px 10px;
            font-weight: 700;
        }
        .current-module-task {
            font-size: 16px;
            padding: 0 5px;
        }
        img.current-module-main-img {
            width: 100%;
        }
        .current-module-category {
            margin: 17px 15px 10px 45px;
        }
        // Maybe not the best way to do
        ::ng-deep .category-card {
            width: 24%;
            border-top: 3px solid $treadwill-black;
            top: -6px;
            img {
                background-color: white;
                position: absolute;
                top: -17px;
                left: -20px;
                width: 30px;
                height: 30px;
            }
        }
        ::ng-deep .category-card.last {
            width: 0px;
        }
        .btn-container {
            margin-top: 13px;
            a.continue-task {
                color: #ffd67c;
                padding: 5px;
                border: 2px solid #ffd67c;
                border-radius: 20px;
                font-size: 14px;
                text-decoration: none;
                margin-left: -30px;
            }
        }
    }
    .loading {
        width: 350px;
        height: 359px;
    }
}
@media screen and (max-width: 991px) {
    .current-module {
       width: 280px;
        .current-module-main {
            border-left: 30px solid  #f49080;
            height: 320px;
            h3 {
                font-size: 16px;
                padding: 15px 5px 10px;
                font-weight: 700;
            }
        }
        .loading {
            width: 280px;
            height: 340px;
        }
    }
}
@media screen and (max-width: 767px) {
    .current-module {
        margin-top: 0px;
        width: 330px;
        .current-module-main {
            border-left: 30px solid  #f49080;
            .btn-container {
                margin-top: 13px;
                a.continue-task {
                    margin-left: -23px;
                }
            }
        }
    }
}