<div class="row current-module">
    <ng-container *ngIf="module else catLoading">
        <div class="content current-module-main">
            <h3>{{module.name}}</h3>
            <p class="current-module-task">Next task: <strong>Can I get help ?</strong></p>
            <img [src]="imageUrl()" [alt]="module.name" class="current-module-main-img" width="275" height="100">
            <div class="current-module-category">
              <app-category-small
                *ngFor="let category of module.categories; let last = last; let first = first" 
                [category]="category"
                [last]="last"
                [first]="first">
              </app-category-small>
              <p class="text-center btn-container"><a [routerLink]="['/modules', module.slug]" class="continue-task">Continue to task</a></p>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="noActive">
      <div class="contet current-module-main">
        <h3>You have nothing to do at this moment</h3>
        <p class="current-module-task"></p>
        <img  src="https://via.placeholder.com/275x100?text=No task" class="current-module-main-img" width="275" height="100">
      </div>
    </ng-container>
</div>
<ng-template #catLoading>
    <mat-card-content>
      <div class="content current-module-main d-flex align-items-center justify-content-center loading">
          <img src="assets/shared/dna-loader.svg" alt="dna">
      </div>
    </mat-card-content>
  </ng-template>