.things-todo {
    background-color: #ffffff;
    width: 330px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 2px 1px 4px #acacac;
    .things-todo-main {
        border-left: 50px solid #f7e2df;
        height: 246px;
        h3 {
            font-size: 18px;
            padding: 20px 5px;
            font-weight: 500;
        }
        .main-list {
            list-style: none;
            padding-left: 0;
            li {
                margin: 10px 0;
            }
        }
    }
}