.overlay {
    .main-nav {
        width: 100vw;
        display: flex;
        .main-nav-exact {
            opacity: 0;
            width: 205px;
            height: 100vh;
        }
        .main-nav-description {
            background-color: #222222;
            color: #ffffff;
            opacity: 0.8;
            flex-grow: 1;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}