<div  #target1 id="topdummyDiv"> </div>

<ng-template [ngIf]="dataLoaded && !locked && !showQuestionnaire">
  <mat-card  class="container-fluid px-0 pt-0 pb-2 mb-2" >
    <div class="row" >
      <div class="col mt-4 mt-md-0">
        <div >
          <mat-card-header class="title col-12 w-100 my-auto px-0">
            <mat-card-title class="my-auto d-inline-block justify-content-center py-2 ">
              Conclusion
            </mat-card-title>
          </mat-card-header>
  <div class="px-3 px-lg-4 pt-4 main-div">
    <div class="congrats-text">
    Congratulations! You have completed the <span class="emphasis">{{moduleName}}</span> module.
    </div>
    <img class="intro-img" src="assets/conclusion/Conclusion.svg" alt="Lost job due to COVID-19 " >
    <div class="text-para mt-3">
    <p>
    In this module, you have learned how your <span class="emphasis">thoughts</span>, <span
      class="emphasis">feelings</span>, and <span class="emphasis">behaviors</span> influence each other.</p>
    <p>You have also learned how to identify your <span class="emphasis">thoughts</span>, <span
      class="emphasis">feelings</span>, and <span class="emphasis">behaviors</span> following an upsetting situation. In
      other words, you have learned to be more self-aware.</p>
    <p>You can see the situations, thoughts, feelings, and behaviors you have identified at this link <a
      target="_blank" href="{{thoughtRecordFormLink}}">Evaluate a thought form</a>.</p>
    <p>
    For the next week, whenever you face an upsetting situation or whenever you notice that your mood is getting worse
    (sad, angry etc.), write down the situation, thought, feeling, and behavior in the <a
      target="_blank" href="{{thoughtRecordFormLink}}">Evaluate a thought form</a>.</p>
    </div>
  <div class="text-para">
    Make a commitment now. How many times would you like to identify a thought?
    <mat-form-field>
      <mat-select [(value)]="commitment">
        <mat-option *ngFor="let option of options" [value]="option">{{option}}</mat-option>
      </mat-select>
      <mat-hint>Recommended: at least 1/day</mat-hint>
    </mat-form-field>
    <div *ngIf="commitment">
      Great 👍!
    </div>
  </div>
      <app-evaluate-mood [moodEvaluate] ="moodEvaluate" [fromConclusion] ="true"></app-evaluate-mood>

<div *ngIf="!moodEvaluate">
  <div class="text-para" >
    In the next module, <span class="emphasis">{{nextModuleName}}</span>, you will learn how to improve your daily
    routine to improve your mood. See you there.
  </div>
  <div class="row align-self-end px-0 mx-0 pt-2 justify-content-center">
    <button class="completed-btn " type="button" *ngIf='!stepCompleted; else isCompleted ' mat-raised-button
      color="primary" (click)="onCompleted()">
      <span class="spinner-border spinner-border-sm" *ngIf="showLoading"></span>
      <span *ngIf="!showLoading" > Completed</span>    </button>
    <ng-template #isCompleted>
      <button class="completed-btn" type="button" mat-raised-button color="primary" (click)="onDashboard()">
        Go to dashboard
      </button>
    </ng-template>
  </div>
  <div #target2 id="dummyDiv"> </div>
</div>
  </div>
        </div>
    </div>
      </div>
  </mat-card>
</ng-template>

<ng-template [ngIf]="dataLoaded && locked">
  <div class="row">
    <div class="col">
      <div class="text-center loader">
        This content is not yet unlocked for you.
      </div>
    </div>
  </div>
</ng-template>

<ng-template [ngIf]="showQuestionnaire">
  <div class="row" >
    <app-questionnaire-deprecated class="w-100" [fromFlow]="true" [stepId]="null" [fromTrialRegistration]="false"></app-questionnaire-deprecated>
  </div>
</ng-template>

<ng-template [ngIf]="!dataLoaded">
  <!--  code for mat-card repeated as content locked and questionnaire should show on blank page-->
  <mat-card  class="container-fluid px-0 pt-0 pb-2 mb-2" >
    <div class="row">
      <div class="col mt-4 mt-md-0">
        <div >
          <mat-card-header class="title col-12 w-100 my-auto px-0">
            <mat-card-title class="my-auto d-inline-block justify-content-center py-2 ">
              Conclusion
            </mat-card-title>
          </mat-card-header>
  <div class="row">
    <div class="col">
      <div class="text-center loader">
        <img src="assets/shared/ripple.gif" alt="loader" width="80">
      </div>
    </div>
  </div>
        </div>
      </div>
    </div>
  </mat-card>
</ng-template>
