<div *ngIf="showPage else desktopMessage">

<div class="container-fluid w-100 small-font">
    <app-trial-pages-header [stepNumber]="stepNo"></app-trial-pages-header>

    <div class="row my-4">
        <div class="col-12 m-medium" >
            Thank you for your interest. First we need to check if you are eligible to take part in the study.
        </div>
        <div class="col-12 my-2 less-opacity">
            The information you provide will be handled with strict confidentiality.<br><br>
            Note: if you accidentally lose your progress, you can continue the registration process by entering your email address at the first page.
        </div>
    </div>
    <div class="row">
        <div class="col-12  m-medium">
            <b> Please fill the form </b>
        </div>

        <div class="col-12">
            <form class="w-100" [formGroup]="stepTwoForm">
                <div class="row my-3">
                    <div class="col-6">
                        <mat-form-field class="w-100">
                            <input matInput
                                formControlName="age"
                                placeholder="Age"
                                type="number"
                                required>
                        </mat-form-field>
                    </div>

                    <div class="col-6">
                        <mat-form-field class="w-100">
                            <mat-label>Gender</mat-label>
                            <mat-select #Gender formControlName="gender" required>
                                <mat-option value="male">Male</mat-option>
                                <mat-option value="female">Female</mat-option>
                                <mat-option value="other">Other</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="col-12">
                        <mat-form-field class="w-100">
                            <mat-label>Education Qualification</mat-label>
                            <mat-select #Education required
                                formControlName="education">
                                <mat-option [value]="1">Not completed school</mat-option>
                                <mat-option [value]="2">Completed school</mat-option>
                                <mat-option [value]="3">Completed undergraduate</mat-option>
                                <mat-option [value]="4">Completed postgraduate</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="col-12">
                        <mat-form-field class="w-100">
                            <mat-label>Occupation</mat-label>
                            <mat-select #Profession
                                required formControlName="profession">
                                <mat-option [value]="1">College or university student</mat-option>
                                <mat-option [value]="1">Coaching after college</mat-option>
                                <mat-option [value]="2">Working professional</mat-option>
                                <mat-option [value]="2">Self-employed</mat-option>
                                <mat-option [value]="2">Freelancer</mat-option>
                                <mat-option [value]="2">Volunteer</mat-option>
                                <mat-option [value]="-1">Housewife</mat-option>
                                <mat-option [value]="-1">Unemployed</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="col-12">
                        <mat-form-field class="w-100">
                            <mat-label>Country</mat-label>
                            <mat-select #Country required
                                        formControlName = "country">
                                <mat-option *ngFor="let count of country_data"
                                    [value]="count.id">
                                    {{count.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="col-12">
                        <mat-form-field class="w-100">
                            <mat-label>Time zone</mat-label>
                            <mat-select #timezone required
                                [(ngModel)]="placeholder_tz"
                                formControlName = "timezone">
                                <mat-option *ngFor="let time of timezone_data"
                                    [value]="time">
                                    {{time}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="col-12 my-2">
                        <label class="lesser-opacity">
                            Do you know English well enough to read and understand
                            high school standard textbooks?
                        </label>
                        <!-- for true using 1 and for false 0 -->
                        <mat-radio-group formControlName="knowEnglish"
                            required color="primary">
                            <mat-radio-button [value]="1" class="mr-5" id="btn1"
                                #btn1 [ngClass]="{ 'checkedBtn': btn1.checked , 'unChecked': !btn1.checked}">
                                Yes
                            </mat-radio-button>
                            <mat-radio-button [value]="0" class="ml-4" id="btn2"
                                #btn2 [ngClass]="{ 'checkedBtn': btn2.checked , 'unChecked': !btn2.checked}">
                                No
                            </mat-radio-button>
                        </mat-radio-group>
                    </div>

                    <div class="col-12 my-2">
                        <label class="lesser-opacity">
                            Do you have an internet-enabled personal mobile phone for
                            using this site?
                        </label>
                        <mat-radio-group formControlName="internetEnabled"
                            required color="primary">
                            <mat-radio-button [value]="1" class="mr-5" id="btn3"
                                #btn3 [ngClass]="{ 'checkedBtn': btn3.checked , 'unChecked': !btn3.checked}">
                                Yes
                            </mat-radio-button>
                            <mat-radio-button [value]="0" class="ml-4" id="btn4"
                                #btn4 [ngClass]="{ 'checkedBtn': btn4.checked , 'unChecked': !btn4.checked}">
                                No
                            </mat-radio-button>
                        </mat-radio-group>
                    </div>

                    <div class="col-12 my-2">
                        <label class="lesser-opacity">
                            Are you currently taking any help for your psychiatric disorder,
                            if any? Select the most appropriate answer.
                        </label>
                        <mat-radio-group required
                            formControlName="psychiatricHelp" color="primary">
                            <mat-radio-button value="counselling" id="btn5"
                                #btn5 [ngClass]="{ 'checkedBtn': btn5.checked , 'unChecked': !btn5.checked}">
                                Counselling
                            </mat-radio-button>
                            <br>
                            <mat-radio-button value="medication" id="btn"
                                #btn6 [ngClass]="{ 'checkedBtn': btn6.checked , 'unChecked': !btn6.checked}">
                                Medicines
                            </mat-radio-button>
                            <br>
                            <mat-radio-button value="both" id="btn6"
                                #btn6 [ngClass]="{ 'checkedBtn': btn6.checked , 'unChecked': !btn6.checked}">
                                Both
                            </mat-radio-button>
                            <br>
                            <mat-radio-button value="none" id="btn7"
                                #btn7 [ngClass]="{ 'checkedBtn': btn7.checked , 'unChecked': !btn7.checked}"    >
                                None
                            </mat-radio-button>
                        </mat-radio-group>
                    </div>

                  <div class="col-12 my-2">
                    <label class="lesser-opacity">
                      Have you used an earlier version of TreadWill?
                    </label>
                    <mat-radio-group required
                                     formControlName="haveUsedEarlier" color="primary">
                      <mat-radio-button [value]="1" class="mr-5" id="btn17"
                                        #btn17 [ngClass]="{ 'checkedBtn': btn17.checked , 'unChecked': !btn17.checked}">
                        Yes
                      </mat-radio-button>
                      <mat-radio-button [value]="0" class="ml-4" id="btn18"
                                        #btn18 [ngClass]="{ 'checkedBtn': btn18.checked , 'unChecked': !btn18.checked}">
                        No
                      </mat-radio-button>
                    </mat-radio-group>
                  </div>

                    <div class="col-12 my-2">
                        <label class="lesser-opacity">
                            Have you ever been diagnosed with bipolar disorder/
                            manic-depressive disorder or psychosis?
                        </label>
                        <mat-radio-group required
                            formControlName="haveDisorder" color="primary">
                            <mat-radio-button [value]="1" class="mr-5" id="btn8"
                                #btn8 [ngClass]="{ 'checkedBtn': btn8.checked , 'unChecked': !btn8.checked}">
                                Yes
                            </mat-radio-button>
                            <mat-radio-button [value]="0" class="ml-4" id="btn9"
                                #btn9 [ngClass]="{ 'checkedBtn': btn9.checked , 'unChecked': !btn9.checked}">
                                No
                            </mat-radio-button>
                        </mat-radio-group>
                    </div>

                    <div class="col-12 my-2">
                        <label class="lesser-opacity">
                            Have you had a major traumatic event [For example:- death of an
                            immediate family member, getting fired unexpectedly] in the
                            last two months?
                        </label>
                        <mat-radio-group formControlName="traumaticEvent"
                            required color="primary">
                            <mat-radio-button [value]="1" class="mr-5" id="btn10"
                                #btn10 [ngClass]="{ 'checkedBtn': btn10.checked , 'unChecked': !btn10.checked}">
                                Yes
                            </mat-radio-button>
                            <mat-radio-button [value]="0" class="ml-4" id="btn11"
                                #btn11 [ngClass]="{ 'checkedBtn': btn11.checked , 'unChecked': !btn11.checked}">
                                No
                            </mat-radio-button>
                        </mat-radio-group>
                    </div>

                    <div class="col-12 my-3">
                        <mat-form-field class="w-100">
                            <mat-label class="lesser-opacity">
                                How did you get to know about the TreadWill study?
                            </mat-label>
                            <mat-select #Know (selectionChange)="showTextBox($event.value)"
                                required formControlName="infoSource">
                                <mat-option [value]="1">Email</mat-option>
                                <mat-option [value]="2">Social media post</mat-option>
                                <mat-option [value]="3">Friend</mat-option>
                                <mat-option [value]="4">Poster</mat-option>
                                <mat-option [value]="5">Web search</mat-option>
                                <mat-option [value]="6">Hospital</mat-option>
                                <mat-option [value]="7">Doctor</mat-option>
                                <mat-option [value]="8">Counselor</mat-option>
                                <mat-option [value]="9">News Article</mat-option>
                                <mat-option [value]="10"> Other </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="w-100" *ngIf="otherOptionSelected">
                            <input matInput
                                formControlName="otherReasonTextBox"
                                placeholder="Name the source"
                                type="text"
                                required>
                        </mat-form-field>
                    </div>

                    <div class="col-12 my-3">
                        <label class="lesser-opacity">
                            Select the most appropriate option:
                        </label>
                        <mat-radio-group formControlName="helpReason"
                            required color="primary">
                            <mat-radio-button [value]="1" id="btn12"
                                #btn12 [ngClass]="{ 'checkedBtn': btn12.checked , 'unChecked': !btn12.checked}">
                                I need help for myself
                            </mat-radio-button>
                            <mat-radio-button [value]="0" id="btn13"
                                #btn13 [ngClass]="{ 'checkedBtn': btn13.checked , 'unChecked': !btn13.checked}">
                                I don't need any help for myself
                            </mat-radio-button>
                        </mat-radio-group>
                    </div>

                    <div class="col-12 my-3 ">
                        <label class="lesser-opacity">
                            Select the most appropriate option:
                        </label>
                        <mat-radio-group formControlName="programPlan"
                            required color="primary">
                            <mat-radio-button [value]="0" id="btn14"
                                #btn14 [ngClass]="{ 'checkedBtn': btn14.checked , 'unChecked': !btn14.checked}">
                                I plan to complete the program
                            </mat-radio-button>
                            <mat-radio-button [value]="1" id="btn15"
                                #btn15 [ngClass]="{ 'checkedBtn': btn15.checked , 'unChecked': !btn15.checked}">
                                I may complete the program if I like it
                            </mat-radio-button>
                            <mat-radio-button [value]="2" id="btn16"
                                #btn16 [ngClass]="{ 'checkedBtn': btn16.checked , 'unChecked': !btn16.checked}">
                                <span class="wrap-mat-radio-label">
                                    I want to check out the program and do not plan to complete it
                                </span>
                            </mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>

                <div class="col-12 my-3 px-0">
                    <mat-error *ngIf="showErrorMsg"> Select all the fields. </mat-error>
                    <button type="button" class="w-100 form-elements" mat-raised-button
                        color="primary" (click)="stepDataSubmit()" *ngIf="!showLoading"> Submit </button>
                  <button class="w-100 form-elements" color="primary" *ngIf="showLoading" type="button" mat-raised-button >
                    <span class="spinner-border spinner-border-sm"></span>
                    &nbsp; Loading..
                  </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="row mt-5 mx-0">
    <app-trial-pages-footer class="w-100"></app-trial-pages-footer>
</div>
</div>
<ng-template #desktopMessage>
  <div>
    Open this link on your mobile.
  </div>
</ng-template>
