<div class="row">
    <div class="col-2">
        <h1 class="module-heading">Modules</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-2 module-nav">
        <app-module-item 
            *ngFor="let moduleEl of allModules; let last = last; let first = first"
            [module]="moduleEl"
            [last]="last"
            [first]="first"
            (click)="onModuleClick(moduleEl)">
        </app-module-item> 
    </div>
    <div class="col-md-10">
        <app-module-overview [module]="activeModule"></app-module-overview>
    </div>
</div>