<div class="row">
    <div class="col-2">
        <h1 class="main-heading-h1">Modules</h1>
    </div>
</div>
<ng-container *ngIf="dataFetched else loading">
    <div class="modules-section">
        <div class="row" *ngIf="!mobileView">
            <div class="col-md-2 module-nav" *ngIf="modules$ | async as modules else loading">
                <app-module-item *ngFor="let moduleEl of modules; let last = last; let first = first"
                    [module]="moduleEl" [last]="last" [first]="first" (click)="onModuleClick(moduleEl)">
                </app-module-item>
            </div>
            <ng-template #loading>
                <div class="col-md-2 module-nav">
                    <img src="assets/shared/dna-loader.svg" alt="loader" class="loader">
                </div>
            </ng-template>
            <div class="col-md-10">
                <app-module-overview [module]="activeModule" [completed]="completed"></app-module-overview>
            </div>
        </div>
        <div class="row" *ngIf="mobileView">
            <div class="col-12 module-nav mobile">
                <app-module-item *ngFor="let moduleEl of (modulesDone$ | async); let last = last; let first = first"
                    [module]="moduleEl" [last]="last" [first]="first" (click)="onModuleClick(moduleEl)">
                </app-module-item>
            </div>
            <div class="col-12">
                <app-module-overview [module]="activeModule"
                    [completed]="isCompleted$ | async"></app-module-overview>
            </div>
            <div class="col-12 module-nav mobile">
                <app-module-item *ngFor="let moduleEl of (modulesLocked$ | async); let last = last; let first = first"
                    [module]="moduleEl" [last]="last" [first]="first" (click)="onModuleClick(moduleEl)">
                </app-module-item>
            </div>
        </div>
    </div>
</ng-container>
<ng-template #loading>
    <div class="text-center loader">
        <img src="assets/shared/dna-loader.svg" alt="loader" width="200">
    </div>
</ng-template>