@import "styles.scss";

.module-nav {
    height: 600px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 100px;
}
.module-heading {
    @include font-montserrat($font-weight: 700);
    width: 100%;
    padding-left: 70px;
    padding-top: 50px;
}