<div
    [ngStyle]="{'background-image': 'url(assets/modules/background.png)'}">
    <div class="row">
        <div class="col-md-3 module-nav">
            <app-module-item 
                *ngFor="let moduleEl of allModules; let last = last; let first = first"
                [module]="moduleEl"
                [last]="last"
                [first]="first">
            </app-module-item> 
        </div>
        <div class="col-md-9">
            <app-module-overview [module]="activeModule"></app-module-overview>
        </div>
    </div>
</div>