@import "styles.scss";

.module-nav {
   height: 600px;
   margin-top: 50px;
   margin-bottom: 50px;
   padding-left: 100px;
}

.module-nav.mobile {
    height: auto;
    margin-top: 30px;
    margin-bottom: 0px;
    padding-left: 50px;
}
img.loader {
    transform: rotate(90deg);
    margin-bottom: 50px;
}
img.loader:last-child {
    transform: rotate(90deg);
    margin-bottom: 50px;
}
.modules-section {
    min-height: 80vh;
}

@media screen and (max-width: 992px) {
    .module-nav {
        height: 600px;
        margin-top: 50px;
        margin-bottom: 50px;
        padding-left: 50px;
     }
}