<div class="row mx-0 py-3" >
  <h6>PHQ9</h6>
  <p>
    Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs.
    Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs.
    Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs.

  </p>
  <div class="row w-100 pt-2 justify-content-center" *ngIf="moodEvaluate">
    <button class="mood-btn" type="button"  mat-raised-button
            (click)="onEvaluateMood()" >
      Evaluate your mood
    </button>
  </div>
    <b *ngIf="!moodEvaluate"> Great! You have evaluated your mood.</b>
</div>
