<div
  class="container-fluid no-gutters-sm body-bg px-0"
  [ngClass]="{
    'd-block': !loading,
    'd-none': loading
  }"
  >
  <div class="row no-gutters" >
    <div class="col-md-12">
      <div class="row no-gutters">
        <div class="col-12 col-lg-8">
          <app-post-list [srcWidth] = "srcWidth" (createPost)="onCreatePostClick()"></app-post-list>
        </div>
        <div class="col-12 col-lg-4 order-first order-lg-last">
          <aside class="aside">
            <div class="content">
              <div class="text-center">
                <button
                  mat-raised-button
                  type="submit"
                  class="mr-2 newPostBtn"
                  [ngStyle]="{ backgroundColor: '#f4bb56' }"
                  id="new-post"
                  (click)="onCreatePostClick()"
                >
                  <img
                    src="assets/support-group/edit (1).png"
                    alt="new post"
                    height="36"
                    width="36"
                    class="mr-3"
                  />
                  New Post
                </button>
              </div>
              <div class="text-center">
                <img
                  class="create-img"
                  src="assets/support-group/undraw_wall_post_83ul (2).png"
                  alt="new post"
                  width="305px"
                />
              </div>
            </div>
          </aside>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="loading" class="loading-feeds">
  <img src="assets/shared/loading-gif.gif" alt="loading..." width="80" />
  <h3>Personalizing feed</h3>
</div>
<div id="preload-thank-img">

</div>
