<div class="container-fluid no-gutters-sm body-bg">
  <div class="row no-gutters">
      <div class="col-md-12">
        <div class="row no-gutters">
          <div class="col-12 col-lg-9">
              <app-post-list></app-post-list>
          </div>
          <div class="col-12 col-lg-3 order-first order-lg-last">
            <aside class="aside">
                <div class="content">
                   <div class="text-center">
                      <button class="btn btn-lg btn-warning new-post" (click)="onCreatePostClick()">
                        <img src="assets/support-group/post.svg" alt="new post" height="28" width="28"> New Post</button>
                      </div>
                </div>
            </aside>
          </div>
        </div>
      </div>
  </div>
</div>