<mat-drawer-container class="sidenav-container">
  <mat-drawer #drawer class="sidenav"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="((isHandset$ | async) === false)">
    <mat-toolbar>
      <div>
        <img src="https://www.treadwill.org/static/cbt2/images/logo/treadwill_logo.png" height="55px" style="margin-top: 10px;" alt="treadwill_logo">
      </div>
    </mat-toolbar>

    <mat-nav-list  role="navigation">
      <div class="list-wrapper">

       <div class="list-user">
        <mat-icon style="
          transform: scale(3)">face
        </mat-icon>
       </div>
       <br>
       <div class="list-user-name">
          <strong>Nanzu</strong>
       </div>

       <div *ngFor="let item of items1; index as i" class="list-wrapper-items">
        <a mat-list-item routerLink="/{{ links1[i] }}">
          <span class="list-wrapper-items-icon">
           <img src="assets/modules/{{ icons1[i] }}">
          </span>
          <span class="list-wrapper-items-name">
            {{ item }}
          </span>
        </a> 
       </div><br><br>

       <div *ngFor="let item of items2; index as i" class="list-wrapper-items">
        <a mat-list-item routerLink="/{{ links2[i] }}">
          <span class="list-wrapper-items-icon">
           <img src="assets/modules/{{ icons2[i] }}">
          </span>
          <span class="list-wrapper-items-name">
            {{ item }}
          </span>
        </a> 
       </div>

      </div>
    </mat-nav-list>

  </mat-drawer>

  <mat-drawer-content>
    <mat-toolbar>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span></span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
