<!--<div class = "container need-to-talk-container">-->
<div class = "div-for-flex-grow">
  <div class = "row mx-0 need-to-talk-container">
    <div class = "col background-color ">
      <div class = "heading">You can visit one of the following links to get help.</div><br>
     <p class = "country">India</p>
     <ul class = "link-list">
       <!--<li><a href = "http://www.aasra.info/aboutus.html" target="_blank">AASRA</a></li> does not work-->
        <li class = "each-link-padding"><a href = "https://telemanas.mohfw.gov.in/" target="_blank" class = "each-link">Tele MANAS</a></li>
       <li class = "each-link-padding"><a href = "http://www.snehaindia.org/" target="_blank" class = "each-link">SNEHA</a></li>
       <li class = "each-link-padding"><a href = "http://1life.org.in/" target="_blank" class = "each-link">1LIFE</a></li>
       <li class = "each-link-padding"><a href = "http://sumaitri.net/" target="_blank" class = "each-link">SUMAITRI</a></li>
       <li class = "each-link-padding"><a href = "http://www.saathindia.org/" target="_blank" class = "each-link">SAATH</a></li>
       <!-- <li class = "each-link-padding"><a href = "http://sikkimpolice.nic.in/Suicide_Helpline.html" target="_blank" class = "each-link">SIKKIM POLICE SUICIDE HELP</a></li> not working -->
     </ul><br>

      <p class = "country">International</p>
      <ul class = "link-list">
        <li class = "each-link-padding"><a href = "http://www.iasp.info/resources/Crisis_Centres/" target="_blank" class = "each-link">INTERNATIONAL ASSOCIATION FOR SUICIDE PREVENTION</a></li>
        <!--<li><a href = "http://ibpf.org/resource/list-international-suicide-hotlines" target="_blank">INTERNATIONAL BIPOLAR FOUNDATION</a></li>  does not work-->
        <li class = "each-link-padding"><a href = "http://www.suicide.org/international-suicide-hotlines.html" target="_blank" class = "each-link">SUICIDE.ORG</a></li>
        <li class = "each-link-padding"><a href = "https://en.wikipedia.org/wiki/List_of_suicide_crisis_lines" target="_blank" class = "each-link">WIKIPEDIA LIST OF HOTLINE NUMBERS</a></li>
      </ul><br>

      <p class = "country">COVID-19 helpline numbers</p>
      <ul class = "link-list-for-helpline">
        <li  class = "each-link-padding">Phone numbers: 94808029670/ 08026685948</li>
        <li  class = "each-link-padding">Email address: nimhans.wellbeing@gmail.com</li>
       <!--  <li  class = "each-link-padding"><span class = "underline-cursor"><a href = "https://www.mohfw.gov.in/pdf/coronvavirushelplinenumber.pdf" target="_blank" class = "each-link">List of numbers given by government of India </a></span></li> not working
 -->
      </ul><br>


      <div class="last-line"></div>
    </div>
  </div>
</div>

