<div class = "container need-to-talk-container">
  <div class = "row">
    <div class = "col">
      <h3 class = "heading">You can visit one of the following links to get help.</h3><br><br>
     <p class = "country">INDIA</p>
     <ul class = "link-list">
       <li><a href = "http://www.aasra.info/aboutus.html" target="_blank">AASRA</a></li> <!--does not work-->
       <li><a href = "http://www.snehaindia.org/" target="_blank">SNEHA</a></li>
       <li><a href = "http://1life.org.in/" target="_blank">1LIFE</a></li>
       <li><a href = "http://sumaitri.net/" target="_blank">SUMAITRI</a></li>
       <li><a href = "http://www.saathindia.org/" target="_blank">SAATH</a></li>
       <li><a href = "http://sikkimpolice.nic.in/Suicide_Helpline.html" target="_blank">SIKKIM POLICE SUICIDE HELP</a></li>
     </ul><br>

      <p class = "country">INTERNATIONAL</p>
      <ul class = "link-list">
        <li><a href = "http://www.iasp.info/resources/Crisis_Centres/" target="_blank">INTERNATIONAL ASSOCIATION FOR SUICIDE PREVENTION</a></li>
        <li><a href = "http://ibpf.org/resource/list-international-suicide-hotlines" target="_blank">INTERNATIONAL BIPOLAR FOUNDATION</a></li>  <!--does not work-->
        <li><a href = "http://www.suicide.org/international-suicide-hotlines.html" target="_blank">SUICIDE.ORG</a></li>
        <li><a href = "https://en.wikipedia.org/wiki/List_of_suicide_crisis_lines" target="_blank">WIKIPEDIA LIST OF HOTLINE NUMBERS</a></li>
      </ul>
    </div>
  </div>
</div>
