<!--<div class="row signup-page w-100 no-gutters">-->
<div class="d-flex flex-column col-sm-12 col-md-12 cover-page text-center justify-content-center no-gutters">
  <div class="d-flex align-items-center logo-img mx-auto justify-content-center">
    <img src="assets/shared/logo_full.png" class="img-responsive center"
         alt="treadwill_logo" />
  </div>

  <div class="row w-100 no-gutters d-none d-md-block footer-1">
    <p>
      All Rights Reserved &copy; Treadwill
    </p>
  </div>

</div>
<!--</div>-->
