<div class="container-fluid">
    <app-trial-pages-header></app-trial-pages-header>
    <div class="m-medium row mx-1 my-3">
        Thanks for your interest in TreadWill.
    </div>

    <div class="row mx-1 my-3 thank-you-text"  style=" display:block;">
      We have sent the next steps in the email id you provided. <a (click)= "resendEmail()" [routerLink]=""  >Click here</a> to resend the email.
      <br><br>
      Check your spam/junk folder if you don't see the mail. If you still don't receive any email, please <a (click)= "contactUsClicked()">let us know</a>.
    </div>
</div>

