// for primary color

$treadwill-primary: (
  50 : #fcf6ea,
  100 : #f8e8cb,
  200 : #f4d9a9,
  300 : #f0ca87,
  400 : #ecbe6d,
  500 : #e9b353,
  600 : #e6ac4c,
  700 : #e3a342,
  800 : #df9a39,
  900 : #d98b29,
  A100 : #ffffff,
  A200 : #fff3e5,
  A400 : #ffdbb2,
  A700 : #ffcf98,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : white,
    600 : white,
    700 : white,
    800 : white,
    900 : white,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
