// for primary color

$treadwill-primary: (
  50 : #fef7eb,
  100 : #fcebcc,
  200 : #faddab,
  300 : #f7cf89,
  400 : #f6c56f,
  500 : #f4bb56,
  600 : #f3b54f,
  700 : #f1ac45,
  800 : #efa43c,
  900 : #ec962b,
  A100 : #ffffff,
  A200 : #fffcf8,
  A400 : #ffe4c5,
  A700 : #ffd8ac,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$mat-white: white;
$treadwill-pre-login-primary: #2a3b3d;
$treadwill-pre-login-app-foreground: #f4bb56;
$treadwill-disabled: #949494;
$treadwill-disabled-text: #a2a4a4;
$treadwill-green-hover:  #699b69;
$treadwill-black: #000000;
$treadwill-module-header: #dbf2ec;
$treadwill-yellow: #f5ba5e;
$treadwill-grey: #afbab9;
$treadwill-white: white;
