
.gameProgressBar{
  .mat-progress-bar-fill::after {
    background-color: #C75252;
  }	
   .mat-progress-bar-buffer {
        background: #FFC1C1;
    }
}
  .bronzeBar {
    .mat-progress-bar-fill::after {
      background-color: #A36817;
    }	
    .mat-progress-bar-buffer {
      background-color: #FFD59A;
    }
  }
  .silverBar{
    .mat-progress-bar-fill::after {
      background-color: #929292;
    }
    .mat-progress-bar-buffer {
      background-color: #E5E5E5;
    }
  }
  .goldBar{
    .mat-progress-bar-fill::after {
      background-color: #D5A521;
    }
    .mat-progress-bar-buffer {
      background-color: #FFE59C;
    }
  }

#inputForm {
    .mat-input-element {
        caret-color:  #F17878;
      }
       
      .mat-form-field-ripple {
        background-color: #FFC1C1;
    }
    
}