.gameProgressBar {
  .mat-progress-bar-fill::after {
    background-color: #C75252;
  }

  .mat-progress-bar-buffer {
    background: #FFC1C1;
  }
}

.bronzeBar {
  // width: 28px;

  .mat-progress-bar-fill::after {
    background-color: #A36817;
  }

  .mat-progress-bar-buffer {
    background-color: #FFD59A;
  }
}

.silverBar {
  // width: 28px;

  .mat-progress-bar-fill::after {
    background-color: #929292;
  }

  .mat-progress-bar-buffer {
    background-color: #E5E5E5;
  }
}

.goldBar {
  // width: 28px;

  .mat-progress-bar-fill::after {
    background-color: #D5A521;
  }

  .mat-progress-bar-buffer {
    background-color: #FFE59C;
  }
}

.gameLoadingBar {
  height: 10px;

  .mat-progress-bar-fill::after {
    background-color: #9B9B9B;
  }

  .mat-progress-bar-buffer {
    background: #1E1E1E;
  }
}

.gameDifficultyBar {
  .mat-progress-bar-fill::after {
    background-color: #000000;
  }

  .mat-progress-bar-buffer {
    background-color: #ffffff;
  }
}

#inputForm {
  .mat-input-element {
    caret-color: #F17878;
  }

  .mat-form-field-ripple {
    background-color: #FFC1C1;
  }
}

.ffgMusicBar {
  .mat-progress-bar-fill::after {
    background-color: #006400;
  }

  .mat-progress-bar-buffer {
    background: #90EE90;
  }
}
.ib-progress-bar-style{
  .mat-progress-bar-fill::after {
    background-color: #1977A1;
  }
  .mat-progress-bar-buffer {
    background: #E8E8E8;
  }
  width: 80%;
}
.ec-progress-bar-style{
  .mat-progress-bar-fill::after {
    background-color: #853102;
  }
  .mat-progress-bar-buffer {
    background: #E8E8E8;
  }
  width: 80%;
}
// solve it game -- no style here
//.lh-progress-bar-style{
//  .mat-progress-bar-fill::after {
//    background-color: #75C8FF;
//  }
//  .mat-progress-bar-buffer {
//    background: #E8E8E8;
//  }
//  width: 80%;
//}
.icd-progress-bar-style{
  .mat-progress-bar-fill::after {
    background-color: #0C8C95;
  }
  .mat-progress-bar-buffer {
    background: #E8E8E8;
  }
  width: 80%;
}
// balloon burst in asg -- no bar here
//.asg-progress-bar-style{
//  .mat-progress-bar-fill::after {
//    background-color: #5A64DE;
//  }
//  .mat-progress-bar-buffer {
//    background: #E8E8E8;
//  }
//  width: 80%;
//}
.ff-progress-bar-style{
  .mat-progress-bar-fill::after {
    background-color: #E8C70F;
  }
  .mat-progress-bar-buffer {
    background: #E8E8E8;
  }
  width: 80%;
}
.mi-progress-bar-style{
  .mat-progress-bar-fill::after {
    background-color: #CE7F7F;
  }
  .mat-progress-bar-buffer {
    background: #E8E8E8;
  }
  width: 80%;
}
