/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import 'treadwill.theme.scss';

$small_logo_height: 40px;

.cursor-hand {
  cursor: pointer;
}

@mixin btn-roundify($radius: 20px) {
  border-radius: $radius;
}

@mixin underline() {
  &:hover {
    text-decoration: underline !important;
  }
}

.login-dialog .mat-dialog-container {
  background-color: mat-color($treadwill-app-primary);
  color: $mat-white;
  opacity: 0.85;

  .login-btn {
    @include btn-roundify(20px);
    padding-left: 20px;
    padding-right: 20px;
    color: mat-color($treadwill-app-primary);
    font-family: 'Lato', sans-serif;
    font-size: 100%;
    font-weight: bold;
  }
  
  .mat-input-element {
    caret-color: $mat-white !important;
    font-family: 'Lato', sans-serif !important;
    font-size: 100%;
  }
  
  .mat-form-field {
    width: 80% !important;
  }
}

// to make the login dialog scrollable in mobile landscape mode
.cdk-global-overlay-wrapper {
  overflow: auto;
}

.ng-valid, .ng-untouched, .mat-focused {
  color: $mat-white;

  .mat-form-field-wrapper{
    .mat-form-field-underline {
      background-color: $mat-white;
      
      .mat-form-field-ripple {
        background-color: $mat-white;
      }
    }

    .mat-form-field-subscript-wrapper {
      display: none;
    }
    
    .mat-form-field-flex>
    .mat-form-field-infix>
    .mat-form-field-label-wrapper>
    .mat-form-field-label {
      color: $mat-white;
      font-family: 'Lato', sans-serif !important;
      font-size: 100%;

      .mat-form-field-required-marker {
        color: $mat-white;
      }
    }
  }
}

.anchorify-default {
  @extend .cursor-hand;
  text-decoration: underline !important;
}

.anchorify-with-underline-on-hover {
  @extend .cursor-hand;
  @include underline();
}

.anchorify-with-highlight-on-hover {
  @extend .cursor-hand;

  &:hover {
    color: $treadwill-pre-login-app-foreground !important;
  }
}

.logo-landscape {
  height: 60px;
}

html, body {
  height: 100%;
  background-color: $treadwill-pre-login-primary !important;
  color: $treadwill-pre-login-app-foreground !important;
}

// included this here because it was not getting applied when I kept it in app.component.scss
// I don't know the reason yet. This was also the case for the dialog
.pre-login-side-nav-logo-container.mat-list-item {
  position: absolute;
  bottom: 0;

  >.mat-list-item-content {
    flex-direction: column !important;
  }
  
  .pre-login-side-nav-logo {
    height: $small_logo_height;
  }
}
