/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import 'treadwill.theme.scss';
@import "~ng-pick-datetime/assets/style/picker.min.css";

// bootstrap standards
$screen-size-xs-sm: 576px;
$screen-size-sm-md: 768px;
$screen-size-md-lg: 992px;
$screen-size-lg-xl: 1200px;

$small_logo_height: 40px;

.cursor-hand {
  cursor: pointer;
}

@mixin btn-roundify($radius: 20px) {
  border-radius: $radius;
}

@mixin box-shadow-1-1-10-d6() {
  box-shadow: 1px 1px 10px #d6d6d6;
}

@mixin border-dashed() {
  border-image-source: url("assets/modules/border-dashed.png");
  border-image-slice: 2;
  border-image-repeat: round;
  border-image: url("assets/modules/border-dashed.png") 2 round;
}

@mixin underline-on-hover() {
  &:hover {
    text-decoration: underline !important;
  }
}

@mixin font-lato($font-weight: 400, $font-style: normal) {
  font-family: 'Lato', sans-serif !important;
  font-weight: $font-weight;
  font-style: $font-style;
}

@mixin font-montserrat($font-weight: 500, $font-style: normal) {
  font-family: 'Montserrat', sans-serif !important;
  font-weight: $font-weight;
  font-style: $font-style;
}

@mixin common-dialog-style() {
  background-color: mat-color($treadwill-app-primary);
  color: $mat-white;
  opacity: 0.85;

  .dialog-btn {
    @include btn-roundify(20px);
    @include font-lato($font-weight: 700);
    font-size: 100%;
    padding-left: 20px;
    padding-right: 20px;
    color: mat-color($treadwill-app-primary);
  }
}

.login-dialog .mat-dialog-container {
  @include common-dialog-style();

  .mat-input-element {
    @include font-lato();
    font-size: 100%;
    caret-color: $mat-white !important;
  }
  
  .mat-form-field {
    width: 80% !important;
  }
}
.signup-dialog .mat-dialog-container {
  @include common-dialog-style();

  .mat-input-element {
    @include font-lato();
    font-size: 100%;
    caret-color: $mat-white !important;
  }
  
  .mat-form-field {
    width: 80% !important;
  }
}
.contact-us-dialog .mat-dialog-container {
  @include common-dialog-style();

  .mat-input-element {
    caret-color: $treadwill-pre-login-primary !important;
    @include font-lato();
    font-size: 100%;
    color: $treadwill-pre-login-primary !important;
  }
  
  .mat-form-field-flex {
    background-color: $mat-white !important;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .mat-form-field {
    width: 100% !important;
  }

  .mat-form-field-underline {
    display: none;
  }
}

// to make the login dialog scrollable in mobile landscape mode
.cdk-global-overlay-wrapper {
  overflow: auto;
}

.anchorify-default {
  @extend .cursor-hand;
  text-decoration: underline !important;
}

.anchorify-with-underline-on-hover {
  @extend .cursor-hand;
  @include underline-on-hover();
}

.anchorify-with-highlight-on-hover {
  @extend .cursor-hand;

  &:hover {
    color: $treadwill-pre-login-app-foreground !important;
  }
}

.logo-landscape {
  height: 60px;
}

// included this here because it was not getting applied when I kept it in app.component.scss
// I don't know the reason yet. This was also the case for the dialog
.pre-login-side-nav-logo-container.mat-list-item {
  position: absolute;
  bottom: 0;

  >.mat-list-item-content {
    flex-direction: column !important;
  }
  
  .pre-login-side-nav-logo {
    height: $small_logo_height;
  }
}

// Montserrat Fonts

.font-montserrat-normal {
  @include font-montserrat($font-weight: 500);
}

.font-montserrat-bold {
  @include font-montserrat($font-weight: 700);
}

.app-main {
  // min-height: 100vh;
  background-image: url("assets/modules/background.png");
}

.row-nopadding {
  padding: 0;
}

// Cannot be overrriden from individual component
.mat-checkbox-label {
  font-family: 'Lato', sans-serif !important;
}

.main-heading-h1 {
  @include font-montserrat($font-weight: 700);
  width: 100%;
  padding-left: 70px;
  padding-top: 50px;
}

.loader {
  padding-top: 12%;
  width: 100%;
  min-height: 80vh;
}
.full-width {
  width: 100%;
}

.pull-right {
  float: right;
}

.btn-underline {
  text-decoration: underline;
}
.btn-underline:hover {
  text-decoration: underline !important;
}

.btn-bold {
  font-weight: 700 !important;
  font-size: 13px !important;
}

.btn-area {
  padding: 5px 0;
  text-align: right;
}

@media screen and (max-width: 992px) {
  .main-heading-h1 {
      width: 100%;
      padding-left: 20px;
      padding-top: 30px;
  }
  .custom-overlay {
      .cdk-overlay-pane {
        max-width: 94vw !important;
        width: 94vw !important;
        .mat-dialog-container {
          margin-top: 10px;
          margin-bottom: 10px;
          padding: 10px;
        }
      }
  }
}

@media screen and (max-width: 767px) {
  .main-heading-h1 {
      @include font-montserrat($font-weight: 700);
      width: 100%;
      padding-left: 20px;
      padding-top: 30px;
  }

  .no-gutters-sm {
    margin: 0 !important;
    padding: 0 !important;
  }
}
