/* You can add global styles to this file, and also import other style files */
//@import '~@angular/material/theming';
//@import 'treadwill.theme.scss';
@import 'color.palette';
@import 'common-styles.scss';
@import '~ng-pick-datetime/assets/style/picker.min.css';

// bootstrap standards
$screen-size-xs-sm: 576px;
$screen-size-sm-md: 768px;
$screen-size-md-lg: 992px;
$screen-size-lg-xl: 1200px;

$small_logo_height: 40px;

@mixin box-shadow-1-1-10-d6() {
  box-shadow: 0px 4px 10px #525252;
}

@mixin box-shadow-common() {
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

@mixin border-dashed() {
  border-image-source: url('assets/modules/border-dashed.png');
  border-image-slice: 2;
  border-image-repeat: round;
  border-image: url('assets/modules/border-dashed.png') 2 round;
}

@mixin font-roboto($font-weight: 500, $font-style: normal) {
  font-family: 'Roboto', sans-serif !important;
  font-weight: $font-weight;
  font-style: $font-style;
}

@mixin common-dialog-style() {
  background-color: #f4bb56;// changed individually in the login-dialog
  color: $mat-white;
  // opacity: 0.85;

  .dialog-btn {
    @include btn-roundify(20px);
    @include font-lato($font-weight: 700);
    font-size: 100%;
    padding-left: 20px;
    padding-right: 20px;
    color: #f4bb56;
    outline: none;
    min-width: 100px;
  }
}

.login-dialog .mat-dialog-container {
  @include common-dialog-style();
  background-color: #FAF4EA !important;//added here
  min-height: auto;
  //min-height: inherit;

  .mat-input-element {
    @include font-lato();
    font-size: 100%;
    caret-color: $mat-white !important;
  }

  .mat-form-field {
    width: 80% !important;
  }
}
button {
  outline: none !important;
}
.signup-dialog .mat-dialog-container {
  @include common-dialog-style();

  .mat-input-element {
    @include font-lato();
    font-size: 100%;
    caret-color: $mat-white !important;
  }

  .mat-form-field {
    width: 80% !important;
  }
}

.contact-us-dialog .mat-dialog-container {
  @include common-dialog-style();
  min-height: 440px !important;
  .mat-input-element {
    caret-color: $treadwill-pre-login-primary !important;
    @include font-lato();
    font-size: 100%;
    color: $treadwill-pre-login-primary !important;
  }

  .mat-form-field-flex {
    background-color: $mat-white !important;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .mat-form-field {
    width: 100% !important;
  }

  .mat-form-field-underline {
    display: none;
  }
}

.create-new-post .mat-dialog-container {
  background: #fffaf3;
}

.slide-video .mat-dialog-container {
  padding: 0px;
  overflow: hidden;
  //width:auto;
}

// to make the login dialog scrollable in mobile landscape mode
.cdk-global-overlay-wrapper {
  overflow: auto;

  .mat-bottom-sheet-container {
    overflow: hidden;
  }
}

.anchorify-with-highlight-on-hover {
  @extend .cursor-hand;

  &:hover {
    color: $treadwill-pre-login-app-foreground !important;
  }
}

.logo-landscape {
  height: 60px;
}

// included this here because it was not getting applied when I kept it in app.component.scss
// I don't know the reason yet. This was also the case for the dialog
.pre-login-side-nav-logo-container.mat-list-item {
  position: absolute;
  bottom: 0;

  > .mat-list-item-content {
    flex-direction: column !important;
  }

  .pre-login-side-nav-logo {
    height: $small_logo_height;
  }
}

// Montserrat Fonts

.font-montserrat-normal {
  @include font-montserrat($font-weight: 500);
}

.font-montserrat-bold {
  @include font-montserrat($font-weight: 700);
}

// Roboto Fonts
.font-roboto-thin {
  @include font-roboto($font-weight: 300);
}

.font-roboto-normal {
  @include font-roboto($font-weight: 500);
}

.font-roboto-bold {
  @include font-roboto($font-weight: 700);
}

.app-main {
  // min-height: 100vh;
  background-color: #faf4ea;
  // height: 100%;
}

.dashboard-mat-drawer-content {
  overflow-x: hidden !important;
}

.row-nopadding {
  padding: 0;
}

// Cannot be overrriden from individual component
.mat-checkbox-label {
  font-family: 'Lato', sans-serif !important;
}

img.emoji {
  height: 1.1em;
  width: 1.1em;
  margin: 0 0.05em 0 0.1em;
  vertical-align: -0.1em;
}

.navBarPanelClass {
  min-width: 350px !important;
  min-height: 70vh !important;
  overflow: hidden !important;
}

.main-heading-h1 {
  @include font-montserrat($font-weight: 700);
  width: 100%;
  padding-left: 70px;
  padding-top: 50px;
}

.loader {
  padding-top: 15%;
  width: 100%;
  min-height: 80vh;
}

.full-width {
  width: 100%;
}

.pull-right {
  float: right;
}

.btn-underline {
  text-decoration: underline;
}

.btn-underline:hover {
  text-decoration: underline !important;
}

.btn-bold {
  font-weight: 700 !important;
  font-size: 13px !important;
}

.btn-area {
  padding: 5px 0;
  text-align: right;
}

@media screen and (min-width: 1200px) {
  .app-main {
    height: 100%;
  }
}

@media screen and (max-width: 992px) {
  .main-heading-h1 {
    width: 100%;
    padding-left: 20px;
    padding-top: 30px;
  }

  .custom-overlay {
    .cdk-overlay-pane {
      // max-width: 94vw !important;
      // width: 94vw !important;

      .mat-dialog-container {
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 10px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .main-heading-h1 {
    @include font-montserrat($font-weight: 700);
    width: 100%;
    padding-left: 20px;
    padding-top: 30px;
  }

  .no-gutters-sm {
    margin: 0 !important;
    padding: 0 !important;
  }
}

.slide-bottomsheet {
  .mat-checkbox-layout {
    width: inherit;
  }

  //.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  //  background-color: #2a3b3d !important;
  //}
}
.checkbox-common {
  .mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: #2a3b3d !important;
  }
}
.signup-page {
  .mat-checkbox-inner-container {
//    height: 20px !important;
//    width: 20px !important;
    margin-right: 12px;
    margin-top: 5px;
  }
}
.mat-checkbox-layout {
  width: 100%;
  white-space: normal !important;
}

.mat-checkbox-label {
  width: 100%;
}

.dateTime-dialog-container .mat-dialog-container {
  padding: 0px !important;
  width: 340px;
  height: 620px;
}

.moodTracker-dialog-container .mat-dialog-container {
  padding: 0px !important;
  width: 340px;
  height: 620px;
  overflow: hidden;

  .mat-list-item-content {
    padding-left: 24px !important;
    padding-right: 0;
  }
}

.technique-info-dialog-container .mat-dialog-container {
  width: 300px;
  height: 495px;
  overflow-x: hidden;
  overflow-y: auto;
}

.common-belief-dialog-container .mat-dialog-container {
  width: 336px;
  height: 520px;
  padding-top: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

.common-delete-dialog-container .mat-dialog-container {
  width: 320px;
  height: 150px;
}

.mat-slider-thumb {
  background-color: #2a3b3d !important;
}

@media screen and (max-width: 400px) {
  .app-main {
    background-color: white;
    //height: 90%;
  }
}

.mat-radio-label {
  white-space: normal !important;
  align-items: end !important;
}

.mat-radio-button.mat-primary .mat-radio-inner-circle {
  background-color: #000000de !important;
}

.mat-radio-outer-circle {
  border-color: #000000de !important;
}

//.label {
//  margin-bottom: 0;
//}
.mat-accent .mat-slider-track-fill {
  background-color: #2a3b3d !important;
}

.mat-accent .mat-slider-thumb-label {
  background-color: #2a3b3d !important;
}

.mat-accent .mat-slider-thumb-label-text {
  color: white !important;
}

.mat-slider-horizontal .mat-slider-track-background {
  transform: none !important;
}
.intro-dialog .mat-dialog-container {
  //width: 340px;
}
.intro-tag-dialog .mat-dialog-container {
  position: sticky !important;
  padding-bottom: 0;
  text-align: center;
  z-index: 100;
  width: 100%;
  background: #faf4ea 0 0 no-repeat padding-box;
  box-shadow: 0 8px 16px #0000003d;
  border-radius: 4px;
  padding-left: 12px;
  padding-right: 12px;

  .scrollbar {
    width: 0px; /* Remove scrollbar space */
    display: none;
    background: transparent; /* Optional: just make scrollbar invisible */
  }
}

.cdk-overlay-pane.intro-dialog {
  position: relative !important;
}
.intro-img-div {
  position: absolute;
  top: 0;
  right: 50%;
  transform: translate(50%, -50%);
  padding: 5px;
}

.introjs-button {
  color: #00000099 !important;
  text-shadow: none !important;
  border: 1px solid #00000066 !important;
  border-radius: 4px !important;
  height: 36px !important;
  width: 84px !important;
  font-size: 16px !important;
  text-align: center !important;
  box-sizing: inherit !important;
  background: white !important;
  padding-top: 8px !important;
}
.introjs-prevbutton {
  display: none !important;
}

body {
  /* Disables pull-to-refresh but allows overscroll glow effects. */
  overscroll-behavior-y: contain;
}
textarea{
  min-height: 20px !important;
}
.introjs-helperLayer {
  background: transparent !important;
}

.introjs-overlay {
  opacity: 0.6 !important;
  position: inherit !important;
}

.introjs-helperLayer:before {
  opacity: 0;
  content: '';
  position: fixed;
  width: inherit;
  height: inherit;
  border-radius: 0.5em;
  box-shadow: 0 0 0 1000em rgba(0, 0, 0, 0.7);
  opacity: 1;
}

.introjs-helperLayer:after {
  content: '';
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: fixed;
  z-index: 1000;
}

.intro-heading {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}
.intro-text {
  text-align: center;
  //font: Regular 16px/22px Roboto;
  letter-spacing: 0;
  color: #00000099;
  margin-bottom: 10px;
}

.hide-skip {
  .introjs-skipbutton {
    display: none !important;
  }
}

.hide-skip-next {
  .introjs-skipbutton {
    display: none !important;
  }
  .introjs-nextbutton.introjs-fullbutton {
    display: none !important;
  }
}

.intro-tooltip {
  //top: 65% !important;
  margin-top: 20px !important;
}

.intro-tooltip-custom-margin {
  top: 65% !important;
  margin-left: -25px !important;
}

.hide-background {
  background-color: transparent !important;
}
.bottom-centre {
  .introjs-skipbutton {
    display: none !important;
  }
  margin-top: 150px !important;
  .introjs-floating {
    margin-top: 50px !important;
    //margin-left: 0 !important;
  }
}

.box-blue-intro {
  height: 11px;
  width: 11px;
  position: absolute;
  background-color: blue;
  text-align: right;
  top: 55px;
  left: 45px;
}

.circle-intro {
  height: 11px;
  width: 11px;
  border-radius: 50%;
  position: relative;
  left: -10px;
  display: inline-block;
}

.gold {
  background: transparent linear-gradient(137deg, #ffd76a 0%, #dfad21 100%) 0%
    0% no-repeat padding-box;
}

.silver {
  background: transparent linear-gradient(137deg, #d4d4d4 0%, #c4c4c4 100%) 0%
    0% no-repeat padding-box;
}

.bronze {
  background: transparent linear-gradient(141deg, #efb05e 0%, #b27725 100%) 0%
    0% no-repeat padding-box;
}

//.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb.mat-slide-toggle-bar  {
//  background-color:  #2a3b3d !important;
//}
//.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
//  background-color:  #2a3b3d !important;
//}
.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: #F5BB56;
}
.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: #ddd;
}
.mat-slide-toggle:not(.mat-checked):not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: #ddd;
}
.mat-slide-toggle:not(.mat-checked):not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: #B3B3B3;
}

.chatbot-intro-tooltip{
  .introjs-skipbutton {
    display: none !important;
  }
  background: #FAF4EA !important;
}
.chatbot-intro-exit-tooltip{
  background: #FAF4EA !important;
  .introjs-button{
    background: #FAF4EA !important;
  }
}
.intro-tooltip-custom {
  top: 65% !important;
}
.proscons-info-dialog-container .mat-dialog-container {
  width: 340px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 1rem;
}
.mat-slider-thumb-label {
  transform: rotate(45deg) !important;
  border-radius: 50% 50% 0 !important;
}

.mat-slider-thumb {
  transform: scale(0) !important;
}

.mat-slider-thumb-label-text {
  opacity: 1 !important;
}
