

.fix-reading-header-title {
  color: black;
  //font-size: 24px; //this value is for desktop, phone value will be different and needs to be changed
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fix-reading-header {
  display: flex;
  min-height: 42px;
  background-color: white;
  color: black;
  justify-content: flex-start;
  padding-left: 16px;

}

.fix-reading-body {
  margin-top: 45px;
  font-size: 16px;
  // overflow-y: scroll;
}

.fix-reading-box {
  margin-top: 0;
  padding: 0;
}

@media only screen and (min-width: 769px) {
  .row-margin {
    margin-left: -30px;
  }

  .fix-reading-header {
    display: flex;
    height: 48px;
    min-height: 42px;
    background-color: #2A3B3D;
    justify-content: center;

  }

  .fix-reading-header-title {
    //margin-top: 2px;
    margin-top: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
   // margin-bottom: 118px;
    font-size: 24px;
    color: white;
   // text-align: center;
  } //changing title font size for mobile

  .fix-reading-box{
    margin-left: 16px;
  }


}
@media only screen and (min-width: 1024px) {
  .row-margin {
    padding-left: -12px !important;
  }
}


