
<!--<link rel="stylesheet" href="../main.component.scss">-->
<div [ngClass] = "this.usernameHeadingClicked === true || this.passwordHeadingClicked === true? 'flex-style-short' : 'flex-style'">
<div class = "row settings-row">
  <div class = "col background-col">
    <div class = "below-col-container" >
    <div class = "each-div" *ngIf = "(!this.passwordHeadingClicked && !this.notificationHeadingIsClicked )" >
    <a class = "heading" (click) = "changeUsernameHeadingClicked()" *ngIf = "!this.usernameHeadingClicked"><img src = "assets/shared/change.svg" class = "settings-icon">Change username<img src = "assets/shared/right_arrow.png" class = "right-arrow-icon"></a>
    <div class = "row" *ngIf = " this.usernameHeadingClicked">

      <div class = "col-12 col-lg-12   ">
       <form #usernameForm = "ngForm">
      <mat-form-field class = "username-change-input">
        <mat-label class = "placeholder">
          username
        </mat-label>
        <input
          matInput
          name = "username"
          [(ngModel)] = "newUsername"
          (input) = "usernameAvailability()" >
        <mat-error>not</mat-error>
       <mat-hint [ngClass] = "this.usernameAvailableStatus === true? 'success-msg':'not-success-msg'"
                 *ngIf ="this.usernameAvailable === true || this.newUsername == !user.username">{{usernameAvailableMessage}}</mat-hint>
       <mat-hint [ngClass] = "this.usernamePasswordStatus === true? 'success-msg':'not-success-msg'"
                 *ngIf ="this.usernameAvailable === false">{{usernamePasswordCorrectMessage}}</mat-hint>
      </mat-form-field>&nbsp;&nbsp;&nbsp;&nbsp;

      <button
        type = "button" mat-raised-button
              [disabled] = "this.newUsername === user.username || this.usernameAvailableStatus === false"
              (click) = "continueClicked()" class = "save-btn"
              *ngIf ="this.usernamePasswordSubmitShow === false && !this.showLoadingUsernameChange ">Continue</button>
        <button
          color="primary"
          class = "loading-btn"
          *ngIf="showLoadingUsernameChange"
          type="button" mat-raised-button >
          <span class="spinner-border spinner-border-sm"></span>
          &nbsp; Loading..
        </button>
       </form>

      </div>






      <!--username button-->



      <span *ngIf ="this.usernamePasswordSubmitShow === true" class = "col-12 col-lg-12 ">

        <form #usernameForm = "ngForm">
        <mat-form-field class = "username-change-input">
        <mat-label class = "placeholder">
          Enter password
        </mat-label>
        <input
          matInput
          #real_password
          name = "realPassword"
          [(ngModel)] = "realPassword"
          (input) = "realPasswordInput()"
          type = "password" >
      </mat-form-field>&nbsp;&nbsp;&nbsp;&nbsp;
        <!--<p [ngClass] = "usernameSaveClicked() === false">username changed</p>
        <p [ngClass] = "usernameSaveClicked() === true">already taken</p>-->
      <button
        type = "button"
        mat-raised-button
        color="primary"
        [disabled] = "(this.usernameTyped === false || this.realPasswordTyped === false)"
        class = "save-btn"
        (click) = "submitClick()"  *ngIf="!LoadingUsernamePasswordChange">Submit</button>
     <button color="primary" class = "loading-btn" *ngIf="LoadingUsernamePasswordChange" type="button" mat-raised-button >
          <span class="spinner-border spinner-border-sm"></span>
          &nbsp; Loading..
        </button>


      </form>
     </span>



    </div>

    </div>


      <div class = "each-div" *ngIf = "!this.usernameHeadingClicked && !this.notificationHeadingIsClicked">
      <a class = "heading" (click) = "changePasswordHeadingClicked()" *ngIf = "!this.passwordHeadingClicked"><img src = "assets/shared/change.svg" class = "settings-icon">Change password <img src = "assets/shared/right_arrow.png" class = "right-arrow-icon"></a>
        <div class = "row" *ngIf = "this.passwordHeadingClicked">

        <div class = "col-12 col-lg-4  ">
        <form #passwordForm = "ngForm">
        <mat-form-field class = "password-change-input">
          <mat-label
            class = "placeholder"
            type = "password">
            Current password
          </mat-label>
          <input
            matInput
            name = "current_password"
            [(ngModel)] = "currentPassword"
            type = "password" (input) = "passWordMessageRemove()">
         <mat-hint *ngIf = "this.passwordMsgShow" [ngClass] = "this.passwordState === true? 'success-msg':'not-success-msg'">{{oldPasswordMessage}}</mat-hint>
        </mat-form-field>&nbsp;&nbsp;&nbsp;&nbsp;<br>
        </form>
        </div><br>


      <div class = "col-12 col-lg-4">
      <form #passwordForm = "ngForm">
      <mat-form-field class = "password-change-input">
        <mat-label
          class = "placeholder">
          New password
        </mat-label>
        <input
          matInput
          name = "new_password"
          [(ngModel)] = "newPassword"
          type = "password" (input) = "newPasswordTouch()">
        <mat-hint *ngIf = "this.passwordMsgShow" class = "not-success-msg">{{newPasswordMessage}}</mat-hint>
      </mat-form-field>&nbsp;&nbsp;&nbsp;&nbsp;<br>
      </form>
        <!--<span class = "not-success-msg">{{newPasswordMessage}}</span>-->
      </div>

        <div class = "col-8 col-lg-4">
        <form #passwordForm = "ngForm">
        <mat-form-field class = "confirm-password-change-input">
        <mat-label
          class = "placeholder">
          Confirm password
        </mat-label>
        <input
          matInput
          name = "confirm_password"
          [(ngModel)] = "confirmPassword"
          type = "password"
          (input) = "confirmNewMatch()">
          <mat-hint class = "not-success-msg" *ngIf =  "this.newConfirmMatch === false">New and Confirm password does not match</mat-hint>
        </mat-form-field>&nbsp;&nbsp;&nbsp;&nbsp;<br>
        </form>
         <!-- <span class = "not-success-msg" *ngIf =  "this.newConfirmMatch === false">New and Confirm password does not match</span>-->
        </div>
      <div class = "col-4 col-lg-4">
      <form #passwordForm = "ngForm">
      <button *ngIf="!showLoadingPasswordChange"
        type = "button"
        mat-raised-button
        color="primary"
        [disabled] =
          "(this.currentPasswordTyped === false|| this.newPasswordTyped === false || this.confirmPasswordTyped === false || this.newConfirmMatch === false) "
        class = "save-btn"
        (click) = "savePasswordChange()">Save</button>
        <button color="primary" class = "loading-btn" *ngIf="showLoadingPasswordChange" type="button" mat-raised-button >
          <span class="spinner-border spinner-border-sm"></span>
          &nbsp; Loading..
        </button>
      </form>

      </div>
      </div>
      </div>



      <div class = "each-div" *ngIf = "this.user.is_exp && !this.usernameHeadingClicked && !this.passwordHeadingClicked">

      <a class = "heading" (click) = "notificationHeadingClicked()" *ngIf = "!this.notificationHeadingIsClicked"><img src = "assets/shared/notification%20settings.svg" class = "settings-icon">Notification Settings<img src = "assets/shared/right_arrow.png" class = "right-arrow-icon"></a>
      <div *ngIf = "this.notificationHeadingIsClicked">
      <p class = "notification-subheading">Support Group</p>
        <p class = "push-email-notification">
          <span >
            Push Notification
            <span
              *ngIf = "this.notificationMessage === 'support_group_fcm' && this.notificationStatus === true "
              class = "save-push-email"
              [ngClass] = "fadeOutSave()">
              Saved
            </span>
          </span>
          <mat-slide-toggle
            (change) =
              "saveNotificationChange('support_group_fcm', supportGroupFcmToggle = !supportGroupFcmToggle)"
            [ngClass] = "this.notificationMessage === 'support_group_fcm' && this.notificationStatus === true ? 'push-email-right-space-with-save':'push-email-right-space'"
            [checked] = "supportGroupFcmToggle">
          </mat-slide-toggle>
        </p>
        <p class = "push-email-notification">
          <span >
            Email Notification
            <span
              *ngIf = "this.notificationMessage === 'support_group_email' && this.notificationStatus === true"
              class = "save-push-email"
              [ngClass] = "fadeOutSave()">
              Saved
            </span>
          </span>
          <mat-slide-toggle
          (change) = "saveNotificationChange('support_group_email', supportGroupEmailToggle = !supportGroupEmailToggle)"
          [ngClass] = "this.notificationMessage === 'support_group_email' && this.notificationStatus === true ? 'email-with-save':'push-email-right-space'"
          [checked] = "supportGroupEmailToggle">
        </mat-slide-toggle>
        </p>

      <p class = "notification-subheading">Task form</p>
        <p class = "push-email-notification">
          <span >
            Push Notification
            <span
              *ngIf = "this.notificationMessage === 'task_form_fcm' && this.notificationStatus === true "
              class = "save-push-email"
              [ngClass] = "fadeOutSave()">
              Saved
            </span>
          </span>
          <mat-slide-toggle
            (change) = "saveNotificationChange('task_form_fcm', taskFormFcmToggle = !taskFormFcmToggle)"
            [ngClass] = "this.notificationMessage === 'task_form_fcm' && this.notificationStatus === true ? 'push-email-right-space-with-save':'push-email-right-space'"
            [checked] = "taskFormFcmToggle">
          </mat-slide-toggle>
        </p>
        <p class = "push-email-notification">
          <span >
            Email Notification
            <span
              *ngIf = "this.notificationMessage === 'task_form_email' && this.notificationStatus === true"
              class = "save-push-email"
              [ngClass] = "fadeOutSave()">
              Saved
            </span>
          </span>
          <mat-slide-toggle
            (change) = "saveNotificationChange('task_form_email', taskFormEmailToggle = !taskFormEmailToggle)"
            [ngClass] = "this.notificationMessage === 'task_form_email' && this.notificationStatus === true ? 'email-with-save':'push-email-right-space'"
            [checked] = "taskFormEmailToggle">
          </mat-slide-toggle>
        </p>

      <p class = "notification-subheading">Forms</p>
        <p class = "push-email-notification">
          <span >
            Push Notification
            <span
              *ngIf = "this.notificationMessage === 'forms_fcm' && this.notificationStatus === true "
              class = "save-push-email" [ngClass] = "fadeOutSave()">
              Saved
            </span>
          </span>
          <mat-slide-toggle
            (change) = "saveNotificationChange('forms_fcm', formsFcmToggle = !formsFcmToggle)"
            [ngClass] = "this.notificationMessage === 'forms_fcm' && this.notificationStatus === true ? 'push-email-right-space-with-save':'push-email-right-space'"
            [checked] = "formsFcmToggle">
          </mat-slide-toggle>
        </p>
        <p class = "push-email-notification">
          <span >
            Email Notification
            <span
              *ngIf = "this.notificationMessage === 'forms_email' && this.notificationStatus === true"
              class = "save-push-email"
              [ngClass] = "fadeOutSave()">
              Saved
            </span>
          </span>
          <mat-slide-toggle
            (change) = "saveNotificationChange('forms_email', formsEmailToggle = !formsEmailToggle)"
            [ngClass] = "this.notificationMessage === 'forms_email' && this.notificationStatus === true ? 'email-with-save':'push-email-right-space'"
            [checked] = "formsEmailToggle">
          </mat-slide-toggle>
        </p>

      <p class = "notification-subheading">Weekly update</p>
        <p class = "push-email-notification">
          <span >
            Email Notification
            <span
              *ngIf = "this.notificationMessage === 'weekly_email_update' && this.notificationStatus === true"
              class = "save-push-email"
              [ngClass] = "fadeOutSave()">
              Saved
            </span>
          </span>
          <mat-slide-toggle

            (change) = "saveNotificationChange('weekly_email_update', weeklyEmailToggle = !weeklyEmailToggle)"
            [ngClass] = "this.notificationMessage === 'weekly_email_update' && this.notificationStatus === true ? 'email-with-save':'push-email-right-space'"
            [checked] = "weeklyEmailToggle"  ngModel>
          </mat-slide-toggle>
        </p>
      </div>
      </div>
      <div class = "each-div" *ngIf = "!this.usernameHeadingClicked && !this.passwordHeadingClicked && !this.notificationHeadingIsClicked">
        <img src = "assets/shared/logout.png" class = "settings-icon">
        <a class = "heading" style="color: #BF494E; font-weight: bold; text-decoration: none;" routerLink="/main/logout" >Log Out</a>
      </div>
      </div>

    </div>
  </div>
</div>



