<mat-drawer-container class="pre-login-side-nav-drawer-container">
    <mat-drawer #drawer class="pre-login-side-nav-drawer">
      <mat-nav-list role="navigation">
        <a mat-list-item class="pre-login-side-nav-anchor" (click)="onLoginClicked()">Login</a>
        <a mat-list-item class="pre-login-side-nav-anchor">Work with us</a>
        <a mat-list-item class="pre-login-side-nav-anchor">About us</a>
        <a mat-list-item class="pre-login-side-nav-anchor" (click)="onContactUsClicked()">Contact us</a>
        <a mat-list-item class="pre-login-side-nav-anchor">Terms and conditions</a>
        <a mat-list-item class="pre-login-side-nav-anchor">Privacy policy</a>
        <a mat-list-item class="pre-login-side-nav-logo-container">
          <img src="assets/shared/logo_small.png" alt="TreadWill logo" class="pre-login-side-nav-logo">
        </a>
      </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
      <mat-toolbar class="mat-pre-login-toolbar-color d-flex-wrap">
        <div class="d-block d-sm-none">
          <mat-icon (click)="drawer.toggle()" class="pre-login-toolbar-burger">menu</mat-icon>
        </div>
        <div class="d-none d-sm-block">
          <img alt="TreadWill logo" src="assets/shared/logo_full.png" class="logo-landscape">
        </div>
        <div class="d-none d-sm-block flex-fill">
          <a mat-button class="anchorify-pre-login-toolbar-button float-right">About us</a>
          <a mat-button class="anchorify-pre-login-toolbar-button float-right">Work with us</a>
          <a mat-button class="anchorify-pre-login-toolbar-button float-right" (click)="onLoginClicked()">Login</a>
        </div>
      </mat-toolbar>
    </mat-drawer-content>
    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
    <mat-drawer-content>
        <app-pre-login-footer></app-pre-login-footer>
    </mat-drawer-content>
</mat-drawer-container>