<mat-drawer-container class="pre-login-side-nav-drawer-container">
  <mat-drawer #drawer class="pre-login-side-nav-drawer">
    <mat-nav-list role="navigation">
      <a
        mat-list-item
        class="pre-login-side-nav-anchor"
        (click)="onJoinTheStudyClicked()"
        >Join the study</a
      >
      <a
        mat-list-item
        class="pre-login-side-nav-anchor"
        (click)="onWorkWithUsClicked()"
        >Work with us</a
      >
      <a
        mat-list-item
        class="pre-login-side-nav-anchor"
        (click)="onContactUsClicked()"
        >Contact us</a
      >
      <a mat-list-item class="pre-login-side-nav-anchor" (click)="onTermsConditions()">Terms and conditions</a>
      <a mat-list-item class="pre-login-side-nav-anchor" (click)="onPrivacyPolicyClick()">Privacy policy</a>
       </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar class="mat-pre-login-toolbar-color d-flex-wrap">
      <div class="d-block d-sm-none">
        <mat-icon (click)="drawer.toggle()" class="pre-login-toolbar-burger"
          >menu</mat-icon
        >
      </div>
      <div class="d-none d-sm-block">
        <img
          alt="TreadWill logo"
          style="width: 40%"
          src="assets/shared/logo_full.svg"
          class="logo-landscape"
        />
      </div>
      <div class="d-none d-sm-block links">
        <a
          mat-button
          class="anchorify-pre-login-toolbar-button float-right"
          (click)="onWorkWithUsClicked()"
          >Work with us</a
        >
        <a
          mat-button
          class="anchorify-pre-login-toolbar-button float-right"
          (click)="onJoinTheStudyClicked()"
          >Join the study</a
        >
        <a
          mat-button
          class="anchorify-pre-login-toolbar-button float-right login-btn"
          (click)="onLoginClicked()"
          *ngIf="!loggedIn"
        >
          Login
        </a>
      </div>
      <div class="d-block d-sm-none">
        <a
          [ngStyle]="{ right: '0', position: 'absolute', top: '5px' }"
          mat-button
          class="anchorify-pre-login-toolbar-button float-right login-btn"
          (click)="onLoginClicked()"
          *ngIf="!loggedIn"
        >
          Login
        </a>
      </div>
    </mat-toolbar>
  </mat-drawer-content>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
  <mat-drawer-content>
    <app-pre-login-footer></app-pre-login-footer>
  </mat-drawer-content>
</mat-drawer-container>
