@import 'common-styles.scss';

html,
body {
  background-color: #2a3b3d !important;
  color: #f4bb56 !important;
}

.pre-login-side-nav-drawer-container {
  background-color: #2a3b3d !important;
  color: #f4bb56 !important;
  height: 100%;
}

.pre-login-side-nav-drawer {
  background-color: #f4bb56 !important;
}

.mat-pre-login-toolbar-color {
  background-color: #2a3b3d;
}

.anchorify-pre-login-toolbar-button {
  @extend .anchorify-with-highlight-on-hover !optional;
  @include font-lato();
  font-size: 100%;
  color: white;
  text-decoration: none;
}

.pre-login-toolbar-burger {
  @extend .cursor-hand;
  color: white;
}

.pre-login-side-nav-anchor {
  color: white !important;
  @include font-lato($font-weight: 700);
  font-size: 100% !important;
}
