<div class ="messageDiv">
  <div>
    <img class="emoji" [src]="formMessage.emoji" />
  </div>

  <div class="heading" *ngIf="formMessage.header">
    {{ formMessage.header }}
  </div>

  <div class="message">
    {{ formMessage.message }}
  </div>
  <br />
  <div class="quote" *ngIf="formMessage.quote">
    <hr />

    <q>
      {{ formMessage.quote }}
    </q>

    <div [ngStyle]="{ textAlign: 'end', color: '#debe88', fontSize: '14px' }">
      -{{ formMessage.quotedBy }}
    </div>

    <hr />
  </div>
</div>
