<div class="messageDiv">
  <div>
    <img class="emoji" [src]="formMessage.emoji" />
  </div>

  <div class="heading" *ngIf="formMessage.header">
    {{ formMessage.header }}
  </div>

  <div
    class="message"
    [ngStyle]="{
      textAlign: formMessage.message.suggestions.length > 0 ? 'left' : 'center'
    }"
  >
    {{ formMessage.message.message }}
    <ul class="suggestion-list" *ngIf="formMessage.message.suggestions">
      <li
        class="suggestion"
        *ngFor="let suggestion of formMessage.message.suggestions"
        [innerHTML]="suggestion"
      ></li>
    </ul>
  </div>

  <br />
</div>
