<div *ngIf="!removeChat" appNavbarFlow>
  <button
    mat-stroked-button
    aria-label="Chatbot icon button"
    *ngIf="chatwindowClosed"
    class="chat-btn"
    id="chatbot"
    (click)="toggleChat()"
  >
    <img
      class="chat-btn-img"
      src="assets/chatbot/chatbot_home_screen.svg"
      alt="icon"
    />
  </button>
  <app-chat-window
    *ngIf="!chatwindowClosed"
    [chatWindowClosed]="chatwindowClosed"
    [overlayOpen]="overlayOpen"
    [currentDateTime]="currentDateTime"
    (chatWindowClosedEmitter)="updateChatWindow($event)"
  ></app-chat-window>
</div>
