.chat-btn {
  position: fixed;
  bottom: 4vh;
  right: 3%;
  z-index: 100;
  width: 80px;
  height: 90px;
  outline: none;
  border-radius: 50%;
  background: transparent;
  border-color: transparent;
}

.chat-btn-img {
  position: fixed;
  bottom: 4vh;
  right: 3%;
  z-index: 100;
  width: 80px;
  border-color: white;
}

.chat-btn-img:hover {
  opacity: 0.8;
}


@media screen and (max-width: 576px) {
  .chat-btn {
    bottom: 0;
    height: 65px;
    min-width: 40px;
    width: 50px;
    right: 4.5%;

  }
  .chat-btn-img {
    bottom: 0;
    width: 60px;
  }
}
@media screen and (max-height: 500px) {
  .chat-btn {
    bottom: 0;
    z-index: 100;
  }
}
