<!-- <div class="card-header text-center">
  SAVED FORMS
</div> -->
<ul class="list-group" id="forms-data">
  <div id="add-new-form" class="mx-auto my-3">
    <button mat-raised-button color="primary" (click)="onAddNewForm()">
      <mat-icon>add</mat-icon>
      Add new form
    </button>
  </div>
  <div class="" id="saved-forms-heading">Saved Forms</div>
  <!-- <li class="list-group-item" *ngFor="let obj of objects" (click)="problemClicked(obj)" [ngClass]="obj === selectedObject ? 'selected' : ''">
    {{(obj.problem || obj.name).substring(0, 25)}}
  </li> -->
  <button mat-menu-item
    *ngFor="let obj of objects; let i = index"
    (click)="problemClicked(obj)" [ngClass]="obj === selectedObject ? 'selected' : ''"
    >
    {{i+1}}.  {{(obj.problem || obj.name).substring(0, 25)}}</button>
</ul>
