<!-- <div class="card-header text-center">
  SAVED FORMS
</div> -->
<ul class="list-group" id="forms-data">
  <div id="add-new-form">
    <button mat-menu-item (click)="onAddNewForm()">
      Create new form
    </button>
  </div>
  <div id="delete-form">
    <button mat-menu-item [disabled]="!object" (click)="onDeleteForm(object)">
      Delete form
    </button>
  </div>
  <!--  <div class="" id="saved-forms-heading">Saved Forms</div>-->
  <!-- <li class="list-group-item" *ngFor="let obj of objects" (click)="problemClicked(obj)" [ngClass]="obj === selectedObject ? 'selected' : ''">
    {{(obj.problem || obj.name).substring(0, 25)}}
  </li> -->
  <mat-accordion (click)="$event.stopPropagation()">
    <mat-expansion-panel [hideToggle]="objects.length < 1">
      <mat-expansion-panel-header>
        Saved Forms
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <div>
          <button
            mat-menu-item
            *ngFor="let obj of objects; let i = index"
            (click)="problemClicked(obj)"
            [disabled]="obj === selectedObject"
            [ngClass]="obj === selectedObject ? 'selected' : ''"
          >
            {{ i + 1 }}.
            {{
              (
                obj.problem ||
                obj.name ||
                obj.situation ||
                obj.belief ||
                obj.worry
              ).substring(0, 25)
            }}
          </button>
        </div>
      </ng-template>
    </mat-expansion-panel>
  </mat-accordion>
  <!-- </div> -->
</ul>
