.selected {
  background-color: #f3b54f;
}


#saved-forms-heading{
  color: grey;
  font-size: 12px;
  margin-left: 4%;
}

#forms-data{
  min-width: 200px;
}
@media screen and (max-width: 992px) {
  #saved-forms-heading{
    font-size: 0.8rem;
  }

}

.mat-expansion-panel-header{
  padding: 0 16px;
}
.mat-expansion-panel{
  box-shadow: none;
}

.mat-expansion-panel-body {
  padding: none;
  padding-left: 16px;
}