@import "color.palette.scss";

.category-card {
    display: inline-block;
    width: 30%;
    border-top: 3px solid $treadwill-black;
    top: 20px;
    position: relative;
    img {
        background-color: white;
        position: absolute;
        top: -35px;
        left: -10px;
    }
}
.category-card.last {
    width: 0px;
}
.category-card.first {
    margin-left: 20px;
}
.category-card.active {
    border-top: 3px solid $treadwill-disabled;
}
.category-card.locked {
    border-top: 3px solid $treadwill-disabled;
}