<div class="container-fluid">
  <!--    header-->
  <div class="row sticky-top align-items-center" id="top-logo">
    <div class="col px-0"  style=" cursor: pointer;">
      <img src="../../../assets/shared/logo_full.svg"
           class="w-100 log-img">
    </div>
    <div class="col-5 mt-2 pl-0">
<!--      <p  class="text-property my-0"> <b>  Step 3 </b></p>-->
    </div>
    <div class="bar w-100 mt-auto">
    </div>
  </div>
  <!--    till here-->
    <div class="m-medium row mx-1 my-3">
        Thanks for your interest in TreadWill.
    </div>

    <div class="row mx-1 my-3 thank-you-text"  style=" display:block;">
      We have sent the sign up link in the email id you provided. <a (click)= "resendEmail()" [routerLink]=""  >Click here</a> to resend the email.
      <br><br>
      If you don't see the mail please check your spam/junk folder and move the mail back to inbox. If you still don't receive any email, please <a (click)= "contactUsClicked()" [routerLink]="">let us know</a>.
    </div>
</div>

