//@import "../../shared/common-styles.scss";
@import "../aiims-registration-step-four/aiims-registration-step-four.component";

.thank-you-text{
    color: #707070;
    font-size: 14px;
    font-family: "Roboto";
}
a{
  color: #707070;
}
