@import '../techniques.component.scss';

.finalText {
  text-align: center;
  color: #00000099;
}
.imageSummary {
  width: 20px;
}
.mat-expansion-panel-body {
  padding: 0 2px 16px;
}
.text {
  color: #00000099;
}
.text-centre {
  color: #00000099;
}
