<div class="container-fluid" id="main_div">
	<div class="ibGame-page center-element">
    
  <div class="h-100" id="game_main_div">
    <div class="row game-first-page justify-content-center align-items-center">
      <img id="frontpage-image"
        src="../../../../../../assets/games/interpretation_bias_game/images/frontpage_image.png"
        class="col ">
    </div>
  </div>
      
<!-- GAME PLAY - START -->
  <div class="row game d-none" >
      <!-- for score and timer info -->
    <div id="score-col" 
      class="score-col col-2 pb-0 changes-width d-none border-bottom border-light">   
      <div class="row d-flex " style="margin-top: 3%">
        <div id="score_info" class="d-inline justify-content-start score_info" >SCORE:
          <div id="score" class="d-inline score"></div>
        </div> 
        <div class="showTimer justify-content-end " id="showTimer">
          <div class="d-inline">
            <img class="clock mr-2" 
                id="ibgame-clock-png"
                src="../../../../../../assets/games/time_transparent.png">
            <img class="clock mr-2 d-none"
                id="ibgame-clock-gif"
                src="../../../../../../assets/games/interpretation_bias_game/images/Group 1919.gif">
          </div>
          <div class="d-inline-block countdown ml-2" id="countdown"></div>
        </div> 
      </div>  
      <div class="row mt-2">
        <div class="col-2 px-1 barsDiv smallest-font w-75 justify-content-start">
          <div class="float-left">
            <img src="../../../../../../assets/games/Gold badge symbol.svg">
          </div>
          <div class="float-right pr-1">
            {{goldNumber}}
          </div>
          <mat-progress-bar class="goldBar"
            mode="determinate" 
            [value]="goldValue">
          </mat-progress-bar>
        </div>
        <div class="col-2 px-1 barsDiv smallest-font w-75 justify-content-start">
          <div class="float-left">
            <img src="../../../../../../assets/games/Silver badge symbol.svg">
          </div>
          <div class="float-right pr-1">
            {{silverNumber}}
          </div>
          <mat-progress-bar class="silverBar"
            mode="determinate" 
            [value]="silverValue">
          </mat-progress-bar>
        </div>
        <div class="col-2 px-1 barsDiv smallest-font w-75 justify-content-start">
          <div class="float-left">
            <img src="../../../../../../assets/games/Bronze badge symbol.svg">
          </div>
          <div class="float-right pr-1">
            {{bronzeNumber}}
          </div>
          <mat-progress-bar class="bronzeBar"
            mode="determinate" 
            [value]='bronzeValue'>
          </mat-progress-bar>
        </div>
        
        <div class="col"></div>
        <div class="col-3 px-1 smallest-font ">
          <div class="row px-0">
            <div class="col-6 px-0 text-left">
              easy
            </div>
            <div class="col-6 px-0 text-right">
              hard
            </div>
          </div>
          <div class="row border border-dark rounded" 
            style="padding: 0.35px;">
            <mat-progress-bar class="difficultyBar my-auto"
              mode="determinate" 
              [value]="difficultyValue">
            </mat-progress-bar>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="col-1 extra-col changes-width d-none"></div> -->
  
    <div class="col-6 justify-content-center changes-width pt-2 pb-0 sentence-col">
      <div class="row w-100 sentence-row justify-content-center medium-font d-none">
        <div class="col w-100 stars-sen">
          <div class="stars text-center">
            <p id="stars" style="letter-spacing: 1.5px" ></p>
          </div>
        </div>
      </div>
        
      <!-- GRID -->
      <div class="row w-100 canvas-row align-center changes-width d-none">
        <div class="col w-100" id="canvas-div">
          <div class="col tip center-element w-100" >
            <div class="center-element">
              <div class="text tip-text small-font d-inline" id="tip-text">
              </div>
              <img
                class="d-none"
                id="hint-img-tip"
                style="height: 19px"
                src="../../../../../../assets/games/hint.png">
            </div>
          </div> 
          <div class="col w-100 h-100">
            <div class="px-1 float-left" style="height: 83%;">
              <div class="row py-1" 
                *ngFor="let ind of getArray(No_progress_bars); let i = index" 
                #progressBar 
                [ngClass]="updateProgressBar(progressBar)">
                <div class="h-100 progress progress-bar-vertical" 
                  [attr.id]="'ibg-pBar' + (i+1)">
                  <div class=" progress-bar" role="progressbar" 
                    aria-valuenow="30" 
                    aria-valuemin="0" aria-valuemax="100">
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <canvas id="canvas" class="rounded" ></canvas>
            </div>            
          </div>
        </div>
      </div>
    </div>

    <div class="col hints-col d-none" >
      <!-- CONTROLS -->
      <div class="row row-height-100 changes-width justify-content-end">
        <mat-menu class="w-100 h-100" class="hints-menu ml-2"
          #ibgHints="matMenu" xPosition="after" yPosition="above">
            <button mat-menu-item id="showWord" 
              class="btn-hint px-2 showWord text-center hints-menu-items">
                Show a word
            </button>
            <button mat-menu-item id="showCoordinates"
              class="btn-hint px-2 showCoordinates text-center hints-menu-items">
                Get position of first letter of a word
            </button>
            <button mat-menu-item id="increase_time" 
              class="btn-hint px-2 increase_time text-center hints-menu-items">
              Add 20s to the clock
            </button>
        </mat-menu>
      
        <div class="col w-100 h-100 hint-div mx-0" >
          <button mat-icon-button [matMenuTriggerFor]="ibgHints"
            class="float-left px-3 h-100">
            <img class="img-btn my-0 align-bottom"
              (click) = "onHintClick()"
              src="../../../../../assets/games/hint.png">
          </button>
          <div id="showWordResult" class="px-3 h-100 d-none small-font ">
            <div id="aWord" class="h-100 pr-2 "></div>
          </div> 
          <div id="showCoordResult" class="px-3  h-100 d-none small-font">
            <div id="wordCoordinates" class="h-100 pl-4"></div>
          </div> 
        </div>
      </div>
    </div>
<!-- GAME OVER -->
    <div class="col game-over-row d-none">
      <div class="row-height-100 d-flex flex-row justify-content-center align-items-center game-over-flex-row d-none">
        <div id="timeup1" class="timeup1 d-none">
          <p class="text-dark large-font text-center" 
              style="background-color: rgba(255,255,255,0.5)">Time's Up!</p>
          <div class="row timeup1-div medium-font p-2">
            <div class="col align-items-center changes-width">
              <div class="row p-3 timeup-btn-div w-100">
                <div class="col justify-content-center align-items-center timeup-btn-in-div">
                  <img id="btn-try-again"
                    class="btn-try-again img-btn"
                    src="../../../../../assets/games/replay.png">
                </div>
                <div class="lifeline-cost-div col p-1">
                  <p class="lifeline-cost medium-font">Try Again </p>
                </div>
              </div>
            </div>
            <div class="col align-items-center changes-width">
              <div class="row p-3 timeup-btn-div">
                <div class="col justify-content-center align-items-center timeup-btn-in-div">
                  <img id="btn-borrow-time" 
                    class="btn-borrow-time img-btn"
                    src="../../../../../assets/games/time.png">
                </div>
                <div class="lifeline-cost-div col p-1">
                  <p class="lifeline-cost medium-font">Add 20s to the clock for 20 points </p>
                </div>
              </div>
            </div>
            <div class="col align-items-center changes-width">
              <div class="row p-3 timeup-btn-div">
                <div class="col justify-content-center align-items-center timeup-btn-in-div">
                  <img id="btn-other-sentence"
                    class="btn-other-sentence img-btn"
                    (click) = 'storeUserScoreInfo()'
                    src="../../../../../assets/games/forward.png">
                </div>
                <div class="lifeline-cost-div col p-1">
                  <p class="lifeline-cost medium-font">Go to the next sentence for 100 points</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      
        <div align="center" id="timeup2" class="timeup2 d-none">
          <p class="text-dark large-font" 
              style="background-color: rgba(255,255,255,0.5)">
              Time's Up </p> 
          <div class="row timeup2-div medium-font p-2">
            <div class="col align-items-center changes-width">
              <div class="row p-3 timeup-btn-div">
                <div class="col justify-content-center align-items-center timeup-btn-in-div">
                  <img id="btn-borrow-time-again" 
                    class="btn-borrow-time-again col justify-content-center img-btn"
                    src="../../../../../assets/games/time.png">
                </div>
                <div class="lifeline-cost-div col p-1">
                  <p class="lifeline-cost medium-font">Add 20s to the clock for 30 points </p>
                </div>
              </div>
            </div>
            <div class="col align-items-center changes-width">
              <div class="row p-3 timeup-btn-div">
                <div class="col justify-content-center align-items-center timeup-btn-in-div">
                  <img id="btn-give-up" 
                    class="btn-give-up col img-btn"
                    src="../../../../../assets/games/interpretation_bias_game/images/show_sentence.png">
                </div>
                <div class="lifeline-cost-div col p-1">
                  <p class="lifeline-cost medium-font">Show the sentence for 35 points </p>
                </div>
              </div> 
            </div>
          </div>
        </div>
      </div>
    </div>
      
<!-- MAIN TRAINING -->
    <div class="col h-75 sentence-word-row large-font d-none">
      <div class="row-height-100 row justify-content-center">
          <p id="congrats-msg" 
            class="congrats-msg my-auto medium-font text-center d-none"> 
            Great! Now you will see the whole sentence.  </p>
        <div id="lastPage" 
          class="row w-100 row-height-100 justify-content-center result-score d-none">
          <div class="col mt-5 mb-auto py-4 rounded bg-light" 
            style="max-width: 90%">
            <div class="row justify-content-center">
              <p class="d-none text-dark center-element" 
                  id="correct"> <b> Correct </b> </p>
              <p class="d-none text-dark center-element" 
                id="wrong"> <b> Wrong </b>  </p> 
            </div>
            <div class="row">
              <p class="w-75 medium-font mx-auto" style="color: #636363"
                id="sincerity-message"></p>
            </div>
            <div class="row justify-content-center">
              <p id="bonusScore" style="color: #636363"> </p>
            </div>
            <div class="row">
              <p class="d-none w-50 rounded text-dark bg-light center-element" 
                id="levelup"> Wonderfull!! You have completed the level. 
                  Let's see your performance in next level. </p>
            </div>
            <div id="btn-next-sentence" (click)="nextSentenceClicked()" 
              class="w-50 mx-auto py-3 my-2">
              Next Sentence
            </div>
          </div>  
          <!-- <div class="col justify-content-end align-self-end lastpage-icons"
            style="min-width: 100%"> -->
            <!-- <div class="row mx-4 justify-content-center d-none" id="easy_game-div">
              <button id="easy_game" 
                class="btn btn-light mx-1 p-2"
                > Increase Time</button>
            </div>
            <div class="row mx-4 justify-content-center d-none" id="hard_game_div">
              <button id="hard_game" 
                class="btn btn-light mx-1 p-2"
                > Decrease Time</button>
            </div> -->
        </div>
      </div>
    </div>
  </div>
  </div>
</div>