/* You can add global styles to this file, and also import other style files */
@import "styles.scss";
@import "../../../shared/games-common.scss";
.ibGame-page{
	margin: auto;
	align-content: center;
	align-items: center;
	text-align: center;
	flex-direction: row;
	max-width: 100%;
	height: 100%;
	max-height: 100%;
}
p{
	margin: 0%;
	padding: 0%;
}
.container-fluid{
	// background-image: url("/assets/games/interpretation_bias_game/images/background.png");
	background-color: #C7FBFF;
	max-width: 100%;
	height: 100%;
	max-height: 100%;
	padding-right: 0px !important;
	padding-left: 0px !important;
}
.game,.game-first-page{
	// background-image: url("/assets/games/interpretation_bias_game/images/Automatic Interpretive Bias.png");
	// background-size: 95%;
	// background-position: center;
	// background-repeat: no-repeat;
	height: 100%;
	max-height: 100%;
	text-align: center;
	max-width: 100%;
}
#frontpage-image{
	max-width: 35%;
}
.score-col{
	min-height: 14%;
	max-height: 15%;
}
.stars,.selected-word{
	margin: auto;
	max-width: 88%;
}
.clock{
	max-width: 20px;
	margin: 2px;
}
.row-height-100 {
	height: 100%;
}
.timeup1, .timeup2{
	max-width: 60%;
	min-height: 40%;
	background-color: rgba(255,255,255,0.5);
}
.timeup-btn-in-div{
	min-width: 100%;
}
// .question-word,.complete-sentence{
// 	max-width: 60%;
// }
.color-change{
	color:#45b9bc;
}
.hints-col{ 
	margin-bottom: 3.4px;
}
#aWord, #wordCoordinates{
	margin-left: 0%;
	max-width: 61%;
	height: 91%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 91%;
	background-image: url("/assets/games/button_big.svg");
	line-height: 13px;
	padding-top: 10px;
}
canvas{
	max-width: 100%;
	background-color: white;
}
#canvas-div{
	padding-left: 0%;
	padding-right: 0%;
}
.row{
	margin-left: 0px;
	margin-right: 0px;
}

.col, .col-12{
	padding-right: 0px;
	padding-left: 0px;
}

.material-icons{
	color: black;
}

.rotate-180{
	-webkit-transform:rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

.lifeline-cost{
	margin: auto;
	max-width: 90%;
}
.lifeline-cost-div{
	max-width: 100%;
	text-align: center;
	display: block;
}
.tip{
	min-height: 52px;
	color: #449798 ;
	max-width: 80%;
}
.progress-bar-vertical {
	width: 10px;
	float: left;
	background-color: rgba(28, 152, 155, 0.5);
  }
  
.progress-bar-vertical .progress-bar {
	width: 100%;
	height: 0;
	-webkit-transition: height 0.6s ease;
	-o-transition: height 0.6s ease;
	transition: height 0.6s ease;
}

::ng-deep.hints-menu {
	min-width: 200px !important;
	max-width: 300px !important;
	max-height: 50vh !important;
}
::ng-deep.hints-menu-items{
	min-height: 65px;
}
.barsDiv{
	max-width: 40px !important;
}
.bronzeBar {
	::ng-deep.mat-progress-bar-fill::after {
		background-color: #B27725;
	}	
}
.silverBar{
	::ng-deep.mat-progress-bar-fill::after {
		background-color: #9E9E9E;
	}
}
.goldBar{
	::ng-deep.mat-progress-bar-fill::after {
		background-color: #D5A521;
	}
}
.difficultyBar{
	max-height: 3px;
	::ng-deep.mat-progress-bar-fill::after {
		background-color: #000000;
	}
}


#btn-next-sentence{
	background-image: url("/assets/games/button_big.svg"); 
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	cursor: pointer;
	font-size: 14px;
}
  
@media only screen and (max-width: 991px) and (max-width: 767px) {
	/* For mobile phones: */
	.ibGame-page {
		padding: 0px;
		margin: 0px;
		max-width: 100%;
		min-height: 100%   
	}
	.paused-game-btns{
		display: inline;
	}
	.container-fluid{
		// background-image: url("/assets/games/interpretation_bias_game/images/background_mobile.png");
		max-width: 100%;
		min-height: 100%;
	}
	.game,.game-first-page{
		// background-image: url("/assets/games/interpretation_bias_game/images/aib_mobile.png");
		// background-repeat: no-repeat;
		// background-size: 35%;
		// background-position-x: 4%;
		text-align: center;
		width: 100%;
		min-height: 100%; 
	}
	#frontpage-image{
		max-width: 40vw;
	}
	.showTimer{
		display: inline;
		margin-left: auto;
	}
	.timeup1, .timeup2 {
	// .question-word,.complete-sentence
		max-width: 80%;
		margin: auto;
	}
	.timeup-btn-in-div{
		min-width: 50%;
		max-width: 70%;
	}
	.lifeline-cost-div{
		max-width: 65%;
		display: inline-block;
		text-align: center;
		// margin-left: auto;
	}
	// .btn-hint{
		// max-width: 100px;
		// margin: auto;
		// margin-top: 0.5% ;
	// }
	#hint-div{
		margin-left: 5%;
		margin-top: 0%;
	}
	// .showWord,.showWordResult{
		// margin-left: 2%;
		// margin-right: auto;
	// }
	// .show_coordinates,#showCoordResult{
		// margin-left: auto;
		// margin-right: auto;
	// }
	// .increase_time{
		// margin-left: auto;
		// margin-right: 1%;
	// }
	.pause-hints{
		max-width: 35%;
	}
}


