<mat-expansion-panel
  hideToggle
  #panel
  (afterExpand)="techniqueExpanded.emit()"
  (afterCollapse)="panelCollapse()"
>
  <mat-expansion-panel-header
    [ngStyle]="{ background: headerColor, paddingLeft: '1rem' }"
  >
    <mat-panel-title
      [ngStyle]="{
        'font-size': panel.expanded ? '1rem' : '14px',
        'font-weight': '500'
      }"
    >
      What is the proof?
    </mat-panel-title>
    <mat-panel-description>
      <div class="iconsDiv" *ngIf="panel.expanded">
        <mat-icon>close</mat-icon>
      </div>
      <div class="iconsDiv" *ngIf="!panel.expanded && summary">
        <img src="assets/forms/edit_errors.png" width="24px" />
      </div>
    </mat-panel-description>
  </mat-expansion-panel-header>

  <form [formGroup]="proofStatementForm">
    <div>
      <app-evidences
        [title]="favorTitle"
        [control]="favorEvidences()"
        [type]="forType"
        [id]="id"
        [service]="service"
        (setSummary)="setSummary($event)"
      ></app-evidences>
      <br /><br />
      <app-evidences
        [title]="againstTitle"
        [control]="againstEvidences()"
        [type]="againstType"
        [id]="id"
        [service]="service"
        (setSummary)="setSummary($event)"
      ></app-evidences>
    </div>
    <br /><br />

    <button
      mat-raised-button
      class="btn continue-btn"
      [ngStyle]="{ float: 'right' }"
      (click)="onSubmit()"
      type="button"
    >
      Done
    </button>
  </form>
  <br /><br />
</mat-expansion-panel>

<app-summary-card
  [cardHeading]="summaryHeading"
  [summary]="summary"
  [expanded]="panel.expanded"
></app-summary-card>
