<mat-expansion-panel hideToggle #panel>
  <mat-expansion-panel-header
    [ngStyle]="{ background: headerColor, paddingLeft: '16px' }"
  >
    <mat-panel-title
      [ngStyle]="{
        'font-size': panel.expanded ? '16px' : '14px',
        'font-weight': '500'
      }"
    >
      What is the proof?
    </mat-panel-title>
    <mat-panel-description>
      <div class="iconsDiv" *ngIf="panel.expanded">
        <mat-icon>close</mat-icon>
      </div>
      <div class="iconsDiv" *ngIf="!panel.expanded && summary">
        <img src="assets/forms/edit_errors.png" width="24px" />
      </div>
    </mat-panel-description>
  </mat-expansion-panel-header>

  <ng-template matExpansionPanelContent>
    <form [formGroup]="proofStatementForm">
      <div>
        <app-evidences
          [title]="favorTitle"
          [control]="favorEvidences"
          [type]="forType"
          [id]="id"
          [service]="service"
          (setSummary)="setSummary()"
        ></app-evidences>
        <br /><br />
        <app-evidences
          [title]="againstTitle"
          [control]="againstEvidences"
          [type]="againstType"
          [id]="id"
          [service]="service"
          (setSummary)="setSummary()"
        ></app-evidences>
      </div>
      <br /><br />

      <button
        mat-raised-button
        class="btn continue-btn"
        [ngStyle]="{ float: 'right' }"
        (click)="onSubmit()"
      >
        Done
      </button>
    </form>
    <br /><br />
  </ng-template>
</mat-expansion-panel>

<app-summary-card
  [summary]="summary"
  [expanded]="panel.expanded"
></app-summary-card>
