.square, .fifteen-puzzle-square, .nine-puzzle-square, .three-puzzle-square{ 
	background-color: white; 
	margin-right: 3px;
	margin-bottom: 3px;
	margin-left: 3px;
	margin-top: 3px;
	text-align: center;
	vertical-align: middle;
	color: #0073B6;
	/* line-height: 1; */
	width: 50px;
	border: solid 3px;
	border-radius: 10px;
	font-size: x-large;
}

.gap-fifteen, .gap-nine, .gap-three{
	/* background-color: lightgrey !important; */
	background-image: linear-gradient(to right, 
									#ffffff, 
									#d7d7ec, 
									#a8b3da, 
									#7091c8, 
									#0073b6) !important;
}

.give-up-text-red{
	color: red;
	font-size: medium;
}

.give-up-text-black{
	color: white !important;
	font-size: medium;
}

li{
	display: unset;
}
