<div class="container-fluid">
    <app-trial-pages-header></app-trial-pages-header>
  <div *ngIf="!userExcluded">
    <div class="row mx-1 my-3 thank-you-text" >
      Thanks for your interest in TreadWill.
    TreadWill is an experimental tool designed to help individuals with depressive symptoms. It is not suitable for everybody at this point.
      We have detected that TreadWill won't be useful to you.
      To get help, please contact a mental health professional near you.
  </div>
  </div>
  <div *ngIf="userExcluded">
    <div class="m-medium row mx-1 my-3">
        You need more help.
    </div>

    <div class="row mx-1 my-3 thank-you-text" >
      From your most recent scores, it looks like you might need more help.
      In this situation, it is essential to take professional help (for example, an experienced psychiatrist) and not rely on self-help tools like TreadWill.
      <br>
      So, we are restricting your access to TreadWill, as we think it will not be of much help to you.
      We encourage you to visit a psychiatrist nearby and seek immediate support.
      <br>
      Have patience; the future will improve. You will feel better.
      It might not feel like it right now, but this too shall pass.
    </div>

    <div class="row mx-1 my-3 thank-you-text">
        In the meantime, if you are facing problems or having thoughts about harming yourself,
        we strongly encourage you to seek help from a professional counsellor or psychiatrist
        in your area.
    </div>
  </div>
</div>

