<div class="container-fluid">
    <app-trial-pages-header></app-trial-pages-header>
    <div class="m-medium row mx-1 my-3">
        Thanks for your interest in TreadWill.
    </div>
    
    <div class="row mx-1 my-3 thank-you-text" >
        The current version of TreadWill has been designed for certain user groups, 
        and we have determined that it may not be useful to you at present. TreadWill 
        team is working to make it useful for all user groups, and we will contact you 
        later once we have a new version ready. 
    </div>

    <div class="row mx-1 my-3 thank-you-text">
        In the meantime, if you are facing problems or having thoughts about harming yourself,
        we strongly encourage you to seek help from a professional counsellor or psychiatrist
        in your area.
    </div>
</div>

