<div class="options-heading">
  <h4 class="identify">Identify the thinking errors ({{correct.length}})</h4>
</div>

<div class="row justify-content-center" *ngIf="showBar">
  <!-- <div class="  errorBar rounded ml-1 mr-1" *ngFor="let item of correct; index as i"
    [ngClass]="{'errorsFound' : optionStatusCount === i+1 || optionStatusCount === i+2 || optionStatusCount === i+3}">
  </div> -->
  <div class="errorBar rounded ml-1 mr-1" [style.width]=" errorBarWidth + 'px'" *ngFor="let item of correct; index as i"
    [ngClass]="{'errorsFound' : optionStatusCount === i+1 || optionStatusCount === i+2 || optionStatusCount === i+3}">
  </div>

</div>
<div class="options-content" #checkElement [ngStyle]=" {'pointer-events' : blurred ? 'none' : 'auto' }" >
  <div class="group-1 mr-1">
    <button (click)="onOptionClick(optionOne, $event)">
      {{optionOneDistortion}}</button>
    <button (click)="onOptionClick(optionThree, $event)">
      {{optionThreeDistortion}}
    </button>
    <button (click)="onOptionClick(optionFive, $event)">
      {{optionFiveDistortion}}
    </button>
  </div>
  <div class="group-2 mr-1">
    <button (click)="onOptionClick(optionTwo, $event)">
      {{optionTwoDistortion}}
    </button>
    <button (click)="onOptionClick(optionFour, $event)">
      {{optionFourDistortion}}
    </button>
    <button (click)="onOptionClick(optionSix, $event)">
      {{optionSixDistortion}}
    </button>
  </div>
</div>
