<div class="options-heading">
    <h4 class="identify">Identify the thinking errors ({{correct.length}})</h4>
    </div>
 
     <div class="row justify-content-center" >
        <div class="  errorBar rounded ml-1 mr-1" 
          *ngFor= "let item of correct; index as i"
          [ngClass]="{'errorsFound' : optionStatusCount === i+1 || optionStatusCount === i+2 || optionStatusCount === i+3}">
        </div>
       
     </div>
    <div class="options-content" #checkElement>
      <div class="group-1 mr-1">
          <button (click)="onOptionClick(optionOne)" style="cursor: pointer;">
            {{optionOneDistortion}}</button>
          <button (click)="onOptionClick(optionThree)" style="cursor: pointer;">
            {{optionThreeDistortion}}
          </button>
          <button (click)="onOptionClick(optionFive)" style="cursor: pointer;">
            {{optionFiveDistortion}}
          </button>
      </div>
      <div class="group-2 mr-1">
          <button (click)="onOptionClick(optionTwo)" style="cursor: pointer;">
            {{optionTwoDistortion}}
          </button>
          <button (click)="onOptionClick(optionFour)" style="cursor: pointer;">
            {{optionFourDistortion}}
          </button>
          <button (click)="onOptionClick(optionSix)" style="cursor: pointer;">
            {{optionSixDistortion}}
          </button>
      </div>
    </div>
    