.lg-game-container{
    height: 100%;
    width: 360px;
    // overflow: scroll;
    background: #EEFFFA;
    // background: #a2e2ec;
    // display: flex;
}

.main{
    height: 100%;
    width: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
}

// #lg-game-container{
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }

.lhgame-btn{
    min-width: 80px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.puzzborder{
    background-color: #C4FBFF;
    background-size: 120px 120px;
    border:#0067AD 1px solid;
    border-radius: 13px;
    justify-content: center;
    align-items: center;
    opacity: 1;
}

.puzzborderfifteen{
    background-color: #C4FBFF;
    background-size: 230px 230px;
    border: #0067AD 1px solid;
    border-radius: 13px;
    justify-content: center;
    align-items: center;
    opacity: 1;
}

.puzzborderfour{
    background-color: #C4FBFF;
    background-size: 60px 60px;
    border:#0067AD 1px solid;
    border-radius: 13px;
    justify-content: center;
    align-items: center;
    opacity: 1;
}

.lhgame-btn2{
    min-width: 130px;
    margin: 5px;
    
}

.flex-container{
    display: flex;
    justify-content: center;

}

.instructions{

    position: absolute;
     bottom: 0;
  }

  .mat-new {
    background-color: #2AC79B !important;
    border-color: #2AC79B !important;
    color: #FFF;
    font-size:16px;
  }