<div class="container-fluid lg-game-container" id="lg-game-container" tabindex="0">
	<div class="main" >
	<div class="lhg-image justify-content-center" id="lhg-cover">
		<img id="lhg-image" src="../../../../../../assets/games/learning-helplessness/assets/Start page graphic.png">
	<!-- </div>
	<div class="lhg-text justify-content-center"> -->
		<p class="my-4" id="lhg-text"><b>LEARNED HELPLESSNESS</b></p>
	</div>	
	
	
	<!-- unsolvable game 1 start -->
	<div class="row d-none justify-content-center" id="grid-puzzle-row">
		<div id="three-puzzle-squares" class="col-auto justify-content-md-center puzzborderfour px-0">
			<div style="vertical-align: middle;">
			<div style="display: inline-flex;">
				<div id="three-puzzle-square-1" class="three-puzzle-square">3</div>
				<div id="three-puzzle-square-2" class="three-puzzle-square">1</div>
			</div>
			<br>
			<div style="display: inline-flex;">
				<div id="three-puzzle-square-3" class="three-puzzle-square gap-three"></div>
				<div id="three-puzzle-square-4" class="three-puzzle-square">2</div>
			</div>
			</div>
			<br>
			<br><br><br>
			
			<div class="d-none greatDiv" id="grid-puzzle-success-message"><b>Great</b></div>
			<div class="flex-container">	
				<!-- <button id="btn-reset-three" class="lhgame-btn">Reset</button> -->
				
					<button mat-raised-button id="btn-reset-three" class="lhgame-btn" [color]="'new'"  type="button">Reset</button>
			</div>
		</div>

		<div id="fifteen-puzzle-squares" class="col-auto justify-content-md-center d-none">
			<div class="puzzborderfifteen justify-content-md-center">
			<div style="display: inline-flex;">
				<div id="fifteen-puzzle-square-1" class="fifteen-puzzle-square">1</div>
				<div id="fifteen-puzzle-square-2" class="fifteen-puzzle-square">2</div>
				<div id="fifteen-puzzle-square-3" class="fifteen-puzzle-square">3</div>
				<div id="fifteen-puzzle-square-4" class="fifteen-puzzle-square">4</div>
			</div>
			<br>
			<div style="display: inline-flex;">
				<div id="fifteen-puzzle-square-5" class="fifteen-puzzle-square">5</div>
				<div id="fifteen-puzzle-square-6" class="fifteen-puzzle-square">6</div>
				<div id="fifteen-puzzle-square-7" class="fifteen-puzzle-square">7</div>
				<div id="fifteen-puzzle-square-8" class="fifteen-puzzle-square">8</div>
			</div>
			<br>
			<div style="display: inline-flex;">
				<div id="fifteen-puzzle-square-9" class="fifteen-puzzle-square">9</div>
				<div id="fifteen-puzzle-square-10" class="fifteen-puzzle-square">10</div>
				<div id="fifteen-puzzle-square-11" class="fifteen-puzzle-square">11</div>
				<div id="fifteen-puzzle-square-12" class="fifteen-puzzle-square">12</div>
			</div>
			<br>
			<div style="display: inline-flex;">
				<div id="fifteen-puzzle-square-13" class="fifteen-puzzle-square">13</div>
				<div id="fifteen-puzzle-square-14" class="fifteen-puzzle-square">15</div>
				<div id="fifteen-puzzle-square-15" class="fifteen-puzzle-square">14</div>
				<div id="fifteen-puzzle-square-16" class="fifteen-puzzle-square gap-fifteen"></div>
			</div>
			</div>
			<br><br><br>
			<div class="flex-container justify-content-center">
				
				<!-- <button id="btn-reset-fifteen"class="lhgame-btn">Reset</button> -->
				<button mat-raised-button id="btn-reset-fifteen" class="lhgame-btn" 
						[color]="'new'" type="button">Reset</button>

				<!-- <button id="btn-give-up-fifteen" 
					(click) = "updateUnsolvableTask1Data(true)"
					class="d-none give-up-text-red lhgame-btn2">I give up</button> -->
				<button mat-raised-button id="btn-give-up-fifteen" 
						class="d-none give-up-text-red lhgame-btn2" [color]="'new'" 
						(click)="updateUnsolvableTask1Data(true)" type="button">I give up</button>

			</div>
		</div>

		<div id="nine-puzzle-squares" class="col-auto puzzbordernine justify-content-md-center d-none px-0">
			<!-- <div>
				<div>
					Okay, here is a simpler one. Try to solve this.
				</div>
			</div> -->
			<div style="vertical-align: middle;">
			<div style="display: inline-flex;">
				<div id="nine-puzzle-square-1" class="nine-puzzle-square">1</div>
				<div id="nine-puzzle-square-2" class="nine-puzzle-square">2</div>
				<div id="nine-puzzle-square-3" class="nine-puzzle-square">3</div>
			</div>
			<br>
			<div style="display: inline-flex;">
				<div id="nine-puzzle-square-4" class="nine-puzzle-square">4</div>
				<div id="nine-puzzle-square-5" class="nine-puzzle-square">5</div>
				<div id="nine-puzzle-square-6" class="nine-puzzle-square">6</div>
			</div>
			<br>
			<div style="display: inline-flex;">
				<div id="nine-puzzle-square-7" class="nine-puzzle-square">8</div>
				<div id="nine-puzzle-square-8" class="nine-puzzle-square">7</div>
				<div id="nine-puzzle-square-9" class="nine-puzzle-square gap-nine"></div>
			</div>
		    </div>
			<br><br><br>
			<div class="flex-container ">
				
				<!-- <button id="btn-reset-nine" class="lhgame-btn">Reset</button> -->
				<button mat-raised-button id="btn-reset-nine" class="lhgame-btn" 
						[color]="'new'" type="button">Reset</button>
				<!-- <button id="btn-give-up-nine" 
					(click) = "updateUnsolvableTask1Data(false)"
					class="d-none give-up-text-red lhgame-btn2">I give up</button> -->
				<button mat-raised-button id="btn-give-up-nine" class="d-none give-up-text-red lhgame-btn2" 
						[color]="'new'" (click)="updateUnsolvableTask1Data(false)" 
						type="button">I give up</button>
				
			</div>
		</div>
	</div>
	<!-- unsolvable game 1 end -->

	<!-- unsolvable game 2 start -->
	<div class="row d-none justify-content-center" id="frog-game-row" tabindex="0">
		<div class="col-auto justify-content-md-center">  
				<div id="frog-game-space"></div>
			    <br>
				
				<div class="d-none greatDiv" id="frog-game-success-message"><b>Great</b></div>
				<div class="flex-container mb-5">
					<!-- <button id="btn-frog-game-reset" class=" lhgame-btn">Reset</button> -->
					<button mat-raised-button id="btn-frog-game-reset" class="lhgame-btn btn-frog-game" 
						[color]="'new'" type="button">Reset</button>
					<!-- <button class="d-none"
					(click) = "updateUnsolvableTask2Data()" 
					id="btn-frog-game-give-up" class="lhgame-btn2">I give up</button> -->
					<button mat-raised-button id="btn-frog-game-give-up" class="d-none lhgame-btn2 btn-frog-game" 
						[color]="'new'" (click)="updateUnsolvableTask2Data()" type="button">I give up</button>
					
			   </div>
		   </div>	
	  </div>
	<!-- unsolvable game 2 end -->

	<!-- unsolvable game 3 start -->
	<div class="row d-none justify-content-center" id="box-up-game-row" tabindex="0">
		<div class="col-auto">
			<div id="box-up-game-space"></div>
			<br>
			
				<div class="d-none greatDiv " id="box-up-game-success-message"><b>Great</b></div>
				<div class="flex-container ">
				<!-- <button id="btn-box-up-game-reset" class=" lhgame-btn">Reset</button> -->
				<button mat-raised-button id="btn-box-up-game-reset" class="lhgame-btn" 
						[color]="'new'" type="button">Reset</button>
				<!-- <button class="d-none" 
					(click) = "updateUnsolvableTask3Data()"
					id="btn-box-up-game-give-up" class="lhgame-btn2">I give up</button> -->
				<button mat-raised-button id="btn-box-up-game-give-up" class="d-none lhgame-btn2" 
						[color]="'new'" (click)="updateUnsolvableTask3Data()" type="button">I give up</button>
				
			</div>
		</div>
	</div>
	<!-- unsolvable game 3 end -->

	<!-- color reverse game start -->
	<div class="d-none justify-content-center" id="color-reverse-game">
		<div class="row justify-content-center">
			<div class="col-auto">
				<div class="row justify-content-center mb-3" id="color-reverse-game-level"></div>
				<div id="color-reverse-game-space"></div>
				<br>
			</div>	
		</div>
					<div class="d-none greatDiv" id="color-reverse-game-success-message"><b>Great</b></div>
					<div class="flex-container ">
					<!-- <button id="btn-color-reverse-game-reset" class="display-flex lhgame-btn"
						(click) = "updateColorReverseGameData()">Reset</button> -->
					<button mat-raised-button id="btn-color-reverse-game-reset" class="display-flex lhgame-btn" 
							[color]="'new'" (click)="updateColorReverseGameData()" type="button">Reset</button>
					<!-- <button id="btn-color-reverse-game-give-up" class="display-flex d-none lhgame-btn2">I give up</button> -->
					<button mat-raised-button id="btn-color-reverse-game-give-up" class="display-flex d-none lhgame-btn2" 
							[color]="'new'" type="button" >I give up</button>
				</div>
			
		
	</div>
	
	<!-- color reverse game end -->

	<!-- explanation start -->
	<div class="row d-none justify-content-center" id="explanation-row">
		<div class="col-auto mr-4">
			<div>
				<b class="large-font">Summary</b>
				<br><br>
				Something very interesting just happened. You gave up on a level that you were able to solve earlier. One explanation for that is <em>Learned Helplessness.</em>
				<br><br>
				<b>What is Learned Helplessness?</b>
				<br><br>
				When we fail in one area of our lives, be it career or relationships, we start giving up in other areas of our lives as well. This phenomenon is called Learned Helplessness.
				<br><br>
				Learned Helplessness is a model for depression. People who are more likely to develop Learned Helplessness are more likely to get depressed.
				<br><br>
				<b>How is this game related to Learned Helplessness?</b>
				<br><br>
				This game was designed to give you an intuitive feel for Learned Helplessness. The first set of games were solvable.
				The next set of games were not solvable and was designed to make you give up.
				After giving up on this unsolvable game, you gave up on a level you had solved earlier.
				<br><br>
				<b>What can I learn from this game?</b>
				<br><br>
				We develop Learned Helplessness when we think that we are responsible for our failure. But often there are other factors beyond our control. When you fail in anything, don't immediately jump to the conclusion that it was completely your fault. Check if there were other factors beyond your control that influenced the results. When facing a new situation, give it your best shot. Don't give up quickly because you think <em>"There is no point in trying, I am going to fail anyway."</em>
			</div>
		</div>
		<br><br>
		<div class="p-1 mr-3">
				<button mat-raised-button [color]="'home'" (click)="onGoToHome()" type="button" >Go to dashboard</button>
			  </div>
			  <div class="p-1 mr-4">
				  <button mat-raised-button [color]="'play'" (click)="onPlayAgain()" type="button" >Play again</button>
				</div>
			<div class="blankDiv"></div>
	</div>
	<!-- explanation end -->
	<div class="d-none">
		<audio controls id="ping">
			<source src="../../../../../../assets/games/learning-helplessness/assets/ping.wav" type="audio/wav">
		</audio>
		<!-- <input type="hidden" name="color-reverse-game-data-update-url" value="{% url 'findaway:updateColorReverseGameAttempt' %}">
		<input type="hidden" name="unsolvable-task1-data-update-url" value="{% url 'findaway:updateUnsolvableTask1Attempt' %}">
		<input type="hidden" name="unsolvable-task2-data-update-url" value="{% url 'findaway:updateUnsolvableTask2Attempt' %}">
		<input type="hidden" name="unsolvable-task3-data-update-url" value="{% url 'findaway:updateUnsolvableTask3Attempt' %}"> -->
	</div>
</div>
	<div class="instructions mb-1 justify-content-end float-left d-none" id="infoElement" #infoElement>
        <img style="width:42px;height:42px; "src="../../../../../../../assets/games/learning-helplessness/assets/Info Icon.png"
         (click)="openInstructionsPopup()">
    </div>
</div>
