<ng-template [ngIf]="dataLoaded && !locked">
  <mat-card  class="container-fluid px-0 pt-0 pb-2" >
    <div class="row introduction">
      <div class="col my-3  mt-md-0">
        <div >
          <mat-card-header class="title col-12 w-100 my-auto px-0">
            <mat-card-title class="my-auto d-inline-block justify-content-center py-2 ">
              Introduction
            </mat-card-title>
          </mat-card-header>
          <div class="px-3 px-lg-4 pt-4 main-div">
  <!-- Add IMAGES here -->
            <img src="assets/introduction/Are you always worried.svg" alt="Are you always worried" style="width: 100% ; margin:10px 0">

<!--            <h4 class="mt-3"></h4>-->
  <div>
    What are you currently worried about?
    <mat-form-field>
      <input matInput placeholder="Example:- I am worried about losing my job." [(ngModel)]="worryThought" (focusin)="worrySave = true" (focusout)= "worrySaveFocusOut()">
      <mat-hint *ngIf="worrySave ">Saving...</mat-hint>
    </mat-form-field>
  </div>
  <br><br>
  <div>
    Approximately, how many hours do you worry per day?
    <mat-form-field>
      <mat-select [(value)]="hours" (focusin)="hourSave = true"  (focusout)= "hourSaveFocusOut()">
        <mat-option *ngFor="let hour of wastedHours" [value]="hour">
          {{hour}}
        </mat-option>
      </mat-select>
      <mat-hint *ngIf="hourSave ">Saving...</mat-hint>
      <br><br>
    </mat-form-field>
  </div>
  <br><br>
  <div>
    Do you think that your habit of worrying interferes with your daily life? For example- does it make it difficult for
    you to concentrate on your work or your studies?
    <mat-form-field>
      <mat-select [(value)]="difficult" (focusin)="difficultSave = true" (focusout)="difficultSaveFocusOut()">
        <mat-option value="Yes">Yes</mat-option>
        <mat-option value="No">No</mat-option>
      </mat-select>
      <mat-hint *ngIf="difficultSave ">Saving...</mat-hint>
      <br><br>
    </mat-form-field>
  </div>
  <br><br>
  <div>
    Which of the following techniques do you use to try to stop worrying?
    <mat-selection-list [(ngModel)]="selectedTechniques" [ngStyle]="{'max-width': '850px'}" (focusin)="techniqueSave = true" (focusout)="techniqueSaveFocusOut()" >
      <mat-list-option *ngFor="let technique of techniques" [value]="technique"
        [ngStyle]="{'margin-bottom': '20px', 'height': 'unset', 'opacity': '60%'}">
        {{technique}}
      </mat-list-option>
    </mat-selection-list>
    <mat-hint *ngIf="techniqueSave ">Saving...</mat-hint>
    <br><br>
  </div>
  <br><br>
  <div>
    Does it actually help you stop worrying?
    <mat-form-field>
      <mat-select [(value)]="help" (focusin)="helpSave = true" (focusout)="helpSaveFocusOut()">
        <mat-option value="Yes">Yes</mat-option>
        <mat-option value="No">No</mat-option>
      </mat-select>
      <mat-hint *ngIf="helpSave ">Saving...</mat-hint>
      <br><br>
    </mat-form-field>
  </div>
  <br><br>
  <div>
    Don’t worry if you are unable to control your worrying. In this module, you will develop skills to worry
    just the normal amount.
  </div>
  <br><br>
<br>
            <app-step-completed [showNextStep]="showNextStep" [showloading]="showloading" (completedEvent)="onCompleted()" (nextStepEvent)="onNextStep()"></app-step-completed>

          </div>
        </div>
      </div>
    </div>
  </mat-card>
</ng-template>
<ng-template [ngIf]="dataLoaded && locked">
  <div class="row">
    <div class="col">
      <div class="text-center loader">
        This content is not yet unlocked for you.
      </div>
    </div>
  </div>
</ng-template>
<ng-template [ngIf]="!dataLoaded">
  <div class="col">
    <div class="text-center loader">
      <img src="assets/shared/loading-gif.gif" alt="loader" width="80">
    </div>
  </div>
</ng-template>
