<div class="row no-gutters">
  <div class="col-1">
    <img [src]="comment.user.avatar" alt="User avatar" width="50" height="50">
  </div>
  <div class="col-11">
    <div [innerHTML]="comment.body | safeHtml"></div>
    <p>{{ comment.created_at |  date: 'medium' | timeAgo }} | Replies: {{comment.nested_comment_count}}</p>
    <a (click)="toggleReply = !toggleReply">Reply</a>
    <div class="replyForm" *ngIf="toggleReply">
      <form class="form-inline mb-2" (ngSubmit)="submitReply()" #replyForm="ngForm">
        <div class="form-group">
            <label for="body">Reply</label>
            <input type="text" name="body" class="form-control" ngModel>
        </div>
        <button type="submit" class="btn btn-success">Reply</button>
      </form>
    </div>
    <div class="show-nested-comments" *ngIf="comment.nested_comment_count > 0">
      <ng-container *ngIf="!hide">
          <app-nested-comment
            *ngFor="let ncomment of nestedComments"
            [userNestedComment]="ncomment">
        </app-nested-comment>
      </ng-container>
      <button class="btn btn-primary btn-sm" (click)="showNestedComment()" *ngIf="moreComments || hide">Fetch replies</button>
      <button class="btn btn-danger btn-sm" (click)="showLessNestedComment()" *ngIf="!hide && comment.nested_comment_count > 0 && nestedComments.length > 0">Show less</button>
    </div>
  </div>
</div>