
<div class="forms mt-3">
  <div class="row  justify-content-center justify-content-lg-between mx-0">

      <div
        class="p-1 form-div mb-lg-4 mb-md-3"
        *ngFor="let form of forms"
      >
      <mat-card
        class="pl-0 mr-0 form-card"
        (click)="navigate(form)"
        [ngStyle]="{ cursor: 'pointer' }"
      >
        <div class="img-div justify-content-center " >
          <mat-card-content> </mat-card-content>
          <img mat-card-image [src]="form.banner" width="125" height="100" (load)="removeLoading()"  [ngStyle]="{display: showLoading ? 'none' : 'inline'}" >
          <span  *ngIf="showLoading"> Loading... </span>

        </div>

        <mat-card-footer>
          <div class="form-name text-center ml-3 pl-3">
            {{ form.name }}
          </div>
        </mat-card-footer>
      </mat-card>
    </div>
  </div>
</div>
