<div class="chatbot-avatar">
  <div class="row no-gutters">
    <div class="col-3 col-md-12">
      <img src="assets/modules/chatbot.svg" class="chatbot-image" alt="chatbot" (click)="onClick()">
    </div>
    <div class="col-9 col-md-12">
      <div class="chatbot-text" (click)="onClick()">
        Hello {{user.username}}! Do you have any Questions?
        Click on me and we can chat.
      </div>
    </div>
  </div>
  <ng-template #loading>
    <div class="col-sm-9 col-lg-12">
      <img src="assets/shared/loading-gif.gif" alt="dna" >
    </div>
  </ng-template>
</div>
