@import "styles.scss";

.chatbot-avatar {
    width: 330px;
    margin: 0 auto;
    .chatbot-image {
        width: 70%;
        margin: 0 15%;
    }
    .chatbot-text {
        @include box-shadow-1-1-10-d6();
        background-color: #ffffff;
        border-radius: 10px;
        padding: 14px 35px;
        text-align: justify;
        text-align-last: center;
        font-size: 17px;
        font-weight: 500;
    }
}

@media screen and (max-width: 1300px) {
    .chatbot-avatar {
        width: 250px;
        margin: 0 auto;
        .chatbot-image {
            width: 80%;
            margin: 0 10%;
        }
        .chatbot-text {
            padding: 10px 30px;
            font-size: 14px;
        }
    } 
}

@media screen and (max-width: 992px) {
    .chatbot-avatar {
        width: 300px;
        margin: 2px auto;
        .chatbot-image {
            width: 70%;
            margin: 0 15%;
        }
        .chatbot-text {
            padding: 13px 30px;
            font-size: 14px;
        }
    } 
}

@media screen and (max-width: 767px) {
    .chatbot-avatar {
        width: 100%;
        margin: 1% 1%;
        .chatbot-image {
            width: 100%;
            margin: 0 7%;
        }
        .chatbot-text {
            padding: 5px;
            font-size: 14px;
            font-weight: 500;
        }
    } 
}